<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Desktop Prices in India | Compare Prices of Gaming Desktop in India
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Desktop By Prices. Desktops include froms brands like HP, Asus, Acer and more. Compare Best Deal On Desktop Across all e-Stores">
    <meta name="og_title" property="og:title" content=" Desktop Prices in India | Compare Prices of Gaming Desktop in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/desktop/desktop-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Desktop By Prices. Desktops include froms brands like HP, Asus, Acer and more. Compare Best Deal On Desktop Across all e-Stores">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/desktop\/",
                    "name": "Desktop"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/desktop/">Desktop</a>><a href="">
                    All Desktop
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Desktop prices in India">
                    Desktop Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c435in-(4ys41aa)-(core-i3-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MTI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MTItNy0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-C435in (4YS41AA) (Core i3 4GB 1TB Win10) All In One Desktop</h3>
                        <div class="mrpTag"><span>₹43584</span><span>₹43584</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pMy03dGgtZ2VuLTQtZ2ItZGRyNC0xLXRiLXdpbmRvd3MtMTAtaG9tZS9wL2l0bWZoa3A1bmhhOXF6Z2g_cGlkPUFJT0ZIS1A1NVo1WFFIUFMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹43584</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MTI"><input onclick="comp(this)" id="ZTo1ODA2MTI" type="checkbox" name="desktop" value="ZTo1ODA2MTI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c422in-(3jv45aa)-(amd-dual-core-e2-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MTAtMTktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-c422in (3JV45AA) (AMD Dual Core E2 4GB 1TB Win10) All in One Desktop</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25671</span><span>₹27392</span><span>6% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtYXB1LWR1YWwtY29yZS1lMi00LWdiLWRkcjQtMS10Yi13aW5kb3dzLTEwLWhvbWUvcC9pdG1mZTM4ZmJnejlmamZ3P3BpZD1BSU9GRTM4RlE3SDdOVUpCJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25671</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MTA"><input onclick="comp(this)" id="ZTo1ODA2MTA" type="checkbox" name="desktop" value="ZTo1ODA2MTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-290-p0058il-(4eb15aa)-(core-i3-4gb-1tb-dos)-full-tower-desktop/ZTo1ODA1OTI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTItNTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 290-P0058IL (4EB15AA) (Core i3 4GB 1TB DOS) Full Tower Desktop</h3>
                        <div class="mrpTag"><span>₹30990</span><span>₹33308</span><span>7% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtc2xpbWxpbmUtMjkwLXAwMDU4aWwtZnVsbC10b3dlci1jb3JlLWkzLTgxMDAtNC1nYi1yYW0tMS10Yi1oYXJkLWRpc2svcC9pdG1mZXR5Z2dkeW53a2JwP3BpZD1DUFVGRVRZR0ZIUVVNR1dWJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1OTI"><input onclick="comp(this)" id="ZTo1ODA1OTI" type="checkbox" name="desktop" value="ZTo1ODA1OTI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-290-p0011il-(4yt05aa)-(pentium-gold-4gb-1tb-dos)-full-tower-desktop/ZTo1ODA1OTE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTEtNjQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 290-p0011il (4YT05AA) (Pentium Gold 4GB 1TB DOS) Full Tower Desktop</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22990</span><span>₹22990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtcGVudGl1bS1nb2xkLWc0NTYwLTQtZ2ItcmFtLTEtdGItaGFyZC1kaXNrLWZyZWUtZG9zL3AvaXRtMjI2M2Q3ZjZiZWFjMj9waWQ9Q1BVRkVUWUdLRkFQVFZGWSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1OTE"><input onclick="comp(this)" id="ZTo1ODA1OTE" type="checkbox" name="desktop" value="ZTo1ODA1OTE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/asus-s340mc-i38100097t-(core-i3-4gb-1tb-win10)-full-tower-desktop/ZTo1ODA4NDU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA4NDUtNS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS S340MC-I38100097T (Core i3 4GB 1TB Win10) Full Tower Desktop</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27990</span><span>₹36990</span><span>24% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXN1cy1jb3JlLWkzLTgxMDAtNC1nYi1yYW0tMS10Yi1oYXJkLWRpc2std2luZG93cy0xMC02NC1iaXQvcC9pdG1maDdkcDNudWtmc25uP3BpZD1DUFVGSDdEUEtNVUZQWllGJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA4NDU"><input onclick="comp(this)" id="ZTo1ODA4NDU" type="checkbox" name="desktop" value="ZTo1ODA4NDU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-24-qb0052in-(4yr87aa)-(core-i5-8gb-1tb-win10-4gb)-all-in-one-desktop/ZTo1ODA1ODg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODgtMjItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 24-qb0052in (4YR87AA) (Core i5 8GB 1TB Win10 4GB) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹93594</span><span>₹93594</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pNS04dGgtZ2VuLTgtZ2ItZGRyNC0xLXRiLXdpbmRvd3MtMTAtaG9tZS00LWdkZHI1L3AvaXRtZmhrcDU5cmdtZ3JzdT9waWQ9QUlPRkhLUDU0U1FHRDNZWiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹93594</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1ODg"><input onclick="comp(this)" id="ZTo1ODA1ODg" type="checkbox" name="desktop" value="ZTo1ODA1ODg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-24-qb0059-(4yr65aa)-(core-i5-8gb-1tb-win10-2gb)-all-in-one-desktop/ZTo1ODA1ODc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODctMTktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 24-qb0059 (4YR65AA) (Core i5 8GB 1TB Win10 2GB) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹93594</span><span>₹93594</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pNS04dGgtZ2VuLTgtZ2ItZGRyNC0xLXRiLXdpbmRvd3MtMTAtaG9tZS0yLWdkZHI1L3AvaXRtZmhrcDV2bXI2c3Jibj9waWQ9QUlPRkhLUDVESlRGTVE0QyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹93594</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1ODc"><input onclick="comp(this)" id="ZTo1ODA1ODc" type="checkbox" name="desktop" value="ZTo1ODA1ODc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-24-f0043in-(3jv52aa)-(core-i5-4gb-1tb-win10-2gb)-all-in-one-desktop/ZTo1ODA1ODY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODYtMzYtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 24-f0043in (3JV52AA) (Core i5 4GB 1TB Win10 2GB) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹80000</span><span>₹95000</span><span>16% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pNS00LWdiLWRkcjQtMS10Yi13aW5kb3dzLTEwLWhvbWUtMi1nYi9wL2l0bWZjeWh6aHVhdGZ3Zms_cGlkPUFJT0ZDWTNIWVY0VFpDNUMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹80000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1ODY"><input onclick="comp(this)" id="ZTo1ODA1ODY" type="checkbox" name="desktop" value="ZTo1ODA1ODY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/asus-d340mc-i38100071d-(core-i3-4gb-1tb-endless)-full-tower-desktop/ZTo1ODA4NDE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA4NDEtNjgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS D340MC-I38100071D (Core i3 4GB 1TB Endless) Full Tower Desktop</h3>
                        <div class="mrpTag"><span>₹35990</span><span>₹35990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXN1cy1kMzQwbWMtaTM4MTAwMDcxZC1mdWxsLXRvd2VyLWNvcmUtaTMtODEwMC00LWdiLXJhbS0xLXRiLWhhcmQtZGlzay9wL2l0bWZoN2RweGZyZ3piaGo_cGlkPUNQVUZIN0RQRkRSRVBRRUYmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹35990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA4NDE"><input onclick="comp(this)" id="ZTo1ODA4NDE" type="checkbox" name="desktop" value="ZTo1ODA4NDE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c419in-(entium-quad-core-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA1ODQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODQtNDUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-c419in (entium Quad Core 4GB 1TB Win10) All in One Desktop</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹37300</span><span>₹45000</span><span>17% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtcGVudGl1bS1xdWFkLWNvcmUtNC1nYi1kZHI0LTEtdGItd2luZG93cy0xMC1ob21lL3AvaXRtZmR5MmpwdmRkemNwZD9waWQ9QUlPRkNZNzRZRkdSRUdNUiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹37300</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1ODQ"><input onclick="comp(this)" id="ZTo1ODA1ODQ" type="checkbox" name="desktop" value="ZTo1ODA1ODQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/asus-gl10cs-in044t-(core-i5-8gb-256gb-win10-6gb)-gaming-tower-desktop/ZTo1ODA5ODI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA5ODItNDAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS GL10CS-IN044T (Core i5 8GB 256GB Win10 6GB) Gaming Tower Desktop</h3>
                        <div class="mrpTag"><span>₹69990</span><span>₹94990</span><span>26% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXN1cy1yb2ctZ2wxMGNzLWluMDQ0dC1nYW1pbmctdG93ZXItY29yZS1pNS05NDAwLTgtZ2ItcmFtLTI1Ni1zc2QtY2FwYWNpdHktNi1ncmFwaGljcy1tZW1vcnkvcC9pdG0xMDZiNTE2NzBmY2VhP3BpZD1DUFVGR0Y2NjhUTUhHNUE1JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹69990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA5ODI"><input onclick="comp(this)" id="ZTo1ODA5ODI" type="checkbox" name="desktop" value="ZTo1ODA5ODI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c406il-(4ma02a)-(celeron-dual-core-4gb-1tb-dos)-all-in-one-desktop/ZTo1ODA2MDg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDgtNi0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-c406il (4MA02A) (Celeron Dual Core 4GB 1TB DOS) All in One Desktop</h3>
                        <div class="review">
                            <div><span>2.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25400</span><span>₹32500</span><span>22% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY2VsZXJvbi1kdWFsLWNvcmUtNC1nYi1kZHI0LTEtdGItZnJlZS1kb3MvcC9pdG1mZDJyeXM1YnFnemdoP3BpZD1BSU9GRDJOSEJHRlZYTkhEJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25400</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDg"><input onclick="comp(this)" id="ZTo1ODA2MDg" type="checkbox" name="desktop" value="ZTo1ODA2MDg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-24-qb0077in-(4yr66aa)-(core-i7-16gb-2tb-win10-4gb)-all-in-one-desktop/ZTo1ODA2MDU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDUtNjAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 24-qb0077in (4YR66AA) (Core i7 16GB 2TB Win10 4GB) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹110000</span><span>₹110000</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pNy0xNi1nYi1kZHI0LTItdGItd2luZG93cy0xMC1ob21lLTQtZ2RkcjUvcC9pdG1maGtwNXpnenZnamNrP3BpZD1BSU9GSEtQNVlEM0RNQ1lDJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹110000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDU"><input onclick="comp(this)" id="ZTo1ODA2MDU" type="checkbox" name="desktop" value="ZTo1ODA2MDU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c448in-(7km43aa)-(amd-dual-core-a4-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MDQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDQtNzAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-c448in (7KM43AA) (AMD Dual Core A4 4GB 1TB Win10) All in One Desktop</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹23000</span><span>₹24439</span><span>6% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtYXB1LWR1YWwtY29yZS1hNC00LWdiLWRkcjQtMS10Yi13aW5kb3dzLTEwLWhvbWUvcC9pdG1hZjI1MTQwZGZkNzJmP3BpZD1BSU9GSlFLUkpLTlk1M1pFJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹23000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDQ"><input onclick="comp(this)" id="ZTo1ODA2MDQ" type="checkbox" name="desktop" value="ZTo1ODA2MDQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-20-c421il-(3jv44aa)-(amd-dual-core-e2-4gb-1tb-dos)-all-in-one-desktop/ZTo1ODA2MDM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDMtNDUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 20-c421il (3JV44AA) (AMD Dual Core E2 4GB 1TB DOS) All in One Desktop</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22990</span><span>₹24990</span><span>8% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtYXB1LWR1YWwtY29yZS1lMi00LWdiLWRkcjQtMS10Yi1mcmVlLWRvcy9wL2l0bWZlMzhmeHdiYXdhY2s_cGlkPUFJT0ZFMzhGOUhGRzNVNjkmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDM"><input onclick="comp(this)" id="ZTo1ODA2MDM" type="checkbox" name="desktop" value="ZTo1ODA2MDM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-200-g2-(4lh42pa)-(core-i3-4gb-1tb)-all-in-one-desktop/ZTo1ODA2MDI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDItNjQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 200 G2 (4LH42PA) (Core i3 4GB 1TB) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹41789</span><span>₹42736</span><span>2% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pMy03dGgtZ2VuLTQtZ2ItZGRyNC0xLXRiLTIxLTUtaW5jaC1zY3JlZW4vcC9pdG1iNGExMDllZmU2MDk3P3BpZD1BSU9GSzY4SFZNOTdISFY5JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹41789</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDI"><input onclick="comp(this)" id="ZTo1ODA2MDI" type="checkbox" name="desktop" value="ZTo1ODA2MDI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-450-a12il-(m1q56aa)-(intel-pentium-2gb-500gb-dos)-mini-tower-desktop/ZTo1ODA2MDA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDAtODQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 450-a12IL (M1Q56AA) (Intel Pentium 2GB 500GB DOS) Mini Tower Desktop</h3>
                        <div class="review">
                            <div><span>3.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18500</span><span>₹21500</span><span>14% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtcGVudGl1bS1qMjkwMC0yLWdiLXJhbS01MDAtaGFyZC1kaXNrLWZyZWUtZG9zL3AvaXRtZTl0M3o4ZWp5aGt6eT9waWQ9Q1BVRTlTWlhWRkdRMjkzWCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18500</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDA"><input onclick="comp(this)" id="ZTo1ODA2MDA" type="checkbox" name="desktop" value="ZTo1ODA2MDA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-pavilion-tg01-0711-(7xe54aa)-(core-i7-16gb-1tb-512gb-win10-6gb)-gaming-tower-desktop/ZTo1ODA1OTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTMtNTUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion TG01-0711 (7XE54AA) (Core i7 16GB 1TB 512GB Win10 6GB) Gaming Tower Desktop</h3>
                        <div class="mrpTag"><span>₹89990</span><span>₹109117</span><span>18% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pNy05NzAwLTE2LWdiLXJhbS0xLXRiLWhhcmQtZGlzay01MTItc3NkLWNhcGFjaXR5LXdpbmRvd3MtMTAtNjQtYml0LTYtZ3JhcGhpY3MtbWVtb3J5LWdhbWluZy10b3dlci9wL2l0bWM5NTA2MjJmMjBkMGU_cGlkPUNQVUZQNFpSUUhHSFZYUzMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹89990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1OTM"><input onclick="comp(this)" id="ZTo1ODA1OTM" type="checkbox" name="desktop" value="ZTo1ODA1OTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/asus-v222uak-ba224t-(pentium-quad-core-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA5NzM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA5NzMtMTEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS V222UAK-BA224T (Pentium Quad Core 4GB 1TB Win10) All in One Desktop</h3>
                        <div class="review">
                            <div><span>3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹30500</span><span>₹34500</span><span>12% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXN1cy1wZW50aXVtLXF1YWQtY29yZS00LWdiLWRkcjQtMS10Yi13aW5kb3dzLTEwLWhvbWUvcC9pdG1iZGJiOTA4OThhNmMxP3BpZD1BSU9GSjZBWDVOUEdHS05OJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30500</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA5NzM"><input onclick="comp(this)" id="ZTo1ODA5NzM" type="checkbox" name="desktop" value="ZTo1ODA5NzM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-190-0300il-(4yr36aa)-(core-i3-4gb-1tb-dos)-full-tower-desktop/ZTo1ODA1OTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTAtNy0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 190-0300IL (4YR36AA) (Core i3 4GB 1TB DOS) Full Tower Desktop</h3>
                        <div class="mrpTag"><span>₹30700</span><span>₹39500</span><span>22% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pMy04MTAwLTQtZ2ItcmFtLTEtdGItaGFyZC1kaXNrLWZyZWUtZG9zL3AvaXRtZmV0eWc4aHVudWZreT9waWQ9Q1BVRkVUWUdRQkZTQUNQUyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30700</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA1OTA"><input onclick="comp(this)" id="ZTo1ODA1OTA" type="checkbox" name="desktop" value="ZTo1ODA1OTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/desktop/hp-desktop/hp-200-g3-(4lw46pa)-(core-i3-4gb-1tb-win-10-pro)-all-in-one-desktop/ZTo1ODA2MDk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDktMTAwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 200 G3 (4LW46PA) (Core i3 4GB 1TB Win 10 Pro) All in One Desktop</h3>
                        <div class="mrpTag"><span>₹56290</span><span>₹75750</span><span>26% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtY29yZS1pMy04dGgtZ2VuLTQtZ2ItZGRyNC0xLXRiLXdpbmRvd3MtMTAtcHJvL3AvaXRtYWRlMWZjMDM0YTgwMD9waWQ9QUlPRkhIUjQ2QTY0U1lWUyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹56290</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MDk"><input onclick="comp(this)" id="ZTo1ODA2MDk" type="checkbox" name="desktop" value="ZTo1ODA2MDk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>

        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>