<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        LG LED Prices in India | Compare Prices of Latest LG LED in India
    </title>
    <!-- dw -->
    <meta name="description" content="Compare LG LED By Prices. LG LED includes 43 inch LG LED , 24 inch LED , 4K Ultra HD LG LED TV and more . Compare Best Deal On LG LED Across all e-Stores">
    <meta name="og_title" property="og:title" content="LG LED Prices in India | Compare Prices of Latest LG LED in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/led-tv/lg-led-tv-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare LG LED Across All e-Stores By Prices, COD, EMI etc. LG has LEDs with 23 inch , 43 inch and 4K Ultra HD display LED TVs">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/led-tv\/",
                    "name": "LED TV"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/led-tv/">LED - TV</a>><a href="">
                   LG LED
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="LG LED prices in India">
                    LG LED Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-24lh454a-24-inch-hd-ready-led-tv/ZTo1NjE1NTE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE1NTEtOTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 24LH454A 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10488</span><span>₹13490</span><span>22% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-60-96-cm-24-inch-hd-ready-led-tv-24lh454a-CMPLXLARLG-24LH454A-FAST31845C2E4B0E7-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10488</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctbGg0NTRhLTYwY20tMjQtaW5jaC1oZC1yZWFkeS1sZWQtdHYvcC9pdG1lam5uOGVoa3pjc2J1P3BpZD1UVlNFSk5OOENDWkQ3S1o5JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12199</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE1NTE"><input onclick="comp(this)" id="ZTo1NjE1NTE" type="checkbox" name="tv" value="ZTo1NjE1NTE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-24lj470a-24-inch-hd-ready-led-tv/ZTo1NjEyMzg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyMzgtMTE4LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 24LJ470A 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11540</span><span>₹11540</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-24-inch-60-cm-hd-led-standard-tv-24lj470a-CMPLXLARLG-24-INCH-6BIG-58254699856BD-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11540</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEyMzg"><input onclick="comp(this)" id="ZTo1NjEyMzg" type="checkbox" name="tv" value="ZTo1NjEyMzg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-32lj573d-32-inch-hd-ready-smart-led-tv/ZTo1NjEyMTQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyMTQtNTAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 32LJ573D 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21999</span><span>₹30990</span><span>29% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-32lj573d-hd-led-tv-CMPLXLARLG-32LJ573D-FUTU452677CCA0E1-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEyMTQ"><input onclick="comp(this)" id="ZTo1NjEyMTQ" type="checkbox" name="tv" value="ZTo1NjEyMTQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-32lk536bptb-32-inch-hd-ready-led-tv/ZTo1NjA4NTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4NTUtMS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 32LK536BPTB 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14500</span><span>₹19490</span><span>26% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-81-28-cm-32-inch-32lk536bptb-led-smart-tv-CMPLXLARLG-81-28-CM-BRAN31845C22BF147-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14500</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lg-32lk536bptb-80-cm-32-inches-hd-ready-led-tv-black/p-mp000000003465453">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctODAtY20tMzItaW5jaC1oZC1yZWFkeS1sZWQtdHYvcC9pdG1mNmI0Z3p4cmVqcnl5P3BpZD1UVlNGNkI0R1o2WlpWSDdDJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16890</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RFc5R1hSNS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA4NTU"><input onclick="comp(this)" id="ZTo1NjA4NTU" type="checkbox" name="tv" value="ZTo1NjA4NTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-32lm560bptc-32-inch-hd-ready-smart-led-tv/ZTo1NjA0MTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTUtMjIxLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 32LM560BPTC 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17390</span><span>₹22990</span><span>24% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lg-80-cm-32-inches-smart-hd-ready-led-tv-32lm560bptc-black,-2019-model/p-mp000000005246962">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17390</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0MTU"><input onclick="comp(this)" id="ZTo1NjA0MTU" type="checkbox" name="tv" value="ZTo1NjA0MTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-32lm636bptb-32-inch-hd-ready-smart-led-tv/ZTo1NjA0MTc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTctMTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 32LM636BPTB 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19104</span><span>₹24990</span><span>24% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lg-80-cm-32-inches-smart-hd-ready-led-tv-32lm636bptb-grey,-2019-model/p-mp000000005159811">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19104</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctbG02My04MGNtLTMyLWluY2gtaGQtcmVhZHktbGVkLXNtYXJ0LXR2L3AvaXRtMmQyYzhmNTQ2YzQ4NT9waWQ9VFZTRkpZNTJUV0FNSEpTViZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19299</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-smart-80-cm-32-inch-hd-ready-led-tv-32lm636bptb-CMPLXLARLG-80-CM-32-APPL2120863286F18B-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19600</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3VkwyV0I0TS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹20990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0MTc"><input onclick="comp(this)" id="ZTo1NjA0MTc" type="checkbox" name="tv" value="ZTo1NjA0MTc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-43lm5600ptc-43-inch-full-hd-smart-led-tv/ZTo1NjA0MTQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTQtMjI3LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 43LM5600PTC 43 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹30480</span><span>₹47990</span><span>36% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lg-108-cm-43-inches-smart-full-hd-led-tv-43lm5600ptc-black,-2019-range/p-mp000000005312125">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30480</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctYWxsLWluLW9uZS0xMDgtY20tNDMtaW5jaC1mdWxsLWhkLWxlZC1zbWFydC10di9wL2l0bWZoc2did212a2hmajU_cGlkPVRWU0ZIU0dCR1dOR0tUUEcmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹31999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NFFaS0JXUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹34890</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0MTQ"><input onclick="comp(this)" id="ZTo1NjA0MTQ" type="checkbox" name="tv" value="ZTo1NjA0MTQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-43uk6360pte-43-inch-uhd-smart-led-tv/ZTo1NjA4NjI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4NjItNDYtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 43UK6360PTE 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹46850</span><span>₹66990</span><span>30% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-108cm-43-43uk6360pte-ultra-hd-led-smart-tv-CMPLXLARLG-108CM-43-DUMM20256DFBCD908-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹46850</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA4NjI"><input onclick="comp(this)" id="ZTo1NjA4NjI" type="checkbox" name="tv" value="ZTo1NjA4NjI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-43uk6780pte-43-inch-uhd-smart-led-tv/ZTo1NjA2ODg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2ODgtNTctMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 43UK6780PTE 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹47499</span><span>₹75343</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctMTA4Y20tNDMtaW5jaC11bHRyYS1oZC00ay1sZWQtc21hcnQtdHYvcC9pdG1mN3lyYXVibmpneXpnP3BpZD1UVlNGN1lSQTVNWjk2QUMzJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹47499</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/lg-109-3-cm-43-inches-43uk6780pte-4k-led-smart-tv-black-CMPLXLARLG-109-3-CM-DUMM2025667734E47-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹59300</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA2ODg"><input onclick="comp(this)" id="ZTo1NjA2ODg" type="checkbox" name="tv" value="ZTo1NjA2ODg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/lg-led-tv/lg-43um7290ptf-43-inch-uhd-smart-led-tv/ZTo1NjAzOTQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAzOTQtNDYtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">LG 43UM7290PTF 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹35490</span><span>₹54990</span><span>35% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3VE1GVjlOTi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹35490</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGctMTA4Y20tNDMtaW5jaC11bHRyYS1oZC00ay1sZWQtc21hcnQtdHYvcC9pdG0xOTI5NzBhNjI1M2I1P3BpZD1UVlNGWloyS1BDV05CNlZIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹36490</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lg-108-cm-43-inches-4k-ultra-hd-smart-led-tv-43um7290ptf-ceramic-black/p-mp000000005159814">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹36490</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAzOTQ"><input onclick="comp(this)" id="ZTo1NjAzOTQ" type="checkbox" name="tv" value="ZTo1NjAzOTQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>