<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Samsung LED Prices in India | Compare Prices of Samsung LED TVs in India
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Latest Samsung LED By Prices. Samsung LED includes 24 inch Samsung LED , 32 inch LED , 4K Ultra HD Samsung TV and more . Compare Best Deal On Samsung LED Across all e-Stores">
    <meta name="og_title" property="og:title" content="Samsung LED Prices in India | Compare Prices of Samsung LED TVs in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/led-tv/samsung-led-tv-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Samsung LED Across All e-Stores By Prices, COD, EMI etc. Latest Samsung has LEDs with 32 inch , 24 inch and 50 inch HD display LED TVs">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/led-tv\/",
                    "name": "LED TV"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/led-tv/">LED - TV</a>><a href="">
                   Samsung LED
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Samsung LED prices in India">
                    Samsung LED Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua24h4003ar-24-inch-hd-ready-led-tv/ZTo1NjE5OTI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5OTItODUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA24H4003AR 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10999</span><span>₹14900</span><span>26% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-24h4003-60-96-cm-24-led-tv-hd-ready-express-delivery-CMPLXLARSAMSUNG-24H4BIG-58254C7B61FDD-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE5OTI"><input onclick="comp(this)" id="ZTo1NjE5OTI" type="checkbox" name="tv" value="ZTo1NjE5OTI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua24j4100ar-24-inch-hd-ready-led-tv/ZTo1NjIxMDU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjIxMDUtMjk1LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA24J4100AR 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹13100</span><span>₹16900</span><span>22% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwWkkxSlhZQS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹13100</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjIxMDU"><input onclick="comp(this)" id="ZTo1NjIxMDU" type="checkbox" name="tv" value="ZTo1NjIxMDU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua24k4100ar-24-inch-hd-ready-led-tv/ZTo1NjE0NTE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE0NTEtODctMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA24K4100AR 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15200</span><span>₹15200</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy1zZXJpZXMtNC01OS1jbS0yNC1pbmNoLWhkLXJlYWR5LWxlZC10di9wL2l0bWVtZ25tdWFqZHJncDc_cGlkPVRWU0VNR05NSzZCTkZTWVomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15200</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE0NTE"><input onclick="comp(this)" id="ZTo1NjE0NTE" type="checkbox" name="tv" value="ZTo1NjE0NTE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32fh4003r-32-inch-hd-ready-led-tv/ZTo1NjE5NjA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5NjAtMTQ4LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32FH4003R 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17999</span><span>₹23890</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy1zZXJpZXMtNC04MC1jbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC10di9wL2l0bWU2OGJjenJlcTZmZ3k_cGlkPVRWU0U2OEI5SkVNRVRLOEsmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-32fh4003-81-28-cm-32-led-tv-hd-ready-express-delivery-CMPLXLARSAMSUNG-32FHBIG-58254F3774AC9-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19500</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE5NjA"><input onclick="comp(this)" id="ZTo1NjE5NjA" type="checkbox" name="tv" value="ZTo1NjE5NjA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32j4003ar-32-inch-hd-ready-led-tv/ZTo1NjE5Nzc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5NzctMjItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32J4003AR 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14999</span><span>₹28890</span><span>48% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy04MGNtLTMyLWluY2gtaGQtcmVhZHktbGVkLXR2L3AvaXRtZTh5cmZtMzJkNHh6bj9waWQ9VFZTRThZUkZTVUJFSFpCNiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE5Nzc"><input onclick="comp(this)" id="ZTo1NjE5Nzc" type="checkbox" name="tv" value="ZTo1NjE5Nzc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32j5100ar-32-inch-full-hd-led-tv/ZTo1NjE5OTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5OTktMjQwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32J5100AR 32 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16999</span><span>₹38900</span><span>56% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/samsung-series-5-32j5100-81-cm-32-full-hd-flat-led-tv/p-mp000000000001455">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE5OTk"><input onclick="comp(this)" id="ZTo1NjE5OTk" type="checkbox" name="tv" value="ZTo1NjE5OTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32n4000ak-32-inch-hd-ready-led-tv/ZTo1NjA4OTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4OTUtNDQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32N4000AK 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19599</span><span>₹25900</span><span>24% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy1zZXJpZXMtNC04MC1jbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC10di9wL2l0bWY1eHp5emtmZ2p0ZHQ_cGlkPVRWU0Y1WFpZV1E4WFVWTlQmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19599</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-32-32n4000-hd-ready-hd-plus-led-tv-CMPLXLARSAMSUNG-32-3DUMM202567760B962-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA4OTU"><input onclick="comp(this)" id="ZTo1NjA4OTU" type="checkbox" name="tv" value="ZTo1NjA4OTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32n4003ar-32-inch-hd-ready-led-tv/ZTo1NjA2NTY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2NTYtMzYtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32N4003AR 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16570</span><span>₹23445</span><span>29% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-80-cm-32-inch-ua32n4003arxxl-hd-ready-led-standard-tv-CMPLXLARSAMSUNG-80-CDUMM20256DC6F958D-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16570</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy04MC1jbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC10di9wL2l0bWY5cnJoa3lwenFtbno_cGlkPVRWU0Y5UlJIS0ZBQ0dFVjcmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17490</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA2NTY"><input onclick="comp(this)" id="ZTo1NjA2NTY" type="checkbox" name="tv" value="ZTo1NjA2NTY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32n4200ar-32-inch-hd-ready-smart-led-tv/ZTo1NjA1MzI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MzItMTkzLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32N4200AR 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18144</span><span>₹49900</span><span>64% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/samsung-80-cm-32-inches-smart-hd-ready-led-tv-32n4200-black/p-mp000000004845600">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18144</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-81-28-cm-32-inch-32n4200-hd-ready-led-smart-tv-CMPLXLARSAMSUNG-81-2DUMM20256772F1096-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21700</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UUJCS1k1SC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21900</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy1uNDIwMC04MC1jbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC1zbWFydC10di9wL2l0bWVlMDIxZDJjMjQxNGY_cGlkPVRWU0ZGOTZVVUM5RkRLUUgmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21900</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1MzI"><input onclick="comp(this)" id="ZTo1NjA1MzI" type="checkbox" name="tv" value="ZTo1NjA1MzI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32n4300ar-32-inch-hd-ready-smart-led-tv/ZTo1NjA4OTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4OTktMjU0LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32N4300AR 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19990</span><span>₹31866</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RzNLNlRQOS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-32-32n4300-hd-ready-hd-plus-led-tv-CMPLXLARSAMSUNG-32-3TOP-78664BC61C58-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹31866</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA4OTk"><input onclick="comp(this)" id="ZTo1NjA4OTk" type="checkbox" name="tv" value="ZTo1NjA4OTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32n4310ar-32-inch-hd-ready-led-tv/ZTo1NjA2NjY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2NjYtMjQ2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32N4310AR 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17990</span><span>₹28900</span><span>38% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-81-28-cm-32-inch-ua32n4310arxxl-hd-ready-led-smart-tv-CMPLXLARSAMSUNG-81-2APPL21208689691169-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA2NjY"><input onclick="comp(this)" id="ZTo1NjA2NjY" type="checkbox" name="tv" value="ZTo1NjA2NjY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32r4500ar-32-inch-hd-ready-smart-led-tv/ZTo1NjAyODQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODQtNjktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32R4500AR 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17216</span><span>₹27900</span><span>38% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy1yNDUwMC04MGNtLTMyLWluY2gtaGQtcmVhZHktbGVkLXNtYXJ0LXR2L3AvaXRtNjA3MGY1YzA1M2MzYj9waWQ9VFZTRks3RTk1OUYyR1k2SCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17216</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyODQ"><input onclick="comp(this)" id="ZTo1NjAyODQ" type="checkbox" name="tv" value="ZTo1NjAyODQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua32te40fak-32-inch-hd-ready-smart-led-tv/ZTo1Nzk4MjM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk4MjMtMS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA32TE40FAK 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16499</span><span>₹20900</span><span>21% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy04MGNtLTMyLWluY2gtaGQtcmVhZHktbGVkLXNtYXJ0LXR2LTIwMjAtdm9pY2Utc2VhcmNoL3AvaXRtOTVhNzFlZmFjZmY1Zj9waWQ9VFZTRlFQSEpQSkdLUVZTMyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16499</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk4MjM"><input onclick="comp(this)" id="ZTo1Nzk4MjM" type="checkbox" name="tv" value="ZTo1Nzk4MjM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua40k5000ar-40-inch-full-hd-led-tv/ZTo1NjEzNjM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzNjMtMzUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA40K5000AR 40 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39386</span><span>₹41900</span><span>6% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">40 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-100-cm-40-full-hd-led-tv-ua40k5000arlxl-CMPLXLARSAMSUNG-100-SAMS282339C249249F-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39386</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEzNjM"><input onclick="comp(this)" id="ZTo1NjEzNjM" type="checkbox" name="tv" value="ZTo1NjEzNjM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua43ru7100k-43-inch-uhd-smart-led-tv/ZTo1NjA0NzU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0NzUtMjg2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA43RU7100K 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹43776</span><span>₹59900</span><span>27% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/samsung-108-cm-43-inches-smart-4k-ultra-hd-led-tv-43ru7100-charcoal-black,-2019-range/p-mp000000004837096">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹43776</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0xMDgtY20tNDMtaW5jaC11bHRyYS1oZC00ay1sZWQtc21hcnQtdHYvcC9pdG1mZ2dxYmtmYmdna3JyP3BpZD1UVlNGR0dRQldHUkZIUDVIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹43990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/samsung-108-cm-43-inch-ru7100-4k-ultra-hd-true-led-smart-tv-CMPLXLARSAMSUNG-108-DUMM20256A6762FEB-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹49000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0NzU"><input onclick="comp(this)" id="ZTo1NjA0NzU" type="checkbox" name="tv" value="ZTo1NjA0NzU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua50ku6000k-50-inch-uhd-smart-led-tv/ZTo1NjE0ODM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE0ODMtODEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA50KU6000K 50 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹125900</span><span>₹125900</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0xMjVjbS01MC1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC10di9wL2l0bWVoeW0zdGdhc2Q1emY_cGlkPVRWU0VIWU0zS0dSSEdGTlomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹125900</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE0ODM"><input onclick="comp(this)" id="ZTo1NjE0ODM" type="checkbox" name="tv" value="ZTo1NjE0ODM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua50tue60ak-50-inch-uhd-smart-led-tv/ZTo1Nzk5ODg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk5ODgtMjMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA50TUE60AK 50 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹47999</span><span>₹68400</span><span>30% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0xMjVjbS01MC1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC10di9wL2l0bTc5YjBkNGQxMWU1NDE_cGlkPVRWU0ZRWEZLUE1NSjY1REUmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹47999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NzJDTVkxNi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹48990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/samsung-125-cm-50-inches-smart-ultra-hd-4k-led-tv-ua50tue60akxxl-2020-model-black/p-mp000000007138316">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹48990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk5ODg"><input onclick="comp(this)" id="ZTo1Nzk5ODg" type="checkbox" name="tv" value="ZTo1Nzk5ODg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/samsung-led-tv/samsung-ua55tue60fk-55-inch-uhd-smart-led-tv/ZTo1Nzk4MjQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk4MjQtMTMxLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung UA55TUE60FK 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹51999</span><span>₹72900</span><span>29% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0xMzhjbS01NS1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC10di12b2ljZS1zZWFyY2gvcC9pdG01NGQ1NmFmNjVmNjUyP3BpZD1UVlNGUVBISlBaVlFESkVOJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹51999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk4MjQ"><input onclick="comp(this)" id="ZTo1Nzk4MjQ" type="checkbox" name="tv" value="ZTo1Nzk4MjQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>