<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Latest Sony LED Prices in India | Compare Prices of Sony LED Phones in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Sony LED By Prices. Sony LED includes 43 inch Sony LED , 32 inch LED , 55 inch HD Sony TV and more . Compare Best Deal On Sony LED Across all e-Stores">
    <meta name="og_title" property="og:title" content="Latest Sony LED Prices in India | Compare Prices of Sony LED Phones in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/led-tv/sony-led-tv-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Sony LED Across All e-Stores By Prices, COD, EMI etc. Sony has LEDs with 32 inch , 55 inch and 43 inch HD display LED TVs">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/led-tv\/",
                    "name": "LED TV"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/led-tv/">LED - TV</a>><a href="">
                    Sony LED
                 </a>

            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Sony LED prices in India">
                    Sony LED Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-43x8000g-43-inch-uhd-smart-led-tv/ZTo1NjA0ODg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0ODgtNTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-43X8000G 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹63999</span><span>₹74900</span><span>15% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEteDgwMDBnLTEwOGNtLTQzLWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LWFuZHJvaWQtdHYvcC9pdG1mZ2J5eXl6anl2anZzP3BpZD1UVlNGR0JZWUJIR003WlpGJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹63999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0ODg"><input onclick="comp(this)" id="ZTo1NjA0ODg" type="checkbox" name="tv" value="ZTo1NjA0ODg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-55x7002g-55-inch-uhd-smart-led-tv/ZTo1NjA0Mjc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MjctMTM4LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-55X7002G 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹60999</span><span>₹109900</span><span>44% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">55 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3U1RLTko5Ui8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹60999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0Mjc"><input onclick="comp(this)" id="ZTo1NjA0Mjc" type="checkbox" name="tv" value="ZTo1NjA0Mjc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-55x7500h-55-inch-uhd-smart-led-tv/ZTo1NjAxOTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAxOTktNTgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-55X7500H 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹68870</span><span>₹72990</span><span>6% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">55 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-139-cm-55-inches-android-smart-ultra-hd-4k-led-tv-kd-55x7500h-2020-model,-black/p-mp000000007245298">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹68870</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS0xMzgtOGNtLTU1LWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LXR2L3AvaXRtZDk5NDJmZGQ5MDZmNj9waWQ9VFZTRlBZREhHQlRaUkJIWSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹69490</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NFQ4TUQ2TC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹69800</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-smart-138-8-cm-55-inch-full-hd-led-tv-kd-55x7500h-CMPLXLARSONY-138-8-CDUMM20256DA5A98F-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹71990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAxOTk"><input onclick="comp(this)" id="ZTo1NjAxOTk" type="checkbox" name="tv" value="ZTo1NjAxOTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-55x8000g-55-inch-uhd-smart-led-tv/ZTo1NjAzNTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAzNTAtMjQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-55X8000G 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹79090</span><span>₹124900</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">55 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEteDgwMDBnLTEzOC04LWNtLTU1LWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LWFuZHJvaWQtdHYvcC9pdG1mZ3k3eGpuZnNocnk3P3BpZD1UVlNGR1k3WDdHNUZFR0hIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹79090</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAzNTA"><input onclick="comp(this)" id="ZTo1NjAzNTA" type="checkbox" name="tv" value="ZTo1NjAzNTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-55x8500f-55-inch-uhd-smart-led-tv/ZTo1NjA5MTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5MTMtMTY2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-55X8500F 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹82990</span><span>₹184900</span><span>55% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">55 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-138-8-cm-55-inches-smart-4k-ultra-hd-android-led-tv-kd-55x8500g-black-2019-model/p-mp000000005478276">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹82990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-139-cm-55-inch-kd-55x8500f-4k-ultra-hd-led-smart-tv-CMPLXLARSONY-139-CM-BRAN31845C91346DC-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹137989</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5MTM"><input onclick="comp(this)" id="ZTo1NjA5MTM" type="checkbox" name="tv" value="ZTo1NjA5MTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kd-65x9300e-65-inch-uhd-smart-led-tv/ZTo1NjEzMzU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzMzUtNDQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KD-65X9300E 65 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹179999</span><span>₹224900</span><span>20% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">65 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS0xNjMtOS1jbS02NS1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC1hbmRyb2lkLXR2L3AvaXRtZXc1anVmampja2hlZD9waWQ9VFZTRVc1SlVRNEJCVjJVSiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹179999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEzMzU"><input onclick="comp(this)" id="ZTo1NjEzMzU" type="checkbox" name="tv" value="ZTo1NjEzMzU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-kdl-32w6100-32-inch-hd-ready-smart-led-tv/ZTo1NjAyMDM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMDMtMjc2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KDL-32W6100 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22999</span><span>₹25990</span><span>12% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS04MGNtLTMyLWluY2gtaGQtcmVhZHktbGVkLXNtYXJ0LXR2L3AvaXRtNjU2MzIzYzFjNGMxMz9waWQ9VFZTRlNNRUhFUFdTR0hXTiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NFQ4TUQ2UC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹24400</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMDM"><input onclick="comp(this)" id="ZTo1NjAyMDM" type="checkbox" name="tv" value="ZTo1NjAyMDM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32r202f-32-inch-hd-ready-led-tv/ZTo1NjA5NDA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NDAtMTQwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32R202F 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18270</span><span>₹25900</span><span>29% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEtcjIwMmYtODAtY20tMzItaW5jaC1oZC1yZWFkeS1sZWQtdHYvcC9pdG1mNWZqdXJhanFjeTVnP3BpZD1UVlNGNUZKVUVHR0EzQVdUJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18270</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Q0JXRlFYQy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19900</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-80-cm-32-klv-32r202f-hd-ready-standard-led-tv-CMPLXLARSONY-80-CM-3DUMM202568B61DA0D-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21195</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5NDA"><input onclick="comp(this)" id="ZTo1NjA5NDA" type="checkbox" name="tv" value="ZTo1NjA5NDA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32r202g-32-inch-full-hd-led-tv/ZTo1NjA0MjU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MjUtNjMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32R202G 32 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17990</span><span>₹19990</span><span>10% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-bravia-80-cm-32-inches-hd-ready-led-tv-klv-32r202g-dark-brown,-2019-range/p-mp000000005047832">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEtcjIwMmctODAtY20tMzItaW5jaC1oZC1yZWFkeS1sZWQtdHYvcC9pdG1mZmd2ZHJ0eXJocnF6P3BpZD1UVlNGRkdWRFFTOVpXUVNXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-80-cm-32-inch-hd-ready-led-tv-32r202g-LARSONY-80-CM-3DIYA10014215AC3CE2E-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19490</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UUQ2NFRMNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0MjU"><input onclick="comp(this)" id="ZTo1NjA0MjU" type="checkbox" name="tv" value="ZTo1NjA0MjU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32r302e-32-inch-hd-ready-led-tv/ZTo1NjEzMDg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzMDgtMjkyLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32R302E 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹23900</span><span>₹29900</span><span>20% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA2WEZRNExEMi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹23900</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEzMDg"><input onclick="comp(this)" id="ZTo1NjEzMDg" type="checkbox" name="tv" value="ZTo1NjEzMDg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32r412d-32-inch-hd-ready-led-tv/ZTo1NjE2MjY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE2MjYtMjg5LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32R412D 32 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹26650</span><span>₹28900</span><span>8% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-klv-32r412d-80-cm-32-led-tv-hd-ready-+-free-sony-5000-mah-power-bank-CMPLXLARSONY-KLV-32RAPPL582549F4D9A4B-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹26650</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE2MjY"><input onclick="comp(this)" id="ZTo1NjE2MjY" type="checkbox" name="tv" value="ZTo1NjE2MjY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w512d-32-inch-hd-ready-smart-led-tv/ZTo1NjE2MjM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE2MjMtMi0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W512D 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹30300</span><span>₹31900</span><span>5% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-klv-32w512d-80-cm-32-led-smart-tv-hd-ready-+-free-sony-5000-mah-power-bank-CMPLXLARSONY-KLV-32WAPPL582542AC1AD8-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30300</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE2MjM"><input onclick="comp(this)" id="ZTo1NjE2MjM" type="checkbox" name="tv" value="ZTo1NjE2MjM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w622f-32-inch-hd-ready-smart-led-tv/ZTo1NjA5NTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NTktMjI2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W622F 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25999</span><span>₹31900</span><span>18% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3QlMyR0wxMy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-32w622f-81-28-cm-32-inch-full-hd-smart-led-tv-CMPLXLARSONY-32W622FDUMM20256A0CBD5B8-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹27900</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5NTk"><input onclick="comp(this)" id="ZTo1NjA5NTk" type="checkbox" name="tv" value="ZTo1NjA5NTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w622g-32-inch-hd-ready-smart-led-tv/ZTo1NjA1MDk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MDktOS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W622G 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹26985</span><span>₹32900</span><span>18% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-smart-80-cm-32-inch-hd-ready-led-tv-klv-32w622g-LARSONY-SMART-8HOME9960448D11E893-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹26985</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1MDk"><input onclick="comp(this)" id="ZTo1NjA1MDk" type="checkbox" name="tv" value="ZTo1NjA1MDk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w672e-32-inch-full-hd-smart-led-tv/ZTo1NjEyOTY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyOTYtMjM2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W672E 32 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹29990</span><span>₹37900</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UUI3N0M5Mi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹29990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjEyOTY"><input onclick="comp(this)" id="ZTo1NjEyOTY" type="checkbox" name="tv" value="ZTo1NjEyOTY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w672f-32-inch-full-hd-smart-led-tv/ZTo1NjA5NTg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NTgtNDItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W672F 32 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹29672</span><span>₹36750</span><span>19% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-80-cm-32-inches-smart-full-hd-led-tv-klv-32w672g-black/p-mp000000004707080">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹29672</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-81-28-cm-32-klv-32w672f-hd-hd-ready-led-tv-CMPLXLARSONY-81-28-CBRAN31845412C6A98-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹32500</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5NTg"><input onclick="comp(this)" id="ZTo1NjA5NTg" type="checkbox" name="tv" value="ZTo1NjA5NTg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-32w672g-32-inch-full-hd-smart-led-tv/ZTo1NjA1MTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MTAtMjE0LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-32W672G 32 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹28990</span><span>₹29990</span><span>3% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-80-cm-32-inch-klv-32w672g-full-hd-led-smart-tv-CMPLXLARSONY-80-CM-3APPL2120868686507C-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹28990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEtdzY3MmctODAtMS1jbS0zMi1pbmNoLWZ1bGwtaGQtbGVkLXNtYXJ0LXR2L3AvaXRtZmZndmQyaGd4ZTNoeT9waWQ9VFZTRkZHVkRRR1pBQVg2MiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹29990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1MTA"><input onclick="comp(this)" id="ZTo1NjA1MTA" type="checkbox" name="tv" value="ZTo1NjA1MTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-40r252f-40-inch-full-hd-led-tv/ZTo1NjA5Mjg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5MjgtMjEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-40R252F 40 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹31999</span><span>₹44900</span><span>29% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">40 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEtcjI1MmYtMTAxLTYtY20tNDAtaW5jaC1mdWxsLWhkLWxlZC10di9wL2l0bWY1Zmp1ZGVjaDdkODY_cGlkPVRWU0Y1RkpVUE1aS1pURk0mYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹31999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-101.6-cm-40-inches-full-hd-led-tv-klv-40r252g-2019-model,-black/p-mp000000007138349">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹32368</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDZRUFZQUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹32999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-smart-101-cm-40-inch-full-hd-led-tv-klv-40r252g-CMPLXLARSONY-101-CM-MAVE713409B9A223EB-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹33990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5Mjg"><input onclick="comp(this)" id="ZTo1NjA5Mjg" type="checkbox" name="tv" value="ZTo1NjA5Mjg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-40r352f-40-inch-full-hd-led-tv/ZTo1NjA5NDI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NDItMTIwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-40R352F 40 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹34000</span><span>₹49900</span><span>32% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">40 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-101-6-cm-40-klv-40r352f-hd-hd-ready-led-tv-CMPLXLARSONY-101-6-CDUMM2025668B6A94E-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹34000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA5NDI"><input onclick="comp(this)" id="ZTo1NjA5NDI" type="checkbox" name="tv" value="ZTo1NjA5NDI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-bravia-klv-43w672g-43-inch-full-hd-smart-led-tv/ZTo1NjA1MjQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MjQtNTAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony BRAVIA KLV-43W672G 43 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39683</span><span>₹57900</span><span>31% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/sony-108-cm-43-inches-smart-full-hd-led-tv-klv-43w672g-black,-2019-range/p-mp000000004857682">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39683</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-smart-108-cm-43-inch-full-hd-led-tv-klv-43w672g-LARSONY-SMART-1BEST11406302A143FFF-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹40604</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UUM2WVEzTC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹40910</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS1icmF2aWEtdzY3MmctMTA4LWNtLTQzLWluY2gtZnVsbC1oZC1sZWQtc21hcnQtdHYvcC9pdG1mZmd2ZHI2cGZhYnpiP3BpZD1UVlNGRkdWREZDR1JKUVhXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹41990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1MjQ"><input onclick="comp(this)" id="ZTo1NjA1MjQ" type="checkbox" name="tv" value="ZTo1NjA1MjQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/sony-led-tv/sony-klv-24p413d-24-inch-hd-ready-led-tv/ZTo1NjE3MTg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE3MTgtMjQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sony KLV-24P413D 24 inch HD ready LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11999</span><span>₹16900</span><span>29% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">24 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxODhZUzJDTS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc29ueS01OS05Y20tMjQtaW5jaC1oZC1yZWFkeS1sZWQtdHYvcC9pdG1lZDhqcWtjY3ZuZ2doP3BpZD1UVlNFRDhKUVVaM1c3RlpFJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹11999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/sony-klv-24p413d-59-9-cm-23-6-led-tv-wxga-CMPLXLARSONY-KLV-24PDUMM2025617B29720-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹13800</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE3MTg"><input onclick="comp(this)" id="ZTo1NjE3MTg" type="checkbox" name="tv" value="ZTo1NjE3MTg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>