<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        VU LED Prices in India | Compare Prices of Vu LEDs in India
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Latest  Vu LED By Prices. Vu LED includes 43 inch Vu LED , 32 inch LED , 4K Ultra HD Vu LED TV and more . Compare Best Deal On Vu LED Across all e-Stores">
    <meta name="og_title" property="og:title" content="VU LED Prices in India | Compare Prices of Vu LEDs in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/led-tv/vu-led-tv-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Latest  Vu LED By Prices. Vu LED includes 43 inch Vu LED , 32 inch LED , 4K Ultra HD Vu LED TV and more . Compare Best Deal On Vu LED Across all e-Stores">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/led-tv\/",
                    "name": "LED TV"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/led-tv/">LED - TV</a>><a href="">
                   Vu LED
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Vu LED prices in India">
                    Vu LED Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-32-oa-32-inch-hd-ready-smart-led-tv/ZTo1NjA1Mzg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MzgtMjU2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 32-OA 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12999</span><span>₹18000</span><span>28% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-80-cm-32-inch-hd-ready-led-premium-android-32-oa-smart-tv-black-CMPLXLARVU-80-CM-32-DUMM2025622EAF2BD-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-32oa-80-cm-32-inches-smart-hd-ready-led-tv-black/p-mp000000004548263">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16160</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1Mzg"><input onclick="comp(this)" id="ZTo1NjA1Mzg" type="checkbox" name="tv" value="ZTo1NjA1Mzg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-32ga-32-inch-hd-ready-smart-led-tv/ZTo1NjAyODA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODAtMTQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 32GA 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14790</span><span>₹19000</span><span>22% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WE1EMjc1US8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14790</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-80-cm-32-inches-google-certified-android-hd-ready-smart-led-tv-ultra-32ga-2019-model-black/p-mp000000006417643">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14790</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtODBjbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC1zbWFydC1hbmRyb2lkLXR2L3AvaXRtMjE2YzI3ODExZWNhZj9waWQ9VFZTRlJTR1k2S1VBWkNNUiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17290</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyODA"><input onclick="comp(this)" id="ZTo1NjAyODA" type="checkbox" name="tv" value="ZTo1NjAyODA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-32us-32-inch-hd-ready-smart-led-tv/ZTo1NjAyMTc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTctMjk0LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 32US 32 inch HD ready Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14799</span><span>₹15000</span><span>1% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">32 inch Screen</li>
                                <li class="listItem">HD Ready</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcHJlbWl1bS04MC1jbS0zMi1pbmNoLWhkLXJlYWR5LWxlZC1zbWFydC1hbmRyb2lkLXR2L3AvaXRtODM2NTJmMzI0ZDE1ZT9waWQ9VFZTRlpHSzdIR0hIR1lHSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14799</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMTc"><input onclick="comp(this)" id="ZTo1NjAyMTc" type="checkbox" name="tv" value="ZTo1NjAyMTc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-40pl-40-inch-full-hd-smart-led-tv/ZTo1NjA0Mzk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MzktMjgwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 40PL 40 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21599</span><span>₹26000</span><span>17% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">40 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-100-cm-40-inch-40pl-full-hd-smart-led-tv-black-LARVU-100-CM-40SHOP22186AE08F46E-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21599</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA0Mzk"><input onclick="comp(this)" id="ZTo1NjA0Mzk" type="checkbox" name="tv" value="ZTo1NjA0Mzk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-43-oa-43-inch-uhd-smart-led-tv/ZTo1NjA1NjQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1NjQtMTgwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 43-OA 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹31000</span><span>₹43000</span><span>28% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-108-cm-43-inches-43-oa-4k-android-uhd-led-smart-tv-black-CMPLXLARVU-108-CM-43RV-S958744694C4035-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹31000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjA1NjQ"><input onclick="comp(this)" id="ZTo1NjA1NjQ" type="checkbox" name="tv" value="ZTo1NjA1NjQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-43ca-43-inch-uhd-smart-led-tv/ZTo1NjAyMzA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMzAtMTIzLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 43CA 43 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹35280</span><span>₹36000</span><span>2% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-108-cm-43-inches-google-certified-android-smart-4k-ultra-hd-dled-cinema-tv-43ca-2020-model/p-mp000000006419843">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹35280</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtMTA4LWNtLTQzLWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LWFuZHJvaWQtdHYvcC9pdG1kOThjYmRiMjMzYWU2P3BpZD1UVlNGWkFSV0dKU0NIMllIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹35800</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMzA"><input onclick="comp(this)" id="ZTo1NjAyMzA" type="checkbox" name="tv" value="ZTo1NjAyMzA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-43ga-43-inch-full-hd-smart-led-tv/ZTo1NjAyODE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODEtMjYzLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 43GA 43 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹24990</span><span>₹31000</span><span>19% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-108-cm-43-inches-google-certified-android-full-hd-smart-led-tv-ultra-43ga-2019-model-black/p-mp000000006417642">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹24990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WE1EMjc1Uy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹25999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtMTA4Y20tNDMtaW5jaC1mdWxsLWhkLWxlZC1zbWFydC1hbmRyb2lkLXR2L3AvaXRtMzFlNGI5ODQxZGI0Nj9waWQ9VFZTRlJTR1lBUU5SUEtESiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyODE"><input onclick="comp(this)" id="ZTo1NjAyODE" type="checkbox" name="tv" value="ZTo1NjAyODE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-43us-43-inch-full-hd-smart-led-tv/ZTo1NjAyMTY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTYtMTQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 43US 43 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25999</span><span>₹28700</span><span>9% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">43 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcHJlbWl1bS0xMDhjbS00My1pbmNoLWZ1bGwtaGQtbGVkLXNtYXJ0LWFuZHJvaWQtdHYvcC9pdG1jZGVjMWJlNjZmZTE3P3BpZD1UVlNGWkdLN0JUOFJDR1VRJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-premium-108-cm-43-inches-android-smart-full-hd-led-tv-43us-2020-model,-black/p-mp000000006770181">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹28700</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMTY"><input onclick="comp(this)" id="ZTo1NjAyMTY" type="checkbox" name="tv" value="ZTo1NjAyMTY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-49s6575-49-inch-full-hd-smart-led-tv/ZTo1NjE0MzE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE0MzEtNTItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 49S6575 49 inch Full HD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹50999</span><span>₹50999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">49 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-140-cm-55-4k-ultra-hd-led-smart-television-55uh7545-CMPLXLARVU-140-CM-55DUMM20256170E8BC5-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹50999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjE0MzE"><input onclick="comp(this)" id="ZTo1NjE0MzE" type="checkbox" name="tv" value="ZTo1NjE0MzE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-50pm-50-inch-uhd-smart-led-tv/ZTo1NjAyMTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTAtMzctMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 50PM 50 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹38999</span><span>₹48000</span><span>19% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcHJlbWl1bS0xMjYtY20tNTAtaW5jaC11bHRyYS1oZC00ay1sZWQtc21hcnQtYW5kcm9pZC10di9wL2l0bTRmMTNjYTg1YmI1OTg_cGlkPVRWU0ZQRU5aM1NaSFhYWkEmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹38999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-126-cm-50-inches-android-smart-ultra-hd-4k-led-tv-premium-50pm-2020-model,-black/p-mp000000007013235">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹43110</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMTA"><input onclick="comp(this)" id="ZTo1NjAyMTA" type="checkbox" name="tv" value="ZTo1NjAyMTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-50ut-50-inch-uhd-smart-led-tv/ZTo1Nzg4OTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzg4OTUtMTg0LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 50UT 50 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹40799</span><span>₹48000</span><span>15% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-smart-126-cm-50-inch-4k-ultra-hd-led-tv-50ut-CMPLXLARVU-126CM-50-SUPE43934325E479F-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹40799</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-126-cm-50-inches-smart-ultra-hd-4k-andoid-led-tv-50ut-2020-model,-grey/p-mp000000007165500">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹41799</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtMTI2LWNtLTUwLWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LWFuZHJvaWQtdHYvcC9pdG1hMTY5NjI4OTQyZmQxP3BpZD1UVlNGU05KVlJaRkhDSERRJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹47000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzg4OTU"><input onclick="comp(this)" id="ZTo1Nzg4OTU" type="checkbox" name="tv" value="ZTo1Nzg4OTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-55pm-55-inch-uhd-smart-led-tv/ZTo1NjAyMDk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMDktMTY4LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 55PM 55 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹43999</span><span>₹56000</span><span>21% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcHJlbWl1bS0xMzljbS01NS1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC1hbmRyb2lkLXR2L3AvaXRtMTVlZGQwZjVmNzNmND9waWQ9VFZTRlBFTlpVTVRCUUFIRyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹43999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-139-cm-55-inches-android-smart-ultra-hd-4k-led-tv-premium-55pm-2020-model,-black/p-mp000000007013236">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹46374</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMDk"><input onclick="comp(this)" id="ZTo1NjAyMDk" type="checkbox" name="tv" value="ZTo1NjAyMDk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-65pm-65-inch-uhd-smart-led-tv/ZTo1Nzk3MDI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDItMTg1LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 65PM 65 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹61999</span><span>₹75000</span><span>17% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcHJlbWl1bS0xNjRjbS02NS1pbmNoLXVsdHJhLWhkLTRrLWxlZC1zbWFydC10di9wL2l0bTQ0ZDZiNWY0MDM3YWQ_cGlkPVRWU0ZSUTYzTUZIUldISlMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹61999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/vu-163-cm-65-inches-android-smart-ultra-hd-4k-led-tv-premium-65pm-2020-model,-black/p-mp000000007119642">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹64144</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MDI"><input onclick="comp(this)" id="ZTo1Nzk3MDI" type="checkbox" name="tv" value="ZTo1Nzk3MDI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-75-qdv-75-inch-uhd-smart-led-tv/ZTo1NjAyMzI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMzItNTctMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu 75-QDV 75 inch UHD Smart LED TV</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹84999</span><span>₹130000</span><span>35% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">75 inch Screen</li>
                                <li class="listItem">UHD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdnUtcGl4ZWxpZ2h0LTE4OWNtLTc1LWluY2gtdWx0cmEtaGQtNGstbGVkLXNtYXJ0LXR2L3AvaXRtNjdlYzA0NjlkNTNmMD9waWQ9VFZTRlNDSjdGQkdEUUdaRiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹84999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjAyMzI"><input onclick="comp(this)" id="ZTo1NjAyMzI" type="checkbox" name="tv" value="ZTo1NjAyMzI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/led-tv/vu-led-tv/vu-led40d6575-40-inch-full-hd-led-tv/ZTo1NjIwMjQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjIwMjQtMjQyLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Vu LED40D6575 40 inch Full HD LED TV</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22490</span><span>₹24000</span><span>6% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">LED TV</li>
                                <li class="listItem">40 inch Screen</li>
                                <li class="listItem">Full HD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/vu-40d6575-102-cm-40-led-tv-full-hd-CMPLXLARVU-40D6575-1DUMM202563FF13B47-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22490</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjIwMjQ"><input onclick="comp(this)" id="ZTo1NjIwMjQ" type="checkbox" name="tv" value="ZTo1NjIwMjQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>