<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/compareSpec.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>   
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script> -->
  
    <title>Compare Multiple Products' Specifications - PricesCompare.in</title>
</head>

<body>


    <div id="disableBody"></div>
    <div id="alertBox"></div>
    <div id="bd">
            <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <!-- <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div> -->
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>
    <div class="mainBody">
       
        <!-- <div class="tableInside"></div> -->
    </div>
    <script>
           

            
        var idsListing =  "<%= list.ids %>";
        idsListing = idsListing.split(',')
        console.log(idsListing)
        console.log(idsListing)
        console.log(typeof(idsListing))
        var prodSpecs={};
        var specs = [];

     
     (async function(){
        let prodSpecs2=[];
           for(let qq=0; qq<idsListing.length; qq++){
                 prodSpecs2[qq] = await fetch('https://price-api.datayuge.com/api/v1/compare/detail?api_key=e4jbDB83X7WmVhIDahTVK1IupStiV7T125G&id='+idsListing[qq]);
                 prodSpecs2[qq] = await prodSpecs2[qq].json()
                 console.log(prodSpecs2[qq])
                 prodSpecs[prodSpecs2[qq].data.product_name];
                 prodSpecs[prodSpecs2[qq].data.product_name] = prodSpecs2[qq]
                //  console.log(prodSpecs[].data.product_name)
                 let specs2 = await fetch('https://price-api.datayuge.com/api/v1/compare/specs?api_key=e4jbDB83X7WmVhIDahTVK1IupStiV7T125G&id='+ idsListing[qq]);
                 specs[qq] = await specs2.json()
        }
        console.log(prodSpecs);
        console.log(specs);
        var keyOfProd = Object.keys(prodSpecs)
        console.log(keyOfProd)
        // let keyOfSpec = Object.keys(specs)
        var being=[];
        for(let w=0; w<keyOfProd.length; w++){
            // console.log  
            // console.log(specs[keyOfProd[w]])
            // console.log(specs[w].data.sub_specs)
            for(let keyMainKey in specs[w].data.sub_specs){
                       console.log(keyMainKey)
                       if(being.indexOf(keyMainKey) == -1){
                           being.push(keyMainKey)
                       }
            }
        }
        console.log(being)
        
        var nahi = []
        var listing = {};   
        console.log(being)
        for(let jj=0; jj<being.length; jj++){
               console.log(being[jj])
               listing[being[jj]];
               listing[being[jj]] = [];
               console.log(listing)
               for(let ee=0; ee<keyOfProd.length; ee++){
                   if(specs[ee].data.sub_specs.hasOwnProperty(being[jj])){
                         for(let tt=0; tt<specs[ee].data.sub_specs[being[jj]].length; tt++){
                            // listing[being[jj]][tt];
                            if(nahi.indexOf((specs[ee].data.sub_specs[being[jj]][tt]['spec_key'])) === -1){
                                    console.log(specs[ee].data.sub_specs[being[jj]][tt]['spec_key'])
                                    nahi.push(specs[ee].data.sub_specs[being[jj]][tt]['spec_key'])
                                    listing[being[jj]].push(specs[ee].data.sub_specs[being[jj]][tt]['spec_key']) 
                         }
                   }
               }
        }
        }



    let tabling = document.createElement('div');
       tabling.className = "tabling";
       let trOfName = document.createElement('div');
       trOfName.className = "divOfRow"
       for(let ee=0; ee<keyOfProd.length; ee++){
           let tdOfName = document.createElement('div');
           tdOfName.className ="divOfName";
           let h3OfName = document.createElement('h3');
           h3OfName.textContent =  keyOfProd[ee];
           tdOfName.appendChild(h3OfName)
           trOfName.appendChild(tdOfName)
       }
       tabling.appendChild(trOfName)
    //    document.getElementsByClassName('mainBody')[0].appendChild(tabling)
       var trOfPic = document.createElement('div');
       trOfPic.className = 'divOfRow divOfRowPic'
    //    let tdOfProd1 = document.createElement('div');
    //    tdOfProd1.textContent = "Now We Let You Decide the Winnner"
    //    tdOfProd1.className = "divOfName"
    //    trOfPic.appendChild(tdOfProd1)
    //    trOfPic.appendChild(tdOfPro)
       
       
       for(let uu=0; uu<keyOfProd.length; uu++){
           let divOfPic = document.createElement('div');
           divOfPic.className = "divOfPic";
           console.log( prodSpecs[keyOfProd[uu]].data.product_images[0] )
           let img = document.createElement('img');
           img.src =   prodSpecs[keyOfProd[uu]].data.product_images[0] ;
           img.className = "imgOfProduct"
           divOfPic.appendChild(img)
        //    tdOfPic.appendChild(divOfPic)
           trOfPic.appendChild(divOfPic)
           if(keyOfProd.length-1 !=  uu){
               let vers = document.createElement('div');
               vers.className = "vers"
               vers.textContent = "VS"
               trOfPic.appendChild(vers)
           }
       }
      
       tabling.appendChild(trOfPic);
       document.getElementsByClassName('mainBody')[0].appendChild(tabling)
       let mainBody = document.getElementsByClassName('mainBody')[0];
       for(let list in listing){
        let tabling = document.createElement('div')
        tabling.classList = "tabling coloringTabling"
        //    let divOfHeading = document.createElement('tr');
        //    divOfHeading.className = "divOfHeadingName";
        //    let divOfHeadingName = document.createElement('td')
        //    divOfHeadingName.className = "divOfHeading"
          let divOfHeading = document.createElement('div');
          divOfHeading.className = "divOfHeading";
          let h4OfHeading = document.createElement('h3');
          h4OfHeading.textContent = list
          h4OfHeading.className = "h4OfHeading"
          
        //    divOfHeadingName.textContent = list;

            // divOfHeading.appendChild(divOfHeadingName);
        divOfHeading.appendChild(h4OfHeading)
        document.getElementsByClassName('mainBody')[0].appendChild(divOfHeading)
        // tabling.appendChild(divOfHeading)
           for(let ii=0; ii<listing[list].length; ii++){
            // let div = document.createElement('div');
            // div.className ="divOfTiring"
            let divOfHeadingSpec = document.createElement('div');
            divOfHeadingSpec.className = "divOfRow"
            let divOfName = document.createElement('div');
            let h4OfName = document.createElement('h4');
            divOfName.textContent = listing[list][ii]
            divOfName.className= "divOfSpec"
            divOfHeadingSpec.appendChild(divOfName);
            let divOfRow = document.createElement('div');
            divOfRow.className = "divOfRow" 
            tabling.appendChild(divOfHeadingSpec)
               for(let yu=0; yu<keyOfProd.length; yu++){    
                    
                   if(specs[yu].data.sub_specs.hasOwnProperty(list)){
                       console.log(keyOfProd[yu] , list)
                       var a=1;
                       console.log(keyOfProd[yu] , list ,specs[yu].data.sub_specs.hasOwnProperty(list))
                       for(let ee=0; ee<specs[yu].data.sub_specs[list].length; ee++){
                            if(specs[yu].data.sub_specs[list][ee]['spec_key'] == listing[list][ii]){
                                let divOfValue = document.createElement('div');
                                divOfValue.className = "divOfValue"
                                let nameOfProd = document.createElement('div');
                                nameOfProd.className = "nameOfProd"
                                nameOfProd.textContent = keyOfProd[yu]
                                divOfValue.appendChild(nameOfProd)
                                let valueOfName = document.createElement('div');
                                valueOfName.className = "valueOfName"
                                // console.log(list , keyOfProd[yu])
                                // console.log('yes')
                                // console.log(specs[yu].data.sub_specs[list][ee]['spec_value'])
                                if(specs[yu].data.sub_specs[list][ee]['spec_value'] == ("" || null || undefined)){
                                    console.log('no we are not')  
                                    valueOfName.textContent = "-";
                                }else{
                                    a=0
                                    // let divOfValue = document.createElement('div')
                                    valueOfName.textContent = specs[yu].data.sub_specs[list][ee]['spec_value']
                                    // divOfValue.className = "divOfValue"
                                    // divOfRow.appendChild(divOfValue);
                                    // console.log(list , keyOfProd[yu] ,listing[list][ii])
                                }
                                divOfValue.appendChild(valueOfName)
                                divOfRow.appendChild(divOfValue)

                            }
                            if((ee == specs[yu].data.sub_specs[list].length-1)){
                                if(a==1){
                                        let divOfValue = document.createElement('div');
                                       
                                        divOfValue.className = "divOfValue"
                                        divOfRow.appendChild(divOfValue)
                                        let nameOfProd = document.createElement('div');
                                nameOfProd.className = "nameOfProd"
                                nameOfProd.textContent = keyOfProd[yu]
                                divOfValue.appendChild(nameOfProd)
                                let valueOfName = document.createElement('div');
                                valueOfName.className = "valueOfName"
                                valueOfName.textContent = "-";
                                divOfValue.appendChild(valueOfName)
                                        // console.log('we are in ths together')  
                                }
                            }
                       }   
                   }else{
                    //    if(specs)
                    let divOfValue = document.createElement('div');                      
                    divOfValue.className = "divOfValue"
                    divOfRow.appendChild(divOfValue)
                    let nameOfProd = document.createElement('div');
                    nameOfProd.className = "nameOfProd"
                    nameOfProd.textContent = keyOfProd[yu]
                    divOfValue.appendChild(nameOfProd)
                    let valueOfName = document.createElement('div');
                    valueOfName.className = "valueOfName"
                    valueOfName.textContent = "-";
                    divOfValue.appendChild(valueOfName)
                   }
                   tabling.appendChild(divOfRow)
                }
            //    divOfRow.appendChild(divOfValue)
           }
        //    divOfHeading.textContent = list;
        //    document.getElementsByClassName('mainBody')[0].appendChild(divOfHeading)
           mainBody.appendChild(tabling)
           let hr = document.createElement('div')
           hr.className = "breaker"
           mainBody.appendChild(hr)
       }
     })();

    </script>
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="/javascripts/a.js"></script>
</html>
