<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/compareStore.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/compareStore_Tab.css">
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/compareStore_Mobile.css"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script> -->

    <title></title>
</head>

<body>
    <div id="bd">
  

        <div id="db2">
            <span></span>
        </div>
        <div id="db"></div>
    
        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>
    
                </form>
            </header>
        </div>
    
        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                
            </div>
            <style>
                html,
                body {
                    height: 100%;
                    width: 100%;
                    margin: 0%;
                }
        
                #load {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: rgb(92, 86, 30);
                    background-color: rgba(0, 0, 0, 0.0);
                    letter-spacing: 6px;
                    word-spacing: -7px;
                }
        
                .heck1 {
                    font-size: 40px;
                    /* text-transform: lowercase; */
                    animation-name: boom;
                    animation-duration: 2s;
                    animation-timing-function: linear;
                    animation-delay: 0s;
                    animation-iteration-count: infinite;
                    margin-right: 10px;
                    font-weight: 100;
                    transform: scale(0);
                    margin: 0;
                    font-weight: 300;
                }
        
                #h1 {
                    animation-delay: 0.10s;
                }
        
                #h2 {
                    animation-delay: 0.15s;
                }
        
                #h3 {
                    animation-delay: 0.25s;
                }
        
                #h4 {
                    animation-delay: 0.30s;
                }
        
                #h5 {
                    animation-delay: 0.35s;
                }
        
                #h6 {
                    animation-delay: 0.40s;
                }
        
                #h7 {
                    animation-delay: 0.45s;
                }
        
                #h8 {
                    animation-delay: 0.50s;
                }
        
                #h9 {
                    animation-delay: 0.55s;
                }
        
                #h10 {
                    animation-delay: 0.70s;
                }
        
                #h11 {
                    animation-delay: 0.75s;
                }
        
                #h12 {
                    animation-delay: 0.80s;
                }
        
                #h13 {
                    animation-delay: 0.85s;
                }
                
        
                @keyframes boom {
        
                    0%,
                    100% {
                        transform: scale(1.2);
                    }
        
                    90% {
                        transform: scale(0.8);
                    }
        
                    99% {
                        transform: scale(0);
                    }
        
                }
        
                #mainKamain {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    /* position: absolute; */
                    justify-content: center;
                    align-items: center;
                }
        
                #mainKamain img {
                    max-width: 100%;
                    max-height: 100%;
                    zoom: 5;
                    position: absolute;
                    filter: blur(6px);
                }
            </style>
            <div id="load">
                <h3 id="h1" class="heck1">B</h3>
                <h3 id="h2" class="heck1">e</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <h3 id="h3" class="heck1">a</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <h3 id="h4" class="heck1">S</h3>
                <h3 id="h5" class="heck1">m</h3>
                <h3 id="h6" class="heck1">a</h3>
                <h3 id="h7" class="heck1">r</h3>
                <h3 id="h8" class="heck1">t</h3>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
                <h3 id="h9" class="heck1">B</h3>
                <h3 id="h10" class="heck1">u</h3>
                <h3 id="h11" class="heck1">y</h3>
                <h3 id="h12" class="heck1">e</h3>
                <h3 id="h13" class="heck1">r</h3>
            </div>
    
    
        </div>
    <script>
document.getElementById('mainBody').style.minHeight = window.screen.height +"px"

        window.pid = '<%= que.pid %>'
        // $(document).ready(() => {
        //     $(".divOfOffer").hide()
        // })


        // $('#searchBar').on('click', (e) => {
        //     let pOfRecommendations;
        //     //  let target = e.target
        //     let focus = -1;
        //     document.getElementById('disableBody').style.display = "block";
        //     let animating = document.getElementById('animating');
        //     animating.style.display = "block";
        //     let valueOfInput = document.getElementById('newSearchBox');
        //     let winW = window.innerWidth;
        //     let winh = window.innerHeight;
        //     animating.style.left = (winW / 2) - (animating.offsetWidth / 2) + "px"
        //     animating.style.top = (winh / 2) - (animating.offsetHeight / 2) + "px";
        //     let newSearchBox = document.getElementById('newSearchBox')
        //     let recommendations = document.getElementById('recommendations')
        //     let $newSearchBox = $('#newSearchBox')
        //     $newSearchBox.focus()
        //     let trending = ['Redmi note 8', 'Mobile', 'Iphone X11', 'Realme X2', 'MacBook Pro', 'Gaming Laptop']
        //     appendingP()
        //     function appendingP() {
        //         let h3 = document.createElement('h3');
        //         h3.textContent = "Trending";
        //         recommendations.appendChild(h3)
        //         console.log(trending)
        //         for (let rt = 0; rt < trending.length; rt++) {
        //             let p = document.createElement('p');
        //             //   let span= document.createElement('span')
        //             //   span.innerHTML = "&#9906;"
        //             p.innerHTML = trending[rt]
        //             //   p.prepend(span)
        //             p.setAttribute('data-value', trending[rt])
        //             if (addEventListener) {
        //                 p.addEventListener('click', putvalue, false)

        //             } else {
        //                 p.attachEvent('onclick', putvalue)
        //             }
        //             recommendations.appendChild(p)
        //         }
        //     }
        //     function putvalue(e) {
        //         console.log('new')
        //         console.log(e)
        //         //   let target = e.target
        //         console.log(e.target.getAttribute('data-value'))
        //         valueOfInput.value = e.target.getAttribute('data-value')
        //         document.forms[0].submit()
        //         console.log(valueOfInput)
        //     }
        //     $newSearchBox.on('keyup', async (e) => {
        //         let suggestion = await fetch('https://price-api.datayuge.com/api/v1/compare/search/suggest?api_key=XiJ7nmLmKt5HKRMFRarBBDv9tbOe6aGz3cu&product=' + newSearchBox.value)
        //         suggestion = await suggestion.json()
        //         try {
        //             if (!(suggestion.hasOwnProperty('keywords'))) {
        //                 recommendations.innerHTML = ""
        //                 appendingP()
        //                 //   recommendations.innerHTML = '<h3 style="margin-left: 7px;">Trending</h3>'+ '<p>Mobile</p><p>Ipad</p> <p>Realme x2'+'<p>Redmi Note 8pro</p> <p>Iphone X11</p> <p>Mac Book Laptop</p>'                
        //             } else {
        //                 recommendations.innerHTML = ""
        //                 for (let ee = 0; ee < suggestion.keywords.length; ee++) {
        //                     let p = document.createElement('p');
        //                     //   let span= document.createElement('span')
        //                     //   span.innerHTML = "&#9906;"
        //                     p.innerHTML = suggestion.keywords[ee]
        //                     //   p.prepend(span)
        //                     p.setAttribute('data-value', suggestion.keywords[ee])
        //                     if (addEventListener) {
        //                         p.addEventListener('click', putvalue, false)

        //                     } else {
        //                         p.attachEvent('onclick', putvalue)
        //                     }
        //                     recommendations.appendChild(p)
        //                 }

        //             }
        //         } catch{
        //             appendingP()
        //         }
        //         pOfRecommendations = document.querySelectorAll('#recommendations p');
        //     })

        //     // console.log($newSearchBox)
        //     $newSearchBox.on('keydown', (e) => {
        //         console.log('clicked')
        //         if (e.keyCode == 40) {
        //             console.log('krydown')
        //             focus++;
        //             addingClass(pOfRecommendations);

        //         } else if (e.keyCode == 38) {
        //             console.log('keyup')
        //             focus--;
        //             addingClass(pOfRecommendations)
        //         } else if (e.keyCode == 13) {
        //             console.log('enter')
        //             e.preventDefault()
        //             if (focus > -1) {
        //                 pOfRecommendations[focus].click();
        //             }
        //         }
        //     })
        //     function addingClass(pOfRecommendations) {
        //         for (let rr = 0; rr < pOfRecommendations.length; rr++) {
        //             console.log('in thi s')
        //             pOfRecommendations[rr].classList = ""
        //         }
        //         if (focus >= pOfRecommendations.length) {
        //             focus = 0;

        //         } else if (focus < 0) {
        //             focus = pOfRecommendations.length - 1;

        //         }
        //         pOfRecommendations[focus].classList.add('hightlight')

        //     }


        // })
        // $('#closePopUp span').on('click', () => {
        //     //   if(document.getElementById('animating')){
        //     document.getElementById('disableBody').style.display = "none"
        //     document.getElementById('animating').style.display = "none"
        //     document.getElementById('alertBox').style.display = "none"
        //     document.getElementsByTagName('html')[0].style.overflow = "scroll"



        // })

        // $('#searchIcon').on('click', () => {
        //     document.forms[0].submit()
        // })
        //animation of category bar
        
        //copied javascripts
    //     const deviceWidth = window.outerWidth;
    //     document.getElementById('mainBody').style.minHeight = window.screen.height +"px"
    //     var naming2 = '<%= que.pid %>'
    //     console.log(naming2)
    //     var details;
    //     var specsi;
    //     (async () => {
    //         console.log(naming2)
    //         let st='Not defined'
    //         let err;
    //         let lk;
    //         try{
    //             lk = 'https://price-api.datayuge.com/api/v1/compare/detail?api_key=XiJ7nmLmKt5HKRMFRarBBDv9tbOe6aGz3cu&id=' + naming2
    //             details = await fetch(lk);
    //             if(details.status){
    //                 st = details.status
    //                 console.log(st)
    //             }
    //             if(details.ok){
    //                 details = await details.json();
    //             }else{
    //                 throw e;
    //             }
    //         }catch(e){
    //     // if(details.status){
    //     //     st = details.status
    //     // }
    //     const ul="/stream"
    //     if(e){
    //         // err={}
    //         console.log(e)
    //         console.log(typeof(e),e)
    //         err=String(e)
    //         console.log(err)
    //     }else{
    //         err="None"
    //     }
    //     console.log(err)
    //     // const URL = '/logs/error'
    //     const ui = {
    //     'sc': st,
    //     'lk':lk,
    //     'er':(err)
    //     };
    //     console.log(ui)
    //     // Send a post request
    //     fetch(ul, {
    //         method: "POST",
    //         body: JSON.stringify(ui),
    //         headers: {
    //             "Content-type": "application/json; charset=UTF-8"
    //         }
    //     })
    //     console.log('fetch')
    // }
    // try{
    //     console.log('specsi')
    //     lk='https://price-api.datayuge.com/api/v1/compare/specs?api_key=XiJ7nmLmKt5HKRMFRarBBDv9tbOe6aGz3cu&id=' + naming2;
    //     console.log(lk)
    //     specsi = await fetch(lk);
    //     console.log(specsi.status)
    //     if(specsi.status){
    //         st = specsi.status
    //     }
    //     if(specsi.ok){
    //         specsi = await specsi.json();
    //         console.log(specsi)


    //     }else{
    //         console.log('else')
    //         throw e
    //     }
    // }catch(e){
    //     console.log('error')
    //     const ul="/stream"
    //     if(e){
    //         // err={}
    //         console.log(e)
    //         console.log(typeof(e),e)
    //         err=String(e)
    //         console.log(err)
    //     }else{
    //         err="None"
    //     }
    //     console.log(err)
    //     // const URL = '/logs/error'
    //     const ui = {
    //     'sc': st,
    //     'lk':lk,
    //     'er':(err)
    //     };
    //     console.log(ui)
    //     // Send a post request
    //     await fetch(ul, {
    //         method: "POST",
    //         body: JSON.stringify(ui),
    //         headers: {
    //             "Content-type": "application/json; charset=UTF-8"
    //         }
    //     })
    //     console.log('specsi done')
    // }

    //         // console.log(details);
    //         // console.log(specsi);
    //         if(details.hasOwnProperty('data')){
    //         var mainBody = document.getElementById('mainBody');

    //         var container = document.createElement('div');
    //         container.className = "container";
    //         var divOfimageContainer = document.createElement('div');
    //         divOfimageContainer.className = 'imageContainer';
    //         var divOfGallery = document.createElement('div');
    //         divOfGallery.className = 'divOfGallery';
    //         // var divOfSlideImage = document.createElement('div');
    //         // divOfSlideImage.className = "slideImageOuter";
    //         // var divOfSlideInside = document.createElement('div');
    //         // divOfSlideInside.className = "slideInside";
    //         if (details.data.product_images.length > 1) {
    //             var divOfSlideImage = document.createElement('div');
    //             divOfSlideImage.className = "slideImageOuter";
    //             var ee = details.data.product_images.length;
    //             if (details.data.product_images.length > 5) {
    //                 ee = 5;
    //             }
    //             for (let i = 0; i < ee; i++) {
    //                 var divOfSlideInside = document.createElement('div');
    //                 divOfSlideInside.className = "slideInside";
    //                 if (i == 0) {
    //                     divOfSlideInside.classList = 'slideInside blackOut'
    //                 }
    //                 var imgOfSlideInside = document.createElement('img');
    //                 imgOfSlideInside.setAttribute('src', details.data.product_images[i]);
    //                 // divOfSlideInside.appendChild(divOfblackOut);
    //                 divOfSlideInside.appendChild(imgOfSlideInside);
    //                 divOfSlideImage.appendChild(divOfSlideInside);
    //             }
    //             divOfGallery.appendChild(divOfSlideImage);
    //         }
    //         var divOfimage = document.createElement('div');
    //         divOfimage.className = "divofimage";
    //         var imageSlider = document.createElement('div');
    //         imageSlider.className = 'imageSlider'
    //         var imageOne = document.createElement('img');
    //         imageOne.setAttribute('src', details.data.product_images[0]);
    //         imageSlider.appendChild(imageOne);
    //         divOfimage.appendChild(imageSlider);
    //         divOfimageContainer.appendChild(divOfGallery);
    //         divOfimageContainer.appendChild(divOfimage)
    //         container.appendChild(divOfimageContainer);
    //         // container.appendChild(divOfimage);
    //         // imageOne.className = 'imageOne';
    //         // var titleFirstDiv = document.createElement('div');
    //         // titleFirstDiv.className = "titleFirstDiv";
    //         var titleDivNew = document.createElement('div');
    //         titleDivNew.className = "titleDivNew";
    //         var priceTitle = document.createElement('h1');
    //         priceTitle.className = 'priceTitle';
    //         priceTitle.innerHTML = details.data.product_name;
    //         titleDivNew.appendChild(priceTitle);

    //         console.log(details.data.product_ratings)
    //         if (details.data.hasOwnProperty('product_ratings') && Number(details.data.product_ratings) > 0) {
    //             var review = document.createElement('div');
    //             review.className = "review";
    //             var div = document.createElement('div');
    //             // span.textContent = 
    //             var spantext = document.createElement('span');
    //             spantext.textContent = details.data.product_ratings + '/5';
    //             var imgOfstar = document.createElement('img');
    //             imgOfstar.setAttribute('src', '/images/star.png')
    //             div.appendChild(spantext)
    //             div.appendChild(imgOfstar);
    //             review.appendChild(div)
    //             titleDivNew.appendChild(review)
    //         }
    //         // tableDiv.
    //         var sortedStores = [];
    //         var storesName = [];
    //         q = 0;
    //         for (let j = 0; j < details.data.stores.length; j++) {
    //             // console.log(details.data.stores[j])
    //             storesName = Object.keys(details.data.stores[j]);
    //             if (details.data.stores[j][storesName[0]].hasOwnProperty("product_price") || details.data.stores[j][storesName[0]].hasOwnProperty('product_mrp')) {
    //                 sortedStores[q] = {};
    //                 sortedStores[q]['name'] = storesName[0];
    //                 sortedStores[q]['logo'] = details.data.stores[j][storesName[0]].product_store_logo;
    //                 sortedStores[q]['storeLink'] = details.data.stores[j][storesName[0]].product_store_url;
    //                 if (details.data.stores[j][storesName[0]].hasOwnProperty('product_price') != ("0" || 0 || undefined || null)) {
    //                     sortedStores[q]['price'] = details.data.stores[j][storesName[0]].product_price;

    //                 } else {
    //                     sortedStores[q]['price'] = details.data.stores[j][storesName[0]].product_mrp;
    //                 }

    //                 if (details.data.stores[j][storesName[0]].is_emi == "1") {
    //                     sortedStores[q]['emi'] = "EMIs Available";
    //                 } else {
    //                     sortedStores[q]['emi'] = "EMIs Not Available"
    //                 }
    //                 if (details.data.stores[j][storesName[0]].is_cod == "1") {
    //                     sortedStores[q]['cod'] = "COD Available";
    //                 } else {
    //                     sortedStores[q]['cod'] = "COD Not Available"
    //                 } if (details.data.stores[j][storesName[0]].product_delivery.indexOf('d' || "D") != -1) {
    //                     sortedStores[q]['deliveryTime'] = details.data.stores[j][storesName[0]].product_delivery + "days";
    //                 } else {
    //                     sortedStores[q]['deliveryTime'] = details.data.stores[j][storesName[0]].product_delivery;

    //                 }
    //                 if (details.data.stores[j][storesName[0]].product_delivery_cost == "0") {
    //                     sortedStores[q]['deliveryCost'] = "Free";
    //                 } else {
    //                     sortedStores[q]['deliveryCost'] = details.data.stores[j][storesName[0]].product_delivery_cost;
    //                 }
    //                 if (details.data.stores[j][storesName[0]].product_offer.length > 2) {
    //                     sortedStores[q]['offer'] = details.data.stores[j][storesName[0]].product_offer;
    //                     // if(storesName[0] == ("flipkart" || "Flipkart")){
    //                     //     console.log('pehla')
    //                     //     console.log(storesName[0])
    //                     //     sortedStores[q]["offer"] = "5% Unlimited Cashback On Flipkart Axis Bank Credit Card";
    //                     // }else if(details.data.stores[j][storesName[0]].product_offer.indexOf("1)") != -1){
    //                     //     // console.log(storesName[0])
    //                     //     console.log('2')

    //                     //     console.log(storesName[0])

    //                     //     let offerSplited =  details.data.stores[j][storesName[0]].product_offer.split("1)");
    //                     //     sortedStores[q]["offer"] = offerSplited[0];
    //                     // }else if(storesName[0] != ('amazon' && 'paytmmall' && 'tatacliq')){
    //                     //     console.log('3')
    //                     //     console.log(storesName[0])
    //                     //     if(details.data.stores[j][storesName[0]].product_offer.indexOf(". ") != -1 ){
    //                     //         console.log('3 ,5')
    //                     //         console.log(storesName[0])
    //                     //         let offerSplited = details.data.stores[j][storesName[0]].product_offer.split(". ")
    //                     //         sortedStores[q]['offer'] =  offerSplited[0];
    //                     //     }

    //                     // }else{
    //                     //     console.log('peelsela')
    //                     //     console.log(storesName[0])
    //                     //     sortedStores[q]['offer'] = details.data.stores[j][storesName[0]].product_offer;
    //                     // }
    //                     // console.log(sortedStores[q]["offer"] )
    //                 } else {
    //                     sortedStores[q]["offer"] = "No offers Available";
    //                 }
    //                 sortedStores[q]['returnTime'] = details.data.stores[j][storesName[0]].return_time;
    //                 q++;
    //             }

    //         }

    //         sortedStores.sort((x, y) => {
    //             return x.price - y.price;
    //         })

    //         console.log(sortedStores);
    //         console.log("This is sorted");
    //         // var unorderList
    //         var mrpTag = document.createElement('div');
    //         mrpTag.className = 'mrpTag';
    //         if (details.data.product_mrp.length > 0 && sortedStores.length > 0) {
    //             let best = sortedStores[0].price;
    //             let mrp = details.data.product_mrp > sortedStores[sortedStores.length - 1].price ? details.data.product_mrp : sortedStores[sortedStores.length - 1].price;
    //             let bestPrice = document.createElement('span');
    //             // bestPrice.classList  = 'bestPrice'
    //             bestPrice.innerHTML = '&#x20B9;' + best;
    //             let mrpheading = document.createElement('span');
    //             mrpheading.innerHTML = '&#x20B9;' + mrp;
    //             let off = document.createElement('span');
    //             off.textContent = Math.round(((mrp - best) / mrp) * 100) + "% Off!"
    //             console.log(Math.round((best / mrp) * 100))
    //             mrpTag.appendChild(bestPrice)
    //             mrpTag.appendChild(mrpheading)
    //             mrpTag.appendChild(off)
    //             titleDivNew.appendChild(mrpTag)
    //             // let mrpTag = document.createElement('h4');
    //             // mrpTag.innerHTML = '&#x20B9;' +mrp;
    //             titleDivNew.appendChild(mrpTag)
    //         } else if (details.data.product_mrp.length == 0 && sortedStores.length > 1) {
    //             let best = sortedStores[0].price;
    //             let bestPrice = document.createElement('span');
    //             // bestPrice.classList  = 'bestPrice'
    //             bestPrice.innerHTML = '&#x20B9;' + best;
    //             mrpTag.appendChild(bestPrice)
    //             if (sortedStores.length > 1) {
    //                 let mrp = sortedStores[sortedStores.length - 1].price;
    //                 let mrpheading = document.createElement('span');
    //                 mrpheading.innerHTML = '&#x20B9;' + mrp;
    //                 let off = document.createElement('span');
    //                 off.textContent = Math.round(((mrp - best) / mrp) * 100) + "% Off!"
    //                 console.log(Math.round((best / mrp) * 100))
    //                 mrpTag.appendChild(mrpheading)
    //                 mrpTag.appendChild(off)
    //             }
    //             titleDivNew.appendChild(mrpTag)
    //             // let mrpTag = document.createElement('h4');
    //             // mrpTag.innerHTML = '&#x20B9;' +mrp;
    //             titleDivNew.appendChild(mrpTag)

    //         } else if (details.data.product_mrp.length > 1) {
    //             let best = details.data.product_mrp;
    //             let bestPrice = document.createElement('span');
    //             // bestPrice.classList  = 'bestPrice'
    //             bestPrice.innerHTML = '&#x20B9;' + best;
    //             mrpTag.appendChild(bestPrice)
    //             titleDivNew.appendChild(mrpTag)
    //             // let mrpTag = document.createElement('h4');
    //             // mrpTag.innerHTML = '&#x20B9;' +mrp;
    //             titleDivNew.appendChild(mrpTag)

    //         }
    //         container.appendChild(titleDivNew);

    //         if (details.data.hasOwnProperty('available_colors')) {
    //             let colorsAvail = document.createElement('div');
    //             colorsAvail.className = 'colorsAvail';
    //             let h2 = document.createElement('h4');
    //             h2.textContent = 'Available Colours';
    //             h2.className = "styleFont"
    //             let divOfcolor = document.createElement('div');
    //             divOfcolor.className = "divOfColor";
    //             for (let ii = 0; ii < details.data.available_colors.length; ii++) {
    //                 let div = document.createElement('div');
    //                 div.textContent = details.data.available_colors[ii];
    //                 divOfcolor.appendChild(div);
    //             }
    //             colorsAvail.appendChild(h2)
    //             colorsAvail.appendChild(divOfcolor)
    //             titleDivNew.appendChild(colorsAvail)
    //         }
    //         try{
    //         if (specsi.data.hasOwnProperty('main_specs') && specsi.data.main_specs.length > 1) {
    //             let divOfHigh = document.createElement('div');
    //             divOfHigh.className = "divOfHigh";
    //             let h3 = document.createElement('h4');
    //             h3.textContent = "Highlights"
    //             h3.className = 'styleFont'
    //             var unorderedList = document.createElement('ul');
    //             unorderedList.className = "unordered";
    //             for (let g = 0; g < specsi.data.main_specs.length; g++) {
    //                 let list = document.createElement('li');
    //                 list.innerHTML = specsi.data.main_specs[g];
    //                 unorderedList.appendChild(list)
    //             }
    //             divOfHigh.appendChild(h3);
    //             divOfHigh.appendChild(unorderedList)
    //             titleDivNew.appendChild(divOfHigh)
    //         }
    //     }catch{
    //         console.log('err')
    //     }
    //         // var tableDiv = document.createElement('table');
    //         if (sortedStores.length > 0) {
    //             let bestOffer = document.createElement('div');
    //             bestOffer.className = 'bestOfferDiv';
    //             console.log(sortedStores);
    //             let bestStore = document.createElement('div');
    //             bestStore.className = "bestStore";
    //             let imgDiv = document.createElement('div')
    //             let img = document.createElement('img');
    //             img.setAttribute('src', sortedStores[0].logo);
    //             imgDiv.appendChild(img)
    //             let price = document.createElement('div');
    //             price.innerHTML = "&#x20B9;" + sortedStores[0].price;
    //             let cod = document.createElement('div');
    //             cod.textContent = sortedStores[0].cod;
    //             let deliveryCost = document.createElement('div');
    //             if (sortedStores[0].deliveryCost != "Free") {
    //                 deliveryCost.textContent = "Delivery Charges Mentioned Below";
    //             } else {
    //                 deliveryCost.textContent = sortedStores[0].deliveryCost + " Delivery";
    //             }
    //             let deliveryTime = document.createElement('div');
    //             deliveryTime.textContent = "Delivery in " + sortedStores[0].deliveryTime + " Days";
    //             let emi = document.createElement('div');
    //             emi.textContent = sortedStores[0].emi;
    //             let divButton = document.createElement('div');
    //             let button = document.createElement('a');
    //             button.setAttribute('href', sortedStores[0].storeLink);
    //             button.setAttribute('target', '_blank')
    //             button.textContent  = "Store"
    //             divButton.append(button)
    //             bestStore.appendChild(imgDiv)
    //             bestStore.appendChild(price)
    //             bestStore.appendChild(cod)
    //             bestStore.appendChild(deliveryCost)
    //             bestStore.appendChild(deliveryTime)
    //             bestStore.appendChild(emi)
    //             bestStore.appendChild(divButton)
    //             // bestStore.appendChild()
    //             bestOffer.appendChild(bestStore)
    //             container.appendChild(bestOffer)
    //         }
    //         document.getElementById('load').style.display="none"

    //         mainBody.appendChild(container);

    //         var storeComp = document.createElement('div');
    //         storeComp.className = "storeComp";

    //         let pngDiv = document.createElement('div');
    //         pngDiv.className = "pngDiv"
    //         // let divFake= document.createElement('div');
    //         // pngDiv.appendChild(divFake)
    //         var imgSrc = ['e-Store', 'Price', 'COD', 'Delivery Charges', 'Expected Delivery', 'EMI', 'Return Time']
    //         for (let uu = 0; uu < imgSrc.length; uu++) {
    //             let div = document.createElement('div');
    //             let h5 = document.createElement('h4');
    //             h5.style.fontWeight = '400'
    //             h5.style.fontSize = '13px'
    //             let img = document.createElement('img');
    //             img.setAttribute('src', '/images/' + imgSrc[uu] + '.png');
    //             h5.textContent = imgSrc[uu];
    //             div.appendChild(img)
    //             div.appendChild(h5)
    //             pngDiv.appendChild(div)
    //             if (uu == imgSrc.length - 1) {
    //                 let div = document.createElement('div');
    //                 // div.textContent = "buyButton"
    //                 let a = document.createElement('a')
    //                 a.textContent = "Buy button"
    //                 a.style.width = "80%";
    //                 div.style.visibility = 'hidden'
    //                 div.appendChild(a)

    //                 pngDiv.appendChild(div)
    //             }
    //         }
    //         storeComp.appendChild(pngDiv)
    //         for (let y = 0; y < sortedStores.length; y++) {
    //             let divStore = document.createElement('div');
    //             divStore.className = 'divStore';
    //             let divImg = document.createElement('div')
    //             let img = document.createElement('img');
    //             img.setAttribute('src', sortedStores[y].logo);
    //             divImg.appendChild(img)
    //             let price = document.createElement('div');
    //             price.innerHTML = '&#x20B9;' + sortedStores[y].price;
    //             let cod = document.createElement('div');
    //             let codh3 = document.createElement('h4')
    //             codh3.textContent = sortedStores[y].cod;
    //             cod.appendChild(codh3)
    //             let deliveryCharge = document.createElement('div');
    //             if (sortedStores[y].deliveryCost != 'Free') {
    //                 let chargeh3 = document.createElement('h4');
    //                 chargeh3.innerHTML = "&#x20B9;" + sortedStores[y].deliveryCost + " for Delivery"
    //                 deliveryCharge.appendChild(chargeh3)
    //             } else {
    //                 let chargeh3 = document.createElement('h4');
    //                 chargeh3.innerHTML = sortedStores[y].deliveryCost + " Delivery"
    //                 deliveryCharge.appendChild(chargeh3)
    //             }
    //             let deliveryTime = document.createElement('div');
    //             let Timeh3 = document.createElement('h4');
    //             Timeh3.innerHTML = "Delivery in  <span>" + sortedStores[y].deliveryTime + "</span> Days";
    //             deliveryTime.appendChild(Timeh3);
    //             let emi = document.createElement('div');
    //             let emih3 = document.createElement('h4')
    //             emih3.textContent = sortedStores[y].emi
    //             emi.appendChild(emih3)
    //             let returnTime = document.createElement('div');
    //             let returnTimeh3 = document.createElement('h4');
    //             if (sortedStores[y].returnTime.length > 0) {
    //                 returnTimeh3.innerHTML = "<span> " + sortedStores[y].returnTime + "</span>";
    //                 returnTime.appendChild(returnTimeh3)
    //             } else {
    //                 returnTimeh3.textContent = "No Information Available"
    //                 returnTime.appendChild(returnTimeh3)
    //             }
    //             let linkStore = document.createElement('div');
    //             let a = document.createElement('a');
    //             a.setAttribute('href', sortedStores[y].storeLink)
    //             a.setAttribute('target', '_blank')
    //             a.textContent = "Store";
    //             linkStore.appendChild(a)
    //             divStore.appendChild(divImg)
    //             divStore.appendChild(price)
    //             divStore.appendChild(cod)
    //             divStore.appendChild(deliveryCharge)
    //             divStore.appendChild(deliveryTime)
    //             divStore.appendChild(emi)
    //             divStore.appendChild(returnTime)
    //             divStore.appendChild(linkStore)
    //             storeComp.appendChild(divStore)
    //         }



    //         let divHeading = document.createElement('div');
    //         divHeading.className = "divHeading";
    //         divHeading.textContent = "Comparison";
    //         mainBody.appendChild(divHeading)
    //         mainBody.appendChild(storeComp)
    //         if (document.getElementsByClassName('slideInside').length > 1) {
    //             $('.slideInside').hover(function () {
    //                 $('.slideInside').removeClass('blackOut');
    //                 $(this).addClass('blackOut');
    //                 document.getElementsByClassName('imageSlider')[0].firstChild.setAttribute('src', $(this).children().attr('src'))
    //             })
    //         }
    //         // console.log(sortedStores[0])
    //         // console.log(sortedStores[0].hasOwnProperty('offer'))
    //         if (sortedStores[0] && sortedStores[0].hasOwnProperty('offer')) {
    //             let divOfOffer = document.createElement('div');
    //             divOfOffer.className = "divOfOffer";
    //             let divHeading = document.createElement('div');
    //             divHeading.className = "divHeading";
    //             divHeading.textContent = "Offers";
    //             divOfOffer.appendChild(divHeading)
    //             let tableOfOffer = document.createElement('table');
    //             tableOfOffer.className = "tableOfOffer";
    //             // let trOfHeading = document.createElement('tr');
    //             // let tdOfHeading = document.createElement('td');
    //             // tdOfHeading.style.width ='100%';

    //             // tdOfHeading.innerHTML = "<h2 class='heading'>Offers</h2>";
    //             // trOfHeading.appendChild(tdOfHeading)
    //             // tableOfOffer.appendChild(trOfHeading)
    //             for (let q = 0; q < sortedStores.length; q++) {
    //                 let tr = document.createElement('tr')
    //                 tr.className = "trOfHead";//ashish
    //                 let tdOfImage = document.createElement('td');
    //                 tdOfImage.className = "tdOfImage"
    //                 let imgLogo = document.createElement('img');
    //                 imgLogo.setAttribute('src', sortedStores[q].logo);
    //                 tdOfImage.appendChild(imgLogo);
    //                 let tdOfOffer = document.createElement('td');
    //                 tdOfOffer.className = "tdOfOffer"
    //                 tdOfOffer.innerHTML = sortedStores[q].offer;
    //                 // tdOfOffer.innerHTML = tdOfOffer.innerHTML.replace(/#/g, " ");
    //                 tr.appendChild(tdOfImage);
    //                 tr.appendChild(tdOfOffer);
    //                 tableOfOffer.appendChild(tr)
    //             }
    //             divOfOffer.appendChild(tableOfOffer);
    //             mainBody.appendChild(divOfOffer);
    //         }
    //     }else{
    //             document.getElementById('load').style.display="none"
    //             document.getElementById('mainBody').innerHTML = '<div class="err" style="display:flex;"><a id="bt" href="/">Go To Home Page</a></div>'
    //         }
    //         if(details.hasOwnProperty('data')){
    //                 console.log(details)
    //                 let hd = document.getElementsByTagName('head')[0]
    //                 let des = document.createElement('meta')
    //                 des.name="description"
    //                 des.content = "Compare "+details.data.product_name+" By Prices,COD Available ,EMIs Available, Offers across all e-stores(Flipkart, Amazon, TataCliq, PaytmMall Etc). Compare Best Deal On "+details.data.product_name+" Across all e-Stores"
    //                 hd.appendChild(des)
    //                 let ti = document.createElement('meta')
    //                 ti.name = "og_title"
    //                 ti.setAttribute('property','og:title')
    //                 ti.content = details.data.product_name+" Prices in India | Compare Prices of "+details.data.product_name+" in India"
    //                 hd.appendChild(ti)
    //                 let ur = document.createElement('meta')
    //                 ur.name = "og_url"
    //                 ur.setAttribute('property','og:url')
    //                 let dt={'headsets':'headphones','computer-monitor':'monitor',"computer-keyboard":'keyboard',"refrigerators":'refrigerator',"tv":"led-tv",
    //                 "wireless-speakers":'speakers',"home-theaters":"home-theater"}
    //                 console.log(dt.hasOwnProperty(details.data.product_sub_category)== -1)
    //                 if(dt.hasOwnProperty(details.data.product_sub_category)){
    //                     console.log('dt')
    //                     console.log(details.data.product_sub_category)
    //                     console.log(details.data.product_brand) 
    //                     console.log(details.data.product_brand.toLowerCase())
    //                     console.log(details.data.product_sub_category)
    //                     console.log(details.data.product_name.replace("/","").replace(/ /g, "-").toLowerCase())
    //                     console.log(details.data.product_id)
    //                     ur.content="http://www.pricescompare.in/"+dt[details.data.product_sub_category]+"/"+details.data.product_brand.toLowerCase()+"-"+dt[details.data.product_sub_category]+"/"+details.data.product_name.replace("/","").replace(/ /g, "-").toLowerCase() + "/"+details.data.product_id
                        
    //                     console.log()
    //                 }else{
    //                     console.log('td')
    //                     ur.content="http://www.pricescompare.in/"+details.data.product_sub_category+"/"+details.data.product_brand.toLowerCase()+"-"+details.data.product_sub_category+"/"+details.data.product_name.replace("/","").replace(/ /g, "-").toLowerCase() + "/"+details.data.product_id

    //                     // console.log(details.data.prname.replace("/",""))
    //                 }
    //                 // conssole.log(ur)
    //                 hd.appendChild(ur)
    //                 // head.
    //                 let sm = document.createElement('meta')
    //                 sm.name="og_site_name"
    //                 sm.setAttribute('property',"og:site_name")
    //                 sm.content="PricesCompare.in"
    //                 hd.appendChild(sm)
    //                 let dp = document.createElement('meta')
    //                 dp.name="og_description"
    //                 dp.setAttribute('property',"og:description")
    //                 dp.content="Compare "+details.data.product_name+" By Prices, Cash On Delivery(COD) ,EMIs, Offer across all e-stores. Compare Best Deal On "+details.data.product_name+" Across all e-Stores"
    //                 hd.appendChild(dp)
    //                 console.log('title')
    //                 document.title = "Compare "+details.data.product_name+" Prices, Specifications, Offers Across All e-Stores | PricesCompare"
    //             }
            
            

    //         // if(sortedStores.length == 0){
    //         //     console.log("it is 0");
    //         //     document.getElementsByClassName("divOfOffer").style.display = "none";
    //         //                 }
    //        if(specsi.data.hasOwnProperty('main_specs')){
    //         console.log(specsi);
    //         var allCate = Object.keys(specsi.data.sub_specs);
    //         console.log(allCate)
    //         //     var divOfspecsi = document.createElement('div')
    //         //     divOfspecsi.className = "divOfSpecsi";
    //         //     var headingofSpecs = document.createElement('h1');
    //         //     headingofSpecs.style.textAlign = "center";
    //         //     headingofSpecs.style.fontWeight = "400";
    //         //     headingofSpecs.style.color = "white";
    //         //     headingofSpecs.style.marginTop = "10px"
    //         //     // headingofSpecs.style. 
    //         //     headingofSpecs.innerHTML = "Specification";
    //         //     divOfspecsi.appendChild(headingofSpecs)
    //         //     var tableOfSpecs = document.createElement('div');
    //         //     tableOfSpecs.className= "tableOfSpecs";
    //         //     console.log(specsi.data.sub_specs)
    //         //     console.log(specsi.data.sub_specs["General"]);
    //         //     let trOfSpecHeading = document.createElement('tr');
    //         //     let tdOfSpecHeading = document.createElement('td');
    //         //     tdOfSpecHeading.innerHTML =   "General";
    //         //     tdOfSpecHeading.className = "tdOfSpecHeading";
    //         //     tdOfSpecHeading.style.border = "none";
    //         //     tdOfSpecHeading.style.backgroundColor = "#2b2929";
    //         //     trOfSpecHeading.appendChild(tdOfSpecHeading);
    //         //     tableOfSpecs.appendChild(trOfSpecHeading);
    //         //     if(specsi.data.sub_specs.hasOwnProperty('General')){
    //         //     for(let a=0; a<specsi.data.sub_specs["General"].length; a++){
    //         //             let trOfSpecKey = document.createElement('tr');
    //         //             // trOfSpecKey.style.border = "1px solid grey"
    //         //             let tdOfSpecKey = document.createElement('td');
    //         //             tdOfSpecKey.innerHTML = specsi.data.sub_specs["General"][a].spec_key;
    //         //             trOfSpecKey.appendChild(tdOfSpecKey);
    //         //             let tdOfSpecValue = document.createElement('td');
    //         //             tdOfSpecValue.innerHTML = specsi.data.sub_specs["General"][a].spec_value;
    //         //             trOfSpecKey.appendChild(tdOfSpecValue);
    //         //             tableOfSpecs.appendChild(trOfSpecKey);
    //         //     }
    //         // }
    //         //     for(let b=0; b<allCate.length; b++){
    //         //         if(allCate[b] == ("General" || "general")){
    //         //             continue
    //         //         }
    //         //         let trOfSpecHeading = document.createElement('tr');
    //         //         let tdOfSpecHeading = document.createElement('td');
    //         //         // tdOfSpecHeading.style.border = "1px solid grey";
    //         //         tdOfSpecHeading.className = "tdOfSpecHeading"
    //         //         tdOfSpecHeading.innerHTML =   allCate[b];
    //         //         tdOfSpecHeading.style.border = "none";
    //         //         tdOfSpecHeading.style.backgroundColor = "#2b2929"
    //         //         trOfSpecHeading.appendChild(tdOfSpecHeading);
    //         //         tableOfSpecs.appendChild(trOfSpecHeading)
    //         //         for(let c=0; c<specsi.data.sub_specs[allCate[b]].length; c++){
    //         //             let trOfSpecKey = document.createElement('tr');
    //         //             let tdOfSpecKey = document.createElement('td');
    //         //             tdOfSpecKey.innerHTML = specsi.data.sub_specs[allCate[b]][c].spec_key;
    //         //             trOfSpecKey.appendChild(tdOfSpecKey);
    //         //             let tdOfSpecValue = document.createElement('td');
    //         //             tdOfSpecValue.innerHTML = specsi.data.sub_specs[allCate[b]][c].spec_value;
    //         //             trOfSpecKey.appendChild(tdOfSpecValue);
    //         //             tableOfSpecs.appendChild(trOfSpecKey);
    //         //         }
    //         //     }
    //         //     divOfspecsi.appendChild(tableOfSpecs)
    //         //     mainBody.appendChild(divOfspecsi)

    //         let h2OfSpecification = document.createElement('div');
    //         h2OfSpecification.className = "divHeading";
    //         h2OfSpecification.textContent = "Specifications"
    //         h2OfSpecification.style.textAlign = "center"
    //         //    h2OfSpecification.style.fontSize = "25px"
    //         //    h2OfSpecification.style.fontWeight = "100"
    //         let divOfSpecsi = document.createElement('div');
    //         divOfSpecsi.className = 'divOfSpecs';
    //         if (specsi.data.sub_specs.hasOwnProperty('General')) {
    //             console.log(specsi.data.sub_specs['General'])
    //             let headingofSpecs = document.createElement('h1');
    //             headingofSpecs.textContent = "General"
    //             //    headingofSpecs.style.textAlign= "center"
    //             divOfSpecsi.appendChild(headingofSpecs)
    //             let divOfRow = document.createElement('div');
    //             divOfRow.className = "divOfRowing"
    //             for (let yu = 0; yu < specsi.data.sub_specs['General'].length; yu++) {
    //                 makingSpec(divOfRow, specsi.data.sub_specs['General'][yu].spec_key, specsi.data.sub_specs['General'][yu].spec_value)
    //                 divOfSpecsi.appendChild(divOfRow)
    //             }
    //         }
    //         for (let we = 0; we < allCate.length; we++) {
    //             if (allCate[we] == "General") {
    //                 continue
    //             }
    //             let headingofSpecs = document.createElement('h1');
    //             headingofSpecs.textContent = allCate[we]
    //             divOfSpecsi.appendChild(headingofSpecs)
    //             let divOfRow = document.createElement('div');
    //             divOfRow.className = "divOfRowing"
    //             for (let yu = 0; yu < specsi.data.sub_specs[allCate[we]].length; yu++) {
    //                 makingSpec(divOfRow, specsi.data.sub_specs[allCate[we]][yu].spec_key, specsi.data.sub_specs[allCate[we]][yu].spec_value)
    //                 divOfSpecsi.appendChild(divOfRow)
    //             }
    //         }

    //         function makingSpec(divOfRow, specsKey, specsValue) {
    //             let divOfSpecKeyValue = document.createElement('div');
    //             divOfSpecKeyValue.className = "divOfKeyValue";
    //             if (specsValue.length > 0) {
    //                 let divOfKey = document.createElement('div');
    //                 divOfKey.className = "divOfKey";
    //                 divOfKey.textContent = specsKey;
    //                 let divOfValue = document.createElement('div');
    //                 divOfValue.className = "divOfValueKey";
    //                 if (specsValue.length > 0) {
    //                     divOfValue.textContent = specsValue;
    //                 }
    //                 divOfSpecKeyValue.appendChild(divOfKey);
    //                 divOfSpecKeyValue.appendChild(divOfValue)
    //                 divOfRow.appendChild(divOfSpecKeyValue)
    //             }
    //         }
    //         mainBody.appendChild(h2OfSpecification)
    //         mainBody.appendChild(divOfSpecsi)
    //     }
    //         var similar
    //         try {
    //             similar = await fetch("https://price-api.datayuge.com/api/v1/compare/search?api_key=XiJ7nmLmKt5HKRMFRarBBDv9tbOe6aGz3cu&product=" + details.data.product_brand + " " + details.data.product_sub_category);
    //             if(similar.ok){
    //                 similar = await similar.json()
    //             }
    //             // console.log(details.data.product_brand + " " + details.data.product_sub_category)
    //         }
    //         catch (e) {
    //             console.log(e)
    //         }
    //         if (similar !== undefined) {
    //             console.log(similar)
    //             var similarProduct = document.createElement('div');
    //             similarProduct.className = "cont"
    //             let heading = document.createElement('div');
    //             heading.textContent = 'Similar Products';
    //             heading.className = "brandLogo"
    //             similarProduct.appendChild(heading)
    //             let divOfsimProduct = document.createElement('div');
    //             divOfsimProduct.className = "secondChild";
    //             // let productHere = document.createElement('div');
    //             // productHere.className = 'productBox';
    //             console.log(similar.data.length)
    //             let productsHere = document.createElement('div');
    //             productsHere.className = "hereProducts";
    //             // <div id="butbWala">
    //             //     <button type="button" value="B3" class="butB3"><i class="fa fa-angle-left"
    //             //             style="font-size:40px"></i></button>
    //             // </div>
    //             // let butbWala = document.createElement('div');
    //             // butbWala.id = 'butbWala';
    //             // let buttonB = document.createElement('button');
    //             // buttonB.className = 'butB'
    //             // buttonB.value = 'B';
    //             // buttonB.type = 'button';
    //             // buttonB.innerHTML = '<i class="fa fa-angle-left"></i>'

    //             // butbWala.appendChild(buttonB)
    //             // divOfsimProduct.appendChild(butbWala)
    //             for (let i = 0; i < similar.data.length; i++) {
    //                 let pb = document.createElement('div')
    //                 pb.className = "productBox"
    //                 console.log(similar.data[i].product_image)
    //                 let productBox = document.createElement('a');
    //                 productBox.className = "imageBox";
    //                 productBox.setAttribute('href', '/compare/' + similar.data[i].product_id)
    //                 let imageContainer = document.createElement('div');
    //                 imageContainer.className = "imageCont";
    //                 let img = document.createElement('img');
    //                 img.setAttribute('src', similar.data[i].product_image);

    //                 imageContainer.appendChild(img)
    //                 let price = document.createElement('h3');
    //                 price.className = "h4Kafont"
    //                 price.innerHTML = "From &#x20B9;" + similar.data[i].product_lowest_price;
    //                 let name = document.createElement('h4');
    //                 name.textContent = similar.data[i].product_title;
    //                 productBox.appendChild(imageContainer)
    //                 productBox.appendChild(price)
    //                 productBox.appendChild(name)
    //                 pb.appendChild(productBox)
    //                 productsHere.appendChild(pb)
    //             }
    //             // let butaWala = document.createElement('div');
    //             // butaWala.id = 'butaWala';
    //             // let buttonA = document.createElement('button');
    //             // buttonA.className = 'butA'
    //             // buttonA.value = 'A';
    //             // buttonA.type = 'button';
    //             // buttonA.innerHTML = '<i class="fa fa-angle-right"></i>'
    //             // butaWala.appendChild(buttonA)
    //             divOfsimProduct.appendChild(productsHere)
    //             // divOfsimProduct.appendChild(butaWala)

    //             similarProduct.appendChild(divOfsimProduct)
    //             mainBody.appendChild(similarProduct)

    //             $("button").click(function () {
    //                 // if statement here
    //                 var cj = this.value;
    //                 console.log(cj)
    //                 var a = cj.includes("A")
    //                 console.log(a)
    //                 if (a == true) {
    //                     var b = cj.replace("A", "");
    //                     console.log(b)
    //                     // $(`.middle_div${b}`).scrollLeft(1000);
    //                     document.getElementById(`butbWala`).style.display = "flex";
    //                     $(`.butB`).css({
    //                         "display": "block"
    //                     })
    //                     var a1 = document.querySelector(`.productsHere`);
    //                     console.log("scrolling left positive")
    //                     var u1 = a1.scrollWidth;
    //                     var t1 = a1.clientWidth;
    //                     var t2 = a1.scrollLeft;
    //                     console.log(u1, t1, t2)
    //                     a1.scrollLeft += t1;
    //                     var t3 = t1 + t2;
    //                     if (t3 >= u1 - t1) {
    //                         document.getElementById(`butaWala`).style.display = "none";
    //                         $(`.butA`).css({
    //                             "display": "none"
    //                         });
    //                     }
    //                 } else {
    //                     var b = cj.replace("B", "")
    //                     console.log(b)
    //                     // $(`.middle_div${b}`).scrollLeft(-10000);
    //                     var a2 = document.querySelector(`.productsHere`);
    //                     var t1 = a2.clientWidth;
    //                     a2.scrollLeft -= t1;
    //                     console.log("scrolling left negative")
    //                     var tb2 = a2.scrollLeft;
    //                     if (tb2 <= t1) {
    //                         document.getElementById(`butbWala`).style.display = "none";
    //                         $(`.butB`).css({
    //                             "display": "none"
    //                         });
    //                     }
    //                     document.getElementById(`butaWala`).style.display = "flex";
    //                     $(`.butA`).css({
    //                         "display": "block"
    //                     });
    //                 }
    //             });

    //         } else {
    //             console.log('baghar')
    //         }


    //     })();

    </script>
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2> 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="http://www.piricescompare.in"> PricesCompare.in</a>
            </div>
        </footer>
    </div>
    </div>
</body>
<script src="/javascripts/cst.js"></script>
<script src="/javascripts/a.js"></script>

</html>