<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Privacy Policy Of Website">

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto"/ rel="stylesheet"> -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/pr.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.js"></script> -->
    <title>Contact Us - PricesCompare.in</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" /> -->

</head>

<body>
    <div id="bd">
    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </header>
    </div>
    <div id="db"></div>
    <div id="mainBody">
        <div id="content">
            <h1 class="text-center">PricesCompare.in</h1>
            <h2 class="text-center">
                Email Us:
            </h2>
            <a href="mailto:admin@pricescompare.in">admin@pricescompare.in</a>
            <h2 class="text-center">
                Address:
            </h2>
            <address>
                H1-28,Jahangir Puri<br>
                Behind Kushal Cinema
                Delhi-33
            </address>


        </div>

</div>
<div id="footKaBaap">
    <footer id="footer">
        <div id="upFoot">
            <div class="divs1 dob">
                <!-- <div id="mySpan"></div>  -->
                <div class="footInfo">
                    <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                    <a href="/"><img class="logo" src="/images/logo.png"></a>
                </div>
            </div>
            <div class="divs2 dob">
                <!-- <div id="mySpan"></div> -->
                <div class="footInfo">
                    <h2>Contact Us</h2>
                    <a target="_blank" href="/advertise-with-us">
                        <p>Advertise with us</p>
                    </a>
                    <a target="_blank" href="/privacy">
                        <p>Privacy</p>
                    </a>
                    <a target="_blank" href="/contact-us">
                        <p>Contact Us</p>
                    </a>
                    <a target="_blank" href="/credits">
                        <p>Credits</p>
                    </a>


                </div>

            </div>

            <div class="divs3 dob">
                <!-- <div id="mySpan"></div> -->
                <div class="footInfo">
                    <h2>Follow Us On</h2>
                    <a target="_blank">
                        <p>Facebook</p>
                    </a>
                    <!-- <a target="_blank"><p>Twitter</p></a> -->
                    <a target="_blank">
                        <p>Instagram</p>
                    </a>

                </div>
            </div>

            <div class="divs4 dob">
                <!-- <div id="mySpan"></div> -->

                <div class="footInfo">
                    <h2>Get To Know Us</h2>
                    <a target="_blank" href="/about-us">
                        <p>About Us</p>
                    </a>
                    <a target="_blank" href="/terms-of-use">
                        <p>Terms of use</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="downFoot">
            <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
        </div>
    </footer>
</div>
</div>


</body>
<script src="/javascripts/a.js"></script>

</html>
