<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta rel="description" content="Welcome to the World Of Comparison. Here, we Provide 100% accurate prices of Millions of products from different stores like Flipkart,Amazon etc. So go on and explore this website to make your shopping style  easier and Convenient.">
    <title>Prices Compare</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.google.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <!-- <link rel="icon" href="/public/favicon.ico"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/stylesheets/a.css"> -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/ad.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/am.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/at.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="/javascripts/a.js"></script> -->
</head>

<body>
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <!-- <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div> -->
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </header>
    </div>

    <div id="ca">
        <div class="tyu">
            <div class="der">
                <a href="/mobile">Mobiles</a>
                <a href="/laptops">Laptops</a>
                <a href="/desktop">Desktops</a>
                <a href="/appliances">Appliances</a>
                <a href="/headphones">Headphones</a>
                <a href="/led-tv">LED</a>
                <a href="/kitchen-appliances">Kitchen Appliances</a>
            </div>
        </div>
    </div>

    <!-- <div id="f"> -->
    <!-- <div id="t">
            <div class="se">
                <div id="ye">

                </div>

            </div>
        </div> -->
    <!-- </div> -->
    <div id="sbseSupaMain">

        <div id="supaSupaMain">
            <!-- <div id="supermain"> -->
            <div class="fullProducts">
                <div class="firstChild">
                    <h2 class="h2Kafont">Best Prices On Smartphones</h2>
                </div>
                <div class="secondChild">

                    <div id="butbWala0">
                        <button type="button" value="B0" class="butB0"><i class="fa fa-angle-left"
                                style="font-size:40px"></i></button>
                    </div>
                    <div class="hereProducts0">
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNTk3Ng">
                                <div class="imageContainer">
                                    <img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk3Ni0yNTgtMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;58000</h3>
                                <h4>Apple iPhone 11 Pro</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjIzOQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTYwNDgtNjYtMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;12999</h3>
                                <h4>Xiaomi Redmi Note 9</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjg4MA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg4MC0yMC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;16499</h3>
                                <h4>Samsung Galaxy M31 Prime</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjQxOA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTY0MTgtNDktMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;13990</h3>
                                <h4>Vivo Y30 4GB|64GB</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjc2Nw">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc2Ny03My0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;11999</h3>
                                <h4>Realme 7i 4GB|64GB</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjY3NQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY3NS02MC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;16990</h3>
                                <h4>Oppo F17 6GB|128GB</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjc5MA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc5MC02Ni0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;9405</h3>
                                <h4>Realme Narzo 20A 3GB</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjA0OA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA0OC02Ni0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;11999</h3>
                                <h4>Xiaomi Redmi Note 9 </h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjI1Ng">
                                <div class="imageContainer"><img src=" https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjI1Ni0zOC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;49999</h3>
                                <h4>Samsung Galaxy S20+</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjg5Nw">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg5Ny0xMzctMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;16499</h3>
                                <h4>Samsung Galaxy F41</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjg1MQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg1MS0xOTgtMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;66900</h3>
                                <h4>Apple iPhone 12 Mini</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNTc5NA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTc5NC0zOS0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;23950</h3>
                                <h4>Xiaomi Redmi K20 128GB</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNTg5Nw">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTU4OTctMjItMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;36990</h3>
                                <h4>OnePlus 7T 8GB|128GB</h4>
                            </a>
                        </div>
                    </div>

                    <div id="butaWala0">
                        <button type="button" value="A0" class="butA0"><i class="fa fa-angle-right"
                                style="font-size:40px; "></i></button>
                    </div>
                </div>
            </div>

            <div class="appliances">
                <div class="productAppliance">
                    <div class="firstChild">
                        <h2 class="h2Kafont">Appliances</h2>
                    </div>
                    <div class="secondChild2">
                        <a class="box" href="/microwave-oven/microwave-oven-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2NzEtNTEtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Microwave Oven</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;3890</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <!-- <a class="box">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MjcxMTgtMjUtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Vaccum Cleaner</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;5290</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a> -->
                        <a class="box">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTkzNDctNzYtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Refridgerator</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;11290</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <a class="box">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY0MTY0LTg4LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Air Conditioner</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;41982</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <!-- <a class="box">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc5OTM5LTc2LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Water Purifier</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;8249</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a> -->
                        <a class="box" href="/kitchen-appliances/mixer-juicer-grinder-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxMDgtNzMtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Juicer Mixer Grinder</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;1499</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="productAppliance"></div> -->
                <div class="productAppliance">
                    <div class="firstChild">
                        <h2 class="h2Kafont">Best Smartphone Brands</h2>
                    </div>
                    <div class="secondChild2">
                        <!-- <a class="box" href="">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTIxNzUtNDAtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Electric Kettle</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;849</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a> -->
                        <a class="box" href="/mobile/xiaomi-mobile-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA2MC0xNDItMQ.jpg" alt="Redmi mobiles"></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Xiaomi Redmi Mobiles</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;6999</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                      
                        <!-- <a class="box">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgwNTUzLTYxLTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Induction Cooktop</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;1620</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a> -->
                        <a class="box" href="/mobile/vivo-mobile-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjI5Mi0yMjItMQ.jpg" alt="Vivo Smartphones"></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Vivo Smartphones</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;7737</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <a class="box" href="/mobile/oppo-mobile-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTQyNy05OS0x.jpg" alt="Oppo Mobiles"></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Oppo Mobiles</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;7390</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <a class="box" href="/mobile/samsung-mobile-price-list">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTQyNi0yODEtMQ.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Samsung Smartphones</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;11490</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="productAppliance"></div> -->
            </div>
            <div class="fullProducts">
                <div class="firstChild">
                    <h2 class="h2Kafont">Best Prices On Headphones & Earphones</h2>
                </div>
                <div class="secondChild">
                    <div id="butbWala1">
                        <button type="button" value="B1" class="butB1"><i class="fa fa-angle-left"
                                style="font-size:40px"></i></button>
                    </div>

                    <div class="hereProducts1">
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njk0NDY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5NDQ2LTMzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9; 549</h3>
                                <h4>Boat BassHeads 225 Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njk3OTY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5Nzk2LTkzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;16985</h3>
                                <h4>Sony MDR-XD150 Headphone</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjkzNjc">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MzY3LTgyLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1799</h3>
                                <h4>Boat Rockerz 510 Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njg3MTA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4NzEwLTc5LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1399</h3>
                                <h4>Boat Rockerz 450 Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjkwNDU">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MDQ1LTkwLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1990</h3>
                                <h4>Boat Rockerz 275 Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjkxOTQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MTk0LTItMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;799</h3>
                                <h4>Boat BassHeads 900 Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njg2MDY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4NjA2LTYzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1999</h3>
                                <h4>Boat Airdopes 311 Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1ODI0MDI">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyNDAyLTIxNy0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1499</h3>
                                <h4>Boult Audio Probass Curve Pro Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njk4NTA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5ODUwLTgzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1685</h3>
                                <h4>Sony MDR-XB450AP Headphone</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1ODIzNjI">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyMzYyLTExLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1999</h3>
                                <h4>Boult Audio AirBass Livebuds Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1ODI5MjQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyOTI0LTc3LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;2799</h3>
                                <h4>Boult Audio AirBass PowerBuds Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1ODI5MjY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyOTI2LTE2Ni0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1299</h3>
                                <h4>Boat Airdopes 121</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjkwMTM">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MDEzLTg1LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;887</h3>
                                <h4>JBL T205BT Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njg3OTU">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4Nzk1LTU2LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;479</h3>
                                <h4>JBL C50HI Headset </h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjgzNjM">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzYzLTM3LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;25900</h3>
                                <h4>Beats Solo Pro Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njg4NjQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4ODY0LTc5LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;490</h3>
                                <h4>iBall SoundMate E9 Headphone</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NTYxMzA">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MTMwLTcxLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;359</h3>
                                <h4>Ant Audio Pulse 410 In The Ear Wired Headset With Mic </h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjgzNTQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzU0LTctMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;629</h3>
                                <h4>Zebronics Zeb-Storm Headphone</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NTYwNjc">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MDY3LTg1LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1139</h3>
                                <h4>Ant Audio Wave Sports 550 In The Ear Neckand Bluetooth Headset</h4>
                            </a>
                        </div>
                    </div>

                    <div id="butaWala1">
                        <button type="button" value="A1" class="butA1"><i class="fa fa-angle-right"
                                style="font-size:40px; "></i></button>
                    </div>

                </div>
            </div>
            <div class="fullProducts">
                <div class="firstChild">
                    <h2 class="h2Kafont">Best Prices On LEDs</h2>
                </div>
                <div class="secondChild">
                    <div id="butbWala2">
                        <button type="button" value="B2" class="butB2"><i class="fa fa-angle-left"
                                style="font-size:40px"></i></button>
                    </div>

                    <div class="hereProducts2">
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjA2NjY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwNjY2LTUzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9; 17990</h3>
                                <h4>Samsung UA32N4310AR 32 inch HD ready LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjA1OTI">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwNTkyLTczLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;22499</h3>
                                <h4> Xiaomi Mi TV 4A Pro 43 inch Full HD Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjAzMzE">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwMzMxLTg2LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;41270</h3>
                                <h4>LG 43UM7780PTA 43 inch UHD Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjEyMTQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYxMjE0LTY3LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;21999</h3>
                                <h4>LG 32LJ573D 32 inch HD ready Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjAyOTQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwMjk0LTE3NC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;17999</h3>
                                <h4>Xiaomi Mi TV 4A 40 inch Full HD Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjEwMDE">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYxMDAxLTY5LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;39999</h3>
                                <h4>Xiaomi Mi TV 4 55 inch UHD Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjE5OTI">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYxOTkyLTE0NC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;12900</h3>
                                <h4>Samsung UA24H4003AR 24 inch HD ready LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjE2MjM">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYxNjIzLTE5MS0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;28999</h3>
                                <h4>
                                    Sony BRAVIA KLV-32W512D 32 inch HD ready Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjA0MjU">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwNDI1LTYzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;17999</h3>
                                <h4>Sony BRAVIA KLV-32R202G 32 inch Full HD LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjAwMjg">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYwMDI4LTY1LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;29990</h3>
                                <h4>Micromax 40 CANVAS 40 inch Full HD Smart LED TV</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjIwMjQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTYyMDI0LTk0LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;22490</h3>
                                <h4> Vu LED40D6575 40 inch Full HD LED TV</h4>
                            </a>
                        </div>
                        <!-- <div class="productBox"><a class="imageBox" href="/compare/ZTo1ODI5MjY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyOTI2LTE2Ni0x.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1299</h3>
                            <h4>Boat Airdopes 121</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjkwMTM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MDEzLTg1LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;887</h3>
                            <h4>JBL T205BT Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1Njg3OTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4Nzk1LTU2LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;479</h3>
                            <h4>JBL C50HI Headset </h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjgzNjM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzYzLTM3LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;25900</h3>
                            <h4>Beats Solo Pro Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1Njg4NjQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4ODY0LTc5LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;490</h3>
                            <h4>iBall SoundMate E9 Headphone</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NTYxMzA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MTMwLTcxLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;359</h3>
                            <h4>Ant Audio Pulse 410 In The Ear Wired Headset With Mic </h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjgzNTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzU0LTctMQ.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;629</h3>
                            <h4>Zebronics Zeb-Storm Headphone</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NTYwNjc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MDY3LTg1LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1139</h3>
                            <h4>Ant Audio Wave Sports 550 In The Ear Neckand Bluetooth Headset</h4>
                        </a></div>
                </div> -->

                        

                    </div>
                    <div id="butaWala2">
                        <button type="button" value="A2" class="butA2"><i class="fa fa-angle-right"
                                style="font-size:40px; "></i></button>
                    </div>
                </div>



            </div>
            <div class="appliances">
                <div class="productAppliance">
                    <div class="firstChild">
                        <h2 class="h2Kafont">Laptops</h2>
                    </div>
                    <div class="secondChild2">
                        <a class="box" href="/compare/ZTo1NzU5MDY" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc1OTA2LTE2LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Acer Predator Helios 300 PH315-52</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;99990</h4>
                                <h5 class="styleFont visibling" style="color:#262626">15.6 Inch | Core i5 9th Gen | 16 GB | Windows 10 | 1 TB HDD 256 GB SSD</h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1NzYwNjU" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc2MDY1LTI4LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">ASUS Asus VivoBook S14 S430FA-EB006T Ultrabook
                            </h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;53990</h4>
                                <h5 class="styleFont visibling" style="color:#262626">14 Inch | Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD</h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1ODA0NTQ" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgwNDU0LTYxLTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">HP Pavilion Gaming 15-dk0269TX</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;72999</h4>
                                <h5 class="styleFont visibling" style="color:#262626">15.6 Inch | Core i5 9th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD</h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1ODAxODQ">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxODQtMjQ5LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Lenovo Ideapad Gaming 3i 15IMH05</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;82990</h4>
                                <h5 class="styleFont visibling" style="color:#262626">15.6 Inch | Core i7 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="productAppliance"></div> -->
                <div class="productAppliance">
                    <div class="firstChild">
                        <h2 class="h2Kafont">Cameras</h2>
                    </div>
                    <div class="secondChild2">
                        <a class="box" href=" /compare/ZTo1NzkyNzE" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc5MjcxLTMxLTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Canon PowerShot SX430 IS Digital Camera</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;16105</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1NzkzNTQ" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc5MzU0LTY5LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Canon EOS 1300D DSLR Camera</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;34644</h4>
                                <h5 class="styleFont visibling" style="color:#262626">EF-S 18-55mm f/3.5-f/5.6 IS II Kit Lens
                                </h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1NzkzNjQ" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc5MzY0LTg0LTE.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Nikon Coolpix B500 Digital Camera</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;17850</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                        <a class="box" href="/compare/ZTo1Nzk1ODc" target="_blank">
                            <div class="contianer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTc5NTg3LTI0Mi0x.jpg" alt=""></div>
                            <h4 class="styleFont" style="margin-top:8px; ">Nikon Coolpix P900 Digital Camera</h4>
                            <div class="visibling">
                                <h4 class="styleFont" style="color:#0000ee;">From &#x20b9;39900</h4>
                                <h5 class="styleFont visibling" style="color:#262626">Compare To Get Best Deal!</h5>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- <div class="productAppliance"></div> -->
            </div>

            <div class="fullProducts">
                <div class="firstChild">
                    <h2 class="h2Kafont">Best Prices On Mobile Accessories</h2>
                </div>
                <div class="secondChild">
                    <div id="butbWala3">
                        <button type="button" value="B3" class="butB3"><i class="fa fa-angle-left"
                                style="font-size:40px"></i></button>
                    </div>

                    <div class="hereProducts3">
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo3MzQ0">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNzM0NC05OC0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9; 3999</h3>
                                <h4>Fitbit Charge HR Fitness Band</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo2MzIw">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNjMyMC0xNy0x.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;3999</h3>
                                <h4>Fitbit Flex Activity & Sleep Wristband</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjgwMTY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MDE2LTE4LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;450</h3>
                                <h4>Zebronics ZEB-PG4000L1 4000mAh Power Bank</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZToxNjY0NQ">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTY2NDUtMTAwLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;19990</h3>
                                <h4>OPPO Watch 46mm</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NjkwNDU">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTY1MjgtNDMtMQ.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;2499</h3>
                                <h4> Gionee GSW5</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njc2NzU">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3Njc1LTIzLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;899</h3>
                                <h4>Zebronics ZEB-MC10000LD 10000mAh Power Bank</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1NTU3OTI">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU1NzkyLTk3LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;899</h3>
                                <h4>Ant Audio Wave Sports 540 In the Ear Bluetooth Headset</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njc4NjM">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3ODYzLTY3LTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;749</h3>
                                <h4>Syska Power Slice 100 10000mAh Power Bank</h4>
                            </a>
                        </div>
                        <div class="productBox">
                            <a class="imageBox" href="/compare/ZTo1Njc4NzY">
                                <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3ODc2LTMwLTE.jpg">
                                </div>
                                <h3 class="h4Kafont">From &#x20b9;1099</h3>
                                <h4>Syska Power Pro 200 20000mAh Power Bank</h4>
                            </a>
                        </div>
                        <!-- <div class="productBox"><a class="imageBox" href="/compare/ZTo1ODIzNjI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyMzYyLTExLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1999</h3>
                            <h4>Boult Audio AirBass Livebuds Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1ODI5MjQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyOTI0LTc3LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;2799</h3>
                            <h4>Boult Audio AirBass PowerBuds Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1ODI5MjY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTgyOTI2LTE2Ni0x.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1299</h3>
                            <h4>Boat Airdopes 121</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjkwMTM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5MDEzLTg1LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;887</h3>
                            <h4>JBL T205BT Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1Njg3OTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4Nzk1LTU2LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;479</h3>
                            <h4>JBL C50HI Headset </h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjgzNjM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzYzLTM3LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;25900</h3>
                            <h4>Beats Solo Pro Bluetooth Headset</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1Njg4NjQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4ODY0LTc5LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;490</h3>
                            <h4>iBall SoundMate E9 Headphone</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NTYxMzA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MTMwLTcxLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;359</h3>
                            <h4>Ant Audio Pulse 410 In The Ear Wired Headset With Mic </h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NjgzNTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MzU0LTctMQ.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;629</h3>
                            <h4>Zebronics Zeb-Storm Headphone</h4>
                        </a></div>
                    <div class="productBox"><a class="imageBox" href="/compare/ZTo1NTYwNjc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU2MDY3LTg1LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1139</h3>
                            <h4>Ant Audio Wave Sports 550 In The Ear Neckand Bluetooth Headset</h4>
                        </a></div> -->
                    </div>

                    <div id="butaWala3">
                        <button type="button" value="A3" class="butA3"><i class="fa fa-angle-right"
                                style="font-size:40px; "></i></button>
                    </div>

                </div>
            </div>




        </div>
    </div>
    <!-- </div> -->
    <!-- </div> -->
    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div class="blockElement"></div>
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2> 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="http://www.piricescompare.in"> PricesCompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>

<script>
    //    if(addEventListener){
    //        document.getElementsByClassName("butA")[0].addEventListener('click',scrollingHere,false);
    //    }else{
    //        document.getElementsByClassName("butB")e njbhbhnjnjhnhjuj[0].attachEvent('onClick',scrollingHere);
    //    }
    //    function scrollingHere(e){
    //        e.preventDefault();
    //        var er = document.getElementsByClassName("hereProducts")[0]
    //        var re = er.scrollLeft;
    //        console.log(re , er.offsetWidth);
    //    }

    $(document).ready(() => {
        if (window.innerWidth <= 1024 && window.innerWidth > 550) { // only for Tablets
            $('[class^="hereProducts"]').scroll((e) => { // when we scrolling manually using thumb
                var currentClass = e.currentTarget.className;
                var scrollLeft = $(`.${currentClass}`).scrollLeft();
                var scrollWidth = document.querySelector(`.${currentClass}`).scrollWidth;
                var clientWidth = document.querySelector(`.${currentClass}`).clientWidth;
                console.log(scrollWidth)

                console.log(currentClass, scrollLeft, scrollWidth, clientWidth)
                var b = currentClass.charAt(currentClass.length - 1)
                console.log(b)
                if (scrollLeft > 0) { //for b div
                    document.getElementById(`butbWala${b}`).style.display = "flex";
                    $(`.butB${b}`).css({
                        "display": "block"
                    });
                } else {
                    document.getElementById(`butbWala${b}`).style.display = "none";
                    $(`.butB${b}`).css({
                        "display": "none"
                    });
                }


                if (scrollWidth == scrollLeft + clientWidth) { //for a div
                    document.getElementById(`butaWala${b}`).style.display = "none";
                    $(`.butA${b}`).css({
                        "display": "none"
                    });
                } else {

                    document.getElementById(`butaWala${b}`).style.display = "flex";
                    $(`.butA${b}`).css({
                        "display": "block"
                    });
                }
            })
        }
    })

    $("button").click(function() {
        // if statement here
        var cj = this.value;
        console.log(cj)
        var a = cj.includes("A")
        console.log(a)
        if (a == true) {
            var b = cj.replace("A", "");
            // console.log(b)
            // $(`.middle_div${b}`).scrollLeft(1000);
            document.getElementById(`butbWala${b}`).style.display = "flex";
            $(`.butB${b}`).css({
                "display": "block"
            })
            var a1 = document.querySelector(`.hereProducts${b}`);
            console.log("scrolling left positive")
            var u1 = a1.scrollWidth;
            var t1 = a1.clientWidth;
            var t2 = a1.scrollLeft;
            console.log(u1, t1, t2)
            a1.scrollLeft += t1 / 1.3;
            var t3 = t1 + t2;
            if (t3 >= u1 - t1 / 1.3) {
                document.getElementById(`butaWala${b}`).style.display = "none";
                $(`.butA${b}`).css({
                    "display": "none"
                });
            }
        } else {
            var b = cj.replace("B", "")
                // console.log(b)
                // $(`.middle_div${b}`).scrollLeft(-10000);
            var a2 = document.querySelector(`.hereProducts${b}`);
            var t1 = a2.clientWidth;
            a2.scrollLeft -= t1 / 1.1;
            //console.log("scrolling left negative")
            var tb2 = a2.scrollLeft;
            if (tb2 <= t1 / 1.1) {
                document.getElementById(`butbWala${b}`).style.display = "none";
                $(`.butB${b}`).css({
                    "display": "none"
                });
            }
            document.getElementById(`butaWala${b}`).style.display = "flex";
            $(`.butA${b}`).css({
                "display": "block"
            });
        }
    });
    // $('.productBox:hover')



    // var oldVal = "";
    // function checkIt(e) {
    //     e = e.replace(/[^a-z0-9]/ig, "") // values must not contain any special character
    //     console.log(e)
    //     if (oldVal != e) { //value must be changed
    //         if (e.length == 0) { // after filtering value, length must be greater than 0
    //             document.getElementById("suggestWhole").style.display = 'none';
    //         } else {
    //             /**/ var url1 = `https://price-api.datayuge.com/api/v1/compare/search/suggest?api_key=g2fqZExRCWJTtoRV7EnGnUlU8ES4M26JYi0&product=${e}`
    //             fetch(url1).then(async (res) => {
    //                 var d1 = await res.json()
    //                 fillIt(d1)
    //             }).catch((err) => {
    //                 console.log(err)
    //             })
    //         }
    //         oldVal = e
    //     }
    // }
</script>
<script src="/javascripts/a.js"></script>

</html>