<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Document</title>
      <!-- added icons and jquery scripts -->
 
    <script>
        $(document).ready(function () {
            var $elem2 = $('#slide_button');
            console.log($elem2)
            $elem2.click(function (e) {
                e.preventDefault();
                var $elem = $elem2.data('now')
                console.log($elem)
                if ($elem == "open") {
                    console.log('here')
                    $("#slide_menu").hide("fast")
                    $(".cont1").animate({
                        width: "98%"
                    })
                    $elem2.data('now', "close")
                    console.log($elem2)
                } else if ($elem == "close") {
                    $("#slide_menu").show("fast")
                    $(".cont1").animate({
                        width: "100%"
                    })
                    if ($(window).width() >= 500) {
                        $(".cont1").animate({
                            width: "76%"
                        })
                    }

                    //----------------
                    $elem2.data('now', "open")
                }
                console.log('end')
            })
        })
        function func() {
            location.href = "http://www.pricescompare.in"
        }
        $("#search_icon").click(function () {

        })
    </script>

</head>

<body>
    <!-- adding search bar with icon -->
    
        <div id="div1"><!--Header div -->
            <button style="height: 28px;  box-sizing: border-box;" type="button" id="slide_button" data-now="open"><i
                    class="fa fa-bars"></i></button>
            <form id="form"><!--This is query form -->
                <input type="text" placeholder="Search Here" id="search">
                <button id="search_icon"><i class="fa fa-search"></i></button>
                
            </form>

        </div>
    
    <!-- added -->
    <!-- adding slide menu -->
    <div id="slide_menu">
        <h2> Search Filters </h2>
        <!-- slider hai -->
        <div class="lic1">
            <h3>price</h3>
            <input type="range" min="" max="" class="slider">

        </div>
        <div class="lic1">
            <!-- offers wala hai -->
            <h3>Offers</h3>
            <input type="radio" name="Offers"><br>
            <input type="radio" name="Offers"><br>
            <input type="radio" name="Offers"><br>
            <input type="radio" name="Offers"><br>
        </div>
        <div class="lic1">
            <!-- brands wala hai -->
            <h3>Brands</h3>
            <input type="search" style="width: 80%; margin-bottom: 7px;"><br>
            <input type="checkbox" style="border:2px dotted #00f;display:block;background: white;"><br>
            <input type="checkbox" style="border:2px dotted #00f;display:block;background: white;"><br>
            <input type="checkbox" style="border:2px dotted #00f;display:block;background: white;"><br>
            <input type="checkbox" style="border:2px dotted #00f;display:block;background: white;"><br>
        </div>
    </div>
    <div class="slide_menu">
        <div id=""
    </div>
    <!-- added -->
    <div class="cont1">
        <h1>this is aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaacont1</h1>
    </div>
    <div class="cont1">
        <h1>this is cont2</h1> <i class="material-icons">refresh</i>
    </div>
    <div class="cont1">
        <h1>this is cont3</h1>
    </div>
    <div class="cont1">
        <h1>this is cont4</h1>
        
    </div>
</body>

</html>
<!-- <script>
    var ourResponse = new XMLHttpRequest();
    var naming = '<%= que.name %>';
    var newData= null;
    ourResponse.open('GET',`https://price-api.datayuge.com/api/v1/compare/search?api_key=fKKrkmmV6q1Q2mWARftu9cXhPqqfJ3b7Xqd&product=`+naming)
    ourResponse.onload = function(){
        newData = JSON.parse(ourResponse.responseText);
        console.log(newData)
        var results = document.createElement('div');
        results.className = 'results';
        for(let a=0; a<newData.data.length -40; a++){
                let resultsContainer = document.createElement('div');
                resultsContainer.className = 'resultsCont';
                let images = document.createElement('img');
                images.className ='imageClass';
                images.setAttribute('src',newData.data[a].product_image)
                let titleDiv = document.createElement('div');
                titleDiv.className = 'prodName';
                let title = document.createElement('h4');
                title.className = 'heading';
                titleDiv.innerHTML = newData.data[a].product_title;
                titleDiv.appendChild(title);
                var gettingPrice = new XMLHttpRequest();
                console.log(newData.data[a].product_id);
                async function newing(newData){
                    console.log(newData.data[0].product_id+"nnnnnnn")
                    gettingPrice.open('GET',`https://price-api.datayuge.com/api/v1/compare/detail?api_key=fKKrkmmV6q1Q2mWARftu9cXhPqqfJ3b7Xqd&id=`+newData.data[a].product_id);
                    var keys= [];
                    var newData;
                    var gettingPrices = {};
                    gettingPrice.onload= await function(){
                        console.log(newData.data[a].product_id+ "                    " + gettingPrices.responseText)
                        gettingPrices =  JSON.parse(gettingPrice.responseText);
                        console.log(gettingPrice)
                        // console.log(gettingPrices)
                        // for(let k=0; k<gettingPrices.data.stores.length; k++){
                        //     for(let g in k){
                        //         keys.push(g);
                        //         console.log(keys)
                                
                        //     }
                        // }
                        // console.log(keys);
                        // let pricesDiv = document.createElement('div');
                        // pricesDiv.className = 'prices';
                        // for(let h=0; h<keys.length; h++){
                        //     let priceEcom = document.createElement('h2');
                        //     priceEcom.className = 'pricesEcom';
                        //     priceEcom.innerHTML = gettingPrices.data.stores[h].product_price;
                        //     pricesDiv.appendChild(priceEcom);
                        //     resultsContainer.appendChild(images)
                        //     resultsContainer.appendChild(titleDiv);
                        //     resultsEcom.appendChild(pricesEcom);
                        //     results.appendChild(resultsContainer);
                        // }
                        
                        
                }

                await gettingPrice.send()
            };
            newing(newData)
        
                
    }
    const sortingBar = document.getElementsByClassName('sortingBar')[0];
    sortingBar.after(results)
    };
    ourResponse.send()
    
</script> -->