<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Apple iPhone Mobile Phones Prices in India , Compare Prices of Apple iPhone Phones in India 
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Apple iPhone By Prices. Apple mobiles include iPhone 12 , iPhone 12 Pro , iPhone 11 and others. Compare Best Deal On Apple iPhones Across all e-Stores">
    <meta name="og_title" property="og:title" content="Apple iPhone Mobile Phones Prices in India , Compare Prices of Apple iPhone Phones in India ">   
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/mobile/apple-mobile-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Apple Mobile Across All e-Stores By Prices, COD, EMI etc. Apple Mobiles include iPhone 12 Pro,iPhone 11 and others">
    <!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> -->
   
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>
    
    
    <script type="application/ld+json">{
        "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/mobile\/","name":"Mobile"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
        
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>
    
    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">
    
                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>
    
                        </div>
                        <div class="inputTake">
    
                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">
    
                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/mobile/">Mobile</a>><a href="">
                    Apple iPhones
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="iPhone prices in India" >
                    Apple iPhones Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results"><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-11-128gb/ZToxNTk3Ng">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk3Ni0yNTgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 11 128GB</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹56999</span><span>₹59497</span><span>4% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.1 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">iOS 13 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDhCSjlWQy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹56999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTExLXdoaXRlLTEyOC1nYi9wL2l0bWUzMmRmNDdlYTY3NDI_cGlkPU1PQkZXUTZCN0tLUlhERFMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹56999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-11-128gb---black/p-mp000000008075545">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹58677</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-11-128-gb-black-CMPLXMOBAPPLE-IPHONEDUMM2025690E6D210-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹59497</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTk3Ng"><input
                                    onclick="comp(this)" id="ZToxNTk3Ng" type="checkbox" name="mobile"
                                    value="ZToxNTk3Ng"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-11-pro-max/ZToxNTkyNQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTkyNS04Ny0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 11 Pro Max</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹92900</span><span>₹117100</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.5 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 13 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WFZMNEwzWC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹92900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-11-pro-max-64-gb-space-grey/p-mp000000005562046">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹99100</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTExLXByby1tYXgtc2lsdmVyLTY0LWdiL3AvaXRtOWNkNTQyMTBhODA0Nz9waWQ9TU9CRktDVFNURVRHWUZLWiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹117100</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTkyNQ"><input
                                    onclick="comp(this)" id="ZToxNTkyNQ" type="checkbox" name="mobile"
                                    value="ZToxNTkyNQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-11-pro/ZToxNTY4OQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY4OS0xMDEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 11 Pro</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹79899</span><span>₹106600</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.8 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 13 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WExTNTIyUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹79899</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTExLXByby1zcGFjZS1ncmV5LTY0LWdiL3AvaXRtN2UyNGMxYzU2MDIwOD9waWQ9TU9CRktDVFNBWVdVVzhIUCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹84900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-11-pro-64-gb-space-grey/p-mp000000005560968">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹89199</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTY4OQ"><input
                                    onclick="comp(this)" id="ZToxNTY4OQ" type="checkbox" name="mobile"
                                    value="ZToxNTY4OQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-128gb/ZToxNjkxNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxNC0xMzQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 128GB</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹82899</span><span>₹84900</span><span>2% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.1 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">Other OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a href="https://www.tatacliq.com/apple-iphone-12-128gb---red/p-mp000000007965582">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹82899</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-12-128-gb-red-CMPLXMOBAPPLE-IPHONEDUMM20256E8559C5E-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹83990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVXSkQxQy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹84900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLXJlZC0xMjgtZ2IvcC9pdG1hN2JkODY4ODVlZDk4P3BpZD1NT0JGV0JZWlVIUEZXUVJEJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹84900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkxNA"><input
                                    onclick="comp(this)" id="ZToxNjkxNA" type="checkbox" name="mobile"
                                    value="ZToxNjkxNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-256gb/ZToxNjkxMw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxMy00Mi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 256GB</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹94900</span><span>₹94900</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVWWEoyVi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹94900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLWJsYWNrLTI1Ni1nYi9wL2l0bTY4NDIxZmExYzExMjE_cGlkPU1PQkZXQllaN0NSOUZSSFomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹94900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkxMw"><input
                                    onclick="comp(this)" id="ZToxNjkxMw" type="checkbox" name="mobile"
                                    value="ZToxNjkxMw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-mini-128gb/ZToxNjkxMg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxMi04NC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Mini 128GB</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹72399</span><span>₹74900</span><span>3% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.4 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">Other OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-12-mini-128gb---white/p-mp000000007965594">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹72399</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-12-mini-128-gb-white-CMPLXMOBAPPLE-IPHONESTRI273684F2F81214-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹72499</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVXSDk5Sy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹72900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLW1pbmktYmx1ZS0xMjgtZ2IvcC9pdG05YjZjZGVjOTcwMGVlP3BpZD1NT0JGV0JZWkhVNThQSENaJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹74900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkxMg"><input
                                    onclick="comp(this)" id="ZToxNjkxMg" type="checkbox" name="mobile"
                                    value="ZToxNjkxMg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-mini/ZToxNjg1MQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg1MS0xOTgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Mini</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹67400</span><span>₹69900</span><span>4% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.4 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">Other OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-12-mini-64gb--black/p-mp000000007965606">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹67400</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVUUVQ0WC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹67900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLW1pbmktYmxhY2stNjQtZ2IvcC9pdG0zOGI3MjcxOTFlYjA4P3BpZD1NT0JGV0JZWlhTRUdCUzZGJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹69900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjg1MQ"><input
                                    onclick="comp(this)" id="ZToxNjg1MQ" type="checkbox" name="mobile"
                                    value="ZToxNjg1MQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-pro-max-256gb/ZToxNjkxOA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxOC0yNjQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Pro Max 256GB</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹134900</span><span>₹139900</span><span>4% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVUMzFNNi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹134900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-12-pro-max-256gb--pacific-blue/p-mp000000007965638">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹134900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-12-pro-max-256-gb-pacific-blue-CMPLXMOBAPPLE-IPHONEDUMM202561B6D39AD-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹139897</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLXByby1tYXgtZ29sZC0yNTYtZ2IvcC9pdG0xZTAzNTRmNWJiYzhjP3BpZD1NT0JGV0JZWlpQVzhKSFFGJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹139900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkxOA"><input
                                    onclick="comp(this)" id="ZToxNjkxOA" type="checkbox" name="mobile"
                                    value="ZToxNjkxOA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-pro-max-512gb/ZToxNjkxNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxNy0xNTgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Pro Max 512GB</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹159899</span><span>₹159899</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.7 inch Screen</li>
                                <li class="listItem">6 GB RAM</li>
                                <li class="listItem">512 GB ROM</li>
                                <li class="listItem">Other OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVXVlpKNy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹159899</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkxNw"><input
                                    onclick="comp(this)" id="ZToxNjkxNw" type="checkbox" name="mobile"
                                    value="ZToxNjkxNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-pro-max/ZToxNjAzNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjAzNy0xNDctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Pro Max</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹128899</span><span>₹129900</span><span>1% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.6 inches Screen</li>
                                <li class="listItem">6GB RAM</li>
                                <li class="listItem">128GB ROM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-12-pro-max-128gb---pacific-blue/p-mp000000007965637">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹128899</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-12-pro-max-128-gb-graphite-CMPLXMOBAPPLE-IPHONETELE288739EF4D245F-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹129899</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVWWktXVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹129900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLXByby1tYXgtZ29sZC0xMjgtZ2IvcC9pdG1lM2FlNTkyMDY1NzExP3BpZD1NT0JGV0JZWlFWS1Q3N1lIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹129900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjAzNw"><input
                                    onclick="comp(this)" id="ZToxNjAzNw" type="checkbox" name="mobile"
                                    value="ZToxNjAzNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-12-pro/ZToxNjAzNg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjAzNi0xNDEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 12 Pro</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹118900</span><span>₹119900</span><span>1% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-12-pro-128gb---graphite/p-mp000000007965626">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹118900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TDVWMVNCQi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹119900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTEyLXByby1ncmFwaGl0ZS0xMjgtZ2IvcC9pdG0wM2U1ZjI1OTVkODQzP3BpZD1NT0JGV0JZWkJaN1k1NldEJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹119900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjAzNg"><input
                                    onclick="comp(this)" id="ZToxNjAzNg" type="checkbox" name="mobile"
                                    value="ZToxNjAzNg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-5s/ZTozMjE2">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8zMjE2LTIwMi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 5S</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12999</span><span>₹55000</span><span>76% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">4 inch Screen</li>
                                <li class="listItem">1 GB RAM</li>
                                <li class="listItem">16 GB ROM</li>
                                <li class="listItem">iOS 7 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4UlhKOFBIRC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTozMjE2"><input
                                    onclick="comp(this)" id="ZTozMjE2" type="checkbox" name="mobile"
                                    value="ZTozMjE2"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-7-plus/ZToxMDIwOQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMDIwOS0yMS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 7 Plus</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹35999</span><span>₹37900</span><span>5% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.5 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">32 GB ROM</li>
                                <li class="listItem">iOS 10 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTFpLU1RKQi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹35999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTctcGx1cy1ibGFjay0zMi1nYi9wL2l0bWVuNmRhdmh5ZXRjd2Y_cGlkPU1PQkVNSzYyODlSN1VGUUgmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹37900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMDIwOQ"><input
                                    onclick="comp(this)" id="ZToxMDIwOQ" type="checkbox" name="mobile"
                                    value="ZToxMDIwOQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-7/ZToxMDIwOA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMDIwOC0zNC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 7</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27999</span><span>₹60000</span><span>53% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">4.7 inch Screen</li>
                                <li class="listItem">2 GB RAM</li>
                                <li class="listItem">32 GB ROM</li>
                                <li class="listItem">iOS 10 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTFpLTFBWUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a href="https://www.tatacliq.com/apple-iphone-7-32-gb-black/p-mp000000000610108">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹28595</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMDIwOA"><input
                                    onclick="comp(this)" id="ZToxMDIwOA" type="checkbox" name="mobile"
                                    value="ZToxMDIwOA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-8-plus/ZToxMzQwNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzQwNy04LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 8 Plus</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹49899</span><span>₹49900</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.5 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 11 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-8-plus-64gb-silver/p-mp000000001838239">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹49899</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTgtcGx1cy1nb2xkLTY0LWdiL3AvaXRtZXhyZ3Z1emd6dHR6aD9waWQ9TU9CRVhSR1Y3RUhIVEdVSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹49900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzQwNw"><input
                                    onclick="comp(this)" id="ZToxMzQwNw" type="checkbox" name="mobile"
                                    value="ZToxMzQwNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-8/ZToxMTc5Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMTc5Ny0yNy0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone 8</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39900</span><span>₹67940</span><span>41% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">4.7 inch Screen</li>
                                <li class="listItem">2 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 11 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLTgtZ29sZC02NC1nYi9wL2l0bWV4cmd2Y2JzZ2Ezeno_cGlkPU1PQkVYUkdWWldIRFcyUlEmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Q0dIWUtLQi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹67940</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMTc5Nw"><input
                                    onclick="comp(this)" id="ZToxMTc5Nw" type="checkbox" name="mobile"
                                    value="ZToxMTc5Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-se-2020-128gb/ZToxNjQyMQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQyMS0yMDYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone SE 2020 128GB</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹40999</span><span>₹47800</span><span>14% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">4.7 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">iOS 13 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLXNlLWJsYWNrLTEyOC1nYi9wL2l0bWE5Mjg1Y2NjNmFmMjg_cGlkPU1PQkZXUTZCSFVFVlpQWEQmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹40999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQyMQ"><input
                                    onclick="comp(this)" id="ZToxNjQyMQ" type="checkbox" name="mobile"
                                    value="ZToxNjQyMQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-se-2020/ZToxNjM2MQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM2MS0xOTktMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone SE 2020</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹35999</span><span>₹42500</span><span>15% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">4.7 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 13 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLXNlLWJsYWNrLTY0LWdiL3AvaXRtNGQzZDU3MThhNWM5NT9waWQ9TU9CRldRNkJSM01LN0FVRyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹35999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://www.tatacliq.com/apple-iphone-se-2nd-generation-64-gb-black-3-gb-ram,-dual-sim-4g/p-mp000000008075569">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹36490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjM2MQ"><input
                                    onclick="comp(this)" id="ZToxNjM2MQ" type="checkbox" name="mobile"
                                    value="ZToxNjM2MQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-x-256gb-/ZToxMzQwOQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzQwOS0yMDUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone X 256GB </h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹69999</span><span>₹111000</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.8 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">iOS 11 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3MkxOTlNRTi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹69999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzQwOQ"><input
                                    onclick="comp(this)" id="ZToxMzQwOQ" type="checkbox" name="mobile"
                                    value="ZToxMzQwOQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-x/ZToxMzM5Ng">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzM5Ni0yMjMtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone X</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹89000</span><span>₹89000</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.8 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 11 OS</li>
                                <li class="listItem">Single SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a href="https://www.tatacliq.com/apple-iphone-x-64gb-silver/p-mp000000001955259">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹89000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzM5Ng"><input
                                    onclick="comp(this)" id="ZToxMzM5Ng" type="checkbox" name="mobile"
                                    value="ZToxMzM5Ng"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-xr-128gb/ZToxNTIxOQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTIxOS01NS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone XR 128GB</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹49999</span><span>₹81900</span><span>39% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.1 inch Screen</li>
                                <li class="listItem">3 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">iOS 12 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLXhyLWJsdWUtMTI4LWdiL3AvaXRtZjl6N3plZ3liMnVzaD9waWQ9TU9CRjlaN1oyNUg4OEdUOSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹49999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-xr-128-gb-black-CMPLXMOBAPPLE-APPLE-DUMM141A07A610E-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹49999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a href="https://www.tatacliq.com/apple-iphone-xr-128-gb-red/p-mp000000004008489">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹51980</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTIxOQ"><input
                                    onclick="comp(this)" id="ZToxNTIxOQ" type="checkbox" name="mobile"
                                    value="ZToxNTIxOQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-xr/ZToxNTA0Ng">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTA0Ni00Ny0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone XR</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹44999</span><span>₹52500</span><span>14% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLXhyLWJsYWNrLTY0LWdiL3AvaXRtZjl6N3p4dTR1cXl6Mj9waWQ9TU9CRjlaN1pQSEdWNEdOSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹44999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png">
                                </td>
                                <td><a href="https://www.tatacliq.com/apple-iphone-xr-64-gb-red/p-mp000000004008484">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹46990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://paytmmall.com/apple-iphone-xr-64gb-white-CMPLXMOBAPPLE-IPHONEDUMM1412FCD128-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹47900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3SldWNDdKVy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹48900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTA0Ng"><input
                                    onclick="comp(this)" id="ZToxNTA0Ng" type="checkbox" name="mobile"
                                    value="ZToxNTA0Ng"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/apple-mobiles/apple-iphone-xs-max/ZToxNTA0Mw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTA0My0yNi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple iPhone Xs Max</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹94900</span><span>₹109900</span><span>14% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.5 inch Screen</li>
                                <li class="listItem">4 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">iOS 12 OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png">
                                </td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtaXBob25lLXhzLW1heC1zaWx2ZXItNjQtZ2IvcC9pdG1mOTQ0ZWh6c2g3ZW14P3BpZD1NT0JGOTQ0RTJYQUhXOFY1JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹94900</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTA0Mw"><input
                                    onclick="comp(this)" id="ZToxNTA0Mw" type="checkbox" name="mobile"
                                    value="ZToxNTA0Mw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
            </div>
                

            
        </div>
        
        <script>
            window.bn =  '<%= data.a %>';
            window.tw = '<%= data.b %>'
           
    
            
        </script>

    <!-- </div> -->

    
    <div class="stick">
        <div class="divOfPopUp">
            <h4>COMPARE</h4>
        </div>
    </div>


    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us"><p>Advertise with us</p></a>
                        <a target="_blank" href="/privacy"><p>Privacy</p></a>
                        <a target="_blank" href="/contact-us"><p>Contact Us</p></a>
                        <a target="_blank" href="/credits"><p>Credits</p></a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank"><p>Facebook</p></a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank"><p>Instagram</p></a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us"><p>About Us</p></a>
                        <a target="_blank" href="/terms-of-use"><p>Terms of use</p></a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>