<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        HTC Mobile Phones Prices in India | Compare Prices of HTC Phones in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare HTC Mobile Phones By Prices. HTC Mobiles include HTC Desire 12 Plus , HTC Desire 816  which have 8GB RAM ,upto 32GB ROM and more . Compare Best Deal On HTC Mobile Phones Across all e-Stores">
    <meta name="og_title" property="og:title" content=" HTC Mobile Phones Prices in India | Compare Prices of HTC Phones in India">   
    <meta name="og_url" property="og:url" content="https://www.pricescompare.in/mobile/htc-mobile-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare HTC Mobile Across All e-Stores By Prices, COD, EMI etc. HTC Mobiles include HTC Desire 12 Plus , HTC Desire 816 and others">
   
   
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>
    
    
    <script type="application/ld+json">{
        "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/mobile\/","name":"Mobile"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
        
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>
    
    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">
    
                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>
    
                        </div>
                        <div class="inputTake">
    
                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">
    
                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/mobile/">Mobile</a>><a href="">
                    HTC Mobiles
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="HTC Mobile prices in India">
                    HTC Mobile Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
               
                <a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-12-plus/ZToxNDMyMA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDMyMC00MC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 12 Plus</h3>
                        <div class="review">
                            <div><span>3.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18103</span><span>₹19900</span><span>9% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RFBENUZKNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18103</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNDMyMA"><input
                                    onclick="comp(this)" id="ZToxNDMyMA" type="checkbox" name="mobile"
                                    value="ZToxNDMyMA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-326g/ZTo2NzYz">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC82NzYzLTY5LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 326G</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8400</span><span>₹9990</span><span>16% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwWklDSUM5US8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8400</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo2NzYz"><input
                                    onclick="comp(this)" id="ZTo2NzYz" type="checkbox" name="mobile" value="ZTo2NzYz"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-526g-plus-8gb/ZTo1Nzg1">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzg1LTE2LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 526G Plus 8GB</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11990</span><span>₹12400</span><span>3% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwVUZQSEZTQS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzg1"><input
                                    onclick="comp(this)" id="ZTo1Nzg1" type="checkbox" name="mobile" value="ZTo1Nzg1"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-626g+/ZTo2NTgz">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC82NTgzLTc1LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 626G+</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11622</span><span>₹18500</span><span>37% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwVUZQSFg4TS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11622</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo2NTgz"><input
                                    onclick="comp(this)" id="ZTo2NTgz" type="checkbox" name="mobile" value="ZTo2NTgz"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-628/ZToxMDgxMg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMDgxMi02My0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 628</h3>
                        <div class="review">
                            <div><span>3.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹13999</span><span>₹15400</span><span>9% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxSDVENk5DUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹13999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMDgxMg"><input
                                    onclick="comp(this)" id="ZToxMDgxMg" type="checkbox" name="mobile"
                                    value="ZToxMDgxMg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-816/ZTozOTUy">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8zOTUyLTkzLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 816</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27390</span><span>₹27390</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHRjLWRlc2lyZS04MTYtZHVhbC1zaW0td2hpdGUtOC1nYi9wL2l0bWU3cnd0dHJ1bnplanI_cGlkPU1PQkRXSFk5WVdTQ1pURjMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27390</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTozOTUy"><input
                                    onclick="comp(this)" id="ZTozOTUy" type="checkbox" name="mobile" value="ZTozOTUy"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-816g-dual-sim/ZTo0ODQ4">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC80ODQ4LTEzLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 816G Dual SIM</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17505</span><span>₹22990</span><span>24% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a href="https://paytmmall.com/htc-desire-816g-CMPLXHTC_DESIRE816G_8GB_BLUE-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17505</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo0ODQ4"><input
                                    onclick="comp(this)" id="ZTo0ODQ4" type="checkbox" name="mobile" value="ZTo0ODQ4"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-820g-plus/ZTo3NDY3">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC83NDY3LTQ1LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 820G Plus</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12990</span><span>₹25999</span><span>50% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxMjJYMDFZTS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo3NDY3"><input
                                    onclick="comp(this)" id="ZTo3NDY3" type="checkbox" name="mobile" value="ZTo3NDY3"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-828-dual-sim-32gb/ZToxMDQ4Mw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMDQ4My03NC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 828 Dual SIM 32GB</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9999</span><span>₹21500</span><span>53% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxRU45SjkxWS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMDQ4Mw"><input
                                    onclick="comp(this)" id="ZToxMDQ4Mw" type="checkbox" name="mobile"
                                    value="ZToxMDQ4Mw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-desire-830/ZToxMTI5Mg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMTI5Mi04OS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC Desire 830</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20000</span><span>₹25000</span><span>20% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwOUZWTkdYOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMTI5Mg"><input
                                    onclick="comp(this)" id="ZToxMTI5Mg" type="checkbox" name="mobile"
                                    value="ZToxMTI5Mg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-one-a9-32gb/ZTo5NzU4">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC85NzU4LTYyLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC One A9 32GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹30149</span><span>₹32900</span><span>8% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxN0pYNDJFVS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹30149</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo5NzU4"><input
                                    onclick="comp(this)" id="ZTo5NzU4" type="checkbox" name="mobile" value="ZTo5NzU4"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-one-m8-eye/ZTo1MDMz">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MDMzLTExLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC One M8 Eye</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27590</span><span>₹32900</span><span>16% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxNDQ5TzJJUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27590</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1MDMz"><input
                                    onclick="comp(this)" id="ZTo1MDMz" type="checkbox" name="mobile" value="ZTo1MDMz"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-one-x9/ZTo5MzEw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC85MzEwLTc3LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC One X9</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14770</span><span>₹28590</span><span>48% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxSFhaRFQ3QS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14770</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo5MzEw"><input
                                    onclick="comp(this)" id="ZTo5MzEw" type="checkbox" name="mobile" value="ZTo5MzEw"><span
                                    class="spanOfBox"></span><span class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-u-ultra/ZToxMTk2Mg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMTk2Mi0yMzUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC U Ultra</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22990</span><span>₹65610</span><span>65% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA2WEZSRExQUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMTk2Mg"><input
                                    onclick="comp(this)" id="ZToxMTk2Mg" type="checkbox" name="mobile"
                                    value="ZToxMTk2Mg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/htc-mobiles/htc-u12-plus/ZToxNDcxMw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDcxMy0xNDQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HTC U12 Plus</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹69990</span><span>₹79990</span><span>13% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RDJRNjVaTS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹69990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNDcxMw"><input
                                    onclick="comp(this)" id="ZToxNDcxMw" type="checkbox" name="mobile"
                                    value="ZToxNDcxMw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>


            </div>
        </div>

        <script>
            window.bn =  '<%= data.a %>';
            window.tw = '<%= data.b %>'


        </script>

    <!-- </div> -->


    <div class="stick">
        <div class="divOfPopUp">
            <h4>COMPARE</h4>
        </div>
    </div>


    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us"><p>Advertise with us</p></a>
                        <a target="_blank" href="/privacy"><p>Privacy</p></a>
                        <a target="_blank" href="/contact-us"><p>Contact Us</p></a>
                        <a target="_blank" href="/credits"><p>Credits</p></a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank"><p>Facebook</p></a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank"><p>Instagram</p></a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us"><p>About Us</p></a>
                        <a target="_blank" href="/terms-of-use"><p>Terms of use</p></a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>