<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        OnePlus Mobile Prices in India 2021 | Compare Prices of Latest OnePlus Mobile Phones in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Latest OnePlus Mobile Phones By Prices. OnePlus Mobiles include OnePlus 7 Pro , OnePlus 7T ,OnePlus 6,OnePlus 8 Pro which have 256GB RAM, upto 128GB RAM , 4G Dual Sim . Compare Best Deal On OnePlus Mobile Phones Across all e-Stores">
    <meta name="og_title" property="og:title" content="OnePlus Mobile Prices in India 2021 | Compare Prices of Latest OnePlus Mobile Phones in India">
    <meta name="og_url" property="og:url" content="https://www.pricescompare.in/mobile/oneplus-mobile-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare OnePlus Mobile Across All e-Stores By Prices, COD, EMI etc. OnePlus Mobiles include OnePlus 7T ,OnePlus 6 , OnePlus 8 Pro and others">


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "https:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/mobile\/",
                    "name": "Mobile"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/mobile/">Mobile</a>><a href="">
                   OnePlus Smartphones
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="OnePlus Mobile prices in India">
                    OnePlus Mobile Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-5/ZToxMjM3Ng" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMjM3Ni0yNS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 5</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25199</span><span>₹25199</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">5.5 inch Screen</li>
                                <li class="listItem">6 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">Android 7.1.1 Nougat OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTkFLVFIySC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25199</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMjM3Ng"><input onclick="comp(this)" id="ZToxMjM3Ng" type="checkbox" name="mobile" value="ZToxMjM3Ng"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-6/ZToxMzMxMQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzMxMS0xODgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 6</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39999</span><span>₹39999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.28 inch Screen</li>
                                <li class="listItem">6 GB RAM</li>
                                <li class="listItem">64 GB ROM</li>
                                <li class="listItem">Android 8.1 Oreo OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3NTZWUkoyNS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzMxMQ"><input onclick="comp(this)" id="ZToxMzMxMQ" type="checkbox" name="mobile" value="ZToxMzMxMQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-6t-256gb/ZToxNTIyNw" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTIyNy0zLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 6T 256GB</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹31999</span><span>₹45999</span><span>30% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.41 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3REpDSkJSRC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹31999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTIyNw"><input onclick="comp(this)" id="ZToxNTIyNw" type="checkbox" name="mobile" value="ZToxNTIyNw"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-6t-8gb-ram/ZToxNTIyNg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTIyNi0yNS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 6T 8GB RAM</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27999</span><span>₹41999</span><span>33% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.41 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3REpIWTgyRi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTIyNg"><input onclick="comp(this)" id="ZToxNTIyNg" type="checkbox" name="mobile" value="ZToxNTIyNg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-6t-mclaren-edition/ZToxNTMzMg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTMzMi05LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 6T McLaren Edition</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39999</span><span>₹50999</span><span>22% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.41 inch Screen</li>
                                <li class="listItem">10 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy02dC1zcGVlZC1vcmFuZ2UtMjU2LWdiL3AvaXRtNDgxNDg4ZWQzZDIxOT9waWQ9TU9CRktGUEVYWlVZOVZCViZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3REpDVlRCSC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹49999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTMzMg"><input onclick="comp(this)" id="ZToxNTMzMg" type="checkbox" name="mobile" value="ZToxNTMzMg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7-8gb-ram/ZToxNTY0OA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY0OC02MC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7 8GB RAM</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹36899</span><span>₹37999</span><span>3% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.41 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/oneplus-7-8-gb-256-gb-mirror-grey-CMPLXMOBONEPLUS-7-8-DUMM20256C6CE1D6A-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹36899</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL1Rlc3QtRXhjbHVzaXZlLTYxMC9kcC9CMDdIR0gzRzQ2Lz8mdGFnPXByaWNleXVnZTBkLTIx">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹37999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTY0OA"><input onclick="comp(this)" id="ZToxNTY0OA" type="checkbox" name="mobile" value="ZToxNTY0OA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7-pro-/ZToxNTYxNA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTYxNC03MC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7 Pro </h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹41990</span><span>₹49999</span><span>16% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.67 inch Screen</li>
                                <li class="listItem">6 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy03LXByby1taXJyb3ItZ3JleS0xMjgtZ2IvcC9pdG1iZGM5YzJlNzg4Mzk5P3BpZD1NT0JGSkpXM05TUjNLUVM0JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹41990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2RwL0IwN0hHOFNCRFYvPyZ0YWc9cHJpY2V5dWdlMGQtMjE">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹48999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTYxNA"><input onclick="comp(this)" id="ZToxNTYxNA" type="checkbox" name="mobile" value="ZToxNTYxNA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7-pro-12gb-ram/ZToxNTY0Nw" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY0Ny0yOC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7 Pro 12GB RAM</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹56990</span><span>₹57999</span><span>2% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.67 inch Screen</li>
                                <li class="listItem">12 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Android 9.0 Pie OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy03LXByby1uZWJ1bGEtYmx1ZS0yNTYtZ2IvcC9pdG1iZGM5YzJlNzg4Mzk5P3BpZD1NT0JGS0ZQRThHUFNSNkczJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹56990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL1Rlc3QtRXhjbHVzaXZlLTYwNy9kcC9CMDdIR0pLRFFCLz8mdGFnPXByaWNleXVnZTBkLTIx">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹57999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTY0Nw"><input onclick="comp(this)" id="ZToxNTY0Nw" type="checkbox" name="mobile" value="ZToxNTY0Nw"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7t-256gb/ZToxNTk5MQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk5MS05OC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7T 256GB</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹37999</span><span>₹39999</span><span>5% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.55 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Android 10.0 Q OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹37999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy03dC1nbGFjaWVyLWJsdWUtMjU2LWdiL3AvaXRtYTc0ZjNhZWNlNDZiMT9waWQ9TU9CRktXU1lUSFRFU05TRyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹38999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTk5MQ"><input onclick="comp(this)" id="ZToxNTk5MQ" type="checkbox" name="mobile" value="ZToxNTk5MQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7t-pro/ZToxNTg2MQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTg2MS03MC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7T Pro</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹40990</span><span>₹53999</span><span>24% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.67 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/oneplus-7t-pro-256-gb-haze-blue-8-gb-ram,-dual-sim-4g/p-mp000000005735538">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹40990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3REo4SzJLVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹43999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy03dC1wcm8taGF6ZS1ibHVlLTI1Ni1nYi9wL2l0bTBjZTQ3MDc1NTQ3MGQ_cGlkPU1PQkZIQzhHWThYUlhKUEYmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹45915</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTg2MQ"><input onclick="comp(this)" id="ZToxNTg2MQ" type="checkbox" name="mobile" value="ZToxNTg2MQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-7t/ZToxNTg5Nw" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTg5Ny0yMi0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 7T</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹37990</span><span>₹37999</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb25lcGx1cy03dC1nbGFjaWVyLWJsdWUtMTI4LWdiL3AvaXRtYTc0ZjNhZWNlNDZiMT9waWQ9TU9CRktXU1lXQjVTMzdZViZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹37990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL3Byb2R1Y3QvQjA3REpDVlRETi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹37999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTg5Nw"><input onclick="comp(this)" id="ZToxNTg5Nw" type="checkbox" name="mobile" value="ZToxNTg5Nw"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8-8gb-ram/ZToxNjQyNQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQyNS0zOS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8 8GB RAM</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹41795</span><span>₹49999</span><span>16% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.55 inch Screen</li>
                                <li class="listItem">8 GB RAM</li>
                                <li class="listItem">128 GB ROM</li>
                                <li class="listItem">Android 10.0 Q OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/oneplus-8-128-gb-glacial-green-8-gb-ram,-dual-sim-5g/p-mp000000006909143">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹41795</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3MVo5N1QyQy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹41999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQyNQ"><input onclick="comp(this)" id="ZToxNjQyNQ" type="checkbox" name="mobile" value="ZToxNjQyNQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8-pro-256gb/ZToxNjQwNA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQwNC0yNy0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8 Pro 256GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹59999</span><span>₹73999</span><span>19% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.78 inches (17.22 cm) Screen</li>
                                <li class="listItem">256GB RAM</li>
                                <li class="listItem">12GB ROM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3OEJONTVXWi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹59999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQwNA"><input onclick="comp(this)" id="ZToxNjQwNA" type="checkbox" name="mobile" value="ZToxNjQwNA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8-pro/ZToxNjA1Nw" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA1Ny0xODEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8 Pro</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹54999</span><span>₹54999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.65 inches (16.89 cm) Screen</li>
                                <li class="listItem">8GB RAM</li>
                                <li class="listItem">128GB ROM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3OEJOMkgzUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹54999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjA1Nw"><input onclick="comp(this)" id="ZToxNjA1Nw" type="checkbox" name="mobile" value="ZToxNjA1Nw"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8/ZToxNjAzMw" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjAzMy03MS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹39999</span><span>₹39999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.55 inches (16.64 cm) Screen</li>
                                <li class="listItem">8GB RAM</li>
                                <li class="listItem">128GB ROM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3OEJOUTMxOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹39999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjAzMw"><input onclick="comp(this)" id="ZToxNjAzMw" type="checkbox" name="mobile" value="ZToxNjAzMw"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8t-256gb/ZToxNjkyMA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkyMC0yNDUtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8T 256GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹45988</span><span>₹45999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">6.55 inch Screen</li>
                                <li class="listItem">12 GB RAM</li>
                                <li class="listItem">256 GB ROM</li>
                                <li class="listItem">Other OS</li>
                                <li class="listItem">Dual SIM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/oneplus-8t-256-gb-aquamarine-green-12-gb-ram,-dual-sim-5g/p-mp000000007974012">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹45988</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NUoxOVY0UC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹45999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkyMA"><input onclick="comp(this)" id="ZToxNjkyMA" type="checkbox" name="mobile" value="ZToxNjkyMA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-8t/ZToxNjUxNg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjUxNi0yMDgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus 8T</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹42999</span><span>₹42999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NUoxN1ZWUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹42999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjUxNg"><input onclick="comp(this)" id="ZToxNjUxNg" type="checkbox" name="mobile" value="ZToxNjUxNg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/mobile/oneplus-mobiles/oneplus-nord-256gb/ZToxNjU4OQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjU4OS0xNDktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OnePlus Nord 256GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹29999</span><span>₹29999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12 GB RAM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Njk3TUpEOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹29999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjU4OQ"><input onclick="comp(this)" id="ZToxNjU4OQ" type="checkbox" name="mobile" value="ZToxNjU4OQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>