<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        OPPO Mobile Phones Prices in India | Compare Prices of OPPO Latest Phones in India
    </title>
    <!-- dw -->
    <meta name="description" content="Latest OPPO Mobile Phones List in India. Oppo Mobiles include OPPO A15, OPPO RENO 5 PRO , OPPO F19 pro and others which have Full HD display ,up to 128 GB storage, 5000 mAh Battery. Compare Best Deal On OPPO Mobile Phones Across all e-Stores">
    <meta name="og_title" property="og:title" content="OPPO Mobile Phones Prices in India | Compare Prices of OPPO Latest Phones in India">   
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/mobile/oppo-mobile-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Latest OPPO Mobile Phones List in India. Oppo Mobiles include OPPO A15, OPPO RENO 5 PRO , OPPO F19 pro and others which have Full HD display ,up to 128 GB storage, 5000 mAh Battery. Compare Best Deal On OPPO Mobile Phones Across all e-Stores">
   
   
    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>
    
    
    <script type="application/ld+json">{
        "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/mobile\/","name":"Mobile"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
        
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>
    
    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">
    
                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>
    
                        </div>
                        <div class="inputTake">
    
                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">
    
                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/mobile/">Mobile</a>><a href="">
                    OPPO Mobiles
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="OPPO Mobile prices in India">
                    OPPO Mobile Phones Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a12/ZToxNjM2MA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM2MC01NS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A12</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8990</span><span>₹8990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ0WjdSOS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hMTItYmx1ZS0zMi1nYi9wL2l0bWZjODU5Y2RmMzllMDE_cGlkPU1PQkZTRERKVVVFN01RR0cmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹8990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a12-32-gb-blue-3-gb-ram,-dual-sim-4g/p-mp000000007138289">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹8990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-a12-3-gb-32-gb-black-CMPLXMOBOPPO-A12-3-GFUTU62974526C7EEFB-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹8990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjM2MA"><input
                                    onclick="comp(this)" id="ZToxNjM2MA" type="checkbox" name="mobile"
                                    value="ZToxNjM2MA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a15/ZToxNjg2Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg2Ny0yOTEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A15</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9990</span><span>₹10099</span><span>1% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ1R1kyOS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hMTUtZHluYW1pYy1ibGFjay0zMi1nYi9wL2l0bTIyN2ZlYjdhZTIyYjg_cGlkPU1PQkZXWTJNR1BITUdTRVgmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10099</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjg2Nw"><input
                                    onclick="comp(this)" id="ZToxNjg2Nw" type="checkbox" name="mobile"
                                    value="ZToxNjg2Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a15s/ZToxNzE2Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzE2Ny0zNi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A15s</h3>
                        <div class="review">
                            <div><span>3.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11489</span><span>₹11489</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ1OTJIQi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11489</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNzE2Nw"><input
                                    onclick="comp(this)" id="ZToxNzE2Nw" type="checkbox" name="mobile"
                                    value="ZToxNzE2Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a1k/ZToxNTU0Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTU0Ny01OC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A1K</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹7390</span><span>₹10990</span><span>33% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a1k-32-gb-red-2-gb-ram-dual-sim-4g/p-mp000000004708136">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹7390</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UFNITFJKOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hMWstYmxhY2stMzItZ2IvcC9pdG1mZnZ6ZmhoZzZkZmFoP3BpZD1NT0JGRlZaWVlaSEE2QjRUJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-a1k-cph1923-2-gb-32-gb-black-CMPLXMOBOPPO-A1K-CPHFUTU629745487742B8-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTU0Nw"><input
                                    onclick="comp(this)" id="ZToxNTU0Nw" type="checkbox" name="mobile"
                                    value="ZToxNTU0Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a31-2020/ZToxNjY1OQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY1OS04NC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A31 2020</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11490</span><span>₹12990</span><span>12% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ1NFlLUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hMzEtbXlzdGVyeS1ibGFjay02NC1nYi9wL2l0bTgyZTE5ZjQ1OTExOGE_cGlkPU1PQkZQQkQ3M1FTN0RVU0QmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a31-64-gb-mystery-black-4-gb-ram,-dual-sim-4g/p-mp000000006567000">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY1OQ"><input
                                    onclick="comp(this)" id="ZToxNjY1OQ" type="checkbox" name="mobile"
                                    value="ZToxNjY1OQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a5-2020-/ZToxNTk5Mg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk5Mi00LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A5 2020 </h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9990</span><span>₹12990</span><span>23% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3U0JLMVdRUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNS0yMDIwLWRhenpsaW5nLXdoaXRlLTY0LWdiL3AvaXRtNDRjYzVkYWZmMGJhMT9waWQ9TU9CRktDUzVLUk5QNVpHRyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTk5Mg"><input
                                    onclick="comp(this)" id="ZToxNTk5Mg" type="checkbox" name="mobile"
                                    value="ZToxNTk5Mg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a5-2020-4gb-ram/ZToxNTk0MA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk0MC04Ny0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A5 2020 4GB RAM</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11990</span><span>₹15990</span><span>25% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3U0RQSjRYSi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNS0yMDIwLW1pcnJvci1ibGFjay02NC1nYi9wL2l0bTc2MGYxYjdiNDg0ZjA_cGlkPU1PQkZLQ1M1QkZaV0g5RVEmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹13590</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTk0MA"><input
                                    onclick="comp(this)" id="ZToxNTk0MA" type="checkbox" name="mobile"
                                    value="ZToxNTk0MA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a52-8gb-ram/ZToxNjY0Ng">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY0Ni02MC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A52 8GB RAM</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15990</span><span>₹18990</span><span>16% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NktDQ1BCNy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNTItc3RyZWFtLXdoaXRlLTEyOC1nYi9wL2l0bWNjMTU2YjBlYjZlMmE_cGlkPU1PQkZVSkhES0JTRVVTRVomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY0Ng"><input
                                    onclick="comp(this)" id="ZToxNjY0Ng" type="checkbox" name="mobile"
                                    value="ZToxNjY0Ng"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a52/ZToxNjM4MQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM4MS0zLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A52</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹13990</span><span>₹19990</span><span>30% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NktDRFBNUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹13990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a52-128-gb-stream-white-6-gb-ram,-dual-sim-4g/p-mp000000007161262">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNTItdHdpbGlnaHQtYmxhY2stMTI4LWdiL3AvaXRtY2MxNTZiMGViNmUyYT9waWQ9TU9CRlNOSDlLREpGWVpaSyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16680</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjM4MQ"><input
                                    onclick="comp(this)" id="ZToxNjM4MQ" type="checkbox" name="mobile"
                                    value="ZToxNjM4MQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a53-2020-128gb/ZToxNjY5Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY5Ny0yMy0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A53 2020 128GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15490</span><span>₹17990</span><span>14% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4OU1US1AySi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNTMtZWxlY3RyaWMtYmxhY2stMTI4LWdiL3AvaXRtMDdmOWU5NTI2YmZhYz9waWQ9TU9CRlVSQVFISFNUWkJGRiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a53-128-gb-fancy-blue-6-gb-ram,-dual-sim-4g/p-mp000000007588726">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-a53-6-gb-128-gb-electric-black-CMPLXMOBOPPO-A53-6-GDUMM20256C1E6ACD9-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY5Nw"><input
                                    onclick="comp(this)" id="ZToxNjY5Nw" type="checkbox" name="mobile"
                                    value="ZToxNjY5Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a53-2020/ZToxNjY3NA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY3NC0yMi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A53 2020</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12989</span><span>₹15990</span><span>19% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4OU1TNlI2Vi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12989</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNTMtZmFpcnktd2hpdGUtNjQtZ2IvcC9pdG0wN2Y5ZTk1MjZiZmFjP3BpZD1NT0JGVVJBUTNLUU1VWVpQJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a53-64-gb-electric-black-4-gb-ram,-dual-sim-4g/p-mp000000007588727">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-a53-4-gb-64-gb-fairy-white-CMPLXMOBOPPO-A53-4-GDUMM20256F5A3488C-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY3NA"><input
                                    onclick="comp(this)" id="ZToxNjY3NA" type="checkbox" name="mobile"
                                    value="ZToxNjY3NA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a5s/ZToxNTUyNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTUyNC0zMS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A5s</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8990</span><span>₹12990</span><span>31% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hNXMtYmxhY2stMzItZ2IvcC9pdG1mZmhnenNxYWN6cm40P3BpZD1NT0JGRkhHWjU2VFZSRFpXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-a5s-32-gb-black-2-gb-ram,-dual-sim-4g/p-mp000000004705724">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WUpNTVhSVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTUyNA"><input
                                    onclick="comp(this)" id="ZToxNTUyNA" type="checkbox" name="mobile"
                                    value="ZToxNTUyNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a9-2020-4gb-ram/ZToxNjAyNg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjAyNi05Ny0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A9 2020 4GB RAM</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14990</span><span>₹21990</span><span>32% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1hOS0yMDIwLXNwYWNlLXB1cnBsZS0xMjgtZ2IvcC9pdG0zMjc5OWFiMWQ0NWI0P3BpZD1NT0JGS0NTNVZVWFdIUjVIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WkhEWktSQy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19500</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjAyNg"><input
                                    onclick="comp(this)" id="ZToxNjAyNg" type="checkbox" name="mobile"
                                    value="ZToxNjAyNg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-a9-2020/ZToxNTk0OA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk0OC0zOC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO A9 2020</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17390</span><span>₹22600</span><span>23% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WkRMNzFRUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17390</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTk0OA"><input
                                    onclick="comp(this)" id="ZToxNTk0OA" type="checkbox" name="mobile"
                                    value="ZToxNTk0OA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f11-pro/ZToxNTQyNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTQyNy05OS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F11 Pro</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21999</span><span>₹29990</span><span>27% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3S1hDWFJMSy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-f11-pro-6-gb-64-gb-aurora-green-MOBOPPO-F11-PROFUTU6297454D24438E-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹24990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTQyNw"><input
                                    onclick="comp(this)" id="ZToxNTQyNw" type="checkbox" name="mobile"
                                    value="ZToxNTQyNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f15/ZToxNjIzMw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjIzMy0zLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F15</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18980</span><span>₹22990</span><span>17% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-f15-128-gb-lightening-black-8-gb-ram,-dual-sim-4g/p-mp000000006275597">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18980</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1mMTUtbGlnaHRlbmluZy1ibGFjay0xMjgtZ2IvcC9pdG01NmQzNTU2NTY5MWVhP3BpZD1NT0JGTlNVUVhFQ0paNVhBJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-f15-8-gb128-gb-unicorn-white-CMPLXMOBOPPO-F15-8-GDUMM20256BE4E5F91-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4OTMzUFFUNy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjIzMw"><input
                                    onclick="comp(this)" id="ZToxNjIzMw" type="checkbox" name="mobile"
                                    value="ZToxNjIzMw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f17-8gb-ram/ZToxNjc4OA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc4OC03MC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F17 8GB RAM</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18380</span><span>₹18490</span><span>1% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NktDRFBOOS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18380</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1mMTctbmF2eS1ibHVlLTEyOC1nYi9wL2l0bTQyODA1NTUyOWZlYWM_cGlkPU1PQkZWREFTQ0RISllFQU0mYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-f17-128-gb-dynamic-orange-8-gb-ram,-dual-sim-4g/p-mp000000007719502">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-f17-8gb-128gb-navy-blue-CMPLXMOBOPPO-F17-8GBFUTU6297457F381962-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjc4OA"><input
                                    onclick="comp(this)" id="ZToxNjc4OA" type="checkbox" name="mobile"
                                    value="ZToxNjc4OA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f17-pro-diwali-edition/ZToxNjkyNQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkyNS01MS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F17 Pro Diwali Edition</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21490</span><span>₹21490</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4OU1TNkZCOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjkyNQ"><input
                                    onclick="comp(this)" id="ZToxNjkyNQ" type="checkbox" name="mobile"
                                    value="ZToxNjkyNQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f17/ZToxNjY3NQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY3NS02MC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F17</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16990</span><span>₹16990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NktEWkdUOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1mMTctbmF2eS1ibHVlLTEyOC1nYi9wL2l0bTQyODA1NTUyOWZlYWM_cGlkPU1PQkZWREFTR1k2UlNIOVUmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-f17-128-gb-classic-silver-6-gb-ram,-dual-sim-4g/p-mp000000007719499">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-f17-6gb-128gb-classic-silver-CMPLXMOBOPPO-F17-6GBFUTU629745CDB0AA57-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY3NQ"><input
                                    onclick="comp(this)" id="ZToxNjY3NQ" type="checkbox" name="mobile"
                                    value="ZToxNjY3NQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-f9-pro/ZToxNDkzNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDkzNC00Mi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO F9 Pro</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18999</span><span>₹29999</span><span>37% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-f9-pro-64-gb-starry-purple-6-gb-ram,-dual-sim-4g/p-mp000000003712105">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1mOS1wcm8tc3VucmlzZS1yZWQtNjQtZ2IvcC9pdG1mOGZjemducm41eGh5P3BpZD1NT0JGOEZDWlJGRVRFRUhRJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3R1ZNVFdXWC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹23990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNDkzNA"><input
                                    onclick="comp(this)" id="ZToxNDkzNA" type="checkbox" name="mobile"
                                    value="ZToxNDkzNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-find-x2/ZToxNTQzMw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTQzMy00Mi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO Find X2</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹64990</span><span>₹64990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Njk1WjNHUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹64990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTQzMw"><input
                                    onclick="comp(this)" id="ZToxNTQzMw" type="checkbox" name="mobile"
                                    value="ZToxNTQzMw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-reno-2f/ZToxNTg4OA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTg4OC0yNS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO Reno 2F</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21990</span><span>₹32990</span><span>33% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1yZW5vMi1mLXNreS13aGl0ZS0xMjgtZ2IvcC9pdG04NDEzZTdlYjBiMTk1P3BpZD1NT0JGSDI3NE5GRlk3QVpXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-reno-2f-128-gb-lake-green-8-gb-ram,-dual-sim-4g/p-mp000000005430122">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-reno2-f-8-gb-128-gb-lake-green-CMPLXMOBOPPO-RENO2-FDUMM20256567E7038-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4MTUzNERNMS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹22990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTg4OA"><input
                                    onclick="comp(this)" id="ZToxNTg4OA" type="checkbox" name="mobile"
                                    value="ZToxNTg4OA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-reno-2z/ZToxNTg4OQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTg4OS0zMS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO Reno 2Z</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹27449</span><span>₹32990</span><span>17% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1yZW5vMi16LXNreS13aGl0ZS0yNTYtZ2IvcC9pdG04NTlkYzRmNGYyNWI0P3BpZD1NT0JGSktTWUpHTTNLRENRJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹27449</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UzdEWEpXVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹27490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-reno-2z-256-gb-sky-white-8-gb-ram,-dual-sim-4g/p-mp000000005361981">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹27490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-reno2-8gb-256gb-ocean-blue-CMPLXMOBOPPO-RENO-2-FUTU6297451B0D8B52-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹27490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNTg4OQ"><input
                                    onclick="comp(this)" id="ZToxNTg4OQ" type="checkbox" name="mobile"
                                    value="ZToxNTg4OQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/oppo-mobiles/oppo-reno-4-pro/ZToxNjQ4NQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQ4NS00NC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">OPPO Reno 4 Pro</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹34990</span><span>₹34990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4OU1TN0w3UC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹34990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3Bwby1yZW5vNC1wcm8tc2lsa3ktd2hpdGUtMTI4LWdiL3AvaXRtN2Q0MzllZWRjZmFiZj9waWQ9TU9CRlUyR1k4WjRQV1paOSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹34990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/oppo-reno-4-pro-128-gb-silky-white-8-gb-ram,-dual-sim-4g/p-mp000000007363820">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹34990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/oppo-reno4-pro-8-gb-128-gb-starry-night-CMPLXMOBOPPO-RENO4-PDUMM202561691782D-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹34990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQ4NQ"><input
                                    onclick="comp(this)" id="ZToxNjQ4NQ" type="checkbox" name="mobile"
                                    value="ZToxNjQ4NQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>

               
                
        </div>
        
        <script>
            window.bn =  '<%= data.a %>';
            window.tw = '<%= data.b %>'
           
    
            
        </script>

    <!-- </div> -->

    
    <div class="stick">
        <div class="divOfPopUp">
            <h4>COMPARE</h4>
        </div>
    </div>


    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us"><p>Advertise with us</p></a>
                        <a target="_blank" href="/privacy"><p>Privacy</p></a>
                        <a target="_blank" href="/contact-us"><p>Contact Us</p></a>
                        <a target="_blank" href="/credits"><p>Credits</p></a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank"><p>Facebook</p></a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank"><p>Instagram</p></a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us"><p>About Us</p></a>
                        <a target="_blank" href="/terms-of-use"><p>Terms of use</p></a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>