<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Tecno Mobile Phone Prices in India | Compare Prices of Latest Tecno Phones in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Tecno Mobile Phones By Prices. Tecno Mobiles include Tecno Camon 15 Pro , Tecno Camon 16 , Tecno Camon i Air and others . Compare Best Deal On Tecno Mobile Phones Across all e-Stores">
    <meta name="og_title" property="og:title" content=" Tecno Mobile Phone Prices in India | Compare Prices of Latest Tecno Phones in India">   
    <meta name="og_url" property="og:url" content="https://www.pricescompare.in/mobile/tecno-mobile-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Tecno Mobile Across All e-Stores By Prices, COD, EMI etc. Tecno Mobiles include Tecno Camon 15 Pro, Tecno Camon 16 and others">
   
   
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>
    
    
    <script type="application/ld+json">{
        "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/mobile\/","name":"Mobile"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
        
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>
    
    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">
    
                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>
    
                        </div>
                        <div class="inputTake">
    
                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">
    
                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/mobile/">Mobile</a>><a href="">
                   Tecno Mobiles
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Tecno Mobile prices in India">
                    Tecno Mobile Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">

                <a class="resultsCont" href="/mobile/tecno-mobiles/tecno-camon-15-pro/ZToxNjQwNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQwNy0xOS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Camon 15 Pro</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15999</span><span>₹16999</span><span>6% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4ODNGV0IxUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tY2Ftb24tMTUtcHJvLWljZS1qYWRpdGUtMTI4LWdiL3AvaXRtZmY5ODkwYjIzMGJiND9waWQ9TU9CRlBZQ0dNRTNYVDlZWCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQwNw"><input
                                    onclick="comp(this)" id="ZToxNjQwNw" type="checkbox" name="mobile"
                                    value="ZToxNjQwNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-camon-15/ZToxNjQwNg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQwNi0yMjgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Camon 15</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10499</span><span>₹11999</span><span>13% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4ODNHUkw3Ui8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10499</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tY2Ftb24tMTUtZGFyay1qYWRlLTY0LWdiL3AvaXRtYmZmMzg4NzYxMmZmOD9waWQ9TU9CRlBZQ0dWS1hDSFo0SiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10499</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQwNg"><input
                                    onclick="comp(this)" id="ZToxNjQwNg" type="checkbox" name="mobile"
                                    value="ZToxNjQwNg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-camon-16/ZToxNjczMA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjczMC01Mi0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Camon 16</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11499</span><span>₹11999</span><span>4% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tY2Ftb24tMTYtY2xvdWQtd2hpdGUtNjQtZ2IvcC9pdG1jZWJlMjFiZTY1ZDU4P3BpZD1NT0JGVzNZVkhXRUhUUVlHJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11499</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4UkM0NVJDMi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹11999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjczMA"><input
                                    onclick="comp(this)" id="ZToxNjczMA" type="checkbox" name="mobile"
                                    value="ZToxNjczMA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-camon-i-air/ZToxNDI0NQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDI0NS05My0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Camon I Air</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹7200</span><span>₹8999</span><span>20% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3QzkyMzdIMy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹7200</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNDI0NQ"><input
                                    onclick="comp(this)" id="ZToxNDI0NQ" type="checkbox" name="mobile"
                                    value="ZToxNDI0NQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-i3-pro-/ZToxMjkzMg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMjkzMi05MC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno I3 Pro </h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹7337</span><span>₹10590</span><span>31% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3NkcySlZWUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹7337</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8taTMtcHJvLWdvbGQtMTYtZ2IvcC9pdG1leXpuY3ZqenJnZ2ZmP3BpZD1NT0JFWVdDUFFVQkhSWUo0JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMjkzMg"><input
                                    onclick="comp(this)" id="ZToxMjkzMg" type="checkbox" name="mobile"
                                    value="ZToxMjkzMg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-i5-/ZToxMzE1Mg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzE1Mi03MS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno I5 </h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8000</span><span>₹12087</span><span>34% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3NkhUNzJTVi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8000</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8taTUtY2hhbXBhZ25lLWdvbGQtMTYtZ2IvcC9pdG1mMjlkYThydmhoOHJ3P3BpZD1NT0JGMjlEQUdIWEhBRlBaJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹12087</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzE1Mg"><input
                                    onclick="comp(this)" id="ZToxMzE1Mg" type="checkbox" name="mobile"
                                    value="ZToxMzE1Mg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-i7/ZToxMzY4Ng">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzY4Ni0zNy0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno i7</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10370</span><span>₹10370</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3NVBCRlRUSi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10370</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxMzY4Ng"><input
                                    onclick="comp(this)" id="ZToxMzY4Ng" type="checkbox" name="mobile"
                                    value="ZToxMzY4Ng"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-pova-128gb/ZToxNzEyNw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzEyNy0xMjgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Pova 128GB</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12999</span><span>₹12999</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4UkM0NzM0WS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNzEyNw"><input
                                    onclick="comp(this)" id="ZToxNzEyNw" type="checkbox" name="mobile"
                                    value="ZToxNzEyNw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-5-pro/ZToxNjU2NQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjU2NS0yMS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark 5 Pro</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9890</span><span>₹11499</span><span>14% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4N0s4NUhYRy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9890</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstNS1wcm8taWNlLWphZGVpdGUtNjQtZ2IvcC9pdG00MTQ2MjZmOTgyNDUzP3BpZD1NT0JGUFoyUFpSVlVGU1RZJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10199</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/tecno-spark-5-pro-64-gb-ice-jadeite-4-gb-ram,-dual-sim-4g/p-mp000000007858756">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10240</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/tecno-spark-5-pro-4-gb-64-gb-ice-jadeite-CMPLXMOBTECNO-SPARK-SALE98700219034CA-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjU2NQ"><input
                                    onclick="comp(this)" id="ZToxNjU2NQ" type="checkbox" name="mobile"
                                    value="ZToxNjU2NQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-5/ZToxNjQ1MA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQ1MC04OC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark 5</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹7990</span><span>₹9499</span><span>16% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4N0s3WkZCNi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹7990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstNS1pY2UtamFkZWl0ZS0zMi1tYi9wL2l0bTFkMDYyNWY0ZGU1OGI_cGlkPU1PQkZURUU2S1pNSDRLREcmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹8965</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQ1MA"><input
                                    onclick="comp(this)" id="ZToxNjQ1MA" type="checkbox" name="mobile"
                                    value="ZToxNjQ1MA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-6-air-3gb-ram/ZToxNjY5NQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY5NS0zMC0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark 6 Air 3GB RAM</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8490</span><span>₹9299</span><span>9% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4R0NTTDNWVi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstNi1haXItb2NlYW4tYmx1ZS0zMi1nYi9wL2l0bWMzY2E5NmJlM2M1ODQ_cGlkPU1PQkZVWTNZTUdGTVBDOVomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹8999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/tecno-spark-6-air-3-gb-32-gb-ocean-blue-CMPLXMOBTECNO-SPARK-DUMM20256153F57EC-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9299</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY5NQ"><input
                                    onclick="comp(this)" id="ZToxNjY5NQ" type="checkbox" name="mobile"
                                    value="ZToxNjY5NQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-6-air-64gb/ZToxNjgyNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjgyNC0zOS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark 6 Air 64GB</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8699</span><span>₹9599</span><span>9% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4SFg2M00zNi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8699</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstNi1haXItY29tZXQtYmxhY2stNjQtZ2IvcC9pdG1jM2NhOTZiZTNjNTg0P3BpZD1NT0JGWjVYRkNKTk5aVEVRJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/tecno-spark-6-air-3-gb-64-gb-ocean-blue-CMPLXMOBTECNO-SPARK-APNI993020547FD5D9-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9599</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjgyNA"><input
                                    onclick="comp(this)" id="ZToxNjgyNA" type="checkbox" name="mobile"
                                    value="ZToxNjgyNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-6-go/ZToxNzIwNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzIwNC0xODItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark 6 Go</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8699</span><span>₹8699</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstNi1nby1hcXVhLWJsdWUtNjQtZ2IvcC9pdG1iMTEwYTlmNDE5NzQ2P3BpZD1NT0JGWUhGWldVUEdBQlNKJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8699</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNzIwNA"><input
                                    onclick="comp(this)" id="ZToxNzIwNA" type="checkbox" name="mobile"
                                    value="ZToxNzIwNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-go-2020/ZToxNjY1Nw">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY1Ny0yNy0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark Go 2020</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹6999</span><span>₹7999</span><span>13% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/tecno-spark-go-2020-32-gb-ice-jadeite-2-gb-ram,-dual-sim-4g/p-mp000000007858753">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹6999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/tecno-spark-go-2020-2-gb-32-gb-ice-jadeite-CMPLXMOBTECNO-SPARK-DUMM20256DE46D1D-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7099</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TE1INFBUVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7455</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjY1Nw"><input
                                    onclick="comp(this)" id="ZToxNjY1Nw" type="checkbox" name="mobile"
                                    value="ZToxNjY1Nw"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-go-plus/ZToxNjM4NA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM4NC0yMS0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark Go Plus</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹6799</span><span>₹21999</span><span>69% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NERRV1hWUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹6799</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstZ28tcGx1cy12YWNhdGlvbi1ibHVlLTMyLWdiL3AvaXRtNWE2YmNjYjNlYzgwNT9waWQ9TU9CRk5YTldIM0VGR1hGWiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹7299</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjM4NA"><input
                                    onclick="comp(this)" id="ZToxNjM4NA" type="checkbox" name="mobile"
                                    value="ZToxNjM4NA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-power-2-air/ZToxNjc5Mg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc5Mi01My0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark Power 2 Air</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹8499</span><span>₹9999</span><span>15% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstcG93ZXItMi1haXItaWNlLWphZGVpdGUtMzItZ2IvcC9pdG0xMjlmZjE4NmMwZDdlP3BpZD1NT0JGVVVNRk5TRUhQRjRNJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹8499</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjc5Mg"><input
                                    onclick="comp(this)" id="ZToxNjc5Mg" type="checkbox" name="mobile"
                                    value="ZToxNjc5Mg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-power-2/ZToxNjUxNQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjUxNS00Ny0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark Power 2</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10999</span><span>₹11999</span><span>8% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4QzdOWkdKSC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/tecno-spark-power-2-4-gb-64-gb-misty-grey-CMPLXMOBTECNO-SPARK-SALE987008ECDAF67-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹11999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjUxNQ"><input
                                    onclick="comp(this)" id="ZToxNjUxNQ" type="checkbox" name="mobile"
                                    value="ZToxNjUxNQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont" href="/mobile/tecno-mobiles/tecno-spark-power/ZToxNjQxNA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQxNC0xMjItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Tecno Spark Power</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10000</span><span>₹10000</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdGVjbm8tc3BhcmstcG93ZXItYWxwaGVuZ2xvdy1nb2xkLTY0LWdiL3AvaXRtMzNkZDFiMjQ3MGNiYz9waWQ9TU9CRk1GN1VKQ1RNWlFKQiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxNjQxNA"><input
                                    onclick="comp(this)" id="ZToxNjQxNA" type="checkbox" name="mobile"
                                    value="ZToxNjQxNA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
               



            </div>
        </div>

        <script>
            window.bn =  '<%= data.a %>';
            window.tw = '<%= data.b %>'


        </script>

    <!-- </div> -->


    <div class="stick">
        <div class="divOfPopUp">
            <h4>COMPARE</h4>
        </div>
    </div>


    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us"><p>Advertise with us</p></a>
                        <a target="_blank" href="/privacy"><p>Privacy</p></a>
                        <a target="_blank" href="/contact-us"><p>Contact Us</p></a>
                        <a target="_blank" href="/credits"><p>Credits</p></a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank"><p>Facebook</p></a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank"><p>Instagram</p></a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us"><p>About Us</p></a>
                        <a target="_blank" href="/terms-of-use"><p>Terms of use</p></a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>