

* {
    margin: 0px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.faFirst {
    color: rgb(0, 0, 0);
    display: inline-block;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    font-size: 22px;
}

a {
    display: block;
    text-decoration: none;
}

.mainContainer {
    width: 100%;
    height: 100%;
}

@media (max-width:550px) {
    #bd {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    #db {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 23;
        display: none;
        position: fixed;
    }
    #t {
        top: 8%;
        /* right:20%; */
        position: fixed;
        display: none;
        /* width:40%; */
        /* height:100px; */
        float: right;
        /* background-color: #edf522; */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 49;
    }
    .se {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: auto;
        /* background-color: blue; */
    }
    #ye {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .qwe {
        /* margin:0px 0px; */
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
    }
    .qwe div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .qwe a {
        font-size: 15px;
        font-weight: 100;
        width: 100%;
        padding-left: 10px;
        /* height:40px; */
        text-decoration: none;
        color: black;
    }
    .qwe img {
        margin-right: 10px;
    }
    .qwe div:hover {
        background-color: rgb(242, 242, 242, 0.6)
    }
    #headContainer {
        /* display: flex; */
        /* border: 1px #F0FFF0; */
        /* background-color:#F0FFF0; */
        background-color: #1b262c;
        position: sticky;
        position: -webkit-sticky;
        width: 100%;
        height: 8%;
        /* min-width: 780px; */
        min-height: 30px;
    }
    .lg {
        width: 100%;
        height: 43px;
    }
    .lg a{
        width: 100%;
        height: 80%;
    }
    .lg img {
        /* width: 30px; */
        max-height: 100%;
    }
    .gl {
        display: none;
    }
    /* Pasted Code */
    #headFixing {
        position: -webkit-sticky;
        position: sticky;
        top: -44px;
        width: 100%;
        /* height: 9%; */
        /* min-height: 30px; */
        z-index: 47;
        height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #1b262c;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .horizontalBars {
        border: 1px #403f3f;
        /* border: 1px #F5F5F5; */
        float: left;
        width: 15%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        /* display: none; */
    }
    .faFirst {
        color: rgb(0, 0, 0);
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        font-size: 24px;
    }
    .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 40%;
        height: 40%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 0;
        cursor: pointer;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    /* .border:hover {
        border: 1px grey;
        border-radius: 50px;
        animation-name: fadeOut;
        animation-timing-function: linear;
        animation-duration: 200ms;
        animation-fill-mode: normal;
        animation-iteration-count: 1;
        animation-direction: normal;
    } */
    .bar {
        width: 40%;
        min-width: 17px;
        height: 10%;
        min-height: 7%;
        background-color: #F0F8FF;
        margin: 1.5px;
        z-index: 1;
    }
    /* form{
        display: flex;
        width: 80%;
    } */
    .searchBarFlex {
        float: right;
        width: 98%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* min-width: 250px; */
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #searchBar {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #F0F8FF;
        width: 100%;
        height: 100%;
        border-right: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
        /* margin-right: 20px; */
        display: flex;
        background-color: #403f3f;
        /* background-color: #292927; */
        color: #f7f7f7;
        font-weight: 10px;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 10px;
        outline: none;
    }
    #searchIcon {
        cursor: pointer;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #F0F8FF;
        border-style: solid;
        background-color: #f7f7f7;
        width: 5%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 35px;
    }
    .newone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* float:; */
        margin-left: auto;
        width: 80%;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-right: 10px;
    }
    .fa-search {
        color: black;
        font-weight: 10vw;
    }
    .thisisForm {
        border-bottom: 0.7px solid rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
    }
    #mainBody {
        position: relative;
        background-color: #F8F8F8;
        /* max-width: 1680px; */
        overflow: hidden;
        margin: 0 auto;
        min-height: 100%;
        /* display: flex;
        width:100%;
        max-width:1450px;
        min-height: 100%;
        flex-direction: column;
        position: relative; */
        /* flex-wrap: wrap; */
    }
    .siteMap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        width: 80%;
        /* margin-left: 40px; */
        /* padding-left: 20px; */
        font-size: 14px;
        height: 30px;
        margin: 10px;
        /* text-decoration: none;
        color:#551a8b; */
    }
    .siteMap a {
        margin: 0px 7px;
        color: #551a8b;
        text-transform: capitalize;
        /* text-decoration: none; */
    }
    .brands {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 95%;
        /* height: 600px; */
        margin: auto;
        background-color: #e6e6e6;
        margin-top: 30px;
        position: relative;
    }
    .brands h1 {
        /* height: 20px; */
        width: 70%;
        margin-bottom: 15px;
        text-align: left;
        margin-left: 18px;
        font-weight: 500;
        margin-top: 12px;
        font-size: 16px;
    }
    .bwise {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* justify-content: space-evenly; */
        width: 100%;
        height: 100%;
        position: relative;
        /* flex-wrap: wrap; */
    }
    #frMonitors,
    #frSsds {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        position: relative;
    }
    #frMonitors a span,
    #frSsds a span {
        text-align: center;
        font-size: 12px;
    }
    .showDiv,
    .showDivSec {
        position: absolute;
        right: 2%;
        width: 68px;
        height: 25px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: #28414e;
        color: white;
        font-size: 11px;
        border-radius: 4px;
    }
    .showDiv {
        margin-top: 10px;
    }
    .showDivSec {
        top: -38px;
    }
    .imgC {
        /* flex-grow:1; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 45%;
        margin: 5px auto;
        /* min-width:18%;
        min-height: 21%; */
        /* width:25%;
        height:25%; */
        /* margin:10px; */
        /* min-width: */
        /* height: 29%; */
        height: 150px;
        color: #551A8B;
        background-color: #F8F8FF;
        /* margin: 10px; */
        /* padding-top:5px; */
    }
    .imgC img {
        max-width: 80%;
        max-height: 80%;
    }
    .toHide {
        display: none;
    }
    .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 255px;
        margin: auto;
        margin-top: 70px;
        background-color: aliceblue;
        /* margin-bottom: 20px; */
    }
    .brandLogo {
        /* width: 100%;
        display: flex;
        position: relative;
        height: 100px;
        justify-content: center;
        margin-bottom: 40px; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        height: 52px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* justify-content: center; */
        /* margin-bottom: 10px; */
        padding-top: 5px;
    }
    .newBrandLogo {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        /* height: 80px; */
        /* justify-content: center; */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin: 0px 0px 18px 0px;
        font-size: 18px;
        padding-left: 20px;
    }
    .newBrandLogo a {
        margin-top:10px;
        font-size: 12px;
    }
    .viewAll {
        position: absolute;
        float: right;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: black;
        right: 0px;
        /* margin-top: 0px; */
        margin-right: 14px;
        font-size: 12px;
        width: 70px;
        /* height: 30px; */
        height: 30px;
        background-color: #ffdb99;
    }
    .imgOuter {
        width: 30%;
        height: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-item-align: center;
            align-self: center;
        margin-left: 5px;
    }
    .imgOuter img {
        max-width: 100%;
        max-height: 100%;
    }
    .secondChild {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 95%;
        height: 80%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        position: relative;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        background-color: #f1f3f6;
    }
    [class^=hereProducts] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        width: 100%;
        height: 100%;
        background-color: #f1f3f6;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        overflow-y: auto;
        scroll-behavior: smooth;
        padding-right: 10px;
    }
    .productBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* width: 240px; */
        min-width: 140px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        background-color: white;
        margin: 7px 5px 7px 7px;
        -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.2);
        /* cursor: pointer; */
    }
    /* .productBox:hover */
    /* .imageBox>h4{
        display: none;
    } */
    /* #f0fff0 */
    .imageBox {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -ms-flex-line-pack: space-evenly;
            align-content: space-evenly;
        /* flex: 1; */
        background-color: white;
        text-decoration: none;
        height: 100%;
        text-decoration: none;
        /* box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3); */
        /* padding: 2px 50px; */
    }
    .imageContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 70%;
        height: 70%;
        margin-top: 3px;
    }
    .imageContainer img {
        /* margin:10px; */
        max-width: 95%;
        max-height: 95%;
    }
    .h4Kafont {
        /* display: inline-block; */
        margin: 0px 0px;
        font-weight: 200;
        margin-top: 5px;
        /* margin-right: 5px; */
        /* width: 100%; */
        /* padding: auto; */
        color: #a04fdd;
        width: 100%;
        /* height: 100%; */
        text-align: center;
        font-size: 13px;
        /* font-size:12px; */
    }
    .h4Kafont span:nth-child(1) {
        font-size: 12px;
        text-decoration: line-through;
        color: grey;
        margin-left: 4px;
    }
    .h4Kafont span:nth-child(2) {
        font-size: 13px;
        /* overflow-y: hidden; */
        -o-text-overflow: ellipsis;
           text-overflow: ellipsis;
    }
    .productBox h4 {
        display: block;
        margin: 0px;
        margin-top: 3px;
        font-weight: 100;
        font-size: 12px;
        text-align: center;
        color: #551A8B;
        overflow: hidden;
        max-height: 30px;
    }
    a {
        text-decoration: none;
    }
    [class^='butB'] {
        width: 100%;
        -webkit-box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4), 0 20px 50px rgba(0, 0, 0, 0.4);
                box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4), 0 20px 50px rgba(0, 0, 0, 0.4);
        border-radius: 32px;
        background-color: white;
        -webkit-box-shadow: 0px 10px 10px rh;
                box-shadow: 0px 10px 10px rh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 31px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: auto;
        border: none;
        outline: none;
        cursor: pointer;
        z-index: 3;
        /* display: flex;
     flex: 1 1 0; */
    }
    [id^=butbWala] {
        position: absolute;
        height: 100%;
        width: 3%;
        min-width: 32px;
        /* z-index: 13; */
        max-width: 60px;
        /* z-index: 20; */
        left: 5px;
        display: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 1%;
        /* z-index: 20; */
        /* min-width: 60px; */
        /* flex: 1 0 0; */
    }
    [class^="butA"] {
        width: 100%;
        -webkit-box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4), 0 20px 50px rgba(0, 0, 0, 0.4);
                box-shadow: 0 15px 28px rgba(0, 0, 0, 0.4), 0 20px 50px rgba(0, 0, 0, 0.4);
        border-radius: 32px;
        background-color: white;
        -webkit-box-shadow: 0px 10px 10px rh;
                box-shadow: 0px 10px 10px rh;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 31px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding: auto;
        border: none;
        outline: none;
        cursor: pointer;
    }
    [id^=butaWala] {
        /* height: 100%; */
        position: absolute;
        height: 100%;
        width: 3%;
        /* max-width: 60px; */
        z-index: 3;
        display: none;
        min-width: 32px;
        /* min-width: 60px; */
        float: right;
        right: 5px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* margin-left: %; */
        /* z-index: 13; */
        /* flex: 1 1 0; */
    }
    [class^=hereProducts]::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
    }
    #footKaBaap {
        /* height: 32%; */
        margin-top: 30px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        /* align-items: flex-end; */
        /* bottom: 0px; */
        /* position: relative; */
    }
    #footer {
        width: 100%;
        /* height: 155px; */
        /* flex: 1; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        bottom: 0;
    }
    #upFoot {
        min-height: 60%;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        /* background-color: #28414e; */
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        background-color: #181f30;
        /* margin-top: 100px; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 8px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        bottom: 0;
    }
    #downFoot h2 {
        color: white;
        font-weight: lighter;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 24%;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
    }
    #mySpan {
        height: 72%;
        width: 0px;
        margin-top: 22px;
        border: 1px solid white;
        float: left;
    }
    .footInfo div {
        font-size: 10px;
        color: white;
    }
    /* .footInfo img{
        width:16px;
        height:16px;
    } */
    .footInfo {
        margin: auto;
        margin-right: 3px;
        width: 80%;
    }
    .footInfo h2 {
        font-size: 8px;
        color: #97ace0;
        font-weight: 100;
    }
    .footInfo p {
        font-size: 8px;
        color: white;
        -webkit-margin-before: 1em;
                margin-block-start: 1em;
        -webkit-margin-after: 1em;
                margin-block-end: 1em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
                margin-block-start: 0.83em;
        -webkit-margin-after: 0.83em;
                margin-block-end: 0.83em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
        font-weight: bold;
    }
    .divs1 .footInfo {
        margin-top: 20%;
    }
    .divs1 span::before {
        content: '\2764';
        color: red;
    }
    #downFoot a{
        margin-left: 5px;
        font-size: 13px;
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
    .divs1 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width:40px;
        height: 40px;
    }
    .footInfo img:nth-child(1){
        width: 80%;
        height: 80%;
    }
    .divs1 span {
        /* margin: 0px 3px; */
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
}