

* {
    margin: 0px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a {
    display: block;
    text-decoration: none;
}

.mainContainer {
    width: 100%;
    height: 100%;
}
.faFirst{
    font-size: 20px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
#bd{
    width:100%;
    height: 100%;
    overflow: auto;
    max-width: 1600px;
}



/* #headFixing {
    position: relative;
    top: 0px;
    width: 100%;
    height: 7%;
}

 */

.mainBody {
    position: relative;
    background-color: #F8F8F8;
    min-height: 100%;
    /* background-color: #403f3f; */
}

@media (min-width:769px) {
    
    /* #mainKaBaap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .mainBody {
        position: relative;
        background-color: #F8F8F8;
        max-width: 1680px;
        margin: 0 auto;
        /* background-color: #403f3f; */
    }
    
  
    .thisisForm {
        border-bottom: 0.7px solid rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
    }
    #animating {
        max-width: 700px;
        min-width: 500px;
        /* min-height: 300px; */
        padding: 5px 5px;
        /* max-height: 500px; */
        z-index: 41;
        display: none;
        position: fixed;
    }
    #recommendations {
        width: 95%;
        margin: 0px auto;
        max-height: 100%;
        padding-bottom: 10px;
    }
    #recommendations p {
        /* margin: 5px 0px; */
        margin-top: 9px;
        padding: 0px 7px;
        display: block;
        font-size: 16px;
        font-weight: 100;
        cursor: pointer;
    }
    /* #recommendations span{
    
    transform: rotate(-45deg);
    margin-right: 10px;
} */
    .hightlight {
        background-color: #a2a2a2;
    }
    .inputOfForm {
        width: 100%;
        height: 40px;
    }
    #closePopUp {
        width: 100%;
        height: 40px;
        /* content: '\2716'; */
        background-color: transparent;
    }
    #closePopUp span {
        cursor: pointer;
        float: right;
        text-align: right;
        font-size: 40px;
        opacity: 1;
        font-weight: 100;
        max-height: 100%;
    }
    input:focus {
        outline: none;
    }
    #popBody {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
    }
    .inputOfForm form {
        width: 100%;
        height: 100%;
    }
    .inputOfForm input {
        width: 92%;
        height: 100%;
        border: none;
        padding: 0px 7px;
        font-size: 15px;
        font-weight: 100;
        display: inline-block;
    }
    .searchIcon {
        display: inline-block;
        width: 7%;
        height: 100%;
    }
    .searchIcon span {
        max-width: 100%;
        max-height: 100%;
        color: black;
        font-size: 23px;
        text-align: center;
        margin: auto;
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    #disableBody {
        /* animation-name:namingTheAnimation; */
        /* width: 100%;
    opacity: 0.5;
    display:none;
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    background-color: white;
    z-index:40; */
        display: none;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background-color: black;
        /* overflow: auto; */
        /* overflow-x: auto; */
        opacity: 0.3;
        /* overflow-y: auto; */
        position: fixed;
        /* visibility: hidden; */
        z-index: 39;
    }
    .tabling {
        margin-left: 100px;
        margin-right: 100px;
        /* margin-bottom: 10px; */
        padding-top: 10px;
        /* margin-top: 10px; */
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100%;
        
    }
    .coloringTabling {
        background-color: #cce6ff;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .divOfHeading {
        margin: 0 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #d65f5f;
        margin-top: 20px;
    }

    .divOfRow {
        /* background-color: lightgray; */
        margin-bottom: 15px;
        /* max-width: 100%; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        
        /* position: relative; */
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        /* max-height: 60px;
    min-height: 30px; */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 3px;
        padding-left: 5px;
        /* transition: all 50ms; */
        /* opacity: 0.9; */
    }
    .divOfName {
        /* max-width: 100%; */
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
    }
    .divOfName h3 {
        font-size: 18px;
        /* text-transform: capitalize; */
        font-weight: 300;
        text-align: center;
    }
    h3.h4OfHeading {
        font-weight: 100;
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 5px;
        color: black;
        text-transform: uppercase;
    }
    /* .divOfRow:hover{
    border: 0.5px solid black;
    opacity: 1;
    transform: scale(1.03);
    box-shadow:  0px 6px 7px 0px rgba(255,255,255,0.15),
                 0px -6px 7px 0px rgba(255,255,255,0.15),
                 -5px 0px 7px 0px rgba(255,255,255,0.15),
                 5px 0px 7px 0px rgba(255,255,255,0.15);

} */
    .divOfRowPic {
        /* height: 500px; */
        /* background-color: #F5F5F5; */
        /* height: 90%; */
        /* width: 100%; */
    }
    /* .divOfName{
    text-align:left;
    width: 230px;
} */
    .divOfValue {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* flex-grow: 1; */
        /* padding-left: 5px;
    padding-right: 5px; */
        background-color: #e0f0ff;
        width: 30%;
        height: 100%;
    }
    .nameOfProd {
        margin-top: 10px;
        width: 80%;
        text-align: center;
        /* text-transform: capitalize; */
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 570;
        line-height: 17px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
    }
    .valueOfName {
        width: 80%;
        /* width: 100%; */
        /* height: 100%; */
        text-align: center;
        margin-bottom: 10px;
        max-height: 100%;
        font-size: 17px;
        font-weight: 200;
        line-height: 20px;
        word-spacing: 0.5px;
    }
    .divOfPic {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;  
        -webkit-box-pack: center;  
            -ms-flex-pack: center;  
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* height: 90%; */
        width: 100%;
        height: 400px;
        /* background-color: whitesmoke; */
        /* margin: 3px; */
        
    }
    .vers {
        /* max-width: 10%: */
        font-size: 20px;
        font-family: 'Roboto';
        
    }
    .imgOfProduct {
        max-width: 100%;
        max-height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 0px;
                flex: 0 1 0;
    }
    .breaker {
        border: 0.5px solid rgba(0, 0, 0, 0.8);
        margin: 0 80px;
    }
    .divOfSpec {
        font-size: 18px;
        font-weight: 160;
    }
    #footKaBaap {
        margin-top:10px;
        /* height: 38%; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* align-items: flex-end; */
        bottom: 0px;
        position: relative;
    }
    #footer {
        width: 100%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        width: 100%;
        bottom: 0;
    }
    #upFoot {
        /* height: 60%; */
        width: 100%;
        margin: 12px 0px;
        background-color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        background-color: #181f30;
        /* margin-top: 100px; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #downFoot h2 {
        color: white;
        /* font-weight: lighter; */
        font-size: 14px;
        font-weight: 400;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        max-width: 25%;
        width: auto;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    }
    #divs2 {
        width: 20%;
    }
    .footInfo {
        width: 50%;
        margin: auto;
    }
    .footInfo h2 {
        font-size: 16px;
        color: #97ace0;
    }
    .footInfo p {
        margin: 10px 0px;
        font-size: 13px;
        color: white;
    }
    .footInfo img {
        width: 100px;
    }
    .divs1 .footInfo {
        color: white;
        margin-top: 3%
    }
    .divs1 span::before {
        content: '\2764';
        color: red;
    }
    .divs1 span {
        /* margin: 0px 3px; */
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
}

/*  ===================================================
=================================================================================================================
=====================================================
===============================================
 ===================================================
=================================================================================================================
=====================================================
=============================================== M O B I L E===================================================
=================================================================================================================
=====================================================
=============================================== ===================================================
=================================================================================================================
=====================================================
=============================================== */

@media (max-width:768px) {
    
    /* #mainKaBaap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .mainBody {
        position: relative;
        background-color: #F8F8F8;
        max-width: 1680px;
        margin: 0 auto;
        /* background-color: #403f3f; */
    }
    
    .thisisForm {
        border-bottom: 0.7px solid rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
    }
    #animating {
        width: 90%;
        max-width: 400px;
        min-width: 200px;
        /* min-height: 300px; */
        padding: 5px 5px;
        /* max-height: 500px; */
        z-index: 41;
        display: none;
        position: fixed;
    }
    #recommendations {
        width: 95%;
        margin: 0px auto;
        max-height: 100%;
        padding-bottom: 10px;
    }
    #recommendations p {
        /* margin: 5px 0px; */
        margin-top: 9px;
        padding: 0px 7px;
        display: block;
        font-size: 16px;
        font-weight: 100;
        cursor: pointer;
    }
    /* #recommendations span{
    
    transform: rotate(-45deg);
    margin-right: 10px;
} */
    .hightlight {
        background-color: #a2a2a2;
    }
    .inputOfForm {
        width: 100%;
        height: 40px;
    }
    #closePopUp {
        width: 100%;
        height: 40px;
        /* content: '\2716'; */
        background-color: transparent;
    }
    #closePopUp span {
        cursor: pointer;
        float: right;
        text-align: right;
        font-size: 40px;
        opacity: 1;
        font-weight: 100;
        max-height: 100%;
    }
    input:focus {
        outline: none;
    }
    #popBody {
        width: 100%;
        height: 100%;
        background-color: whitesmoke;
    }
    .inputOfForm form {
        width: 100%;
        height: 100%;
    }
    .inputOfForm input {
        width: 92%;
        height: 100%;
        border: none;
        padding: 0px 7px;
        font-size: 15px;
        font-weight: 100;
        display: inline-block;
    }
    .searchIcon {
        display: inline-block;
        width: 7%;
        height: 100%;
        float: right;
        margin-top: 3px;
    }
    .searchIcon span {
        max-width: 100%;
        max-height: 100%;
        color: black;
        font-size: 27px;
        text-align: center;
        margin: auto;
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    #disableBody {
        /* animation-name:namingTheAnimation; */
        /* width: 100%;
    opacity: 0.5;
    display:none;
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    background-color: white;
    z-index:40; */
        display: none;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background-color: black;
        /* overflow: auto; */
        /* overflow-x: auto; */
        opacity: 0.3;
        /* overflow-y: auto; */
        position: fixed;
        /* visibility: hidden; */
        z-index: 39;
    }
    .tabling {
        /* margin-bottom: 10px; */
        padding-top: 10px;
        /* margin-top: 10px; */
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* flex: 1 1 0; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        max-width: 100%;
        /* height: 600px; */
        
    }
    .coloringTabling {
        background-color: #cce6ff;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .divOfHeading {
        margin: 0 100px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        color: #d65f5f;
        margin-top: 20px;
    }
    .divOfRow {
        /* background-color: lightgray; */
        margin-bottom: 15px;
        /* max-width: 100%; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        /* position: relative; */
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        /* max-height: 60px;
    min-height: 30px; */
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border-radius: 3px;
        padding-left: 5px;
        /* transition: all 50ms; */
        /* opacity: 0.9; */
    }
    .divOfName {
        /* max-width: 100%; */
        -webkit-box-flex: 1;
            -ms-flex: 1 1 0px;
                flex: 1 1 0;
    }
    .divOfName h3 {
        font-size: 16px;
        padding: 5px;
        /* text-transform: capitalize; */
        font-weight: 300;
        text-align: center;
        /* font-size: 6vw; */
    }
    h3.h4OfHeading {
        font-weight: 100;
        font-size: 22px;
        line-height: 20px;
        margin-bottom: 5px;
        color: black;
        text-transform: uppercase;
    }
    /* .divOfRow:hover{
    border: 0.5px solid black;
    opacity: 1;
    transform: scale(1.03);
    box-shadow:  0px 6px 7px 0px rgba(255,255,255,0.15),
                 0px -6px 7px 0px rgba(255,255,255,0.15),
                 -5px 0px 7px 0px rgba(255,255,255,0.15),
                 5px 0px 7px 0px rgba(255,255,255,0.15);

} */
    .divOfRowPic {
        /* max-width: 100%;
        height: 60%; */
        /* height: 600px; */
        /* width: 100%; */
        /* max-height: 350px; */
        /* background-color: #F5F5F5; */
    }
    /* .divOfName{
    text-align:left;
    width: 230px;
} */
    .divOfValue {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* flex-grow: 1; */
        /* padding-left: 5px;
    padding-right: 5px; */
        background-color: #e0f0ff;
        width: 40%;
        height: 100%;
    }
    .nameOfProd {
        margin-top: 10px;
        width: 80%;
        text-align: center;
        /* text-transform: capitalize; */
        padding-bottom: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 570;
        line-height: 17px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.8);
    }
    .valueOfName {
        width: 80%;
        /* width: 100%; */
        /* height: 100%; */
        text-align: center;
        margin-bottom: 10px;
        max-height: 100%;
        font-size: 14px;
        font-weight: 100;
        line-height: 20px;
        word-spacing: 0.5px;
    }
    .divOfPic {
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* height: 100%; */
        width: 100%;
        /* background-color: whitesmoke; */
        /* margin: 3px; */
    }
    .vers {
        /* max-width: 10%: */
        font-size: 20px;
        font-family: 'Roboto';
    }
    .imgOfProduct {
        max-width: 100%;
        max-height: 300px;
        /* display: flex;
        flex: 0 1 0; */
    }
    .breaker {
        border: 0.5px solid rgba(0, 0, 0, 0.8);
        margin: 0 80px;
    }
    .divOfSpec {
        font-size: 18px;
        font-weight: 160;
    }
}




.divOfHeading{
    border-radius: 0%;
}
@media (max-width:550px) {
    #db {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 23;
        display: none;
        position: fixed;
    }
    #t {
        top: 8%;
        /* right:20%; */
        position: fixed;
        display: none;
        /* width:40%; */
        /* height:100px; */
        float: right;
        /* background-color: #edf522; */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 49;
    }
    .se {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: auto;
        /* background-color: blue; */
    }
    #ye {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .qwe {
        /* margin:0px 0px; */
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 1);
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
    }
    .qwe div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .qwe a {
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        padding-left: 10px;
        /* height:40px; */
        text-decoration: none;
        color: black;
    }
    .qwe img {
        margin-right: 10px;
    }
    .qwe div:hover {
        background-color: rgb(242, 242, 242, 0.6)
    }
    #headContainer {
        /* display: flex; */
        /* border: 1px #F0FFF0; */
        /* background-color:#F0FFF0; */
        background-color: #1b262c;
        position: sticky;
        position: -webkit-sticky;
        width: 100%;
        height: 8%;
        /* min-width: 780px; */
        min-height: 30px;
    }
    .lg {
        width: 100%;
        height: 43px;
    }
    .lg img {
        width: 30px;
        height: 30px;
    }
    .gl {
        display: none;
    }
    /* Pasted Code */
    #headFixing {
        position: -webkit-sticky;
        position: sticky;
        top: -44px;
        width: 100%;
        /* height: 9%; */
        /* min-height: 30px; */
        z-index: 47;
        height: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        background-color: #1b262c;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .horizontalBars {
        border: 1px #403f3f;
        /* border: 1px #F5F5F5; */
        float: left;
        width: 15%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        /* display: none; */
    }
    .faFirst {
        color: rgb(0, 0, 0);
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        font-size: 24px;
    }
    .border {
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 40%;
        height: 40%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 0;
        cursor: pointer;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    /* .border:hover {
        border: 1px grey;
        border-radius: 50px;
        animation-name: fadeOut;
        animation-timing-function: linear;
        animation-duration: 200ms;
        animation-fill-mode: normal;
        animation-iteration-count: 1;
        animation-direction: normal;
    } */
    .bar {
        width: 40%;
        min-width: 17px;
        height: 10%;
        min-height: 7%;
        background-color: #F0F8FF;
        margin: 1.5px;
        z-index: 1;
    }
    /* form{
        display: flex;
        width: 80%;
    } */
    .searchBarFlex {
        float: right;
        width: 98%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* min-width: 250px; */
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #searchBar {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #F0F8FF;
        width: 100%;
        height: 100%;
        border-right: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
        /* margin-right: 20px; */
        display: flex;
        background-color: #403f3f;
        /* background-color: #292927; */
        color: #f7f7f7;
        font-weight: 10px;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 10px;
        outline: none;
    }
    #searchIcon {
        cursor: pointer;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #F0F8FF;
        border-style: solid;
        background-color: #f7f7f7;
        width: 5%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 35px;
    }
    .newone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* float:; */
        margin-left: auto;
        width: 80%;
        height: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-right: 10px;
    }
    .fa-search {
        color: black;
        font-weight: 10vw;
    }

    #footer {
        width: 100%;
        /* height: 155px; */
        /* flex: 1; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        bottom: 0;
    }
    #upFoot {
        min-height: 60%;
        width: 100%;
        /* background-color: #28414e; */
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        background-color: #181f30;
        /* margin-top: 100px; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 8px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        bottom: 0;
    }
    #downFoot h2 {
        color: white;
        font-weight: lighter;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 24%;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
    }
    #mySpan {
        height: 72%;
        width: 0px;
        margin-top: 22px;
        border: 1px solid white;
        float: left;
    }
    .footInfo div {
        font-size: 10px;
        color: white;
    }
    /* .footInfo img{
        width:16px;
        height:16px;
    } */
    .footInfo {
        margin: auto;
        margin-right: 3px;
        width: 80%;
    }
    .footInfo h2 {
        font-size: 10px;
        color: #97ace0;
        font-weight: 300;
    }
    .footInfo p {
        font-size: 10px;
        color: white;
        -webkit-margin-before: 1em;
                margin-block-start: 1em;
        -webkit-margin-after: 1em;
                margin-block-end: 1em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
                margin-block-start: 0.83em;
        -webkit-margin-after: 0.83em;
                margin-block-end: 0.83em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
        font-weight: bold;
    }
    .divs1 .footInfo {
        margin-top: 30%
    }
    .divs1 span::before {
        content: '\2764';
        color: red;
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
    .divs1 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width:40px;
        height: 40px;
    }
    .footInfo img:nth-child(1){
        width: 80%;
        height: 80%;
    }
    #downFoot a{
        margin-left: 4px;
    }
    .divs1 span {
        /* margin: 0px 3px; */
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
}

@media screen and (min-width: 1025px){
    #t {
        top: 7%;
        position: fixed;
        display: none;
        float: right;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 50;
        margin-left: 70px;
    }
    .se {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: auto;
    }
    #ye {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .qwe {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
    }
    .qwe div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .qwe a {
        font-size: 15px;
        font-weight: 400;
        width: 100%;
        padding-left: 10px;
        text-decoration: none;
        color: black;
    }
    .qwe img {
        margin-right: 10px;
    }
    .qwe div:hover {
        background-color: rgb(242, 242, 242, 0.6)
    }
    .lg {
        display: none;
    }
    .gl {
        /* left:20px; */
        max-width: 20%;
        margin-right: 20px;
    }
    .gl img {
        width: 50px;
        height: 50px;
    }
    .lg {
        display: none;
    }
    .gl {
        /* left:20px; */
        max-width: 20%;
        margin-right: 20px;
    }
    .gl img {
        width: 50px;
        height: 50px;
    }
    #headFixing {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        width: 100%;
        height: 7%;
        min-height: 30px;
        max-height: 80px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 47;
        background-color: #1b262c;
    }
    /* #mainKaBaap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .mainBody {
        position: relative;
        background-color: #F8F8F8;
        max-width: 1680px;
        /* height: 100%; */
        margin: 0 auto;
        /* display: flex; */
        font: 100%;
        /* background-color: #403f3f; */
    }
    #mainBody {
        min-height: 100%;
    }
    #headContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px #403f3f;
        /* border: 1px #F0FFF0; */
        /* background-color:#F0FFF0; */
        background-color: #1b262c;
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        /* position: -webkit-sticky;  for safari */
        z-index: 20;
        width: 100%;
        height: 100%;
        min-width: 780px;
        min-height: 30px;
        max-height: 80px;
        max-width: 2400px;
    }
    .horizontalBars {
        border: 1px #403f3f;
        /* border: 1px #F5F5F5; */
        float: left;
        min-width: 30px;
        max-width: 400px;
        width: 8%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        display: none;
    }
    .fa {
        color: rgb(0, 0, 0);
        display: inline-block;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        font-size: 26px;
    }
    .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 50%;
        height: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 0;
        cursor: pointer;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    .border:hover {
        border: 1px grey;
        border-radius: 50px;
        -webkit-animation-name: fadeOut;
                animation-name: fadeOut;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -webkit-animation-duration: 200ms;
                animation-duration: 200ms;
        -webkit-animation-fill-mode: normal;
                animation-fill-mode: normal;
        -webkit-animation-iteration-count: 1;
                animation-iteration-count: 1;
        -webkit-animation-direction: normal;
                animation-direction: normal;
    }
    .bar {
        width: 40%;
        min-width: 17px;
        height: 10%;
        min-height: 7%;
        background-color: #F0F8FF;
        margin: 1.5px;
        z-index: 1;
    }
    .searchBarFlex {
        float: right;
        width: 80%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 250px;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    #searchBar {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #F0F8FF;
        border-right: 0px;
        width: 40%;
        height: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #403f3f;
        /* background-color: #292927; */
        color: #f7f7f7;
        font-weight: 10px;
        min-width: 225px;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 10px;
    }
    .te {
        position: relative;
        z-index: 20;
        position: -webkit-sticky;
        position: sticky;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        height: 100px;
        width: 80%;
        margin-left: auto;
        background-color: #003336;
    }
    .q {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 40%;
        background-color: #ffffff;
    }
    #searchIcon {
        cursor: pointer;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #F0F8FF;
        border-style: solid;
        background-color: #f7f7f7;
        width: 4%;
        height: 60%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 22px;
    }
    .newone {
        width: 100%;
        height: 100%;
        max-width: 2000px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        
    }
    .fa-search {
        color: black;
        font-weight: 10vw;
    }
    .faFirst {
        font-size: 20px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
    }
    #footKaBaap {
        margin-top:10px;
        /* height: 38%; */
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        /* align-items: flex-end; */
        bottom: 0px;
        position: relative;
    }
    #footer {
        width: 100%;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        width: 100%;
        bottom: 0;
    }
    #upFoot {
        /* height: 60%; */
        width: 100%;
        margin: 12px 0px;
        background-color: #000000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        background-color: #181f30;
        /* margin-top: 100px; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 12px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #downFoot h2 {
        color: white;
        /* font-weight: lighter; */
        font-size: 14px;
        font-weight: 400;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        max-width: 25%;
        width: auto;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
    }
    #divs2 {
        width: 20%;
    }
    .footInfo {
        width: 50%;
        margin: auto;
    }
    .footInfo h2 {
        font-size: 16px;
        color: #97ace0;
    }
    .footInfo p {
        margin: 10px 0px;
        font-size: 13px;
        color: white;
    }
    .footInfo img {
        width: 100px;
    }
    .divs1 .footInfo {
        color: white;
        margin-top: 3%
    }
    .divs1 span::before {
        content: '\2764';
        color: red;
    }
    .divs1 span {
        /* margin: 0px 3px; */
    }
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
    .divs1 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width:60px;
        height: 60px;
    }
    .footInfo img:nth-child(1){
        width: 80%;
        height: 80%;
    }
    #downFoot a{
        margin-left:4px;
    }
    
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
}
@media screen and (min-width:550px) and (max-width:1025px){
    #t {
        top: 70px;
        /* right:20%; */
        position: fixed;
        display: none;
        /* width:40%; */
        /* height:100px; */
        float: right;
        /* background-color: #edf522; */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: 49;
        margin-left: 70px;
    }
    .se {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-left: auto;
        /* background-color: blue; */
    }
    #ye {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    .qwe {
        /* margin:0px 0px; */
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -3px -5px 10px rgba(0, 0, 0, 0.2);
    }
    .qwe div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        height: 40px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .qwe a {
        font-size: 15px;
        font-weight: 300;
        width: 100%;
        padding-left: 10px;
        /* height:40px; */
        text-decoration: none;
        color: black;
    }
    .qwe img {
        margin-right: 10px;
    }
    .qwe div:hover {
        background-color: rgb(242, 242, 242, 0.6)
    }
    #headFixing {
        position: relative;
        top: 0px;
        width: 100%;
        height: 70px;
        z-index: 47;
    }
    .mainBody {
        /* position: relative; */
        background-color: #F8F8F8;
        min-height: 100%;
        /* background-color: #403f3f; */
    }
    #headContainer {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px #403f3f;
        /* border: 1px #F0FFF0; */
        /* background-color:#F0FFF0; */
        background-color: #1b262c;
        position: fixed;
        top: 0px;
        /* position: -webkit-sticky;  for safari */
        z-index: 20;
        width: 100%;
        height: 70px;
        min-height: 30px;
        min-height: 40px;
    }
    .horizontalBars {
        border: 1px #403f3f;
        /* border: 1px #F5F5F5; */
        float: left;
        min-width: 30px;
        width: 8%;
        margin-left: 5px;
        height: 100%;
        display: none;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -ms-flex-negative: 1;
            flex-shrink: 1;
    }
    /* .fa {
        color: yellow;
        

    } */
    .border {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 50%;
        height: 50%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        z-index: 0;
        cursor: pointer;
        -webkit-transition: all 200ms;
        -o-transition: all 200ms;
        transition: all 200ms;
    }
    /* .border:hover {
        border: 1px grey;
        border-radius: 50px;
        animation-name: fadeOut;
        animation-timing-function: linear;
        animation-duration: 200ms;
        animation-fill-mode: normal;
        animation-iteration-count: 1;
        animation-direction: normal;
    } */
    .bar {
        width: 40%;
        min-width: 17px;
        height: 10%;
        min-height: 7%;
        background-color: #F0F8FF;
        margin: 1.5px;
        z-index: 1;
    }
    @-webkit-keyframes fadeOut {
        0% {
            border: 1px solid grey;
            opacity: 0;
            width: 10%;
            height: 20%;
        }
        100% {
            width: 40%;
            height: 60%;
            border: 2px solid grey;
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            border: 1px solid grey;
            opacity: 0;
            width: 10%;
            height: 20%;
        }
        100% {
            width: 40%;
            height: 60%;
            border: 2px solid grey;
            opacity: 1;
        }
    }
    .searchBarFlex {
        float: right;
        width: 60%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        /* max-width: 320px; */
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .lg {
        display: none;
    }
    .gl {
        /* left:20px; */
        max-width: 20%;
        margin-right: 20px;
    }
    .gl img {
        width: 50px;
        height: 50px;
    }
    #searchBar {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px solid #F0F8FF;
        border-right: 0px;
        width: 40%;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #403f3f;
        /* background-color: #292927; */
        color: #f7f7f7;
        font-size: 90%;
        min-width: 70%;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 10px;
    }
    #searchIcon {
        cursor: pointer;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #F0F8FF;
        border-style: solid;
        background-color: #f7f7f7;
        width: 40px;
        height: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        min-width: 22px;
    }
    .newone {
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #footKaBaap {
        /* height: 32%; */
        margin-top: 20px;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        /* align-items: flex-end; */
        /* bottom: 0px; */
        /* position: relative; */
    }
    #footer {
        width: 100%;
        /* height: 155px; */
        /* flex: 1; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        bottom: 0;
    }
    #upFoot {
        min-height: 60%;
        width: 100%;
        /* background-color: #28414e; */
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        -ms-flex-item-align: end;
            align-self: flex-end;
        background-color: #181f30;
        /* margin-top: 100px; */
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 8px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        bottom: 0;
    }
    #downFoot h2 {
        color: whitesmoke;
        font-weight: lighter;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 24%;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
    }
    #mySpan {
        height: 72%;
        width: 0px;
        margin-top: 22px;
        border: 1px solid white;
        float: left;
    }
    .footInfo {
        margin: auto;
        margin-right: 3px;
        width: 80%;
    }
    .footInfo h2 {
        font-size: 12px;
        color: #97ace0;
    }
    .footInfo p {
        font-size: 15px;
        color: white;
        -webkit-margin-before: 1em;
                margin-block-start: 1em;
        -webkit-margin-after: 1em;
                margin-block-end: 1em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
    }
    .divs1 span::before {
        content: '\2764';
        color: red;
    }
    .divs1 {
        /* align-items: center; */
        margin-top: 40px;
    }
    
    .divs1 img {
        margin-left: 5px;
        width: 10px;
        height: 7px;
    }
    .divs1 a{
        display: flex;
        justify-content: center;
        align-items: center;
        width:60px;
        height: 60px;
    }
    .footInfo img:nth-child(1){
        width: 80%;
        height: 80%;
    }
    .footInfo div {
        font-size: 15px;
        color: white;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        -webkit-margin-before: 0.83em;
                margin-block-start: 0.83em;
        -webkit-margin-after: 0.83em;
                margin-block-end: 0.83em;
        -webkit-margin-start: 0px;
                margin-inline-start: 0px;
        -webkit-margin-end: 0px;
                margin-inline-end: 0px;
        font-weight: bold;
    }
    .footInfo img {
        height: 10px;
        width: 20px;
        margin-right: 5px;
    }
}