* {
    margin: 0px 0px;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    box-sizing: inherit;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #F8F8F8;
    user-select: none;
}

a {
    display: block;
    text-decoration: none;
}

.mainContainer {
    width: 100%;
    height: 100%;
}




@media (max-width:450px) {
    #db{
        width:100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
        z-index:19;
        display: none;
        position: fixed;

    }
    #t{
        top:8%;
        /* right:20%; */
        position: fixed;
        display: none;
        /* width:40%; */
        /* height:100px; */
        float:right;
        /* background-color: #edf522; */
        justify-content: center;
        z-index: 20;
    }
    .se{
        display: flex;
        width:100%;
        justify-content: center;
        margin-left: auto;
        /* background-color: blue; */
        
    }
    #ye{
        display: flex;
        width:100%;
    }
    .qwe{
        /* margin:0px 0px; */
        cursor: pointer;
        display: flex;
        flex-direction: column;
        width:100%;
        background-color: rgba(255,255,255,1);
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2),
                    -3px -5px 10px rgba(0, 0, 0, 0.2);
    }
    .qwe div {
        display: flex;
        width:100%;
        height: 40px;
        justify-content: center;
        align-items: center;

    }
    .qwe a{
        font-size: 15px;
        font-weight: 100;
        width:100%;
        padding-left:10px;
        /* height:40px; */
        text-decoration: none;
        color: black;
    }
    .qwe img{
        margin-right: 10px;
    }
    .qwe div:hover{
        background-color: rgb(242, 242, 242, 0.6)
    }
    
    .lg{
        width:100%;
        height:43px;
    }
    /* Pasted Code */
    #headFixing {
        position: sticky;
        top: -44px;
        width: 100%;
        /* height: 9%; */
        /* min-height: 30px; */
        z-index: 47;

        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1b262c;
        flex-direction: column;
    }
    #headContainer {
        /* display: flex; */
                /* border: 1px #F0FFF0; */
        /* background-color:#F0FFF0; */
        background-color: #1b262c;
        position: sticky;
        position: -webkit-sticky;
        width:100%;
        height: 8%;
        /* min-width: 780px; */
        min-height: 30px;
        
    }
    .horizontalBars {
        border: 1px #403f3f;
        /* border: 1px #F5F5F5; */
        float: left;
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
        /* display: none; */
    }
    .faFirst {
        color: rgb(0, 0, 0);
        display: inline-block;
        transform: rotate(-45deg);
        font-size: 24px;
    }
    .border {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 40%;
        flex-direction: column;
        z-index: 0;
        cursor: pointer;
        transition: all 200ms;
    }
    /* .border:hover {
        border: 1px grey;
        border-radius: 50px;
        animation-name: fadeOut;
        animation-timing-function: linear;
        animation-duration: 200ms;
        animation-fill-mode: normal;
        animation-iteration-count: 1;
        animation-direction: normal;
    } */
    .bar {
        width: 40%;
        min-width: 17px;
        height: 10%;
        min-height: 7%;
        background-color: #F0F8FF;
        margin: 1.5px;
        z-index: 1;
    }
   
    /* form{
        display: flex;
        width: 80%;
    } */
    .searchBarFlex {
        float: right;
        width: 98%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-width: 250px; */
        flex-direction: row;
    }
    #searchBar {
        box-sizing: border-box;
        border: 2px solid #F0F8FF;
        width: 100%;
        height: 100%;
        border-right: none;
        display: flex;
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
        /* margin-right: 20px; */
        display: flex;
        background-color: #403f3f;
        /* background-color: #292927; */
        color: #f7f7f7;
        font-weight: 10px;
        
        flex-shrink: 1;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        padding-left: 10px;
        outline: none;
    }
    #searchIcon {
        cursor: pointer;
        border-top: 2px;
        border-right: 2px;
        border-bottom: 2px;
        border-left: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: #F0F8FF;
        border-style: solid;
        background-color: #f7f7f7;
        width: 2%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 22px;
    }
    .newone {
        display: flex;
        /* float:; */
        margin-left: auto;
        width: 80%;
        height: 100%;
        justify-content: center;
        margin-right: 10px;
       
    }
    .fa-search {
        color: black;
        font-weight: 10vw;
    }
    .thisisForm {
        border-bottom: 0.7px solid rgba(0, 0, 0, 0.8);
        background-color: #ffffff;
        width: 80%;
    }
    #animating {
        /* max-width: 700px;
        min-width: 500px; */
        width: 90%;
        /* min-height: 300px; */
        padding: 5px 5px;
        /* max-height: 500px; */
        z-index: 41;
        display: none;
        position: fixed;
    }
    #recommendations {
        width: 95%;
        max-height: 100%;
        padding-bottom: 10px;
        margin: 0px auto;
    }
    #recommendations p {
        /* margin: 5px 0px; */
        margin-top: 9px;
        padding: 0px 7px;
        display: block;
        font-size: 16px;
        font-weight: 100;
        cursor: pointer;
    }
    /* #recommendations span{
    
    transform: rotate(-45deg);
    margin-right: 10px;
} */
    .highlight {
        background-color: #a2a2a2;
    }
    .inputOfForm {
        width: 95%;
        height: 40px;
        margin: 0px auto;
    }
    #closePopUp {
        width: 100%;
        height: 40px;
        /* content: '\2716'; */
        background-color: transparent;
    }
    #closePopUp span {
        cursor: pointer;
        float: right;
        text-align: right;
        font-size: 40px;
        opacity: 1;
        font-weight: 100;
        max-height: 100%;
    }
    input:focus {
        outline: none;
    }
    #popBody {
        /* max-width: 400px;
        width: 100%; */
        height: 100%;
        background-color: whitesmoke;
    }
    .inputOfForm form {
        width: 100%;
        height: 100%;
    }
    .inputOfForm input {
        width: 92%;
        height: 100%;
        border: none;
        padding: 0px 7px;
        font-size: 15px;
        font-weight: 100;
        display: inline-block;
    }
    .searchIcon {
        display: inline-block;
        width: 7%;
        height: 100%;
        float: right;
        margin-top: 5px;
    }
    .searchIcon span {
        max-width: 100%;
        max-height: 100%;
        color: black;
        font-size: 28px;
        text-align: center;
        margin: auto;
        display: inline-block;
        transform: rotate(-45deg);
    }
    /* #animating{
    width: 300px;
    height: 300px;
    position: relative;
    display: none;
    background-color: rosybrown;
} */
    #filterBarParent {
        width: 0%;
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 595px;
        background-color: #E8E8E8;
        transition: width 0.2s ease-out;
    }
    #filterBarHead {
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 8;
        transition: all 0.3s ease-in-out;
        transform: translate3d(-100%, 0px, 0px);
    }
    #mainBody {
        /* height:100%; */
        /* overflow: auto; */
        
        /* width: 100%;
        height: 100%; */
        /* overflow: auto; */
        /* position: relative; */
    }
    #db2{
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        z-index:24;
        background-color: rgba(0, 0, 0, 0.2);
    }
    #db2 span{
        float: right;
        font-size:20px;
        color:white;
        margin: 24px;
    }
    #db2 span::before{
        content: ' \2573';
    }
    #bd{
        width:100%;
        height:100%;
        overflow: auto;
    }
    #filterBar {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        position: fixed;
        z-index: 40;
        /* top: 7%; */
        padding: 24px 10px;
        /* padding-left: 10px; */
        width: 260px;
        float: left;
        margin-right: 3px;
        /* min-height: 980px;
        max-height: 1200px; */
        /* color: grey; */
        background-color: white;
        /* display: none; */
    }
    @keyframes ex{
        0%{left:-260px;}
        50%{left:-100px;}
        100%{left:0px}
    }
    @keyframes ne{
        0%{
            left:0px;
        }
        25%{
            left:-50px;
        }
        50%{
            left:-100px;
        }
        100%{
            left:-260px;
        }
    }
    .inputTake {
        width: 100%;
        margin-top: 15px;
    }
    .inputTake #priceApi {
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ui-rangeslider .ui-rangeslider-sliders {
        position: relative;
        overflow: visible;
        height: 30px;
        margin: 0 26px;
    }
    .ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
        background-color: #fff;
        border-color: #ddd;
        color: #333;
        text-shadow: 0 1px 0 #f3f3f3;
        display: none;
    }
    .ui-mobile label, .ui-controlgroup-label {
        display: block;
        margin: 0px;
        margin: 0px 9px;
        margin-right: 0px;
    }
    #slider {
        max-width: 90%;
        margin: 0 auto;
    }
    .inputTake input[type="text"] {
        max-width: 40%;
        border: 1px solid aliceblue;
        border-radius: 4px;
    }
    .ui-mobile .ui-page {
        height: 74px !important;
        min-height: 80px !important;
    }
    .ui-mobile .ui-page-active {
        display: block;
        overflow: visible;
        overflow-x: hidden;
    }
    .ui-mobile [data-role=page], .ui-mobile [data-role=dialog], .ui-page {
        top: 0;
        left: 0;
        /* width: 100%; */
        min-height: 0% !important;
        position: relative !important;
        overflow: hidden;
        /* display: none; */
        /* border: 0; */
    }
    .ui-page {
        outline: 0;
    }
    .ui-mobile fieldset, .ui-page {
        /* padding: 0; */
        /* margin: 0; */
    }
    .ui-mobile label, .ui-controlgroup-label {
        display: block;
        /* margin: 0 0 .4em; */
        margin: 0px 9px;
        margin-right: 0px;
    }
    .ui-slider-track .ui-btn.ui-slider-handle {
        position: absolute;
        z-index: 1;
        top: 50%;
        width: 20px;
        height: 20px;
        margin: -10px 0 0 -15px;
        outline: 0;
        padding: 0;
    }
    .inputTake input[type="text"] {
        max-width: 100px;
        border: 1px solid aliceblue;
        border-radius: 4px;
    }
    .ui-slider {
        height: 10px;
        outline: none;
        max-width: 100%;
    }
    .ui-state-default {
        user-select: none;
        text-decoration: none;
        outline: none;
    }
    .ui-state-default a:focus {
        border: none;
        user-select: none;
        text-decoration: none;
    }
    .ui-state-focus {
        border: none;
        user-select: none;
        text-decoration: none;
    }
    .ui-state-active {
        border: none;
        user-select: none;
        text-decoration: none;
    }
    .ui-state-hover {
        border: none;
        text-decoration: none;
    }
    .ui-slider .ui-slider-handle {
        width: 20px;
        height: 20px;
        background: none;
        position: absolute;
        margin-left: -6px;
        /* right: -12px; */
        border-style: none;
        top: -7px;
        left: 11px;
        text-decoration: none;
        user-select: none;
        /* transform: translateY(60%); */
    }
    .ui-slider-handle::before {
        content: "\20B9";
        /* right: 12px; */
        /* height: 2px; */
        font-size: 11px;
        margin: 0px;
        padding: 0;
        position: absolute;
        margin: -5px -2px;
    }
    /* #slider{
    background-color: #6187aa;
} */
    .ui-widget-header {
        background: #6187aa;
    }
    /* .ui-slider-range{
    background-color: #6187aa;
    color: #6187aa;
} */
    .ui-state-default {
        background: none;
        border: none;
    }
    .divOfBrands {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    div.divOfName {
        /* justify-content: center; */
    }
    .divOfName .headingOfBrands {
        display: inline-block;
        z-index: 12;
        margin: 0 auto;
    }
    .pOfClose {
        z-index: 13;
        display: inline-block;
        margin-left: auto;
        /* z-index: 19; */
    }
    #spanOfClose {
        display: inline-block;
        cursor: pointer;
        color: black;
        font-size: medium;
        text-decoration: none;
        font-family: Arial, sans-serif;
    }
    .pOfClose::after {
        margin-left: 5px;
        content: "Close";
    }
    .labelOfBrandName {
        position: relative;
        cursor: pointer;
        width: 100%;
    }
    #labelOfBrand {
        position: relative;
        width: 100%;
        cursor: pointer;
    }
    .labelOfCompare {
        position: relative;
        width: 100%;
        cursor: pointer;
    }
    input[type="checkbox"] {
        display: none;
    }
    /* .spanOfBrandBox::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        left: 10px;
        top: 1px;
        vertical-align: middle;
        border: 1px solid black;
    } */
    .divOfBrands {
        width: 100%;
        position: relative;
    }
    .spanOfBrandBox {
        cursor: pointer;
        position: relative;
    }
    input[type="checkbox"][checked="checked"]~.spanforBrandCheckBox::before {
        content: "";
        position: absolute;
        opacity: 1;
        top: 38%;
        left: 18px;
        transform: translateY(110%);
        padding-bottom: 1px;
        margin-bottom: 1px;
        border-right: 2px solid aliceblue;
        border-bottom: 2px solid aliceblue;
        width: 4px;
        height: 11.5px;
        transform: translate(-50%, -50%) rotateZ(40deg);
    }
    input[type="checkbox"][checked="checked"]~.spanOfBrandBox::before {
        background-color: #6187aa;
    }
    .spanforBrandCheckBox::before {
        content: '';
        position: absolute;
        opacity: 0;
    }
    .divOfPayDelivery {
        width: 100%;
        position: relative;
    }
    .spanOfBox {
        cursor: pointer;
        position: relative;
    }
    .spanOfBox::before {
        content: "";
        position: absolute;
        width: 13px;
        height: 13px;
        /* top: 0.1%; */
        left: 5px;
        margin-top: 2px;
        /* vertical-align: middle; */
        border: 1px solid black;
    }
    input[type="checkbox"]:checked~.spanforCheckBox::before {
        content: "";
        position: absolute;
        opacity: 1;
        top: 26%;
        left: 13px;
        transform: translateY(110%);
        border-right: 2px solid aliceblue;
        border-bottom: 2px solid aliceblue;
        padding-bottom: 1px;
        margin-bottom: 1px;
        /* margin: 0.5px 0; */
        width: 4px;
        height: 11.5px;
        transform: translate(-50%, -50%) rotateZ(40deg);
    }
    input[type="checkbox"]:checked~.spanOfBox::before {
        background-color: #6187aa;
    }
    .spanforCheckBox::before {
        content: '';
        position: absolute;
        opacity: 0;
    }
    /* .sortingBar{
    display: flex;
    margin: 3px;
    min-width: 500px;
    max-width: 1380px;
    min-height:60px;
    max-height: 150px;
    background-color: #d9ebfc;
    
    } */
    #head2 {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;
    }
    .results {
        /* position: fixed; */
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /* min-width: 600px; */
        width: 100%;
        /* height:100%; */
        /* overflow:auto; */
    }
    .resultsCont {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-around; */
        height: 220px;
        width: 99%;
        /* min-height: 300px; */
        border-radius: 10px;
        /* margin-left: 30px; */
        /* margin-right: 50px; */
        margin-top: 30px;
        margin-bottom: 10px;
        /* padding: 20px; */
        background-color: #e0f0ff;
        opacity: 1;
        transition: all 0ms;
        /* transition: all 70ms; */
        /* justify-content: center; */
    }
    /* .resultsCont:hover {
        transform: scale(1.07);
        cursor: pointer;
        z-index: 19;
        box-shadow: 0px 50px 45px 35px rgba(0, 0, 0, 0.13), 0px -50px 45px 35px rgba(0, 0, 0, 0.13), 10px 0px 45px 35px rgba(0, 0, 0, 0.13), -10px 0px 45px 35px rgba(0, 0, 0, 0.13);
        opacity: 1;
    } */
    .imagesOuter {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        flex: 1;
        background-color: white;
        /* min-width: 200px; */
        /* max-width: 380px; */
        /* min-height: 100px; */
        max-height: 220px;
        max-width: 50%;
        box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.3);
        /* padding: 2px 50px; */
    }
    .imageChecking {
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 90%; */
        height: 90%;
    }
    .imageChecking img {
        /* margin:10px; */
        max-width: 100%;
        max-height: 100%;
    }
    .pricesDiv {
        display: flex;
        flex-wrap: wrap;
        /* width: 180px; */
        max-width: 40%;
        height: auto;
        /* margin-right: 30px; */
        flex: 1 1 0;
        padding-right: 4px;
    }
    .titleDiv {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        /* justify-content: space-between; */
        /* min-width: 400px;  */
        /* max-width: 600px; */
        /* margin-left: 30px; */
        flex: 1 1 0;
        /* max-width: 70%; */
        /* height: 100%; */
    }
    .title {
        font-size: 3vw;
        margin-bottom: 20px;
        text-align: center;
        padding: 3px;
        /* margin-left: 20px; */
    }
    .specList {
        font-size: 2.5vw;
        padding: 5px;
        /* margin-left: 20%; */
    }
    h3 {
        font-family: 'Roboto', sans-serif;
        line-height: 1.4;
        font-weight: 400;
        /* text-transform: capitalize; */
        color: black;
        /* filter: brightness(180%); */
        /* filter:contrast(20); */
    }
    a {
        /* text-transform: capitalize; */
    }
    .tableOfLogo a {
        /* text-transform: capitalize; */
        color: black;
        text-decoration: none;
        filter: brightness(180%);
    }
    .tableOfLogo h4 {
        font-weight: lighter;
        font-size: 2.5vw;
        font-weight: lighter;
        animation-name: highlighting;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 500ms;
        animation-fill-mode: normal;
        animation-iteration-count: 1;
        animation-direction: normal;
        text-align: right;
        /* transition: all 100ms; */
    }
    /* 
@keyframes highlighting{
    0%{
        font-size: 1.2em;
    }
    100%{
        font-size: 1.4em;
    }
} */
    .tableOfLogo img {
        /* width: 70px; */
        max-width: 100%;
        /* height: 25px; */
        max-height: 30px;
    }
    .pricesDiv {
        display: flex;
        /* flex-wrap: wrap; */
        justify-content: center;
        /* max-height: 100%; */
        max-width: 60%;
        flex: 0 1 0;
        /* align-items: flex-end; */
        /* padding-top: 10px; */
        /* background-color:rgba(66,64,65); */
    }
    /* .tableOfLogo tr{
    max-height: 100px;
} */
    .tableOfLogo {
        align-items: flex-start;
        max-height: 250px;
    }
    .tableOfLogo td {
        padding-top: 5%;
        padding-bottom: 5%;
        padding-right: 1%;
        padding-left: 4%;
        min-width: 40px;
        /* display: flex; */
        /* flex: 0 1 0; */
    }
    .listItem h4 {
        color: #111111;
        font-weight: lighter;
    }
    /* input[type="CheckBox"]{
    display: none;
} */
    .pricesDiv {
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
    }
    .labelCompare {
        cursor: pointer;
    }
    .checkBoxInput {
        cursor: pointer;
    }
    .compareDivision {
        /* display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        position: relative; */
        max-height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 0 1 0;
    }
    .compareDivision span {
        font-size: 3vw;
    }
    .divOfCheckBox {
        display: inline-block;
        flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 3px;
        width: 16px;
        max-width: 16px;
        height: 16px;
        max-height: 16px;
        position: relative;
        margin-right: 10px;
        cursor: pointer;
        vertical-align: middle;
    }
    input[type="checkbox"]:checked+.divOfCheckBox::before {
        display: fixed;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        border-right: 2px solid #2b2b2b;
        border-bottom: 2px solid #2b2b2b;
        width: 3px;
        height: 6px;
        transform: translate(-50%, -50%) rotateZ(40deg);
    }
    input[type="checkbox"]:checked+.divOfCheckBox {
        background-color: #F0F8FF;
        transform: scale(1);
        vertical-align: middle;
    }
    .filterHeading {
        border-bottom: 1px solid grey;
        padding-bottom: 2px;
        margin-bottom: 20px;
    }
    h2 {
        /* text-transform: capitalize; */
        font-weight: 190;
        letter-spacing: 0.85px;
        /* font-size: ; */
        font-style: 'Roboto', sans-serif;
        color: #111111;
        /* border-bottom: 1px solid;
    height: 1px;
    padding-bottom: 4px; */
    }
    /* 
#slider{
    height: 3px;
    width: 23px;
}
 */
    h3 {
        text-transform: capitalize;
        font-weight: lighter;
        font-style: 'Roboto', sans-serif;
        color: #484848;
    }
    /* .pricesHeading {
        margin: 0 auto;
        text-align: center;
        border-bottom: 0.4px solid rgba(0, 0, 0, 0.9);
        max-width: 80%;
        margin-bottom: 6px;
    } */
    #slider {
        margin-top: 20px;
    }
    /* img{
    max-width: 100%;
    max-height: 70%;
} */
    /*this is results container*/
    /* .allContent{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 1680px;
    min-width:770px;
    min-height: 920px;
    justify-content: center;
    background-color: #403f3f;
}
.filterBars{ 
    border: 1px;
    margin: 3px;
    min-width: 240px;
    max-width: 290px;
    min-height: 920px;
    max-height: 980px;
    background-color: #F5F5F5;
    flex-grow: 1;
    float:left;
}

.sortingBar{
    flex-shrink:0;
    min-width: 500px;
    max-width: 1380px;
    min-height: 100px;
    max-height: 200px;
    margin: 3px;
    background-color: #F5F5F5;
}
p{


.results{
    flex-grow: 1;
    min-width: 250px;
    align-self:flex-end;
    min-height: 170px;
    max-width: 170px;
    min-height: 190px;
    border-radius: 17px;
    background-color: #F5F5F5;
} */
    .footerClass {
        width: 100%;
        height: 20%;
        display: flex;
        background-color: #F8F8F8;
        bottom: 0px;
        position: relative;
    }
    .divOfPopUp {
        display: none;
        position: sticky;
        margin: auto;
        bottom: 13px;
        width: 125px;
        height: 40px;
        border: 1px solid #e0f0ff;
        background-color: #1b262c;
        border-radius: 4px;
        z-index: 20;
        padding: 7px 7px;
    }
    .divOfPopUp:active {
        cursor: pointer;
        animation-name: hoverEffect;
        animation-timing-function: linear;
        animation-duration: 500ms;
        animation-iteration-count: initial;
        animation-fill-mode: normal;
        animation-direction: normal;
    }
    .divOfPopUp div {
        /* display: inline-block; */
        width: 15%;
        margin: 2px 6px;
        text-align: center;
        background-color: whitesmoke;
        color: #403f3f;
        border-radius: 2px;
        float: left;
    }
    .divOfPopUp h4 {
        margin-top: 3px;
        color: white;
        font-weight: 100;
        font-size: 15px;
    }
    #disableBody {
        /* animation-name:namingTheAnimation; */
        /* width: 100%;
    opacity: 0.5;
    display:none;
    position: fixed;
    top:0px;
    left:0px;
    height:100%;
    background-color: white;
    z-index:40; */
        display: none;
        height: 100%;
        width: 100%;
        right: 0;
        top: 0;
        background-color: black;
        /* overflow: auto; */
        /* overflow-x: auto; */
        opacity: 0.3;
        /* overflow-y: auto; */
        position: fixed;
        /* visibility: hidden; */
        z-index: 39;
    }
    #alertBox {
        display: none;
        position: fixed;
        /* z-index: 70; */
        width: 700px;
        height: 400px;
        z-index: 40;
        margin-right: auto;
        /* animation-name: maxingWidth;
    animation-timing-function: ease-in-out;
    animation-duration: 4000ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal; */
        text-align: center;
    }
    /* @keyframes maxingWidth{
    0%{
        opacity:  0;
    }
    20%{
        opacity: 0.3;
    }
    100%{
        opacity: 1;
    }
} */
    #relating {
        position: relative;
        width: 100%;
        height: 90%;
        background-color: whitesmoke;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* justify-content: center; */
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        display: none;
        z-index: 39;
    }
    .messageBox {
        display: none;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 39;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 450px;
        min-width: 300px;
        padding-left: 5px;
        height: 50px;
        background-color: whitesmoke;
        top: 100%;
        background-color: #b35900;
        color: white;
        margin-left: auto;
        margin-right: auto;
        animation-name: alertingUser;
        animation-timing-function: cubic-bezier(0, .20, -0.90);
        animation-duration: 4000ms;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-direction: normal;
        /* text-align: center;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 100; */
        /* padding: 10px 0px; */
    }
    .messageBox h4 {
        width: 80%;
        text-align: center;
        font-weight: 100;
        /* height: 100%;
    color: white;
    text-align: center;
    margin: 10px 4px;
    margin-top: auto;
    margin-bottom: auto; */
        display: inline-block;
    }
    .messageBox div {
        /* display: inline-block; */
        /* position: relative; */
        background-color: #ff8000;
        /* margin-left: auto; */
        /*color: whitesmoke; */
        /* flex-grow: 1; */
        width: 20%;
        /* margin-left: auto; */
        right: 0px;
        /* height: 100%; */
        /* margin-righ: 0px; */
        padding: 5px;
        /* float: right; */
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
    }
    /* .messageBox[display="block"]{

} */
    @keyframes alertingUser {
        0% {
            top: 100%;
        }
        20% {
            top: 90%;
        }
        80% {
            top: 90%;
        }
        100% {
            top: 100%;
        }
    }
    .headingOfCompareAlert {
        max-width: 100%;
        height: 5%;
    }
    .divOfMainProd {
        /* position: relative; */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 100%;
        height: 80%;
        justify-content: center;
    }
    .divOfProd span {
        cursor: pointer;
        margin-right: 0px;
        font-size: 24px;
    }
    .divOfImageComp {
        background-color: whitesmoke;
        height: 70%;
        max-width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* min-width: 150px; */
        /* max-height: 50%; */
    }
    .divOfImageComp img {
        max-width: 100%;
        max-height: 100%;
    }
    .divOfHeadingbrand {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 200px;
        max-height: 20%;
        /* justify-content: center; */
    }
    .divOfProd {
        max-width: 50%;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* flex-grow:1; */
        margin: 2%;
    }
    #divOfCompareButton {
        cursor: pointer;
        width: 15%;
        height: 90%;
        margin: 0 auto;
        border-radius: 4px;
        background-color: #1b262c;
        /* color: whitesmoke; */
        /* font-size: 20px; */
    }
    #catg h2 {
        font-size: 24px;
        border-bottom: 1px solid grey;
        padding-bottom: 2px;
        margin-bottom: 20px;
        color: rgb(2, 2, 2);
    }
    #catg p {
        /* text-align: left; */
        /* float: left;
        width: 50%; */
        text-align: center;
        font-size: 18.72px;
        color: #484848;
        cursor: pointer;
        padding-bottom: 4px;
    }
    .he button {
        display: none;
    }
    #footKaBaap {
        height: 32%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        /* align-items: flex-end; */
        /* bottom: 0px; */
        /* position: relative; */
    }
    #footer {
        width: 100%;
        /* height: 155px; */
        /* flex: 1; */
        display: flex;
        flex-direction: column;
        background-color: #000000;
        /* top: auto; */
        /* position: absolute; */
        bottom: 0;
    }
    #upFoot {
        min-height: 60%;
        width: 100%;
        /* background-color: #28414e; */
    }
    #downFoot {
        min-height: 18%;
        width: 100%;
        align-self: flex-end;
        background-color: #003336;
        /* margin-top: 100px; */
        display: flex;
        font-size: 8px;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }
    #downFoot h2 {
        color: white;
        font-weight: lighter;
    }
    .h2a {
        cursor: pointer;
    }
    .dob {
        margin-left: 0.5%;
        margin-right: 0.5%;
        width: 24%;
        height: 100%;
        margin-top: 1%;
        /* background-color: tomato; */
        float: left;
    }
    #mySpan {
        height: 72%;
        width: 0px;
        margin-top: 22px;
        border: 1px solid white;
        float: left;
    }
    .footInfo {
        margin: auto;
        margin-right: 3px;
        width: 80%;
    }
    .footInfo h2 {
        font-size: 8px;
        color: red;
        font-weight: 100;
    }
    .footInfo p {
        font-size: 8px;
        color: white;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }
    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .footInfo img {
        width: 40px;
    }
    /*--------------------------------------------------------- different one------------------------------------------------------ */
    .h1title h1 {
        font-size: 18px;
        font-weight: 100;
        padding: 7px 0px 6px 0px;
    }
    .siteMap {
        display: flex;
        /* align-items: center;
        justify-content: center; */
    }
    .siteMap a {
        text-align: center;
        padding: 0px 4px;
    }
    .review div {
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }
    .review div span {
        font-size: 9px;
        color: white;
        padding: 0px 5px;
    }
    .mrpTag span {
        font-size: 12px;
        padding: 0px 3px 0px 0px;
    }
    .mrpTag span:nth-child(1) {
        color: black;
    }
    .mrpTag span:nth-child(2) {
        font-size: 10px;
        color: black;
        text-decoration: line-through;
    }
    .mrpTag span:nth-child(3) {
        font-size: 8px;
    }
    .review {
        background-color: #A0522D;
        border-radius: 14px;
    }
    .drop {
        justify-content: flex-end;
        display: flex;
    }
    #sb {
        margin-right: 10px;
        outline: none;
        margin-left: 10px;
        padding: 2px;
        font-size: 12px;
        border: 0.1px solid #a7a7a7;
    }
    .he h4 {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 5px;
        float: left;
    }
    #catg a {
        color: #444444;
        padding: 6px 0px 4px 10px;
    }
    /* #catg a:last-child {
        padding-bottom: 20px;
    } */
    #catg {
        padding: 0px 0px 15px 0px;
        display: flex;
        flex-direction: column;
    }
    .divOfPricesFilter {
        padding: 0px 0px 30px 0px;
    }
    .divOfPayDelivery div:last-child {
        padding: 8px 0px 0px 6px;
    }
    .divOfPayDelivery div:last-child span {
        color: #444444 !important;
    }
    .specsKey {
        color: #737373;
    }
    .he button {
        float: right;
        margin-top: 3px;
        padding: 0px 7px;
        font-size: 11px;
    }
    .he {
        height: 30px;
    }
}