*{
  margin:0px 0px;
  box-sizing: border-box;
}
#form {
  border-radius: 5px;
  height: 40px;
}

#search {
  border-radius: 4px;
  position: absolute
  ;
  width: 25%;
  height: 29px;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  margin-top:7px;
  margin-left:140px;
}
#slide_button{
  margin-top: 5px;
  margin-left: 5px;
  background-color: #F3E367;
  border: 1.9px solid #848482;
  
}
#slide_button:visited{
   border: 1.9px solid #848482;
}
#search_icon {
  margin-left: 36.4%;
  margin-top: 4px;
  background-color: white;
  border-style: none;
  padding-top: 2px;
  position: absolute;
  font-size: 16px;
}

.fa-bars{
  color: #404040;
  font-size: 18px;
  position: relative;
  
  
}

#div1 {
  border:1px;
  background-color: #404040;
  padding:0px;
  margin:0px 0px;
}

#slide_menu {
  width: 15%;
  box-sizing: border-box;
  border-style: outset;
  float: left;
  font-size: 17px;
  font-style: "Verdana";
  text-align: left;
  border-width: 1px;
  background-color: lavender;
}

.lic1 {
  padding: 5px;
  padding-left: 10%;
  box-sizing: border-box;
  font-weight: 500;
}

.cont1 {
  width: 76%;
  max-width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  float: left;
  border-style: outset;
  text-align: center;
  margin-left: 1%;
  margin-top: 1%;
  margin-bottom: 1%;
}

ul li:hover {
  border-style: outset;
  box-sizing: border-box;
  border-color: lightskyblue;
}

  /* for mobile phones and tablets */
@media only screen and (max-width:1025px) {
  #slide_menu {
      display: none;
  }

  .cont1 {
      box-sizing: border-box;
      width: 98%;
  }

  #search {
      border-radius: 1px;
      width: 50%;
      height: 30px;
      font-size: 15px;
      background-color: white;
      box-sizing: border-box;
      text-align: center;
      margin: 0px;
  }

  #search_icon {
      margin-left: 43.8%;
      margin-top: 4px;
      background-color: white;
      border-style: none;
      padding-top: 2px;
      position: absolute;
      font-size: 16px;
  }


  }

  /* for mobile phones only */
  @media screen and (max-width:450px) {
  #search {
      width: 85%;
      font-size: 12px;
      font-weight: bold;
      height: 28px;
  }

  #search_icon {
      margin-left: 71%;
      margin-top: 4px;
      background-color: white;
      border-style: none;
      padding-top: 2px;
      position: absolute;
      font-size: 16px;
  }


  #slide_button {
      font-size: 12px;
      display:block;
      
  }

  #div1 {
      padding-left: 5px;
      padding-top: 5px;
  }

  #slide_menu {
      width: 100%;
      box-sizing: border-box;
      border-style: outset;
      float: left;
      font-size: 17px;
      font-style: "Verdana";
      text-align: left;
      border-width: 1px;
  }

  .cont1 {
      box-sizing: border-box;
      width: 100%;
      
  }

  .lic1 {
      font-size: 20px;
      padding: 5px;
      margin: 7px;
  }

  h3 {
      font-size: 13px;
  }
}