<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Samsung Microwave Oven Prices in India, Compare Prices of Samsung Microwave Oven in India
    </title>
    <!-- dw -->
    <meta name="description"
        content="Compare Samsung Microwave Oven By Prices. Samsung Microwave Oven includes 20L, 21L, 23L, 28L, 32L, 35L and others.Compare Best Deal On Samsung Microwave Oven Across all e-Stores">
    <meta name="og_title" property="og:title"
        content="Samsung Microwave Oven Prices in India, Compare Prices of Samsung Microwave Oven in India">
    <meta name="og_url" property="og:url"
        content="http://www.pricescompare.in/microwave-oven/samsung-microwave-oven-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description"
        content="Compare Samsung Microwave Oven Across All e-Stores By Prices, COD, EMI etc. Samsung Microwave Oven includes 20L, 21L, 23L, 28L, 32L, 35L and others">


    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>


    <script type="application/ld+json">{
        "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/kitchen-appliances\/","name":"Kitchen Appliances"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth

    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q"
                            id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On
                                    Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/kitchen-appliances/">Kitchen Appliances</a>><a href="">
                    Samsung Oven
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Samsung Microwave Oven prices in India">
                    Samsung Microwave Oven Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>

            <div class="results">

                <a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mw73ad-b/xtl-20-l-solo-microwave-oven/ZTo1NjQ3NTI">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3NTItMTgyLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MW73AD-B/XTL 20 L Solo Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹6350</span><span>₹7900</span><span>20% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Solo Microwave</li>
                                <li class="listItem">20 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yMC1sLXNvbG8tbWljcm93YXZlLW92ZW4vcC9pdG1kd2RtbjRrdHJ3a3R3P3BpZD1NUkNEV0JaWEdDWUgySDdIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹6350</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ3NTI"><input
                                    onclick="comp(this)" id="ZTo1NjQ3NTI" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ3NTI"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce73jd-b/xtl-21-l-convection-microwave-oven/ZTo1NjQ3MjU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MjUtMTc2LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE73JD-B/XTL 21 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9490</span><span>₹11990</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">21 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwQUZBQktPMC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yMS1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG00MzY3MWI5ZWRiY2YzP3BpZD1NUkNEV0JaWEpGV0VQMjJFJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ3MjU"><input
                                    onclick="comp(this)" id="ZTo1NjQ3MjU" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ3MjU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce77jd-qb-21-l-convection-microwave-oven/ZTo1NjQ0Njg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjgtNjQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE77JD-QB 21 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹13900</span><span>₹17090</span><span>19% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">21 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yMS1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG1meXh0d3R5Y3V1aGJqP3BpZD1NUkNFWUZVNjhXWks0RDhIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹13900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-21-l-convection-microwave-oven-ce77jd-qb-CMPLXLARSAMSUNG-21-LAUTH318458195E170-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14250</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0Njg"><input
                                    onclick="comp(this)" id="ZTo1NjQ0Njg" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0Njg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc28m6036cb-28-l-convection-microwave-oven/ZTo1NjQ0MDA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MDAtMjYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC28M6036CB 28 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16990</span><span>₹29654</span><span>43% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">28 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwNDRBSlJITy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yOC1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG1mNjRqc2tjNnVhYjVnP3BpZD1NUkNGNjRKU0tIUTZGRE5IJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18898</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-28-l-convection-microwave-oven-mc28m6036cb-tl-black-CMPLXLARSAMSUNG-28-LDUMM20256A3640B52-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹29654</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0MDA"><input
                                    onclick="comp(this)" id="ZTo1NjQ0MDA" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0MDA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce76jd-b-21-l-convection-microwave-oven/ZTo1NjQ0ODA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0ODAtMjctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE76JD-B 21 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9990</span><span>₹13900</span><span>28% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">21 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/samsung-ce76jd-mb-tl-21l-convection-microwave-oven-black/p-mp000000002628302">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-ce76jd-b-21-l-convection-microwave-oven-CMPLXLARSAMSUNG-CE76FAST318458FE6CD37-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10390</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0ODA"><input
                                    onclick="comp(this)" id="ZTo1NjQ0ODA" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0ODA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce78jd-21-l-convection-microwave-oven/ZTo1NjQ0Mjc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MjctMjc1LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE78JD 21 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹11661</span><span>₹16090</span><span>28% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">21 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3NkhONVEzWi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹11661</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-21-l-convection-microwave-oven-ce78jd-m-CMPLXLARSAMSUNG-21-LDUMM20256409D217B-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹13300</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0Mjc"><input
                                    onclick="comp(this)" id="ZTo1NjQ0Mjc" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0Mjc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc32k7056qt-32-l-convection-microwave-oven/ZTo1NjQzOTk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzOTktMTctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC32K7056QT 32 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20900</span><span>₹28490</span><span>27% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">32 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RzU2OTZTRy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0zMi1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG1mNjRqc3hwZ3Z5OHB0P3BpZD1NUkNGNjRKU0JGUlFXTVdIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹23000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQzOTk"><input
                                    onclick="comp(this)" id="ZTo1NjQzOTk" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQzOTk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc28h5025vb-28-l-convection-microwave-oven/ZTo1NjQ1NjA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NjAtNzgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC28H5025VB 28 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14490</span><span>₹19200</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">28 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RzVKNUZZUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-28-l-convection-with-tandoor-technology-microwave-oven-mc28h5025vb-CMPLXLARSAMSUNG-28-LEKAI631503F1A89DD3-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yOC1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG1lZXp3OWM1a2RoZ3J5P3BpZD1NUkNFRVpXOTlDWjdCRFVXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹15200</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ1NjA"><input
                                    onclick="comp(this)" id="ZTo1NjQ1NjA" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ1NjA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ms23j5133ag-23-l-solo-microwave-oven/ZTo1NjQzODc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzODctODUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MS23J5133AG 23 L Solo Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹6000</span><span>₹12990</span><span>54% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Solo Microwave</li>
                                <li class="listItem">23 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RzU2VzJRTi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹6000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQzODc"><input
                                    onclick="comp(this)" id="ZTo1NjQzODc" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQzODc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc28h5145vk-28-l-convection-microwave-oven/ZTo1NjQ1Mzc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzctMjYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC28H5145VK 28 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16400</span><span>₹18800</span><span>13% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">28 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yOC1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG1lZXp3OTdhdmF5d3lnP3BpZD1NUkNFRVpXOUtFWVJTVFJZJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16400</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/samsung-mc28h5145vk-28l-convection-microwave-oven-black/p-mp000000000006180">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16489</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-28-l-convection-grill-microwave-oven-mc28h5145vk-CMPLXLARSAMSUNG-28-LFAST68477520AF3F15-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16500</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTFZXMDRZSy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ1Mzc"><input
                                    onclick="comp(this)" id="ZTo1NjQ1Mzc" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ1Mzc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc35j8085pt/tl-35-l-convection-microwave-oven/ZTo1NjQ3MjE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MjEtMTM5LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC35J8085PT/TL 35 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹29300</span><span>₹34500</span><span>15% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">35 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxNVcxNVdCUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹29300</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ3MjE"><input
                                    onclick="comp(this)" id="ZTo1NjQ3MjE" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ3MjE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce117pc-b2/xtl-32-l-convection-microwave-oven/ZTo1NjQ0NzU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NzUtMjctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE117PC-B2/XTL 32 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16190</span><span>₹19250</span><span>16% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">32 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxNVJHRjZRNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16190</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-ce117pc-b2-32-l-convection-microwave-oven-CMPLXLARSAMSUNG-CE11FAST31845A4C95DF8-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16850</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0NzU"><input
                                    onclick="comp(this)" id="ZTo1NjQ0NzU" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0NzU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mc28h5033ck-28-l-convection-microwave-oven/ZTo1NjQ0OTY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0OTYtMjc2LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MC28H5033CK 28 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12984</span><span>₹14100</span><span>8% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">28 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/samsung-mc28h5033ck-28l-convection-microwave-oven-black/p-mp000000000522578">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12984</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yOC1sLWNvbnZlY3Rpb24tbWljcm93YXZlLW92ZW4vcC9pdG01YTUxZGU5YzhiOTFhP3BpZD1NUkNFS0dKUVdISDU0VUVXJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹13328</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTFBRQVhPVS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹13900</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-mc28h5033ck-28-l-convection-microwave-oven-CMPLXLARSAMSUNG-MC28FAST31845A735806F-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14100</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0OTY"><input
                                    onclick="comp(this)" id="ZTo1NjQ0OTY" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0OTY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-mg23k3515ak-23-l-grill-microwave-oven/ZTo1NjQ0MDE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MDEtNzQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung MG23K3515AK 23 L Grill Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9190</span><span>₹30290</span><span>70% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Grill Microwave</li>
                                <li class="listItem">23 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Ftc3VuZy0yMy1sLWdyaWxsLW1pY3Jvd2F2ZS1vdmVuL3AvaXRtZmUxN2RkZjk0ZjQxYT9waWQ9TVJDRjY0SlNYUUhWM0hSRyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9190</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-23-l-convection-microwave-oven-mg23k3515ak-tl-black-CMPLXLARSAMSUNG-23-LDUMM20256A898868C-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹30290</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ0MDE"><input
                                    onclick="comp(this)" id="ZTo1NjQ0MDE" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ0MDE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/microwave-oven/samsung-oven-microwave-oven/samsung-ce77jd-sb-21-l-convection-microwave-oven/ZTo1NjQ1NjM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NjMtMjU4LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Samsung CE77JD-SB 21 L Convection Microwave Oven</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12190</span><span>₹15350</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Convection Microwave</li>
                                <li class="listItem">21 Liter Capacity</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/samsung-ce77jd-sb-21-l-convection-microwave-oven-CMPLXLARSAMSUNG-CE77FAST318458420D06C-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12190</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxNjEwN1BFUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹14290</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NjQ1NjM"><input
                                    onclick="comp(this)" id="ZTo1NjQ1NjM" type="checkbox" name="microwave-oven"
                                    value="ZTo1NjQ1NjM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
            </div>


        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
            console.log(window.bn, window.tw)



        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;"
                        href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>