<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LED TV: Xiaomi LED, LG LED, Sony LED, Vu LED and more- PricesComparison.com</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.htc.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.htcapis.com/icon?family=Material+Icons"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/lib s/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cm.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="/javascripts/a.js"></script> -->
</head>

<body>
    <script>
        const deviceWidth = window.outerWidth
        
    </script>
    <div  id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <!-- <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div> -->
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

    <div id="mainBody">
        <div class="siteMap">
            <a href="/">Home</a>&gt;<a>LED TV</a>
        </div>
        <div class="brands">

            <div class="bwise">
                <h1>LED TVs</h1>
                <div class="showDiv" onclick="showall('toHide1')" type="button">View All</div>
                <div id="frMonitors">
                    <a href="/led-tv/led-tv-price-list" class="imgC">
                        <img src="/images/led_cat.png" alt="led">
                        <span>All LED TV</span>
                    </a>
                    <a class="imgC" href="/led-tv/mi-led-tv-price-list">
                        <img src="/images/xiaomi_cat.png" alt="Xiaomi">
                        <span>Xiaomi LED TV</span>
                    </a>
                    <a class="imgC" href="/led-tv/lg-led-tv-price-list">
                        <img src="/images/lg_cat.png" alt="LG">
                        <span>LG LED TV</span>
                    </a>
                    <a class="imgC" href="/led-tv/micromax-led-tv-price-list">
                        <img src="/images/micromax_cat.png" alt="Micromax">
                        <span>Micromax LED TV</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/led-tv/samsung-led-tv-price-list">
                        <img src="/images/samsung_cat.png" alt="Samsung">
                        <span>Samsung LED TV</span>
                    </a>
                    <a href="/led-tv/sony-led-tv-price-list" class="imgC toHide toHide1">
                        <img src="/images/sony_cat.png" alt="Sony">
                        <span>Sony LED TV</span>
                    </a>
                    <a href="/led-tv/vu-led-tv-price-list" class="imgC toHide toHide1">
                        <img src="/images/vu_cat.png" alt="VU">
                        <span>VU LED TV</span>
                    </a>
                </div>

            </div>

        </div>

        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/lg_cat.png" alt="lg led-tv"></div><a class="viewAll"
                    href="/led-tv/lg-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala0"><button type="button" value="B0" class="butB0"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts0">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-32lj573d-32-inch-hd-ready-smart-led-tv/ZTo1NjEyMTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyMTQtNTAtMQ.jpg"
                                    alt="LG 32LJ573D 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹21999<span> ₹30990</span></h3>
                            <h4>LG 32LJ573D 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-32lm560bptc-32-inch-hd-ready-smart-led-tv/ZTo1NjA0MTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTUtMjIxLTE.jpg"
                                    alt="LG 32LM560BPTC 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹17390<span> ₹22990</span></h3>
                            <h4>LG 32LM560BPTC 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-43lm5600ptc-43-inch-full-hd-smart-led-tv/ZTo1NjA0MTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTQtMjI3LTE.jpg"
                                    alt="LG 43LM5600PTC 43 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹30480<span> ₹47990</span></h3>
                            <h4>LG 43LM5600PTC 43 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-43uk6780pte-43-inch-uhd-smart-led-tv/ZTo1NjA2ODg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2ODgtNTctMQ.jpg"
                                    alt="LG 43UK6780PTE 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹47499<span> ₹75343</span></h3>
                            <h4>LG 43UK6780PTE 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-24lj470a-24-inch-hd-ready-led-tv/ZTo1NjEyMzg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyMzgtMTE4LTE.jpg"
                                    alt="LG 24LJ470A 24 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹11540<span> ₹11540</span></h3>
                            <h4>LG 24LJ470A 24 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-32lk536bptb-32-inch-hd-ready-led-tv/ZTo1NjA4NTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4NTUtMS0x.jpg"
                                    alt="LG 32LK536BPTB 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹14500<span> ₹19490</span></h3>
                            <h4>LG 32LK536BPTB 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-24lh454a-24-inch-hd-ready-led-tv/ZTo1NjE1NTE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE1NTEtOTMtMQ.jpg"
                                    alt="LG 24LH454A 24 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹10488<span> ₹13490</span></h3>
                            <h4>LG 24LH454A 24 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-32lm636bptb-32-inch-hd-ready-smart-led-tv/ZTo1NjA0MTc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MTctMTMtMQ.jpg"
                                    alt="LG 32LM636BPTB 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹19104<span> ₹24990</span></h3>
                            <h4>LG 32LM636BPTB 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-43um7290ptf-43-inch-uhd-smart-led-tv/ZTo1NjAzOTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAzOTQtNDYtMQ.jpg"
                                    alt="LG 43UM7290PTF 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹35490<span> ₹54990</span></h3>
                            <h4>LG 43UM7290PTF 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/lg-led-tv/lg-43uk6360pte-43-inch-uhd-smart-led-tv/ZTo1NjA4NjI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4NjItNDYtMQ.jpg"
                                    alt="LG 43UK6360PTE 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹46850<span> ₹66990</span></h3>
                            <h4>LG 43UK6360PTE 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala0"><button type="button" value="A0" class="butA0"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/xiaomi_cat.png" alt="mi led-tv"></div><a class="viewAll"
                    href="/led-tv/mi-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala1"><button type="button" value="B1" class="butB1"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts1">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4x-50-inch-uhd-smart-led-tv/ZTo1NjAyOTI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyOTItNzQtMQ.jpg"
                                    alt="Xiaomi Mi TV 4X 50 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹34999<span> ₹34999</span></h3>
                            <h4>Xiaomi Mi TV 4X 50 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4a-horizon-32-inch-hd-ready-smart-led-tv/ZTo1ODE3OTc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE3OTctMjMtMQ.jpg"
                                    alt="Xiaomi Mi TV 4A Horizon 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹15999<span> ₹15999</span></h3>
                            <h4>Xiaomi Mi TV 4A Horizon 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4x-43-inch-uhd-smart-led-tv/ZTo1NjAyOTM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyOTMtOTYtMQ.jpg"
                                    alt="Xiaomi Mi TV 4X 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹24999<span> ₹28999</span></h3>
                            <h4>Xiaomi Mi TV 4X 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4a-horizon-43-inch-full-hd-smart-led-tv/ZTo1ODE3OTg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE3OTgtNDktMQ.jpg"
                                    alt="Xiaomi Mi TV 4A Horizon 43 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹25999<span> ₹25999</span></h3>
                            <h4>Xiaomi Mi TV 4A Horizon 43 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4a-40-inch-full-hd-smart-led-tv/ZTo1NjAyOTQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyOTQtMjE2LTE.jpg"
                                    alt="Xiaomi Mi TV 4A 40 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹17999<span> ₹19999</span></h3>
                            <h4>Xiaomi Mi TV 4A 40 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4-55-inch-uhd-smart-led-tv/ZTo1NjEwMDE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEwMDEtMTkwLTE.jpg"
                                    alt="Xiaomi Mi TV 4 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹39999<span> ₹39999</span></h3>
                            <h4>Xiaomi Mi TV 4 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4x-65-inch-uhd-smart-led-tv/ZTo1NjAyOTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyOTUtMjQyLTE.jpg"
                                    alt="Xiaomi Mi TV 4X 65 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹54999<span> ₹64999</span></h3>
                            <h4>Xiaomi Mi TV 4X 65 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4a-pro-43-inch-full-hd-smart-led-tv/ZTo1NjA1OTI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1OTItNzMtMQ.jpg"
                                    alt="Xiaomi Mi TV 4A Pro 43 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹24999<span> ₹25999</span></h3>
                            <h4>Xiaomi Mi TV 4A Pro 43 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/mi-led-tv/xiaomi-mi-tv-4x-55-inch-uhd-smart-led-tv/ZTo1NjAyNDM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyNDMtMTcyLTE.jpg"
                                    alt="Xiaomi Mi TV 4X 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹39999<span> ₹39999</span></h3>
                            <h4>Xiaomi Mi TV 4X 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala1"><button type="button" value="A1" class="butA1"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/micromax_cat.png" alt="micromax led-tv"></div><a class="viewAll"
                    href="/led-tv/micromax-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala2"><button type="button" value="B2" class="butB2"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts2">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-32ta6445hd-32-inch-hd-ready-smart-led-tv/ZTo1NTk5ODY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk5ODYtMTQ1LTE.jpg"
                                    alt="Micromax 32TA6445HD 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹14999<span> ₹27990</span></h3>
                            <h4>Micromax 32TA6445HD 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-55t1155fhd-55-inch-full-hd-led-tv/ZTo1NjAwMjA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMjAtMzAtMQ.jpg"
                                    alt="Micromax 55T1155FHD 55 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹71990<span> ₹71990</span></h3>
                            <h4>Micromax 55T1155FHD 55 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-50v8550fhd-50-inch-full-hd-led-tv/ZTo1NjAwMTM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMTMtOC0x.jpg"
                                    alt="Micromax 50V8550FHD 50 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹66990<span> ₹66990</span></h3>
                            <h4>Micromax 50V8550FHD 50 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-49ta7000uhd-49-inch-uhd-smart-led-tv/ZTo1NTk5OTI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk5OTItMTgyLTE.jpg"
                                    alt="Micromax 49TA7000UHD 49 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹33999<span> ₹59990</span></h3>
                            <h4>Micromax 49TA7000UHD 49 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-32ips900hd-32-inch-hd-ready-led-tv/ZTo1NjAwMzQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMzQtOTctMQ.jpg"
                                    alt="Micromax 32IPS900HD 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹12399<span> ₹19990</span></h3>
                            <h4>Micromax 32IPS900HD 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-40-canvas-40-inch-full-hd-smart-led-tv/ZTo1NjAwMjg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMjgtNjUtMQ.jpg"
                                    alt="Micromax 40 CANVAS 40 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹29990<span> ₹42990</span></h3>
                            <h4>Micromax 40 CANVAS 40 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-canvas-pro-smart-s2-40-inch-full-hd-smart-led-tv/ZTo1NjAwMDQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMDQtMTkxLTE.jpg"
                                    alt="Micromax Canvas Pro Smart S2 40 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹25990<span> ₹39990</span></h3>
                            <h4>Micromax Canvas Pro Smart S2 40 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-32aips200hd-32-inch-hd-ready-led-tv/ZTo1NjAwNTI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwNTItMTM3LTE.jpg"
                                    alt="Micromax 32AIPS200HD 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹12399<span> ₹17000</span></h3>
                            <h4>Micromax 32AIPS200HD 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-55ta7000uhd-55-inch-uhd-smart-led-tv/ZTo1NTk5OTE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk5OTEtNzMtMQ.jpg"
                                    alt="Micromax 55TA7000UHD 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹49999<span> ₹69990</span></h3>
                            <h4>Micromax 55TA7000UHD 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-32t8361hd-32-inch-hd-ready-led-tv/ZTo1NjAwMDU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMDUtMTA2LTE.jpg"
                                    alt="Micromax 32T8361HD 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹11399<span> ₹19990</span></h3>
                            <h4>Micromax 32T8361HD 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-43t6950fhd-43-inch-full-hd-led-tv/ZTo1NjAwNDM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwNDMtNjItMQ.jpg"
                                    alt="Micromax 43T6950FHD 43 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹42990<span> ₹42990</span></h3>
                            <h4>Micromax 43T6950FHD 43 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-50c5220mhd-50-inch-full-hd-led-tv/ZTo1NjAwMzU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMzUtOTAtMQ.jpg"
                                    alt="Micromax 50C5220MHD 50 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹64990<span> ₹68990</span></h3>
                            <h4>Micromax 50C5220MHD 50 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/micromax-led-tv/micromax-43e9999uhd-43-inch-uhd-smart-led-tv/ZTo1NjAwMzA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAwMzAtODAtMQ.jpg"
                                    alt="Micromax 43E9999UHD 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹91990<span> ₹91990</span></h3>
                            <h4>Micromax 43E9999UHD 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala2"><button type="button" value="A2" class="butA2"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/samsung_cat.png" alt="samsung led-tv"></div><a class="viewAll"
                    href="/led-tv/samsung-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala3"><button type="button" value="B3" class="butB3"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts3">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32n4200ar-32-inch-hd-ready-smart-led-tv/ZTo1NjA1MzI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MzItMTkzLTE.jpg"
                                    alt="Samsung UA32N4200AR 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹18144<span> ₹49900</span></h3>
                            <h4>Samsung UA32N4200AR 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32n4300ar-32-inch-hd-ready-smart-led-tv/ZTo1NjA4OTk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4OTktMjU0LTE.jpg"
                                    alt="Samsung UA32N4300AR 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹19990<span> ₹31866</span></h3>
                            <h4>Samsung UA32N4300AR 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua24j4100ar-24-inch-hd-ready-led-tv/ZTo1NjIxMDU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjIxMDUtMjk1LTE.jpg"
                                    alt="Samsung UA24J4100AR 24 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹13100<span> ₹16900</span></h3>
                            <h4>Samsung UA24J4100AR 24 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32n4000ak-32-inch-hd-ready-led-tv/ZTo1NjA4OTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA4OTUtNDQtMQ.jpg"
                                    alt="Samsung UA32N4000AK 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹19599<span> ₹25900</span></h3>
                            <h4>Samsung UA32N4000AK 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32j5100ar-32-inch-full-hd-led-tv/ZTo1NjE5OTk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5OTktMjQwLTE.jpg"
                                    alt="Samsung UA32J5100AR 32 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹16999<span> ₹38900</span></h3>
                            <h4>Samsung UA32J5100AR 32 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32te40fak-32-inch-hd-ready-smart-led-tv/ZTo1Nzk4MjM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk4MjMtMS0x.jpg"
                                    alt="Samsung UA32TE40FAK 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹16499<span> ₹20900</span></h3>
                            <h4>Samsung UA32TE40FAK 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua43ru7100k-43-inch-uhd-smart-led-tv/ZTo1NjA0NzU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0NzUtMjg2LTE.jpg"
                                    alt="Samsung UA43RU7100K 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹43776<span> ₹59900</span></h3>
                            <h4>Samsung UA43RU7100K 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32j4003ar-32-inch-hd-ready-led-tv/ZTo1NjE5Nzc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5NzctMjItMQ.jpg"
                                    alt="Samsung UA32J4003AR 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹14999<span> ₹28890</span></h3>
                            <h4>Samsung UA32J4003AR 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua24k4100ar-24-inch-hd-ready-led-tv/ZTo1NjE0NTE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE0NTEtODctMQ.jpg"
                                    alt="Samsung UA24K4100AR 24 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹15200<span> ₹15200</span></h3>
                            <h4>Samsung UA24K4100AR 24 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32n4310ar-32-inch-hd-ready-led-tv/ZTo1NjA2NjY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2NjYtMjQ2LTE.jpg"
                                    alt="Samsung UA32N4310AR 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹17990<span> ₹28900</span></h3>
                            <h4>Samsung UA32N4310AR 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32fh4003r-32-inch-hd-ready-led-tv/ZTo1NjE5NjA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5NjAtMTQ4LTE.jpg"
                                    alt="Samsung UA32FH4003R 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹17999<span> ₹23890</span></h3>
                            <h4>Samsung UA32FH4003R 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua24h4003ar-24-inch-hd-ready-led-tv/ZTo1NjE5OTI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE5OTItODUtMQ.jpg"
                                    alt="Samsung UA24H4003AR 24 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹10999<span> ₹14900</span></h3>
                            <h4>Samsung UA24H4003AR 24 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32n4003ar-32-inch-hd-ready-led-tv/ZTo1NjA2NTY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA2NTYtMzYtMQ.jpg"
                                    alt="Samsung UA32N4003AR 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹16570<span> ₹23445</span></h3>
                            <h4>Samsung UA32N4003AR 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua32r4500ar-32-inch-hd-ready-smart-led-tv/ZTo1NjAyODQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODQtNjktMQ.jpg"
                                    alt="Samsung UA32R4500AR 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹17216<span> ₹27900</span></h3>
                            <h4>Samsung UA32R4500AR 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/samsung-led-tv/samsung-ua40k5000ar-40-inch-full-hd-led-tv/ZTo1NjEzNjM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzNjMtMzUtMQ.jpg"
                                    alt="Samsung UA40K5000AR 40 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹39386<span> ₹41900</span></h3>
                            <h4>Samsung UA40K5000AR 40 inch Full HD LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala3"><button type="button" value="A3" class="butA3"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/sony_cat.png" alt="sony led-tv"></div><a class="viewAll"
                    href="/led-tv/sony-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala4"><button type="button" value="B4" class="butB4"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts4">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-55x8000g-55-inch-uhd-smart-led-tv/ZTo1NjAzNTA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAzNTAtMjQtMQ.jpg"
                                    alt="Sony BRAVIA KD-55X8000G 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹79090<span> ₹124900</span></h3>
                            <h4>Sony BRAVIA KD-55X8000G 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kdl-32w6100-32-inch-hd-ready-smart-led-tv/ZTo1NjAyMDM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMDMtMjc2LTE.jpg"
                                    alt="Sony BRAVIA KDL-32W6100 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹22999<span> ₹25990</span></h3>
                            <h4>Sony BRAVIA KDL-32W6100 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32r302e-32-inch-hd-ready-led-tv/ZTo1NjEzMDg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzMDgtMjkyLTE.jpg"
                                    alt="Sony BRAVIA KLV-32R302E 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹23900<span> ₹29900</span></h3>
                            <h4>Sony BRAVIA KLV-32R302E 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32w512d-32-inch-hd-ready-smart-led-tv/ZTo1NjE2MjM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE2MjMtMi0x.jpg"
                                    alt="Sony BRAVIA KLV-32W512D 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹30300<span> ₹31900</span></h3>
                            <h4>Sony BRAVIA KLV-32W512D 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32r412d-32-inch-hd-ready-led-tv/ZTo1NjE2MjY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE2MjYtMjg5LTE.jpg"
                                    alt="Sony BRAVIA KLV-32R412D 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹26650<span> ₹28900</span></h3>
                            <h4>Sony BRAVIA KLV-32R412D 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32w622g-32-inch-hd-ready-smart-led-tv/ZTo1NjA1MDk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MDktOS0x.jpg"
                                    alt="Sony BRAVIA KLV-32W622G 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹26985<span> ₹32900</span></h3>
                            <h4>Sony BRAVIA KLV-32W622G 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32w622f-32-inch-hd-ready-smart-led-tv/ZTo1NjA5NTk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NTktMjI2LTE.jpg"
                                    alt="Sony BRAVIA KLV-32W622F 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹25999<span> ₹31900</span></h3>
                            <h4>Sony BRAVIA KLV-32W622F 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32r202g-32-inch-full-hd-led-tv/ZTo1NjA0MjU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MjUtNjMtMQ.jpg"
                                    alt="Sony BRAVIA KLV-32R202G 32 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹17990<span> ₹19990</span></h3>
                            <h4>Sony BRAVIA KLV-32R202G 32 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-43x8000g-43-inch-uhd-smart-led-tv/ZTo1NjA0ODg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0ODgtNTMtMQ.jpg"
                                    alt="Sony BRAVIA KD-43X8000G 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹63999<span> ₹74900</span></h3>
                            <h4>Sony BRAVIA KD-43X8000G 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-55x7500h-55-inch-uhd-smart-led-tv/ZTo1NjAxOTk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAxOTktNTgtMQ.jpg"
                                    alt="Sony BRAVIA KD-55X7500H 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹68870<span> ₹72990</span></h3>
                            <h4>Sony BRAVIA KD-55X7500H 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32r202f-32-inch-hd-ready-led-tv/ZTo1NjA5NDA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5NDAtMTQwLTE.jpg"
                                    alt="Sony BRAVIA KLV-32R202F 32 inch HD ready LED TV"></div>
                            <h3 class="h4Kafont">From ₹18270<span> ₹25900</span></h3>
                            <h4>Sony BRAVIA KLV-32R202F 32 inch HD ready LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-klv-32w672e-32-inch-full-hd-smart-led-tv/ZTo1NjEyOTY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEyOTYtMjM2LTE.jpg"
                                    alt="Sony BRAVIA KLV-32W672E 32 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹29990<span> ₹37900</span></h3>
                            <h4>Sony BRAVIA KLV-32W672E 32 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-55x8500f-55-inch-uhd-smart-led-tv/ZTo1NjA5MTM">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA5MTMtMTY2LTE.jpg"
                                    alt="Sony BRAVIA KD-55X8500F 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹82990<span> ₹184900</span></h3>
                            <h4>Sony BRAVIA KD-55X8500F 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-55x7002g-55-inch-uhd-smart-led-tv/ZTo1NjA0Mjc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MjctMTM4LTE.jpg"
                                    alt="Sony BRAVIA KD-55X7002G 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹60999<span> ₹109900</span></h3>
                            <h4>Sony BRAVIA KD-55X7002G 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/sony-led-tv/sony-bravia-kd-65x9300e-65-inch-uhd-smart-led-tv/ZTo1NjEzMzU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjEzMzUtNDQtMQ.jpg"
                                    alt="Sony BRAVIA KD-65X9300E 65 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹179999<span> ₹224900</span></h3>
                            <h4>Sony BRAVIA KD-65X9300E 65 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala4"><button type="button" value="A4" class="butA4"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/vu_cat.png" alt="vu led-tv"></div><a class="viewAll"
                    href="/led-tv/vu-led-tv-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala5"><button type="button" value="B5" class="butB5"><i class="fa fa-angle-left"
                            style="font-size:30px"></i></button></div>
                <div class="hereProducts5">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-43ga-43-inch-full-hd-smart-led-tv/ZTo1NjAyODE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODEtMjYzLTE.jpg"
                                    alt="Vu 43GA 43 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹24990<span> ₹31000</span></h3>
                            <h4>Vu 43GA 43 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-49s6575-49-inch-full-hd-smart-led-tv/ZTo1NjE0MzE">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjE0MzEtNTItMQ.jpg"
                                    alt="Vu 49S6575 49 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹50999<span> ₹50999</span></h3>
                            <h4>Vu 49S6575 49 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-55pm-55-inch-uhd-smart-led-tv/ZTo1NjAyMDk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMDktMTY4LTE.jpg"
                                    alt="Vu 55PM 55 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹43999<span> ₹56000</span></h3>
                            <h4>Vu 55PM 55 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-32ga-32-inch-hd-ready-smart-led-tv/ZTo1NjAyODA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyODAtMTQtMQ.jpg"
                                    alt="Vu 32GA 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹14790<span> ₹19000</span></h3>
                            <h4>Vu 32GA 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-50pm-50-inch-uhd-smart-led-tv/ZTo1NjAyMTA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTAtMzctMQ.jpg"
                                    alt="Vu 50PM 50 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹38999<span> ₹48000</span></h3>
                            <h4>Vu 50PM 50 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-32us-32-inch-hd-ready-smart-led-tv/ZTo1NjAyMTc">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTctMjk0LTE.jpg"
                                    alt="Vu 32US 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹14799<span> ₹15000</span></h3>
                            <h4>Vu 32US 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-50ut-50-inch-uhd-smart-led-tv/ZTo1Nzg4OTU">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzg4OTUtMTg0LTE.jpg"
                                    alt="Vu 50UT 50 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹40799<span> ₹48000</span></h3>
                            <h4>Vu 50UT 50 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-led40d6575-40-inch-full-hd-led-tv/ZTo1NjIwMjQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjIwMjQtMjQyLTE.jpg"
                                    alt="Vu LED40D6575 40 inch Full HD LED TV"></div>
                            <h3 class="h4Kafont">From ₹22490<span> ₹24000</span></h3>
                            <h4>Vu LED40D6575 40 inch Full HD LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-32-oa-32-inch-hd-ready-smart-led-tv/ZTo1NjA1Mzg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1MzgtMjU2LTE.jpg"
                                    alt="Vu 32-OA 32 inch HD ready Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹12999<span> ₹18000</span></h3>
                            <h4>Vu 32-OA 32 inch HD ready Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-75-qdv-75-inch-uhd-smart-led-tv/ZTo1NjAyMzI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMzItNTctMQ.jpg"
                                    alt="Vu 75-QDV 75 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹84999<span> ₹130000</span></h3>
                            <h4>Vu 75-QDV 75 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-65pm-65-inch-uhd-smart-led-tv/ZTo1Nzk3MDI">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDItMTg1LTE.jpg"
                                    alt="Vu 65PM 65 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹61999<span> ₹75000</span></h3>
                            <h4>Vu 65PM 65 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-43us-43-inch-full-hd-smart-led-tv/ZTo1NjAyMTY">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMTYtMTQtMQ.jpg"
                                    alt="Vu 43US 43 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹25999<span> ₹28700</span></h3>
                            <h4>Vu 43US 43 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-43-oa-43-inch-uhd-smart-led-tv/ZTo1NjA1NjQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA1NjQtMTgwLTE.jpg"
                                    alt="Vu 43-OA 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹31000<span> ₹43000</span></h3>
                            <h4>Vu 43-OA 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-43ca-43-inch-uhd-smart-led-tv/ZTo1NjAyMzA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjAyMzAtMTIzLTE.jpg"
                                    alt="Vu 43CA 43 inch UHD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹35280<span> ₹36000</span></h3>
                            <h4>Vu 43CA 43 inch UHD Smart LED TV</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/led-tv/vu-led-tv/vu-40pl-40-inch-full-hd-smart-led-tv/ZTo1NjA0Mzk">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjA0MzktMjgwLTE.jpg"
                                    alt="Vu 40PL 40 inch Full HD Smart LED TV"></div>
                            <h3 class="h4Kafont">From ₹21599<span> ₹26000</span></h3>
                            <h4>Vu 40PL 40 inch Full HD Smart LED TV</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala5"><button type="button" value="A5" class="butA5"><i class="fa fa-angle-right"
                            style="font-size:30px"></i></button></div>
            </div>
        </div>
    </div>













    <script>
        function showall(e) {
            var len = document.getElementsByClassName(e).length;
            // console.log(len);
            var a = 0;
            if (document.getElementsByClassName(e)[a].style.display != "flex") {
                event.toElement.childNodes[0].textContent = 'View Less'
                while (a < len) {
                    document.getElementsByClassName(e)[a].style.display = "flex"
                    // console.log(event.toElement.childNodes[0].textContent);
                    a++
                }
            } else {
                event.toElement.childNodes[0].textContent = 'View All'
                while (a < len) {
                    document.getElementsByClassName(e)[a].style.display = "none"
                    // console.log(a);
                    a++
                }
            }
        }
        
    </script>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div ></div> -->
    <!-- ---------------------------------------------------------------------------------------------------------- -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <a target="_blank">
                            <p>Twitter</p>
                        </a>
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;"
                    href="http://www.piricescompare.in"> PricesCompare.in</a>
            </div>
        </footer>
    </div>
    </div>
</body>



<script src="/javascripts/a.js"></script>


</html>