<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mobile Phones Prices in India | Compare Prices of Htc Phones in India</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.htc.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.htcapis.com/icon?family=Material+Icons"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cm.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="/javascripts/a.js"></script> -->
</head>

<body>
    <script>
        const deviceWidth = window.outerWidth
        
    </script>  
    <div id="bd">
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <!-- <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div> -->
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>
    <div id="mainBody">
        <div class="siteMap">
            <a href="/">Home</a>><a>Mobile</a>
        </div>
        <div class="brands">
            <div class="bwise">
                <h1>Popular Mobile Brands</h1>
                <div class="showDiv" onclick="showall('toHide1')" type="button">View All</div>
                <div id="frMonitors">
                    <a class="imgC" href="/mobile/mobiles-price-list-in-india">
                        <img src="/images/allmobile_cat.png" alt="">
                        <span>All Mobiles</span>
                    </a>
                    <a class="imgC" href="/mobile/xiaomi-mobile-price-list">
                        <img src="/images/xiaomi_cat.png" alt="Xiaomi mobiles">
                        <span>Xiaomi</span>
                    </a>
                    <a class="imgC" href="/mobile/apple-mobile-price-list">
                        <img src="/images/apple_cat.png" alt="apple mobile">
                        <span>Apple</span>
                    </a>
                    <a class="imgC" href="/mobile/realme-mobile-price-list">
                        <img src="/images/realme_cat.png" alt="realme mobile">
                        <span>Realme</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/oneplus-mobile-price-list">
                        <img src="/images/oneplus_cat.png" alt="oneplus mobile">
                        <span>OnePlus</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/vivo-mobile-price-list">
                        <img src="/images/vivo_cat.png" alt="vivo mobile">
                        <span>Vivo</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/oppo-mobile-price-list">
                        <img src="/images/oppo_cat.png" alt="Oppo mobile">
                        <span>Oppo</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/tecno-mobile-price-list">
                        <img src="/images/tecno_cat.png" alt="tecno mobile">
                        <span>Tecno</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/lenovo-mobile-price-list">
                        <img src="/images/lenovo_cat.png" alt="Lenovo mobile">
                        <span>Lenovo</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/google-mobile-price-list">
                        <img src="/images/google_cat.png" alt="google mobile">
                        <span>Google</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/htc-mobile-price-list">
                        <img src="/images/htc_cat.png" alt="htc mobile">
                        <span>HTC</span>
                    </a>
                    <a class="imgC toHide toHide1" href="/mobile/samsung-mobile-price-list">
                        <img src="/images/samsung_cat.png" alt="samsung mobile">
                        <span>Samsung</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/xiaomi_cat.png" alt="xiaomi mobile"></div><a class="viewAll"
                    href="/mobile/xiaomi-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala0"><button type="button" value="B0" class="butB0"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts0">
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/xiaomi-mobiles/xiaomi-redmi-9-prime/ZToxNjYxNg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjYxNi0zMC0x.jpg"
                                    alt="Xiaomi Redmi 9 Prime"></div>
                            <h3 class="h4Kafont">From ₹9999<span> ₹11999</span></h3>
                            <h4>Xiaomi Redmi 9 Prime</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/xiaomi-mobiles/xiaomi-mi-10t/ZToxNjc5Mw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc5My0xMzEtMQ.jpg"
                                    alt="Xiaomi Mi 10T"></div>
                            <h3 class="h4Kafont">From ₹33699<span> ₹36299</span></h3>
                            <h4>Xiaomi Mi 10T</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/xiaomi-mobiles/xiaomi-mi-10t-pro/ZToxNjcwOA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjcwOC03Ny0x.jpg"
                                    alt="Xiaomi Mi 10T Pro"></div>
                            <h3 class="h4Kafont">From ₹39890<span> ₹40499</span></h3>
                            <h4>Xiaomi Mi 10T Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/xiaomi-mobiles/xiaomi-redmi-9a-3gb-ram/ZToxNjc0OA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjc0OC0yOTAtMQ.jpg"
                                    alt="Xiaomi Redmi 9A 3GB RAM"></div>
                            <h3 class="h4Kafont">From ₹7499<span> ₹10899</span></h3>
                            <h4>Xiaomi Redmi 9A 3GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/xiaomi-mobiles/xiaomi-mi-10/ZToxNjA2MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA2MC0xNDItMQ.jpg"
                                    alt="Xiaomi Mi 10"></div>
                            <h3 class="h4Kafont">From ₹44999<span> ₹53450</span></h3>
                            <h4>Xiaomi Mi 10</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/xiaomi-mobiles/xiaomi-redmi-9-power-128gb/ZToxNzE5MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzE5MS0yNTMtMQ.jpg"
                                    alt="Xiaomi Redmi 9 Power 128GB"></div>
                            <h3 class="h4Kafont">From ₹11999<span> ₹13693</span></h3>
                            <h4>Xiaomi Redmi 9 Power 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/xiaomi-mobiles/xiaomi-redmi-9/ZToxNjA4Mw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA4My05MS0x.jpg"
                                    alt="Xiaomi Redmi 9"></div>
                            <h3 class="h4Kafont">From ₹8999<span> ₹10999</span></h3>
                            <h4>Xiaomi Redmi 9</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/xiaomi-mobiles/xiaomi-redmi-9-prime-128gb/ZToxNjYyMQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjYyMS0yNTktMQ.jpg"
                                    alt="Xiaomi Redmi 9 Prime 128GB"></div>
                            <h3 class="h4Kafont">From ₹10700<span> ₹13999</span></h3>
                            <h4>Xiaomi Redmi 9 Prime 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/xiaomi-mobiles/xiaomi-poco-x2/ZToxNjI2Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjI2Ny0xLTE.jpg"
                                    alt="Xiaomi Poco X2"></div>
                            <h3 class="h4Kafont">From ₹14999<span> ₹15990</span></h3>
                            <h4>Xiaomi Poco X2</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/xiaomi-mobiles/xiaomi-redmi-8a-dual/ZToxNjI4MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjI4MS01OC0x.jpg"
                                    alt="Xiaomi Redmi 8A Dual"></div>
                            <h3 class="h4Kafont">From ₹6999<span> ₹8499</span></h3>
                            <h4>Xiaomi Redmi 8A Dual</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala0"><button type="button" value="A0" class="butA0"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/asus_cat.png" alt="asus mobile"></div><a class="viewAll"
                    href="/mobile/asus-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala1"><button type="button" value="B1" class="butB1"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts1">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/asus-mobiles/asus-zenfone-lite-l1/ZToxNTE1Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTE1Ni0xMDYtMQ.jpg"
                                    alt="ASUS Zenfone Lite L1"></div>
                            <h3 class="h4Kafont">From ₹5999<span> ₹5999</span></h3>
                            <h4>ASUS Zenfone Lite L1</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/asus-mobiles/asus-zenfone-max-m1/ZToxNTE1Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTE1Ny0yMTAtMQ.jpg"
                                    alt="ASUS Zenfone Max M1"></div>
                            <h3 class="h4Kafont">From ₹6499<span> ₹9599</span></h3>
                            <h4>ASUS Zenfone Max M1</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-zenfone-4-selfie-dual-camera/ZToxMzQ0MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzQ0MS04Ny0x.jpg"
                                    alt="ASUS Zenfone 4 Selfie Dual Camera"></div>
                            <h3 class="h4Kafont">From ₹15999<span> ₹15999</span></h3>
                            <h4>ASUS Zenfone 4 Selfie Dual Camera</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-zenfone-max-pro-(m1)-64gb/ZToxNDYwMQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDYwMS01My0x.jpg"
                                    alt="ASUS Zenfone Max Pro (M1) 64GB"></div>
                            <h3 class="h4Kafont">From ₹8999<span> ₹15599</span></h3>
                            <h4>ASUS Zenfone Max Pro (M1) 64GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/asus-mobiles/asus-rog-phone/ZToxNDc5OA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDc5OC0xMjktMQ.jpg"
                                    alt="ASUS ROG Phone"></div>
                            <h3 class="h4Kafont">From ₹69999<span> ₹83999</span></h3>
                            <h4>ASUS ROG Phone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-rog-phone-3-12gb-ram/ZToxNjg3MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg3MC05OC0x.jpg"
                                    alt="Asus ROG Phone 3 12GB RAM"></div>
                            <h3 class="h4Kafont">From ₹49999<span> ₹49999</span></h3>
                            <h4>Asus ROG Phone 3 12GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-zenfone-max-32gb/ZToxMDY2MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMDY2MC04Mi0x.jpg"
                                    alt="ASUS Zenfone Max 32GB"></div>
                            <h3 class="h4Kafont">From ₹9999<span> ₹10399</span></h3>
                            <h4>ASUS Zenfone Max 32GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-zenfone-max-pro-(m1)/ZToxNDU0NQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDU0NS0xMjAtMQ.jpg"
                                    alt="ASUS Zenfone Max Pro (M1)"></div>
                            <h3 class="h4Kafont">From ₹7999<span> ₹13199</span></h3>
                            <h4>ASUS Zenfone Max Pro (M1)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/asus-mobiles/asus-rog-phone-2/ZToxNTU4Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTU4Mi0yNTktMQ.jpg"
                                    alt="ASUS ROG Phone 2"></div>
                            <h3 class="h4Kafont">From ₹37999<span> ₹85999</span></h3>
                            <h4>ASUS ROG Phone 2</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/asus-mobiles/asus-zenfone-max-pro-(m1)-6gb-ram/ZToxNDkyMQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDkyMS03OC0x.jpg"
                                    alt="ASUS Zenfone Max Pro (M1) 6GB RAM"></div>
                            <h3 class="h4Kafont">From ₹14999<span> ₹17999</span></h3>
                            <h4>ASUS Zenfone Max Pro (M1) 6GB RAM</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala1"><button type="button" value="A1" class="butA1"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container" style="justify-content: center;">
            <div class="brandLogo" style="font-size:19px; margin:10px; padding-left:10px; height:30px;">
                Mobile Accesoories

            </div>
            <div class="secondChild">
                <div id="butbWala7"><button type="button" value="B7" class="butB7"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts7">
                    <div class="productBox">
                        <a class="imageBox" href="/fit-band/fitbit/ZTo3MzQ0" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNzM0NC05OC0x.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9; 3999</h3>
                            <h4>Fitbit Charge HR Fitness Band</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/fit-band/fitbit/ZTo2MzIw" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNjMyMC0xNy0x.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;3999</h3>
                            <h4>Fitbit Flex Activity & Sleep Wristband</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/power-bank/zebronics-power-banks/ZTo1NjgwMTY" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY4MDE2LTE4LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;450</h3>
                            <h4>Zebronics ZEB-PG4000L1 4000mAh Power Bank</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/smart-watch/oppo-smart-watch/ZToxNjY0NQ" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTY2NDUtMTAwLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;19990</h3>
                            <h4>OPPO Watch 46mm</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/smart-watch/gionee-smart-watch/ZTo1NjkwNDU" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvMTY1MjgtNDMtMQ.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;2499</h3>
                            <h4> Gionee GSW5</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/power-bank/zebronics-power-bank/ZTo1Njc2NzU" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3Njc1LTIzLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;899</h3>
                            <h4>Zebronics ZEB-MC10000LD 10000mAh Power Bank</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/headphone/ant-audio-headphones/ZTo1NTU3OTI" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTU1NzkyLTk3LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;899</h3>
                            <h4>Ant Audio Wave Sports 540 In the Ear Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/power-bank/syska-power-bank/ZTo1Njc4NjM" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3ODYzLTY3LTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;749</h3>
                            <h4>Syska Power Slice 100 10000mAh Power Bank</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" href="/power-bank/syska-power-bank/ZTo1Njc4NzY" target="_blank">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY3ODc2LTMwLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From &#x20b9;1099</h3>
                            <h4>Syska Power Pro 200 20000mAh Power Bank</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala7"><button type="button" value="A7" class="butA7"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>

            </div>
        </div>












        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/oppo_cat.png" alt="oppo mobile"></div><a class="viewAll"
                    href="/mobile/oppo-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala2"><button type="button" value="B2" class="butB2"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts2">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a31-2020/ZToxNjY1OQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY1OS04NC0x.jpg"
                                    alt="OPPO A31 2020"></div>
                            <h3 class="h4Kafont">From ₹11490<span> ₹12990</span></h3>
                            <h4>OPPO A31 2020</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a52-8gb-ram/ZToxNjY0Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY0Ni02MC0x.jpg"
                                    alt="OPPO A52 8GB RAM"></div>
                            <h3 class="h4Kafont">From ₹15990<span> ₹18990</span></h3>
                            <h4>OPPO A52 8GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a15/ZToxNjg2Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg2Ny0yOTEtMQ.jpg"
                                    alt="OPPO A15"></div>
                            <h3 class="h4Kafont">From ₹9990<span> ₹10099</span></h3>
                            <h4>OPPO A15</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a1k/ZToxNTU0Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTU0Ny01OC0x.jpg"
                                    alt="OPPO A1K"></div>
                            <h3 class="h4Kafont">From ₹7390<span> ₹10990</span></h3>
                            <h4>OPPO A1K</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a15s/ZToxNzE2Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzE2Ny0zNi0x.jpg"
                                    alt="OPPO A15s"></div>
                            <h3 class="h4Kafont">From ₹11489<span> ₹11489</span></h3>
                            <h4>OPPO A15s</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a52/ZToxNjM4MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM4MS0zLTE.jpg"
                                    alt="OPPO A52"></div>
                            <h3 class="h4Kafont">From ₹13990<span> ₹19990</span></h3>
                            <h4>OPPO A52</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a5-2020-/ZToxNTk5Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk5Mi00LTE.jpg"
                                    alt="OPPO A5 2020 "></div>
                            <h3 class="h4Kafont">From ₹9990<span> ₹12990</span></h3>
                            <h4>OPPO A5 2020 </h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a5-2020-4gb-ram/ZToxNTk0MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk0MC04Ny0x.jpg"
                                    alt="OPPO A5 2020 4GB RAM"></div>
                            <h3 class="h4Kafont">From ₹11990<span> ₹15990</span></h3>
                            <h4>OPPO A5 2020 4GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a53-2020-128gb/ZToxNjY5Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjY5Ny0yMy0x.jpg"
                                    alt="OPPO A53 2020 128GB"></div>
                            <h3 class="h4Kafont">From ₹15490<span> ₹17990</span></h3>
                            <h4>OPPO A53 2020 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oppo-mobiles/oppo-a12/ZToxNjM2MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM2MC01NS0x.jpg"
                                    alt="OPPO A12"></div>
                            <h3 class="h4Kafont">From ₹8990<span> ₹8990</span></h3>
                            <h4>OPPO A12</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala2"><button type="button" value="A2" class="butA2"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/vivo_cat.png" alt="vivo mobile"></div><a class="viewAll"
                    href="/mobile/vivo-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala3"><button type="button" value="B3" class="butB3"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts3">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-v17/ZToxNjEzNQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjEzNS0zMy0x.jpg"
                                    alt="vivo V17"></div>
                            <h3 class="h4Kafont">From ₹17990<span> ₹27990</span></h3>
                            <h4>vivo V17</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-u10/ZToxNTkzOQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTkzOS03MC0x.jpg"
                                    alt="vivo U10"></div>
                            <h3 class="h4Kafont">From ₹8990<span> ₹13990</span></h3>
                            <h4>vivo U10</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-v17-pro/ZToxNTk0OQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk0OS01Ni0x.jpg"
                                    alt="vivo V17 Pro"></div>
                            <h3 class="h4Kafont">From ₹25980<span> ₹32990</span></h3>
                            <h4>vivo V17 Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-s1/ZToxNTU2Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTU2Mi0yNy0x.jpg"
                                    alt="vivo S1"></div>
                            <h3 class="h4Kafont">From ₹15449<span> ₹19990</span></h3>
                            <h4>vivo S1</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-v19/ZToxNjA1NQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjA1NS0yLTE.jpg"
                                    alt="vivo V19"></div>
                            <h3 class="h4Kafont">From ₹24990<span> ₹30990</span></h3>
                            <h4>vivo V19</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-v9/ZToxNDM0Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDM0Mi0yOTktMQ.jpg"
                                    alt="vivo V9"></div>
                            <h3 class="h4Kafont">From ₹18900<span> ₹24999</span></h3>
                            <h4>vivo V9</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-iqoo-3-5g/ZToxNjM0Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjM0Ni04MS0x.jpg"
                                    alt="vivo iQOO 3 5G"></div>
                            <h3 class="h4Kafont">From ₹39990<span> ₹46990</span></h3>
                            <h4>vivo iQOO 3 5G</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-iqoo-3/ZToxNjI5Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjI5Mi0yMjItMQ.jpg"
                                    alt="vivo iQOO 3"></div>
                            <h3 class="h4Kafont">From ₹29990<span> ₹37990</span></h3>
                            <h4>vivo iQOO 3</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-v15-pro/ZToxNTQ4OA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTQ4OC02Ni0x.jpg"
                                    alt="vivo V15 Pro"></div>
                            <h3 class="h4Kafont">From ₹21499<span> ₹23990</span></h3>
                            <h4>vivo V15 Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/vivo-mobiles/vivo-s1-pro/ZToxNTY0OQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY0OS01Ni0x.jpg"
                                    alt="vivo S1 Pro"></div>
                            <h3 class="h4Kafont">From ₹18800<span> ₹18990</span></h3>
                            <h4>vivo S1 Pro</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala3"><button type="button" value="A3" class="butA3"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/apple_cat.png" alt="apple mobile"></div><a class="viewAll"
                    href="/mobile/apple-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala4"><button type="button" value="B4" class="butB4"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts4">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/apple-mobiles/apple-iphone-11-pro/ZToxNTY4OQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY4OS0xMDEtMQ.jpg"
                                    alt="Apple iPhone 11 Pro"></div>
                            <h3 class="h4Kafont">From ₹79899<span> ₹106600</span></h3>
                            <h4>Apple iPhone 11 Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-pro-max/ZToxNjAzNw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjAzNy0xNDctMQ.jpg"
                                    alt="Apple iPhone 12 Pro Max"></div>
                            <h3 class="h4Kafont">From ₹128899<span> ₹129900</span></h3>
                            <h4>Apple iPhone 12 Pro Max</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-128gb/ZToxNjkxNA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxNC0xMzQtMQ.jpg"
                                    alt="Apple iPhone 12 128GB"></div>
                            <h3 class="h4Kafont">From ₹82899<span> ₹84900</span></h3>
                            <h4>Apple iPhone 12 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-11-128gb/ZToxNTk3Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk3Ni0yNTgtMQ.jpg"
                                    alt="Apple iPhone 11 128GB"></div>
                            <h3 class="h4Kafont">From ₹56999<span> ₹59497</span></h3>
                            <h4>Apple iPhone 11 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-pro-max-512gb/ZToxNjkxNw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxNy0xNTgtMQ.jpg"
                                    alt="Apple iPhone 12 Pro Max 512GB"></div>
                            <h3 class="h4Kafont">From ₹159899<span> ₹159899</span></h3>
                            <h4>Apple iPhone 12 Pro Max 512GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-256gb/ZToxNjkxMw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxMy00Mi0x.jpg"
                                    alt="Apple iPhone 12 256GB"></div>
                            <h3 class="h4Kafont">From ₹94900<span> ₹94900</span></h3>
                            <h4>Apple iPhone 12 256GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-11-pro-max/ZToxNTkyNQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTkyNS04Ny0x.jpg"
                                    alt="Apple iPhone 11 Pro Max"></div>
                            <h3 class="h4Kafont">From ₹92900<span> ₹117100</span></h3>
                            <h4>Apple iPhone 11 Pro Max</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-mini/ZToxNjg1MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjg1MS0xOTgtMQ.jpg"
                                    alt="Apple iPhone 12 Mini"></div>
                            <h3 class="h4Kafont">From ₹67400<span> ₹69900</span></h3>
                            <h4>Apple iPhone 12 Mini</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-mini-128gb/ZToxNjkxMg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxMi04NC0x.jpg"
                                    alt="Apple iPhone 12 Mini 128GB"></div>
                            <h3 class="h4Kafont">From ₹72399<span> ₹74900</span></h3>
                            <h4>Apple iPhone 12 Mini 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/apple-mobiles/apple-iphone-12-pro-max-256gb/ZToxNjkxOA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjkxOC0yNjQtMQ.jpg"
                                    alt="Apple iPhone 12 Pro Max 256GB"></div>
                            <h3 class="h4Kafont">From ₹134900<span> ₹139900</span></h3>
                            <h4>Apple iPhone 12 Pro Max 256GB</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala4"><button type="button" value="A4" class="butA4"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/oneplus_cat.png" alt="oneplus mobile"></div><a class="viewAll"
                    href="/mobile/oneplus-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala5"><button type="button" value="B5" class="butB5"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts5">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-7t-256gb/ZToxNTk5MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTk5MS05OC0x.jpg"
                                    alt="OnePlus 7T 256GB"></div>
                            <h3 class="h4Kafont">From ₹37999<span> ₹39999</span></h3>
                            <h4>OnePlus 7T 256GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/oneplus-mobiles/oneplus-7-pro-12gb-ram/ZToxNTY0Nw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY0Ny0yOC0x.jpg"
                                    alt="OnePlus 7 Pro 12GB RAM"></div>
                            <h3 class="h4Kafont">From ₹56990<span> ₹57999</span></h3>
                            <h4>OnePlus 7 Pro 12GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-7t-pro/ZToxNTg2MQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTg2MS03MC0x.jpg"
                                    alt="OnePlus 7T Pro"></div>
                            <h3 class="h4Kafont">From ₹40990<span> ₹53999</span></h3>
                            <h4>OnePlus 7T Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/oneplus-mobiles/oneplus-6t-8gb-ram/ZToxNTIyNg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTIyNi0yNS0x.jpg"
                                    alt="OnePlus 6T 8GB RAM"></div>
                            <h3 class="h4Kafont">From ₹27999<span> ₹41999</span></h3>
                            <h4>OnePlus 6T 8GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank"
                            href="/mobile/oneplus-mobiles/oneplus-6t-mclaren-edition/ZToxNTMzMg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTMzMi05LTE.jpg"
                                    alt="OnePlus 6T McLaren Edition"></div>
                            <h3 class="h4Kafont">From ₹39999<span> ₹50999</span></h3>
                            <h4>OnePlus 6T McLaren Edition</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-6/ZToxMzMxMQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzMxMS0xODgtMQ.jpg"
                                    alt="OnePlus 6"></div>
                            <h3 class="h4Kafont">From ₹39999<span> ₹39999</span></h3>
                            <h4>OnePlus 6</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-7-8gb-ram/ZToxNTY0OA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTY0OC02MC0x.jpg"
                                    alt="OnePlus 7 8GB RAM"></div>
                            <h3 class="h4Kafont">From ₹36899<span> ₹37999</span></h3>
                            <h4>OnePlus 7 8GB RAM</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-6t-256gb/ZToxNTIyNw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTIyNy0zLTE.jpg"
                                    alt="OnePlus 6T 256GB"></div>
                            <h3 class="h4Kafont">From ₹31999<span> ₹45999</span></h3>
                            <h4>OnePlus 6T 256GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-7-pro-/ZToxNTYxNA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNTYxNC03MC0x.jpg"
                                    alt="OnePlus 7 Pro "></div>
                            <h3 class="h4Kafont">From ₹41990<span> ₹49999</span></h3>
                            <h4>OnePlus 7 Pro </h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/oneplus-mobiles/oneplus-5/ZToxMjM3Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMjM3Ni0yNS0x.jpg"
                                    alt="OnePlus 5"></div>
                            <h3 class="h4Kafont">From ₹25199<span> ₹25199</span></h3>
                            <h4>OnePlus 5</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala5"><button type="button" value="A5" class="butA5"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/tecno_cat.png" alt="tecno mobile"></div><a class="viewAll"
                    href="/mobile/tecno-mobile-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala6"><button type="button" value="B6" class="butB6"><i class="fa fa-angle-left"
                            style="font-size:27px"></i></button></div>
                <div class="hereProducts6">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-pova-128gb/ZToxNzEyNw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNzEyNy0xMjgtMQ.jpg"
                                    alt="Tecno Pova 128GB"></div>
                            <h3 class="h4Kafont">From ₹12999<span> ₹12999</span></h3>
                            <h4>Tecno Pova 128GB</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-camon-15-pro/ZToxNjQwNw">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQwNy0xOS0x.jpg"
                                    alt="Tecno Camon 15 Pro"></div>
                            <h3 class="h4Kafont">From ₹15999<span> ₹16999</span></h3>
                            <h4>Tecno Camon 15 Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-camon-16/ZToxNjczMA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjczMC01Mi0x.jpg"
                                    alt="Tecno Camon 16"></div>
                            <h3 class="h4Kafont">From ₹11499<span> ₹11999</span></h3>
                            <h4>Tecno Camon 16</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-i7/ZToxMzY4Ng">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzY4Ni0zNy0x.jpg"
                                    alt="Tecno i7"></div>
                            <h3 class="h4Kafont">From ₹10370<span> ₹10370</span></h3>
                            <h4>Tecno i7</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-camon-15/ZToxNjQwNg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQwNi0yMjgtMQ.jpg"
                                    alt="Tecno Camon 15"></div>
                            <h3 class="h4Kafont">From ₹10499<span> ₹11999</span></h3>
                            <h4>Tecno Camon 15</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-spark-5-pro/ZToxNjU2NQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjU2NS0yMS0x.jpg"
                                    alt="Tecno Spark 5 Pro"></div>
                            <h3 class="h4Kafont">From ₹9890<span> ₹11499</span></h3>
                            <h4>Tecno Spark 5 Pro</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-i3-pro-/ZToxMjkzMg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMjkzMi05MC0x.jpg"
                                    alt="Tecno I3 Pro "></div>
                            <h3 class="h4Kafont">From ₹7337<span> ₹10590</span></h3>
                            <h4>Tecno I3 Pro </h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-i5-/ZToxMzE1Mg">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xMzE1Mi03MS0x.jpg"
                                    alt="Tecno I5 "></div>
                            <h3 class="h4Kafont">From ₹8000<span> ₹12087</span></h3>
                            <h4>Tecno I5 </h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-spark-5/ZToxNjQ1MA">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNjQ1MC04OC0x.jpg"
                                    alt="Tecno Spark 5"></div>
                            <h3 class="h4Kafont">From ₹7990<span> ₹9499</span></h3>
                            <h4>Tecno Spark 5</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/mobile/tecno-mobiles/tecno-camon-i-air/ZToxNDI0NQ">
                            <div class="imageContainer"><img
                                    src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xNDI0NS05My0x.jpg"
                                    alt="Tecno Camon I Air"></div>
                            <h3 class="h4Kafont">From ₹7200<span> ₹8999</span></h3>
                            <h4>Tecno Camon I Air</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala6"><button type="button" value="A6" class="butA6"><i class="fa fa-angle-right"
                            style="font-size:27px"></i></button></div>
            </div>
        </div>
    </div>
    <script>
        function showall(e) {
            var len = document.getElementsByClassName(e).length;
            // console.log(len);
            var a = 0;
            if (document.getElementsByClassName(e)[a].style.display != "flex") {
                while (a < len) {
                    document.getElementsByClassName(e)[a].style.display = "flex"
                    // console.log(a);
                    a++
                }
            }
        }
 
    </script>
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>


</html>