<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Bluetooth Speakers Prices in India | Compare Prices of Bluetooth Speakers in India
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Bluetooth Speakers By Prices. Bluetooth Speakers include JBL Speakers , Croma Speakers and more . Compare Best Deal On Speakers Across all e-Stores">
    <meta name="og_title" property="og:title" content="Bluetooth Speakers Prices in India | Compare Prices of Bluetooth Speakers in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/speakers/bluetooth-speakers-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Speakers Across All e-Stores By Prices, COD, EMI etc. Speakers include JBL Speakers and croma speakers">


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "http:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "http:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/headphones\/",
                    "name": "Headphones"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/headphones/">Headphones</a>><a href="">
                   Speakers
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Bluetooth Speakers prices in India">
                    Bluetooth Speakers Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/speakers/bluetooth-speakers/jbl-go-2-plus-bluetooth-speaker/ZTo1Nzk3MTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTUtMy0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">JBL Go 2 Plus Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2499</span><span>₹3299</span><span>24% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvamJsLWdvMnBsdXMtMy13LWJsdWV0b290aC1zcGVha2VyL3AvaXRtMjY2NzEwNmZkNjRjZT9waWQ9QUNDRlpWUzRFVzlNR0IyQSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2499</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/jbl-go2-plus-bluetooth-portable-speaker-blue-CMPLXCOMJBL-GO2-PLUSDUMM20256A63C4ECE-pdp">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹2499</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MTU"><input onclick="comp(this)" id="ZTo1Nzk3MTU" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/hercules-wae-btp04-bluetooth-speaker/ZTo1Nzk3MTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTMtMi0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Hercules WAE BTP04 Bluetooth Speaker</h3>
                        <div class="mrpTag"><span>₹9493</span><span>₹18986</span><span>50% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGVyY3VsZXMtd2FlLW91dGRvb3ItYnRwMDQtYWR2ZW50dXJlLXBhY2staXA2NC1jZXJ0aWZpZWQtYmx1ZXRvb3RoLXNwZWFrZXItOC13L3AvaXRtZDQ2ZGNkMTU2MmFhNz9waWQ9QUNDRlpDOURORjVIV1paWCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9493</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MTM"><input onclick="comp(this)" id="ZTo1Nzk3MTM" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/sansui-bassblast-tws-50w-bluetooth-party-speaker/ZTo1NTYzNjE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNjEtMTEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sansui BassBlast TWS 50W Bluetooth Party Speaker</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10999</span><span>₹15990</span><span>31% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">50 W Sound Output</li>
                                <li class="listItem">Bluetooth</li>
                                <li class="listItem">USB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Fuc3VpLWJhc3NibGFzdC10d3Mta2FyYW9rZS1jb21wYXRpYmxlLW1lZ2EtYmFzcy1pbi1idWlsdC1iYXR0ZXJ5LWRpc2NvLWxlZC01MC13LWJsdWV0b290aC10b3dlci1zcGVha2VyL3AvaXRtNTRlYTEwNGQ1ODBmZT9waWQ9QUNDRk41VkpTQ0dZWTRFQiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNjE"><input onclick="comp(this)" id="ZTo1NTYzNjE" type="checkbox" name="home-theaters" value="ZTo1NTYzNjE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/sansui-musicblast-1-tws-85w-bluetooth-party-speaker/ZTo1NTYzNjM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNjMtNzItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sansui MusicBlast 1 TWS 85W Bluetooth Party Speaker</h3>
                        <div class="review">
                            <div><span>3.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12999</span><span>₹16990</span><span>23% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">85 W Sound Output</li>
                                <li class="listItem">Bluetooth</li>
                                <li class="listItem">USB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Fuc3VpLW11c2ljYmxhc3QtMS10d3Mta2FyYW9rZS1jb21wYXRpYmxlLXgtYmFzcy1ib29zdGVyLTg1LXctYmx1ZXRvb3RoLXRvd2VyLXNwZWFrZXIvcC9pdG0xODhkNDA0NzM0NDhjP3BpZD1BQ0NGTjVWSlJIUEtBWldaJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNjM"><input onclick="comp(this)" id="ZTo1NTYzNjM" type="checkbox" name="home-theaters" value="ZTo1NTYzNjM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/ambrane-bt-83-10w-bluetooth-speaker/ZTo1NTYzNTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNTAtMS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Ambrane BT-83 10W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1999</span><span>₹2999</span><span>33% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYW1icmFuZS1idC04My0xMC13LWJsdWV0b290aC1zcGVha2VyL3AvaXRtM2YzNjJmMGQ1MDU3Yj9waWQ9QUNDRk5FRlNBWVJCR0JGRSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1999</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/ambrane-bt-83-portable-bluetooth-speaker-blue-CMPLXCOMAMBRANE-BT-8BJ-I5861266BF0E506-pdp">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹2099</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNTA"><input onclick="comp(this)" id="ZTo1NTYzNTA" type="checkbox" name="wireless-speakers" value="ZTo1NTYzNTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/altec-lansing-drop-max-2w-bluetooth--speaker/ZTo1NTYzNDc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDctMzQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Altec Lansing Drop Max 2W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1219</span><span>₹5549</span><span>78% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWx0ZWMtbGFuc2luZy1kcm9wLW1heC0yLXctYmx1ZXRvb3RoLXNwZWFrZXIvcC9pdG05NjNmZTViYjY4ZGU1P3BpZD1BQ0NGUEZCWlBHQ1dZRkpVJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1219</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3N0Q4M1A1Ri8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹1329</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNDc"><input onclick="comp(this)" id="ZTo1NTYzNDc" type="checkbox" name="wireless-speakers" value="ZTo1NTYzNDc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/altec-lansing-melody-5w-bluetooth-speaker/ZTo1NTYzNDk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDktMi0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Altec Lansing Melody 5W Bluetooth Speaker</h3>
                        <div class="mrpTag"><span>₹2389</span><span>₹8899</span><span>73% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWx0ZWMtbGFuc2luZy1tZWxvZHktc2hvY2twcm9vZi1ibHVldG9vdGgtc3BlYWtlci1ibHVlLTUtdy9wL2l0bTlmOGY4ZjhjYTUzMzQ_cGlkPUFDQ0ZQRkdBWVgySDVHSzYmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2389</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNDk"><input onclick="comp(this)" id="ZTo1NTYzNDk" type="checkbox" name="wireless-speakers" value="ZTo1NTYzNDk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/altec-lansing-al-sndbs2-5w-bluetooth--speaker/ZTo1NTYzNDU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDUtNTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Altec Lansing AL-SNDBS2 5W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>2.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1049</span><span>₹3249</span><span>68% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWx0ZWMtbGFuc2luZy1hbC1zbmRiczItNS13LWJsdWV0b290aC1zcGVha2VyL3AvaXRtZmR0NXJ0aDh3enZodz9waWQ9QUNDRkRUWUZHQ1lFSFY0RyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1049</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNDU"><input onclick="comp(this)" id="ZTo1NTYzNDU" type="checkbox" name="wireless-speakers" value="ZTo1NTYzNDU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/corseca-dms2410-bluetooth-speaker/ZTo1ODAxMzM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMzMtNzgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Corseca DMS2410 Bluetooth Speaker</h3>
                        <div class="mrpTag"><span>₹3999</span><span>₹7999</span><span>50% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvY29yc2VjYS1kbXMyNDEwLXBpbmstMjAtdy1ibHVldG9vdGgtbGFwdG9wLWRlc2t0b3Atc3BlYWtlci9wL2l0bTdmNTA4ZjdiN2EyNmM_cGlkPUFDQ0ZQRVQ1UFJYWDJYTVAmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹3999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODAxMzM"><input onclick="comp(this)" id="ZTo1ODAxMzM" type="checkbox" name="wireless-speakers" value="ZTo1ODAxMzM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/f&amp;d-pa924-40w-bluetooth-speaker/ZTo1Nzk3MTE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTEtODAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">F&amp;D PA924 40W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹7999</span><span>₹11990</span><span>33% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZi1kLXBhOTI0LTQwLXctYmx1ZXRvb3RoLXBhcnR5LXNwZWFrZXIvcC9pdG1hOTgyZGUwZTgzZGY1P3BpZD1BQ0NGUDNTVjlCU1c0WEY1JmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹7999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MTE"><input onclick="comp(this)" id="ZTo1Nzk3MTE" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MTE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/f&amp;d-pa938-80w-bluetooth-party-speaker/ZTo1Nzk3MTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTAtNC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">F&amp;D PA938 80W Bluetooth Party Speaker</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19990</span><span>₹19990</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZi1kLXBhOTM4LTgwLXctYmx1ZXRvb3RoLWhvbWUtdGhlYXRyZS9wL2l0bWI1ZmJjYmU5NjZiYjc_cGlkPUFDQ0ZOU1dITjlOSEc0WEcmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MTA"><input onclick="comp(this)" id="ZTo1Nzk3MTA" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/doss-soundbox-plus-wireless-bluetooth-speaker/ZTo1Nzk3MDk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDktNDQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Doss SoundBox Plus Wireless Bluetooth Speaker</h3>
                        <div class="mrpTag"><span>₹6328</span><span>₹12656</span><span>50% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZG9zcy1zb3VuZGJveC1wbHVzLXBvcnRhYmxlLXdpcmVsZXNzLWJsdWV0b290aC1zcGVha2VyLWhkLXNvdW5kLTE2LXcvcC9pdG0wZGM0NmU5OTdlYWI2P3BpZD1BQ0NGWkM5RFdRSDJHOEFKJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹6328</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MDk"><input onclick="comp(this)" id="ZTo1Nzk3MDk" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MDk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/amkette-boomer-compact-10-w-bluetooth-soundbar/ZTo1Nzk3MDg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDgtMjAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Amkette Boomer Compact 10 W Bluetooth Soundbar</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1499</span><span>₹2299</span><span>35% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYW1rZXR0ZS1ib29tZXItY29tcGFjdC0xMC13LWJsdWV0b290aC1zb3VuZGJhci9wL2l0bWE5OTY5ODdkNTJhZWE_cGlkPUFDQ0ZQNzVFRVk2N1AyWjkmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1499</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MDg"><input onclick="comp(this)" id="ZTo1Nzk3MDg" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MDg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/altec-lansing-alp-xp800-xpedition-8-portable-wireless-bluetooth-speaker/ZTo1Nzk3MDc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDctNjktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Altec Lansing ALP-XP800 Xpedition 8 Portable Wireless Bluetooth Speaker</h3>
                        <div class="mrpTag"><span>₹68603</span><span>₹145988</span><span>53% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWx0ZWMtbGFuc2luZy1hbHAteHA4MDAteHBlZGl0aW9uLTgtcG9ydGFibGUtd2F0ZXJwcm9vZi13aXJlbGVzcy00MjAtdy1ibHVldG9vdGgtaG9tZS10aGVhdHJlL3AvaXRtOGFkNmFjODNiYjQ2Yz9waWQ9QUNDRlpaWUhVNjRBUkpXUCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹68603</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MDc"><input onclick="comp(this)" id="ZTo1Nzk3MDc" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MDc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/croma-bric-crer2109-3w-bluetooth-speaker/ZTo1NTYzOTQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzOTQtNDgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Croma Bric CRER2109 3W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1190</span><span>₹2000</span><span>41% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WkZCVlQ2OC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1190</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzOTQ"><input onclick="comp(this)" id="ZTo1NTYzOTQ" type="checkbox" name="wireless-speakers" value="ZTo1NTYzOTQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/boat-stone-190f-5w-bluetooth-speaker/ZTo1NTYzOTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzOTMtMzEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Boat Stone 190F 5W Bluetooth Speaker</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹999</span><span>₹2999</span><span>67% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYm9hdC1zdG9uZS0xOTBmLTUtdy1ibHVldG9vdGgtc3BlYWtlci9wL2l0bWU5N2I1NmYzOGJhZDY_cGlkPUFDQ0ZaNTlBSzhOTkdaQTUmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzOTM"><input onclick="comp(this)" id="ZTo1NTYzOTM" type="checkbox" name="wireless-speakers" value="ZTo1NTYzOTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/sansui-musicblast-2-tws-80w-bluetooth-party-speaker/ZTo1NTYzNjI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNjItNjctMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sansui MusicBlast 2 TWS 80W Bluetooth Party Speaker</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹13499</span><span>₹17990</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">80 W Sound Output</li>
                                <li class="listItem">Bluetooth</li>
                                <li class="listItem">USB</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2Fuc3VpLW11c2ljYmxhc3QtMi04MC13LWJsdWV0b290aC10b3dlci1zcGVha2VyL3AvaXRtODcyM2ZkODdmMmIzZD9waWQ9QUNDRk41VkpZTUhKWUhINyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹13499</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzNjI"><input onclick="comp(this)" id="ZTo1NTYzNjI" type="checkbox" name="home-theaters" value="ZTo1NTYzNjI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/speakers/bluetooth-speakers/f&amp;d-t70x-140w-bluetooth-tower-speaker/ZTo1Nzk3MTI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTItNTAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">F&amp;D T70X 140W Bluetooth Tower Speaker</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14999</span><span>₹19990</span><span>25% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZi1kLXQ3MHgtMTQwLXctYmx1ZXRvb3RoLXRvd2VyLXNwZWFrZXIvcC9pdG02YzA3MWJlYzBjNjYwP3BpZD1BQ0NGUDNTVkFRU0hDSkhEJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk3MTI"><input onclick="comp(this)" id="ZTo1Nzk3MTI" type="checkbox" name="wireless-speakers" value="ZTo1Nzk3MTI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>