<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Headphones Prices In India - PricesCompare.in</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.htc.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.htcapis.com/icon?family=Material+Icons"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ct.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="/javascripts/a.js"></script> -->
</head>

<body>
    <div id="db"></div>
    <script>
        const deviceWidth = window.outerWidth
        
    </script>
    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>
    <div id="mainBody">
        <div class="siteMap">
            <a href="/">Home</a>&gt;<a>Headphones & Speakers</a>
        </div>
        <div class="brands" style="height: 450px;">
            <h1>Headphones, Speakers and Home Theater Systems</h1>
            <div class="bwise">
                <a class="imgC" href="/headphones/headphones-price-list-in-india">
                    <img src="/images/allheadphones_cat.png" alt="">
                    <span>All Headphones</span>
                </a>
                <a class="imgC" href="/headphones/boat-headphones-price-list">
                    <img src="/images/boat_cat.png" alt="boat headphones">
                    <span>boAt</span>
                </a>
                <a class="imgC" href="/headphones/boult-headphones-price-list">
                    <img src="/images/boult_cat.png" alt="boult headphones">
                    <span>boult</span>
                </a>
                <a class="imgC" href="/headphones/jbl-headphones-price-list">
                    <img src="/images/jbl_cat.png" alt="jbl headphones">
                    <span>JBL</span>
                </a>
                <a href="/headphones/sony-headphones-price-list" class="imgC">
                    <img src="/images/sony_cat.png" alt="sony headphones">
                    <span>Sony</span>
                </a>
                <a href="/speakers/bluetooth-speakers-price-list" class="imgC">
                    <img src="/images/speakers_cat.png" alt="Speakers">
                    <span>Speakers</span>
                </a>
                <a href="/home-theater/home-theater-system-price-list" class="imgC">
                    <img src="/images/homeTheater_cat.png" alt="Home Theaters">
                    <span>Home Theaters</span>
                </a>
            </div>
        </div>


        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/boat_cat.png" alt="boat headphones"></div><a class="viewAll" href="/headphones/boat-headphones-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala0"><button type="button" value="B0" class="butB"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts0">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-421/ZTo1ODI5Mjg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MjgtMTE2LTE.jpg" alt="Boat Airdopes 421"></div>
                            <h3 class="h4Kafont">From ₹2999<span> ₹2999</span></h3>
                            <h4>Boat Airdopes 421</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-171-bluetooth-headset/ZTo1ODI0MzI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI0MzItMTk5LTE.jpg" alt="Boat Airdopes 171 Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1799<span> ₹1799</span></h3>
                            <h4>Boat Airdopes 171 Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-bassheads-152-headset/ZTo1Njg2MDc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg2MDctMzAtMQ.jpg" alt="Boat BassHeads 152 Headset"></div>
                            <h3 class="h4Kafont">From ₹330<span> ₹330</span></h3>
                            <h4>Boat BassHeads 152 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-121-v2-bluetooth-headset/ZTo1ODMwMjU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMwMjUtMTE4LTE.jpg" alt="Boat Airdopes 121 V2 Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1099<span> ₹1099</span></h3>
                            <h4>Boat Airdopes 121 V2 Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-bassheads-102-headset/ZTo1Njg2MTQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg2MTQtNTUtMQ.jpg" alt="Boat Bassheads 102 Headset"></div>
                            <h3 class="h4Kafont">From ₹349<span> ₹349</span></h3>
                            <h4>Boat Bassheads 102 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-311-bluetooth-headset/ZTo1Njg2MDY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg2MDYtNjMtMQ.jpg" alt="Boat Airdopes 311 Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹2499<span> ₹2499</span></h3>
                            <h4>Boat Airdopes 311 Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-bassheads-162-headset/ZTo1Njg2MDg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg2MDgtNzctMQ.jpg" alt="Boat BassHeads 162 Headset"></div>
                            <h3 class="h4Kafont">From ₹349<span> ₹349</span></h3>
                            <h4>Boat BassHeads 162 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-bassheads-100-headset/ZTo1NjkzNzU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkzNzUtMzctMQ.jpg" alt="Boat BassHeads 100 Headset"></div>
                            <h3 class="h4Kafont">From ₹349<span> ₹2999</span></h3>
                            <h4>Boat BassHeads 100 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-441-bluetooth-headset/ZTo1ODIzNzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzNzQtNDYtMQ.jpg" alt="Boat Airdopes 441 Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1400<span> ₹5999</span></h3>
                            <h4>Boat Airdopes 441 Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boat-headphones/boat-airdopes-121/ZTo1ODI5MjY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MjYtMTY2LTE.jpg" alt="Boat Airdopes 121"></div>
                            <h3 class="h4Kafont">From ₹1299<span> ₹1299</span></h3>
                            <h4>Boat Airdopes 121</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala0"><button type="button" value="A0" class="butA0"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/boult_cat.png" alt="boult headphones"></div><a class="viewAll" href="/headphones/boult-headphones-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala1"><button type="button" value="B1" class="butB1"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts1">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-probass-fluidx-bluetooth-headset/ZTo1ODMwOTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMwOTEtNDYtMQ.jpg" alt="Boult Audio ProBass FluidX Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1399<span> ₹1399</span></h3>
                            <h4>Boult Audio ProBass FluidX Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-airbass-truebuds-bluetooth-headset/ZTo1ODM0ODA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODM0ODAtNzYtMQ.jpg" alt="Boult Audio AirBass Truebuds Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1999<span> ₹1999</span></h3>
                            <h4>Boult Audio AirBass Truebuds Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-probass-thunder-bluetooth-headset/ZTo1ODI5ODE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5ODEtMTY2LTE.jpg" alt="Boult Audio ProBass Thunder Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1299<span> ₹1299</span></h3>
                            <h4>Boult Audio ProBass Thunder Bluetooth Headset</h4>
                        </a>
                    </div>

                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-bass-buds-stormx/ZTo1ODI5MjM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MjMtMjYzLTE.jpg" alt="Boult Audio Bass Buds StormX"></div>
                            <h3 class="h4Kafont">From ₹399<span> ₹399</span></h3>
                            <h4>Boult Audio Bass Buds StormX</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-probass-curve-pro-bluetooth-headset/ZTo1ODI0MDI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI0MDItMjE3LTE.jpg" alt="Boult Audio Probass Curve Pro Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1299<span> ₹1299</span></h3>
                            <h4>Boult Audio Probass Curve Pro Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-airbass-livebuds-bluetooth-headset/ZTo1ODIzNjI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzNjItMTEtMQ.jpg" alt="Boult Audio AirBass Livebuds Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1799<span> ₹1799</span></h3>
                            <h4>Boult Audio AirBass Livebuds Bluetooth Headset</h4>
                        </a>
                    </div>

                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-bassbuds-x2/ZTo1ODI5MjI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MjItNzktMQ.jpg" alt="Boult Audio BassBuds X2"></div>
                            <h3 class="h4Kafont">From ₹329<span> ₹329</span></h3>
                            <h4>Boult Audio BassBuds X2</h4>
                        </a>
                    </div>

                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-airbass-propods-bluetooth-headset/ZTo1ODI5MzA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MzAtMjYyLTE.jpg" alt="Boult Audio AirBass Propods Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹1999<span> ₹1999</span></h3>
                            <h4>Boult Audio AirBass Propods Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-airbass-powerbuds-bluetooth-headset/ZTo1ODI5MjQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI5MjQtMTIxLTE.jpg" alt="Boult Audio AirBass PowerBuds Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹2799<span> ₹2799</span></h3>
                            <h4>Boult Audio AirBass PowerBuds Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/boult-headphones/boult-audio-airbass-tru5ive-pro-bluetooth-headset/ZTo1ODIzNjY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzNjYtNjQtMQ.jpg" alt="Boult Audio AirBass Tru5ive Pro Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹2799<span> ₹2799</span></h3>
                            <h4>Boult Audio AirBass Tru5ive Pro Bluetooth Headset</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala1"><button type="button" value="A1" class="butA1"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/jbl_cat.png" alt="jbl headphones"></div><a class="viewAll" href="/headphones/jbl-headphones-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala2"><button type="button" value="B2" class="butB2"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts2">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-live-100-headset/ZTo1Njg5Njk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg5NjktNTYtMQ.jpg" alt="JBL LIVE 100 Headset"></div>
                            <h3 class="h4Kafont">From ₹1099<span> ₹2499</span></h3>
                            <h4>JBL LIVE 100 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-t205-headset/ZTo1NjkwNDc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkwNDctNS0x.jpg" alt="JBL T205 Headset"></div>
                            <h3 class="h4Kafont">From ₹885<span> ₹1599</span></h3>
                            <h4>JBL T205 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-live-650btnc-bluetooth-headset/ZTo1Njg4MTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg4MTUtMTktMQ.jpg" alt="JBL LIVE 650BTNC Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹9999<span> ₹12599</span></h3>
                            <h4>JBL LIVE 650BTNC Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-t110-headset/ZTo1Njk0NDU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk0NDUtNjEtMQ.jpg" alt="JBL T110 Headset"></div>
                            <h3 class="h4Kafont">From ₹729<span> ₹790</span></h3>
                            <h4>JBL T110 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-dive-bluetooth-headset/ZTo1NjkxNjA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkxNjAtOC0x.jpg" alt="JBL DIVE Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹4890<span> ₹7399</span></h3>
                            <h4>JBL DIVE Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-endurance-jump-bluetooth-headset/ZTo1Njg5NjM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg5NjMtMTUtMQ.jpg" alt="JBL Endurance Jump Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹3044<span> ₹5099</span></h3>
                            <h4>JBL Endurance Jump Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-e25bt-bluetooth-earbuds/ZTo1NjkyMjI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkyMjItOTAtMQ.jpg" alt="JBL E25BT Bluetooth Earbuds"></div>
                            <h3 class="h4Kafont">From ₹1899<span> ₹3499</span></h3>
                            <h4>JBL E25BT Bluetooth Earbuds</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-inspire-100-headset/ZTo1Njk2NjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk2NjEtMjUtMQ.jpg" alt="JBL Inspire 100 Headset"></div>
                            <h3 class="h4Kafont">From ₹790<span> ₹1799</span></h3>
                            <h4>JBL Inspire 100 Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-c100tws-bluetooth-earbuds/ZTo1Njg0OTc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg0OTctNTEtMQ.jpg" alt="JBL C100TWS Bluetooth Earbuds"></div>
                            <h3 class="h4Kafont">From ₹4399<span> ₹4399</span></h3>
                            <h4>JBL C100TWS Bluetooth Earbuds</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-c50hi-headset/ZTo1Njg3OTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg3OTUtNTYtMQ.jpg" alt="JBL C50HI Headset"></div>
                            <h3 class="h4Kafont">From ₹479<span> ₹999</span></h3>
                            <h4>JBL C50HI Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-run-headset/ZTo1NjkxNjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkxNjEtMjgtMQ.jpg" alt="JBL RUN Headset"></div>
                            <h3 class="h4Kafont">From ₹1144<span> ₹3199</span></h3>
                            <h4>JBL RUN Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-live-200bt-bluetooth-headset/ZTo1Njg5NzA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg5NzAtOTItMQ.jpg" alt="JBL LIVE 200BT Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹3289<span> ₹5299</span></h3>
                            <h4>JBL LIVE 200BT Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-c200si-headset/ZTo1NjkwNTM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkwNTMtODUtMQ.jpg" alt="JBL C200SI Headset"></div>
                            <h3 class="h4Kafont">From ₹749<span> ₹1499</span></h3>
                            <h4>JBL C200SI Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-live-220bt-bluetooth-headset/ZTo1Njg1NTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njg1NTUtNTItMQ.jpg" alt="JBL LIVE 220BT Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹3990<span> ₹7999</span></h3>
                            <h4>JBL LIVE 220BT Bluetooth Headset</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/jbl-headphones/jbl-t110bt-bluetooth-headset/ZTo1NjkxNzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjkxNzQtODEtMQ.jpg" alt="JBL T110BT Bluetooth Headset"></div>
                            <h3 class="h4Kafont">From ₹779<span> ₹2499</span></h3>
                            <h4>JBL T110BT Bluetooth Headset</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala2"><button type="button" value="A2" class="butA2"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/sony_cat.png" alt="sony headphones"></div><a class="viewAll" href="/headphones/sony-headphones-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala3"><button type="button" value="B3" class="butB3"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts3">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-hw300k-headphones/ZTo1Njk5NDE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk5NDEtMTQtMQ.jpg" alt="Sony MDR-HW300K Headphone"></div>
                            <h3 class="h4Kafont">From ₹45530<span> ₹45530</span></h3>
                            <h4>Sony MDR-HW300K Headphone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-xd150-headphones/ZTo1Njk3OTY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5Nzk2LTkzLTE.jpg">
                            </div>
                            <h3 class="h4Kafont">From ₹16985</h3>
                            <h4>Sony MDR-XD150 Headphone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-xb450bv-headphones/ZTo1Njk5ODI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk5ODItODktMQ.jpg" alt="Sony MDR-XB450BV Headphone"></div>
                            <h3 class="h4Kafont">From ₹23500<span> ₹23500</span></h3>
                            <h4>Sony MDR-XB450BV Headphone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-xb450ap-headphones/ZTo1Njk5ODI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0zNzAsaC0zMzAsYy1hdF9tYXgvNTY5ODUwLTgzLTE.jpg" alt="Sony MDR-XB450AP Headphone"></div>
                            <h3 class="h4Kafont">From ₹1685</h3>
                            <h4>Sony MDR-XB450AP Headphone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-zx600-headphones/ZTo1Njk4MDE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk4MDEtNjMtMQ.jpg" alt="Sony MDR-ZX600 Headphone"></div>
                            <h3 class="h4Kafont">From ₹2940<span> ₹4000</span></h3>
                            <h4>Sony MDR-ZX600 Headphone</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/headphones/sony-headphones/sony-mdr-xd150-headphones/ZTo1Njk3OTY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Njk3OTYtOTMtMQ.jpg" alt="Sony MDR-XD150 Headphone"></div>
                            <h3 class="h4Kafont">From ₹16985<span> ₹16985</span></h3>
                            <h4>Sony MDR-XD150 Headphone</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala3"><button type="button" value="A3" class="butA3"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="newBrandLogo">
                Speakers
                <a class="viewAll" href="/speakers/bluetooth-speakers-price-list">View All</a>
            </div>
            <div class="secondChild">
                <div id="butbWala6"><button type="button" value="B6" class="butB6"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts6">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/ambrane-bt-83-10w-bluetooth-speaker/ZTo1NTYzNTA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNTAtMS0x.jpg" alt="Ambrane BT-83 10W Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹1999<span> ₹2999</span></h3>
                            <h4>Ambrane BT-83 10W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/jbl-go-2-plus-bluetooth-speaker/ZTo1Nzk3MTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTUtMy0x.jpg" alt="JBL Go 2 Plus Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹2499<span> ₹3299</span></h3>
                            <h4>JBL Go 2 Plus Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/f&amp;d-pa924-40w-bluetooth-speaker/ZTo1Nzk3MTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTEtODAtMQ.jpg" alt="F&amp;D PA924 40W Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹7999<span> ₹11990</span></h3>
                            <h4>F&amp;D PA924 40W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/corseca-dms2410-bluetooth-speaker/ZTo1ODAxMzM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMzMtNzgtMQ.jpg" alt="Corseca DMS2410 Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹3999<span> ₹7999</span></h3>
                            <h4>Corseca DMS2410 Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/hercules-wae-btp04-bluetooth-speaker/ZTo1Nzk3MTM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTMtMi0x.jpg" alt="Hercules WAE BTP04 Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹9493<span> ₹18986</span></h3>
                            <h4>Hercules WAE BTP04 Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/altec-lansing-melody-5w-bluetooth-speaker/ZTo1NTYzNDk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDktMi0x.jpg" alt="Altec Lansing Melody 5W Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹2389<span> ₹8899</span></h3>
                            <h4>Altec Lansing Melody 5W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/croma-bric-crer2109-3w-bluetooth-speaker/ZTo1NTYzOTQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzOTQtNDgtMQ.jpg" alt="Croma Bric CRER2109 3W Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹1190<span> ₹2000</span></h3>
                            <h4>Croma Bric CRER2109 3W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/doss-soundbox-plus-wireless-bluetooth-speaker/ZTo1Nzk3MDk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDktNDQtMQ.jpg" alt="Doss SoundBox Plus Wireless Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹6328<span> ₹12656</span></h3>
                            <h4>Doss SoundBox Plus Wireless Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/sansui-bassblast-tws-50w-bluetooth-party-speaker/ZTo1NTYzNjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNjEtMTEtMQ.jpg" alt="Sansui BassBlast TWS 50W Bluetooth Party Speaker"></div>
                            <h3 class="h4Kafont">From ₹10999<span> ₹15990</span></h3>
                            <h4>Sansui BassBlast TWS 50W Bluetooth Party Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/amkette-boomer-compact-10-w-bluetooth-soundbar/ZTo1Nzk3MDg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDgtMjAtMQ.jpg" alt="Amkette Boomer Compact 10 W Bluetooth Soundbar"></div>
                            <h3 class="h4Kafont">From ₹1499<span> ₹2299</span></h3>
                            <h4>Amkette Boomer Compact 10 W Bluetooth Soundbar</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/sansui-musicblast-1-tws-85w-bluetooth-party-speaker/ZTo1NTYzNjM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNjMtNzItMQ.jpg" alt="Sansui MusicBlast 1 TWS 85W Bluetooth Party Speaker"></div>
                            <h3 class="h4Kafont">From ₹12999<span> ₹16990</span></h3>
                            <h4>Sansui MusicBlast 1 TWS 85W Bluetooth Party Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/altec-lansing-al-sndbs2-5w-bluetooth--speaker/ZTo1NTYzNDU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDUtNTMtMQ.jpg" alt="Altec Lansing AL-SNDBS2 5W Bluetooth  Speaker"></div>
                            <h3 class="h4Kafont">From ₹1049<span> ₹3249</span></h3>
                            <h4>Altec Lansing AL-SNDBS2 5W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/altec-lansing-alp-xp800-xpedition-8-portable-wireless-bluetooth-speaker/ZTo1Nzk3MDc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MDctNjktMQ.jpg" alt="Altec Lansing ALP-XP800 Xpedition 8 Portable Wireless Bluetooth Speaker"></div>
                            <h3 class="h4Kafont">From ₹68603<span> ₹145988</span></h3>
                            <h4>Altec Lansing ALP-XP800 Xpedition 8 Portable Wireless Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/altec-lansing-drop-max-2w-bluetooth--speaker/ZTo1NTYzNDc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzNDctMzQtMQ.jpg" alt="Altec Lansing Drop Max 2W Bluetooth  Speaker"></div>
                            <h3 class="h4Kafont">From ₹1219<span> ₹5549</span></h3>
                            <h4>Altec Lansing Drop Max 2W Bluetooth Speaker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/speakers/bluetooth-speakers/f&amp;d-pa938-80w-bluetooth-party-speaker/ZTo1Nzk3MTA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk3MTAtNC0x.jpg" alt="F&amp;D PA938 80W Bluetooth Party Speaker"></div>
                            <h3 class="h4Kafont">From ₹19990<span> ₹19990</span></h3>
                            <h4>F&amp;D PA938 80W Bluetooth Party Speaker</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala6"><button type="button" value="A6" class="butA6"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="newBrandLogo">
                Home Theater System
                <a class="viewAll" href="/home-theater/home-theater-system-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala7"><button type="button" value="B7" class="butB7"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts7">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/i-kall-tanyo-ta-111-5.1-home-theatre-system/ZTo1NjY4NTM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY4NTMtNC0x.jpg" alt="I Kall Tanyo TA-111 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹2099<span> ₹3499</span></h3>
                            <h4>I Kall Tanyo TA-111 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/krisons-bazooka-5.1-home-theatre-system/ZTo1NjY5MDA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY5MDAtMTMtMQ.jpg" alt="Krisons Bazooka 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹3290<span> ₹4999</span></h3>
                            <h4>Krisons Bazooka 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/i-kall-ik-401-4.1-home-theatre-system/ZTo1NjY2OTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY2OTktMTAtMQ.jpg" alt="I Kall IK-401 4.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹1699<span> ₹2999</span></h3>
                            <h4>I Kall IK-401 4.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/sony-sa-d40-4.1-home-theatre-system/ZTo1NjY4MzM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY4MzMtODAtMQ.jpg" alt="Sony SA-D40 4.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹8490<span> ₹8490</span></h3>
                            <h4>Sony SA-D40 4.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/sony-bdv-n9200w-5.1-home-theatre-system/ZTo1NjY5NzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY5NzQtMTEyLTE.jpg" alt="Sony BDV-N9200W 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹60989<span> ₹62990</span></h3>
                            <h4>Sony BDV-N9200W 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/philips-spt-6660-hi-fi-home-theatre-system/ZTo1NjY4ODY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY4ODYtMjAtMQ.jpg" alt="Philips SPT-6660 Hi Fi Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹8675<span> ₹8675</span></h3>
                            <h4>Philips SPT-6660 Hi Fi Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/flow-flash-5.1-home-theatre-system/ZTo1NjY5NDI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY5NDItMjg4LTE.jpg" alt="Flow Flash 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹2737<span> ₹4000</span></h3>
                            <h4>Flow Flash 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/krisons-polowobt-5.1-home-theatre-system/ZTo1NjY5ODY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY5ODYtMjEtMQ.jpg" alt="Krisons POLOWOBT 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹2390<span> ₹4999</span></h3>
                            <h4>Krisons POLOWOBT 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/f&amp;d-t-200x-2.1-home-theatre-system/ZTo1NjY4ODg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY4ODgtODMtMQ.jpg" alt="F&amp;D T-200X 2.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹7199<span> ₹8999</span></h3>
                            <h4>F&amp;D T-200X 2.1 Home Theatre System</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/home-theater/home-theater-system/krisons-poloblue-5.1-home-theatre-system/ZTo1NjY5NDY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjY5NDYtMi0x.jpg" alt="Krisons PoloBlue 5.1 Home Theatre System"></div>
                            <h3 class="h4Kafont">From ₹2037<span> ₹4990</span></h3>
                            <h4>Krisons PoloBlue 5.1 Home Theatre System</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala7"><button type="button" value="A7" class="butA7"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
    </div>
    <script>
        $("button").click(function() {
            console.log('click')
                // if statement here
            var cj = this.value;
            console.log(cj)
            var a = cj.includes("A")
            console.log(a)
            if (a == true) {
                var b = cj.replace("A", "");
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(1000);
                document.getElementById(`butbWala${b}`).style.display = "flex";
                $(`.butB${b}`).css({
                    "display": "block"
                })
                var a1 = document.querySelector(`.hereProducts${b}`);
                console.log("scrolling left positive")
                var u1 = a1.scrollWidth;
                var t1 = a1.clientWidth;
                var t2 = a1.scrollLeft;
                console.log(u1, t1, t2)
                a1.scrollLeft += t1;
                var t3 = t1 + t2;
                if (t3 >= u1 - t1) {
                    document.getElementById(`butaWala${b}`).style.display = "none";
                    $(`.butA${b}`).css({
                        "display": "none"
                    });
                }
            } else {
                var b = cj.replace("B", "")
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(-10000);
                var a2 = document.querySelector(`.hereProducts${b}`);
                var t1 = a2.clientWidth;
                a2.scrollLeft -= t1;
                console.log("scrolling left negative")
                var tb2 = a2.scrollLeft;
                if (tb2 <= t1) {
                    document.getElementById(`butbWala${b}`).style.display = "none";
                    $(`.butB${b}`).css({
                        "display": "none"
                    });
                }
                document.getElementById(`butaWala${b}`).style.display = "flex";
                $(`.butA${b}`).css({
                    "display": "block"
                });
            }
        });
    </script>

<div id="footKaBaap">
    <footer id="footer">
        <div id="upFoot">
            <div class="divs1 dob">
                <!-- <div id="mySpan"></div>  -->
                <div class="footInfo">
                    <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                    <a href="/"><img class="logo" src="/images/logo.png"></a>
                </div>
            </div>
            <div class="divs2 dob">
                <!-- <div id="mySpan"></div> -->
                <div class="footInfo">
                    <h2>Contact Us</h2>
                    <a target="_blank" href="/advertise-with-us">
                        <p>Advertise with us</p>
                    </a>
                    <a target="_blank" href="/privacy">
                        <p>Privacy</p>
                    </a>
                    <a target="_blank" href="/contact-us">
                        <p>Contact Us</p>
                    </a>
                    <a target="_blank" href="/credits">
                        <p>Credits</p>
                    </a>


                </div>

            </div>

            <div class="divs3 dob">
                <!-- <div id="mySpan"></div> -->
                <div class="footInfo">
                    <h2>Follow Us On</h2>
                    <a target="_blank">
                        <p>Facebook</p>
                    </a>
                    <!-- <a target="_blank"><p>Twitter</p></a> -->
                    <a target="_blank">
                        <p>Instagram</p>
                    </a>

                </div>
            </div>

            <div class="divs4 dob">
                <!-- <div id="mySpan"></div> -->

                <div class="footInfo">
                    <h2>Get To Know Us</h2>
                    <a target="_blank" href="/about-us">
                        <p>About Us</p>
                    </a>
                    <a target="_blank" href="/terms-of-use">
                        <p>Terms of use</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="downFoot">
            <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
        </div>
    </footer>
</div>
</body>
<script src="/javascripts/a.js"></script>

</html>