<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kitchen Appliances: Microwave Oven, Mixer Juicer Grinder, Electric Kettle- PricesCompare.in</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.htc.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.htcapis.com/icon?family=Material+Icons"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/lib s/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ct.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- <script src="/javascripts/a.js"></script> -->
</head>

<body>
    <script>
        const deviceWidth = window.outerWidth
        
    </script>
    <div id="db"></div>
    
    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>
    <div id="mainBody">
        <div class="siteMap">
            <a href="/">Home</a>&gt;<a>Kitchen Appliances</a>
        </div>
        <div class="brands">
            <h1>Microwave Oven | Mixer Juicer Grinder and more</h1>
            <div class="bwise">
                <a href="/microwave-oven/microwave-oven-price-list" class="imgC">
                    <img src="/images/microwave oven_cat.png" alt="microwave oven">
                    <span>Microwave Oven</span>
                </a>
                <a class="imgC" href="/microwave-oven/godrej-microwave-oven-price-list">
                    <img src="/images/godrej_cat.png" alt="Godrej">
                    <span>Godrej Microwave Oven</span>
                </a>
                <a class="imgC" href="/microwave-oven/lg-microwave-oven-price-list">
                    <img src="/images/lg_cat.png" alt="LG">
                    <span>LG Microwave Oven</span>
                </a>
                <a class="imgC" href="/microwave-oven/haier-microwave-oven-price-list">
                    <img src="/images/haier_cat.png" alt="Haier">
                    <span>Haier Microwave Oven</span>
                </a>
                <a class="imgC" href="/microwave-oven/samsung-microwave-oven-price-list">
                    <img src="/images/samsung_cat.png" alt="Samsung">
                    <span>Samsung Microwave Oven</span>
                </a>
                <a href="/microwave-oven/whirlpool-microwave-oven-price-list" class="imgC">
                    <img src="/images/whirlpool_cat.png" alt="Whirlpool">
                    <span>Whirlpool Microwave Oven</span>
                </a>
                <a href="#rm" class="imgC">
                    <img src="/images/roti maker_cat.png" alt="roti maker">
                    <span>Roti maker</span>
                </a>
                <a href="#pc" class="imgC">
                    <img src="/images/pressure cooker_cat.png" alt="pressure cooker">
                    <span>Pressure Cooker</span>
                </a>
                <a href="#ek" class="imgC">
                    <img src="/images/electric kettle_cat.png" alt="electric kettle">
                    <span>Electric Kettle</span>
                </a>
                <a href="/kitchen-appliances/mixer-juicer-grinder-price-list" class="imgC">
                    <img src="/images/mixer juicer grinder_cat.png" alt="mixer juicer grinder">
                    <span>Mixer Juicer Grinder</span>
                </a>


            </div>

        </div>


        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/godrej_cat.png" alt="godrej microwave-oven"></div><a class="viewAll" href="/microwave-oven/godrej-microwave-oven-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala0" style="display: none;"><button type="button" value="B0" class="butB0" style="display: none;"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts0">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-730-cr1-pz-30-l-convection-microwave-oven/ZTo1NjQzNTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzNTEtMzMtMQ.jpg" alt="Godrej GME 730 CR1 PZ 30 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12990<span> ₹19940</span></h3>
                            <h4>Godrej GME 730 CR1 PZ 30 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gmx-20ca5-mlz-20-l-convection-microwave-oven/ZTo1NjQ2MDA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2MDAtMjM5LTE.jpg" alt="Godrej GMX 20CA5-MLZ 20 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹8868<span> ₹11625</span></h3>
                            <h4>Godrej GMX 20CA5-MLZ 20 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-725-cf2-pz-25-l-convection-microwave-oven/ZTo1NjQ0MzI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MzItMjA5LTE.jpg" alt="Godrej GME 725 CF2 PZ 25 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11990<span> ₹17745</span></h3>
                            <h4>Godrej GME 725 CF2 PZ 25 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-530-cf1-pm-30-l-convection-microwave-oven/ZTo1NjQzNzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzNzktMjc1LTE.jpg" alt="Godrej GME 530 CF1 PM 30 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12490<span> ₹16585</span></h3>
                            <h4>Godrej GME 530 CF1 PM 30 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-528-cf1-pm-28-l-convection-microwave-oven/ZTo1NjQzODY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzODYtODktMQ.jpg" alt="Godrej GME 528 CF1 PM 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹15990<span> ₹21990</span></h3>
                            <h4>Godrej GME 528 CF1 PM 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-720-cp1-20-l-convection-microwave-oven/ZTo1NjQzODk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzODktMjk0LTE.jpg" alt="Godrej GME 720 CP1 20 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹10000<span> ₹10000</span></h3>
                            <h4>Godrej GME 720 CP1 20 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-720-cf2-qz-20-l-convection-microwave-oven/ZTo1ODE0MzU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE0MzUtNjgtMQ.jpg" alt="Godrej GME 720 CF2 QZ 20 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9699<span> ₹14400</span></h3>
                            <h4>Godrej GME 720 CF2 QZ 20 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gmx-519-cp1-19-l-convection-microwave-oven/ZTo1NjQ0MzU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MzUtNTYtMQ.jpg" alt="Godrej GMX 519 CP1 19 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7788<span> ₹10990</span></h3>
                            <h4>Godrej GMX 519 CP1 19 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-734-cr1-pm-34-l-convection-&amp;-grill-microwave-oven/ZTo1NjQzNDM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzNDMtNDUtMQ.jpg" alt="Godrej GME 734 CR1 PM 34 L Convection &amp; Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹16166<span> ₹23090</span></h3>
                            <h4>Godrej GME 734 CR1 PM 34 L Convection &amp; Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-725-cf1-pz-25-l-convection-microwave-oven/ZTo1NjQ0MzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MzQtMTE4LTE.jpg" alt="Godrej GME 725 CF1 PZ 25 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹10990<span> ₹14395</span></h3>
                            <h4>Godrej GME 725 CF1 PZ 25 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gmx-20sa2-blm-20-l-solo-microwave-oven/ZTo1NjQ1OTA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1OTAtMzUtMQ.jpg" alt="Godrej GMX 20SA2 BLM 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹4936<span> ₹7140</span></h3>
                            <h4>Godrej GMX 20SA2 BLM 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/godrej-microwave-oven/godrej-gme-20cm1-mjz-20-l-convection-microwave-oven/ZTo1NjQ1ODU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1ODUtMTg1LTE.jpg" alt="Godrej GME 20CM1 MJZ 20 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9750<span> ₹9750</span></h3>
                            <h4>Godrej GME 20CM1 MJZ 20 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala0" style="display: flex;"><button type="button" value="A0" class="butA0" style="display: block;"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/haier_cat.png" alt="haier microwave-oven"></div><a class="viewAll" href="/microwave-oven/haier-microwave-oven-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala1"><button type="button" value="B1" class="butB1"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts1">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2001mfph-20-l-solo-microwave-oven/ZTo1NjQ0NjY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjYtMjQ5LTE.jpg" alt="Haier HIL2001MFPH 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹5117<span> ₹5679</span></h3>
                            <h4>Haier HIL2001MFPH 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2801rbsj-28-l-convection-microwave-oven/ZTo1NjQ1Nzg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NzgtNDMtMQ.jpg" alt="Haier HIL2801RBSJ 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11599<span> ₹15250</span></h3>
                            <h4>Haier HIL2801RBSJ 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2501cbsh-25-l-convection-microwave-oven/ZTo1ODE0MTQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE0MTQtMTctMQ.jpg" alt="Haier HIL2501CBSH 25 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12500<span> ₹18999</span></h3>
                            <h4>Haier HIL2501CBSH 25 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil3001cbsh-30-l-convection-microwave-oven/ZTo1ODEwMTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEwMTUtMjMyLTE.jpg" alt="Haier HIL3001CBSH 30 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹14050<span> ₹23999</span></h3>
                            <h4>Haier HIL3001CBSH 30 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2001csph-20-l-convection-microwave-oven/ZTo1NjQ0Njc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjctMjMwLTE.jpg" alt="Haier HIL2001CSPH 20 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7700<span> ₹8910</span></h3>
                            <h4>Haier HIL2001CSPH 20 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2301cssh-23-l-convection-microwave-oven/ZTo1NjQ0MTM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MTMtNTgtMQ.jpg" alt="Haier HIL2301CSSH 23 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9690<span> ₹11299</span></h3>
                            <h4>Haier HIL2301CSSH 23 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2001mbph-20-l-solo-microwave-oven/ZTo1NjQ1Nzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NzktMjQxLTE.jpg" alt="Haier HIL2001MBPH 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹5500<span> ₹6101</span></h3>
                            <h4>Haier HIL2001MBPH 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/haier-microwave-oven/haier-hil2301cbsb-23-l-convection-microwave-oven/ZTo1NjQ1Mjk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MjktNjMtMQ.jpg" alt="Haier HIL2301CBSB 23 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9398<span> ₹11290</span></h3>
                            <h4>Haier HIL2301CBSB 23 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala1"><button type="button" value="A1" class="butA1"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/lg_cat.png" alt="lg microwave-oven"></div><a class="viewAll" href="/microwave-oven/lg-microwave-oven-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala2"><button type="button" value="B2" class="butB2"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts2">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/ifb-17pg3s-17-l-grill-microwave-oven/ZTo1NjQ3NTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3NTktMjEtMQ.jpg" alt="IFB 17PG3S 17 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹5605<span> ₹7690</span></h3>
                            <h4>IFB 17PG3S 17 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/morphy-richards-mwo-25-cg-25-l-grill-microwave-oven/ZTo1NjQ3NTQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3NTQtMjUzLTE.jpg" alt="Morphy Richards Mwo 25 Cg 25 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹10990<span> ₹10990</span></h3>
                            <h4>Morphy Richards Mwo 25 Cg 25 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mc2146bp-21-l-convection-microwave-oven/ZTo1NjQ1NDA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NDAtMjYtMQ.jpg" alt="LG MC2146BP 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11690<span> ₹14200</span></h3>
                            <h4>LG MC2146BP 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/morphy-richards-mwo-20-mbg-20-l-grill-microwave-oven/ZTo1NjQ2NjM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2NjMtOTgtMQ.jpg" alt="Morphy Richards MWO 20 MBG 20 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7224<span> ₹9500</span></h3>
                            <h4>Morphy Richards MWO 20 MBG 20 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/panasonic-nn-gt221wfag-20-l-grill-microwave-oven/ZTo1NjQ2OTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2OTktOTgtMQ.jpg" alt="Panasonic NN-GT221WFAG 20 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7390<span> ₹9390</span></h3>
                            <h4>Panasonic NN-GT221WFAG 20 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mj3286bfum-32-l-convection-microwave-oven/ZTo1NjQ1MzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzQtOTctMQ.jpg" alt="LG Mj3286Bfum 32 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹24490<span> ₹30200</span></h3>
                            <h4>LG Mj3286Bfum 32 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mc2146bv-21-l-convection-microwave-oven/ZTo1NjQ0NjQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjQtMTQtMQ.jpg" alt="LG MC2146BV 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9790<span> ₹11695</span></h3>
                            <h4>LG MC2146BV 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/ifb-20pg4s-20-l-grill-microwave-oven/ZTo1NjQ3NjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3NjEtMTcxLTE.jpg" alt="IFB 20PG4S 20 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹6791<span> ₹9090</span></h3>
                            <h4>IFB 20PG4S 20 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-ms2043db-20-l-solo-microwave-oven/ZTo1NjQ2OTQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2OTQtMjkyLTE.jpg" alt="LG MS2043DB 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹6111<span> ₹7200</span></h3>
                            <h4>LG MS2043DB 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mc2846bct-28-l-convection-microwave-oven/ZTo1NjQ1Mzg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzgtMjU0LTE.jpg" alt="LG MC2846BCT 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹349<span> ₹15500</span></h3>
                            <h4>LG MC2846BCT 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mc2886brum-28-l-convection-microwave-oven/ZTo1NjQ1MzY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzYtNjktMQ.jpg" alt="LG MC2886BRUM 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹15690<span> ₹20450</span></h3>
                            <h4>LG MC2886BRUM 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-mc2846sl-28-l-convection-microwave-oven/ZTo1NjQ1Mzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzktMTAwLTE.jpg" alt="LG MC2846SL 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12602<span> ₹16190</span></h3>
                            <h4>LG MC2846SL 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/lg-ms2043bp-20-l-solo-microwave-oven/ZTo1NjQ0MDQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MDQtNjctMQ.jpg" alt="LG MS2043BP 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹5890<span> ₹7090</span></h3>
                            <h4>LG MS2043BP 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/lg-microwave-oven/ifb-25pg3b-25-l-grill-microwave-oven/ZTo1NjQ3MDI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MDItOTEtMQ.jpg" alt="IFB 25PG3B 25 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7386<span> ₹7386</span></h3>
                            <h4>IFB 25PG3B 25 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala2"><button type="button" value="A2" class="butA2"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/samsung_cat.png" alt="samsung microwave-oven"></div><a class="viewAll" href="/microwave-oven/samsung-microwave-oven-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala3"><button type="button" value="B3" class="butB3"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts3">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc35j8085pt/tl-35-l-convection-microwave-oven/ZTo1NjQ3MjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MjEtMTM5LTE.jpg" alt="Samsung MC35J8085PT/TL 35 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹29300<span> ₹34500</span></h3>
                            <h4>Samsung MC35J8085PT/TL 35 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce73jd-b/xtl-21-l-convection-microwave-oven/ZTo1NjQ3MjU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MjUtMTc2LTE.jpg" alt="Samsung CE73JD-B/XTL 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9490<span> ₹11990</span></h3>
                            <h4>Samsung CE73JD-B/XTL 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc28h5033ck-28-l-convection-microwave-oven/ZTo1NjQ0OTY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0OTYtMjc2LTE.jpg" alt="Samsung MC28H5033CK 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12984<span> ₹14100</span></h3>
                            <h4>Samsung MC28H5033CK 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mw73ad-b/xtl-20-l-solo-microwave-oven/ZTo1NjQ3NTI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3NTItMTgyLTE.jpg" alt="Samsung MW73AD-B/XTL 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹6350<span> ₹7900</span></h3>
                            <h4>Samsung MW73AD-B/XTL 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc28h5025vb-28-l-convection-microwave-oven/ZTo1NjQ1NjA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NjAtNzgtMQ.jpg" alt="Samsung MC28H5025VB 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹14490<span> ₹19200</span></h3>
                            <h4>Samsung MC28H5025VB 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ms23j5133ag-23-l-solo-microwave-oven/ZTo1NjQzODc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzODctODUtMQ.jpg" alt="Samsung MS23J5133AG 23 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹6000<span> ₹12990</span></h3>
                            <h4>Samsung MS23J5133AG 23 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce77jd-sb-21-l-convection-microwave-oven/ZTo1NjQ1NjM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1NjMtMjU4LTE.jpg" alt="Samsung CE77JD-SB 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹12190<span> ₹15350</span></h3>
                            <h4>Samsung CE77JD-SB 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc28m6036cb-28-l-convection-microwave-oven/ZTo1NjQ0MDA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MDAtMjYtMQ.jpg" alt="Samsung MC28M6036CB 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹16990<span> ₹29654</span></h3>
                            <h4>Samsung MC28M6036CB 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce117pc-b2/xtl-32-l-convection-microwave-oven/ZTo1NjQ0NzU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NzUtMjctMQ.jpg" alt="Samsung CE117PC-B2/XTL 32 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹16190<span> ₹19250</span></h3>
                            <h4>Samsung CE117PC-B2/XTL 32 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc28h5145vk-28-l-convection-microwave-oven/ZTo1NjQ1Mzc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ1MzctMjYtMQ.jpg" alt="Samsung MC28H5145VK 28 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹16400<span> ₹18800</span></h3>
                            <h4>Samsung MC28H5145VK 28 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce77jd-qb-21-l-convection-microwave-oven/ZTo1NjQ0Njg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjgtNjQtMQ.jpg" alt="Samsung CE77JD-QB 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹13900<span> ₹17090</span></h3>
                            <h4>Samsung CE77JD-QB 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mc32k7056qt-32-l-convection-microwave-oven/ZTo1NjQzOTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQzOTktMTctMQ.jpg" alt="Samsung MC32K7056QT 32 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹20900<span> ₹28490</span></h3>
                            <h4>Samsung MC32K7056QT 32 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce78jd-21-l-convection-microwave-oven/ZTo1NjQ0Mjc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MjctMjc1LTE.jpg" alt="Samsung CE78JD 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11661<span> ₹16090</span></h3>
                            <h4>Samsung CE78JD 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-ce76jd-b-21-l-convection-microwave-oven/ZTo1NjQ0ODA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0ODAtMjctMQ.jpg" alt="Samsung CE76JD-B 21 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9990<span> ₹13900</span></h3>
                            <h4>Samsung CE76JD-B 21 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/samsung-microwave-oven/samsung-mg23k3515ak-23-l-grill-microwave-oven/ZTo1NjQ0MDE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0MDEtNzQtMQ.jpg" alt="Samsung MG23K3515AK 23 L Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹9190<span> ₹30290</span></h3>
                            <h4>Samsung MG23K3515AK 23 L Grill Microwave Oven</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala3"><button type="button" value="A3" class="butA3"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container">
            <div class="brandLogo">
                <div class="imgOuter"><img src="/images/whirlpool_cat.png" alt="whirlpool microwave-oven"></div><a class="viewAll" href="/microwave-oven/whirlpool-microwave-oven-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala4"><button type="button" value="B4" class="butB4"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts4">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-elite-25-l-convection-microwave-oven/ZTo1NjQ0Njk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NjktNS0x.jpg" alt="Whirlpool Magicook Elite 25 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11200<span> ₹15190</span></h3>
                            <h4>Whirlpool Magicook Elite 25 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-jet-crisp-25-l-convection-microwave-oven/ZTo1NjQ3MjI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MjItMTQ3LTE.jpg" alt="Whirlpool JET CRISP 25 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11899<span> ₹17450</span></h3>
                            <h4>Whirlpool JET CRISP 25 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-pro-30-l-solo-microwave-oven/ZTo1ODI4OTc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI4OTctMjMwLTE.jpg" alt="Whirlpool Magicook Pro 30 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹7490<span> ₹7490</span></h3>
                            <h4>Whirlpool Magicook Pro 30 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-classic-20-l-solo-microwave-oven/ZTo1NjQ0NTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NTEtNDgtMQ.jpg" alt="Whirlpool Magicook Classic 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹6999<span> ₹8500</span></h3>
                            <h4>Whirlpool Magicook Classic 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-20-bc-20-l-convection-&amp;-grill-microwave-oven/ZTo1NjQ0NTA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ0NTAtMjUwLTE.jpg" alt="Whirlpool Magicook 20 BC 20 L Convection &amp; Grill Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹8092<span> ₹11800</span></h3>
                            <h4>Whirlpool Magicook 20 BC 20 L Convection &amp; Grill Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-20-solo-20-l-solo-microwave-oven/ZTo1NjQ2NzY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ2NzYtMi0x.jpg" alt="Whirlpool MAGICOOK 20 SOLO 20 L Solo Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹5290<span> ₹7500</span></h3>
                            <h4>Whirlpool MAGICOOK 20 SOLO 20 L Solo Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-pro-32ce-30-l-convection-microwave-oven/ZTo1ODI4OTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI4OTktMTY4LTE.jpg" alt="Whirlpool Magicook Pro 32CE 30 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹11490<span> ₹11490</span></h3>
                            <h4>Whirlpool Magicook Pro 32CE 30 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/microwave-oven/whirlpool-microwave-oven/whirlpool-magicook-30-bc-30-l-convection-microwave-oven/ZTo1NjQ3MzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NjQ3MzQtNDYtMQ.jpg" alt="Whirlpool Magicook 30 BC 30 L Convection Microwave Oven"></div>
                            <h3 class="h4Kafont">From ₹10489<span> ₹20550</span></h3>
                            <h4>Whirlpool Magicook 30 BC 30 L Convection Microwave Oven</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala4"><button type="button" value="A4" class="butA4"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>
        <div class="container" id="pc">
            <div class="newBrandLogo">
                Pressure Cookers
            </div>
            <div class="secondChild">
                <div id="butbWala5"><button type="button" value="B5" class="butB5"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts5">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/hawkins-hss15-1.5l-stainless-steel-pressure-cooker-(inner-lid)/ZTo1NTQ3NjI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQ3NjItMjUtMQ.jpg" alt="Hawkins HSS15 1.5L Stainless Steel Pressure Cooker (Inner Lid)"></div>
                            <h3 class="h4Kafont">From ₹1820<span> ₹2025</span></h3>
                            <h4>Hawkins HSS15 1.5L Stainless Steel Pressure Cooker (Inner Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-clip-on-3.5l-hard-anodized-pressure-cooker-(induction-bottom)/ZTo1NTQzMzc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQzMzctMi0x.jpg" alt="Prestige Clip on 3.5L Hard Anodized Pressure Cooker (Induction Bottom)"></div>
                            <h3 class="h4Kafont">From ₹2130<span> ₹2230</span></h3>
                            <h4>Prestige Clip on 3.5L Hard Anodized Pressure Cooker (Induction Bottom)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-3-l-svachh-pressure-cooker-(outer-lid)/ZTo1NTQwNzY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQwNzYtMjYtMQ.jpg" alt="Prestige 3 L Svachh Pressure Cooker (Outer Lid)"></div>
                            <h3 class="h4Kafont">From ₹1325<span> ₹1550</span></h3>
                            <h4>Prestige 3 L Svachh Pressure Cooker (Outer Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-5-l-svachh-pressure-cooker-(outer-lid)/ZTo1NTQwNzc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQwNzctMTAtMQ.jpg" alt="Prestige 5 L Svachh Pressure Cooker (Outer Lid)"></div>
                            <h3 class="h4Kafont">From ₹2599<span> ₹2895</span></h3>
                            <h4>Prestige 5 L Svachh Pressure Cooker (Outer Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-deluxe-alpha-aluminium-3-l-pressure-cooker-(induction-bottom,outer-lid)/ZTo1ODEyOTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEyOTEtMjgtMQ.jpg" alt="Prestige Deluxe Alpha Aluminium 3 L Pressure Cooker (Induction Bottom,Outer Lid)"></div>
                            <h3 class="h4Kafont">From ₹2299<span> ₹2899</span></h3>
                            <h4>Prestige Deluxe Alpha Aluminium 3 L Pressure Cooker (Induction Bottom,Outer Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-deluxe-alpha-svachh-stainless-steel-5.5l-pressure-cooker-(induction-bottom,-outer-lid)/ZTo1ODEyOTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEyOTUtOTMtMQ.jpg" alt="Prestige Deluxe Alpha Svachh Stainless Steel 5.5L Pressure Cooker (Induction Bottom, Outer Lid)"></div>
                            <h3 class="h4Kafont">From ₹2640<span> ₹3110</span></h3>
                            <h4>Prestige Deluxe Alpha Svachh Stainless Steel 5.5L Pressure Cooker (Induction Bottom, Outer Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/prestige-deluxe-alpha-svachh-10l-pressure-cooker-(induction-bottom,outer-lid)/ZTo1ODEyODk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEyODktOTMtMQ.jpg" alt="Prestige Deluxe Alpha Svachh 10L Pressure Cooker (Induction Bottom,Outer Lid)"></div>
                            <h3 class="h4Kafont">From ₹3710<span> ₹4120</span></h3>
                            <h4>Prestige Deluxe Alpha Svachh 10L Pressure Cooker (Induction Bottom,Outer Lid)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/greenchef-orra-3l-stainless-steel-pressure-cooker/ZTo1NTQwNzg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQwNzgtNzUtMQ.jpg" alt="Greenchef Orra 3L Stainless Steel Pressure Cooker"></div>
                            <h3 class="h4Kafont">From ₹1169<span> ₹1999</span></h3>
                            <h4>Greenchef Orra 3L Stainless Steel Pressure Cooker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/pressure-cooker/hawkins-hss50-5l-induction-bottom-pressure-cooker-(stainless-steel)/ZTo1NTQzMzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQzMzktODktMQ.jpg" alt="Hawkins HSS50 5L Induction Bottom Pressure Cooker (Stainless Steel)"></div>
                            <h3 class="h4Kafont">From ₹3079<span> ₹3275</span></h3>
                            <h4>Hawkins HSS50 5L Induction Bottom Pressure Cooker (Stainless Steel)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala5"><button type="button" value="A5" class="butA5"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>

        <div class="container">
            <div class="newBrandLogo">
                Mixer Juicer Grinder
                <a class="viewAll" href="/kitchen-appliances/mixer-juicer-grinder-price-list">View All</a></div>
            <div class="secondChild">
                <div id="butbWala6" style="display: none;"><button type="button" value="B6" class="butB6" style="display: none;"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts6">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/activa-pluto-pro-plus-650w-mixer-grinder-(4-jars)/ZTo1ODIxMDk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxMDktODgtMQ.jpg" alt="Activa Pluto Pro Plus 650W Mixer Grinder (4 Jars)"></div>
                            <h3 class="h4Kafont">From ₹1699<span> ₹2990</span></h3>
                            <h4>Activa Pluto Pro Plus 650W Mixer Grinder (4 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/prestige-pwg-08-200w-wet-grinder/ZTo1NTU2NzQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NzQtNjItMQ.jpg" alt="Prestige PWG 08 200W Wet Grinder"></div>
                            <h3 class="h4Kafont">From ₹2799<span> ₹5195</span></h3>
                            <h4>Prestige PWG 08 200W Wet Grinder</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-infinimax-dlx-mx-224-750w-mixer-grinder-(3-jars)/ZTo1Nzk4NjU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk4NjUtNjEtMQ.jpg" alt="Maharaja Whiteline Infinimax Dlx MX-224 750W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹3187<span> ₹4799</span></h3>
                            <h4>Maharaja Whiteline Infinimax Dlx MX-224 750W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/kent-super-smart-800-w-mixer-grinder-(3-jars)/ZTo1NTU2NDk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NDktOTctMQ.jpg" alt="Kent Super Smart 800 W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹3499<span> ₹5250</span></h3>
                            <h4>Kent Super Smart 800 W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/sheffield-classic-sh-1057-400w-juicer-mixer-grinder-(2-jars)/ZTo1NTU4Njc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU4NjctNjItMQ.jpg" alt="Sheffield Classic SH-1057 400W Juicer Mixer Grinder (2 Jars)"></div>
                            <h3 class="h4Kafont">From ₹1811<span> ₹2899</span></h3>
                            <h4>Sheffield Classic SH-1057 400W Juicer Mixer Grinder (2 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/activa-pearl-pro-750w-mixer-grinder-(3-jars)/ZTo1ODIxMDg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxMDgtNzMtMQ.jpg" alt="Activa Pearl Pro 750W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹1499<span> ₹2990</span></h3>
                            <h4>Activa Pearl Pro 750W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/prestige-express-pex-3.0-350w-blender-(2-jars)/ZTo1NTU4Njg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU4NjgtMjMtMQ.jpg" alt="Prestige Express Pex 3.0 350W Blender (2 Jars)"></div>
                            <h3 class="h4Kafont">From ₹2549<span> ₹3295</span></h3>
                            <h4>Prestige Express Pex 3.0 350W Blender (2 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/pigeon-glory-550w-mixer-grinder-(3-jars)/ZTo1NTUzNjA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTUzNjAtNjUtMQ.jpg" alt="Pigeon Glory 550W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹2299<span> ₹2995</span></h3>
                            <h4>Pigeon Glory 550W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-mx-220-1000-w-ultramax-hd-mixer-grinder/ZTo1NTYyNDY">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC9ub2ltYWdlLTE.jpg" alt="Maharaja Whiteline MX-220 1000 W Ultramax HD Mixer Grinder"></div>
                            <h3 class="h4Kafont">From ₹4499<span> ₹7299</span></h3>
                            <h4>Maharaja Whiteline MX-220 1000 W Ultramax HD Mixer Grinder</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/bajaj-ivora-800-watts-mixer-grinder-(3-jars)/ZTo1NTYyNDM">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC9ub2ltYWdlLTE.jpg" alt="Bajaj Ivora 800 watts Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹4425<span> ₹5999</span></h3>
                            <h4>Bajaj Ivora 800 watts Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/prestige-clovis-550-watts-mixer-grinder-(3-jars)/ZTo1NTU2NTA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NTAtODEtMQ.jpg" alt="Prestige Clovis 550 watts Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹2771<span> ₹3695</span></h3>
                            <h4>Prestige Clovis 550 watts Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-turbo-prime-1000w-mixer-grinder-(3-jars)/ZTo1NTYzOTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzOTktNTItMQ.jpg" alt="Maharaja Whiteline Turbo Prime 1000W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹4999<span> ₹6999</span></h3>
                            <h4>Maharaja Whiteline Turbo Prime 1000W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/orient-electric-kitchen-kraft-mgkk50b3-500w-mixer-grinder-(3-jars)/ZTo1NTY0MDA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTY0MDAtNjUtMQ.jpg" alt="Orient Electric Kitchen kraft MGKK50B3 500W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹2699<span> ₹3190</span></h3>
                            <h4>Orient Electric Kitchen kraft MGKK50B3 500W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-turbo-prime-deluxe-750w-mixer-grinder-(3-jars)/ZTo1NTU2NTE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NTEtMjctMQ.jpg" alt="Maharaja Whiteline Turbo prime Deluxe 750W Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹3249<span> ₹4799</span></h3>
                            <h4>Maharaja Whiteline Turbo prime Deluxe 750W Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/mixer-juicer-grinder/philips-avenger-hl7581-600w-juicer-mixer-grinder-(3-jars)/ZTo1NTY0MDE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTY0MDEtNDktMQ.jpg" alt="Philips Avenger HL7581 600W Juicer Mixer Grinder (3 Jars)"></div>
                            <h3 class="h4Kafont">From ₹4199<span> ₹5295</span></h3>
                            <h4>Philips Avenger HL7581 600W Juicer Mixer Grinder (3 Jars)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala6" style="display: flex;"><button type="button" value="A6" class="butA6" style="display: block;"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>

        <div class="container" id="ek">
            <div class="newBrandLogo">
                Electric kettle
            </div>
            <div class="secondChild">
                <div id="butbWala7"><button type="button" value="B7" class="butB7"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts7">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/prestige-k02-1.7l-electric-kettle/ZTo1ODAxMTk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMTktNDktMQ.jpg" alt="Prestige K02 1.7L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹925<span> ₹1700</span></h3>
                            <h4>Prestige K02 1.7L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/crompton-activ-hot-1.5l-electric-kettle/ZTo1ODAxMTI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMTItMzQtMQ.jpg" alt="Crompton Activ Hot 1.5L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1569<span> ₹1900</span></h3>
                            <h4>Crompton Activ Hot 1.5L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/prestige-pmc-3.0-1.6l-electric-kettle/ZTo1ODAxMjA">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMjAtMzktMQ.jpg" alt="Prestige PMC 3.0 1.6L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1689<span> ₹1895</span></h3>
                            <h4>Prestige PMC 3.0 1.6L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/havells-aqua-plus-1.2l-electric-kettle/ZTo1ODAxMTU">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMTUtMTAwLTE.jpg" alt="Havells Aqua Plus 1.2L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1389<span> ₹3167</span></h3>
                            <h4>Havells Aqua Plus 1.2L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/jaipan-jpek0082-1.2l-850w-electric-kettle/ZTo1ODAxMTc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMTctNzctMQ.jpg" alt="Jaipan JPEK0082 1.2L 850W Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1049<span> ₹1495</span></h3>
                            <h4>Jaipan JPEK0082 1.2L 850W Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/kent-kettle-cum-flask-1.5l-kettle/ZTo1NTQzMTI">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQzMTItODMtMQ.jpg" alt="Kent Kettle Cum Flask 1.5L Kettle"></div>
                            <h3 class="h4Kafont">From ₹2500<span> ₹2900</span></h3>
                            <h4>Kent Kettle Cum Flask 1.5L Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/kelvinator-kmk-i202-multi-function-1.5l-electric-kettle/ZTo1NTM2Mzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM2MzktOTctMQ.jpg" alt="Kelvinator KMK-I202 Multi-Function 1.5L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹999<span> ₹2590</span></h3>
                            <h4>Kelvinator KMK-I202 Multi-Function 1.5L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/baltra-victory-bc-144-1.8-litre-electric-kettle/ZTo1NTQ4NjE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQ4NjEtODctMQ.jpg" alt="Baltra Victory BC-144 1.8 Litre Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹820<span> ₹1360</span></h3>
                            <h4>Baltra Victory BC-144 1.8 Litre Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/koryo-kek1874ssb-1.7l-electric-kettle/ZTo1ODAxMTg">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxMTgtNjYtMQ.jpg" alt="Koryo KEK1874SSB 1.7L Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1799<span> ₹4990</span></h3>
                            <h4>Koryo KEK1874SSB 1.7L Electric Kettle</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/electric-kettle/kent-amaze-1.8l-stainless-steel-electric-kettle/ZTo1NTQ4NjQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTQ4NjQtNDAtMQ.jpg" alt="Kent Amaze 1.8L Stainless Steel Electric Kettle"></div>
                            <h3 class="h4Kafont">From ₹1349<span> ₹1909</span></h3>
                            <h4>Kent Amaze 1.8L Stainless Steel Electric Kettle</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala7"><button type="button" value="A7" class="butA7"><i class="fa fa-angle-right" style="font-size:40px"></i></button></div>
            </div>
        </div>

        <div class="container" id="rm">
            <div class="newBrandLogo">
                Roti Maker
            </div>
            <div class="secondChild">
                <div id="butbWala8"><button type="button" value="B8" class="butB8"><i class="fa fa-angle-left" style="font-size:40px"></i></button></div>
                <div class="hereProducts8">
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/roti-maker/prestige-prm-3.0-roti/khakra-maker/ZTo1Mjg0Nzk">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Mjg0NzktMTktMQ.jpg" alt="Prestige PRM 3.0 Roti/Khakra Maker"></div>
                            <h3 class="h4Kafont">From ₹2145<span> ₹2999</span></h3>
                            <h4>Prestige PRM 3.0 Roti/Khakra Maker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/roti-maker/prestige-prm-6.0-roti-maker/ZTo1NDc2MzE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NDc2MzEtNjItMQ.jpg" alt="Prestige PRM 6.0 Roti Maker"></div>
                            <h3 class="h4Kafont">From ₹3699<span> ₹3999</span></h3>
                            <h4>Prestige PRM 6.0 Roti Maker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/roti-maker/quba-dough-maker/ZTo1MjkwMjQ">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MjkwMjQtMzUtMQ.jpg" alt="Quba Dough Maker"></div>
                            <h3 class="h4Kafont">From ₹390<span> ₹390</span></h3>
                            <h4>Quba Dough Maker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/roti-maker/bajaj-vacco-vacco-c-03-roti/khakra-maker/ZTo1Mjg0ODE">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Mjg0ODEtNjktMQ.jpg" alt="Bajaj Vacco Vacco C-03 Roti/Khakra Maker"></div>
                            <h3 class="h4Kafont">From ₹2032<span> ₹2390</span></h3>
                            <h4>Bajaj Vacco Vacco C-03 Roti/Khakra Maker</h4>
                        </a>
                    </div>
                    <div class="productBox">
                        <a class="imageBox" target="_blank" href="/kitchen-appliances/roti-maker/prestige-prm-5.0-roti-maker/ZTo1MzYxMjc">
                            <div class="imageContainer"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MzYxMjctNS0x.jpg" alt="Prestige PRM 5.0 Roti Maker"></div>
                            <h3 class="h4Kafont">From ₹2799<span> ₹3395</span></h3>
                            <h4>Prestige PRM 5.0 Roti Maker</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala8"><button type="button" value="A8" class="butA8"><i class="fa fa-angle-right" style="font-size:40px"></i></button>
                </div>
            </div>
        </div>







    </div>

    <script>
        $("button").click(function() {
            console.log('click')
                // if statement here
            var cj = this.value;
            console.log(cj)
            var a = cj.includes("A")
            console.log(a)
            if (a == true) {
                var b = cj.replace("A", "");
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(1000);
                document.getElementById(`butbWala${b}`).style.display = "flex";
                $(`.butB${b}`).css({
                    "display": "block"
                })
                var a1 = document.querySelector(`.hereProducts${b}`);
                console.log("scrolling left positive")
                var u1 = a1.scrollWidth;
                var t1 = a1.clientWidth;
                var t2 = a1.scrollLeft;
                console.log(u1, t1, t2)
                a1.scrollLeft += t1;
                var t3 = t1 + t2;
                if (t3 >= u1 - t1) {
                    document.getElementById(`butaWala${b}`).style.display = "none";
                    $(`.butA${b}`).css({
                        "display": "none"
                    });
                }
            } else {
                var b = cj.replace("B", "")
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(-10000);
                var a2 = document.querySelector(`.hereProducts${b}`);
                var t1 = a2.clientWidth;
                a2.scrollLeft -= t1;
                console.log("scrolling left negative")
                var tb2 = a2.scrollLeft;
                if (tb2 <= t1) {
                    document.getElementById(`butbWala${b}`).style.display = "none";
                    $(`.butB${b}`).css({
                        "display": "none"
                    });
                }
                document.getElementById(`butaWala${b}`).style.display = "flex";
                $(`.butA${b}`).css({
                    "display": "block"
                });
            }
        });
    </script>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div ></div> -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</body>
<script src="/javascripts/a.js"></script>




</html>