<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Laptop Prices In India - PricesComparison.com</title>
    <!-- added icons and jquery scripts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://fonts.htc.com/specimen/Amarante?selection.family=Amarante"> -->
    <!-- <link rel="stylesheet" href="https://fonts.htcapis.com/icon?family=Material+Icons"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script> -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/cd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ct.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <script>
        const deviceWidth = window.outerWidth
        
    </script>
    <div id="db"></div>

    <div id="headFixing">
        <div class="lg">
            <a href="/">
                <img src="/images/logo.png"></img>
            </a>
        </div>
        <header id="headContainer">
            <div class='horizontalBars' data-re="b">
                <div class="border" data-pos="180">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <img src="/images/arrow.png" alt="arrow" style="display:none">
            </div>
            <form method="GET" class="newone" action="/search">
                <div class="searchBarFlex">
                    <div class="gl">
                        <a href="/">
                            <img src="/images/logo.png"></img>
                        </a>
                    </div>
                    <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                    <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                    <div id="t">
                        <div class="se">
                            <div id="ye">
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
        </header>
    </div>

    <div id="mainBody">
        <div class="siteMap">
            <a href="/">Home</a>&gt;<a>Laptops</a>
        </div>
        <div class="brands">
            <h1>Popular Laptops And It's Peripherals</h1>
            <div class="bwise">
                <a class="imgC" href="/laptops/laptops-price-list-in-india">
                    <img src="/images/alllaptops_cat.png" alt="Laptops">
                    <span>All Laptops</span>
                </a>
                <a href="/desktop/desktop-price-list" class="imgC">
                    <img src="/images/desktop_cat.png" alt="desktop">
                    <span>Desktops</span>
                </a>
                <a class="imgC" href="/laptops/microsoft-laptops-price-list">
                    <img src="/images/microsoft_cat.png" alt="Microsoft Laptops">
                    <span>Microsoft Laptops</span>
                </a>
                <a class="imgC" href="/laptops/msi-laptops-price-list">
                    <img src="/images/msi_cat.png" alt="MSI Laptops">
                    <span>MSI Laptops</span>
                </a>
                <a class="imgC" href="/laptops/gaming-laptops-price-list">
                    <img src="/images/gamingLaptop_cat.png" alt="Gaming Laptops">
                    <span>Gaming Laptops</span>
                </a>
                <a href="#hp" class="imgC">
                    <img src="/images/hp_cat.png" alt="HP Hard Drives">
                    <span>HP Hard Drives/SSDs</span>
                </a>
                <a href="#sd" class="imgC">
                    <img src="/images/sandisk_cat.png" alt="SanDisk Hard drives">
                    <span>SanDisk SSDs</span>
                </a>
                <a href="#kg" class="imgC">
                    <img src="/images/kingston_cat.png" alt="Kingston Hard Drives">
                    <span>Kingston SSDs</span>
                </a>
                <!-- <a href="#ss" class="imgC">
                    <img src="/images/sony_cat.png" alt="Samsung Hard Drives">
                    <span>Samsung Hard Drives</span>
                </a>
                <a href="/desktop/desktop-price-list" class="imgC">
                    <img src="/images/sony_cat.png" alt="desktop">
                    <span>desktop</span>
                </a> -->

            </div>
        </div>

        <div class="container">
            <div class="newBrandLogo">
                Microsoft Laptops<a class="viewAll" href="/laptops/microsoft-laptops-price-list ">View All</a>
            </div>
            <div class="secondChild ">
                <div id="butbWala0 "><button type="button " value="B0 " class="butB0 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts0 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-6-1796-(kjt-00015)-laptop-(12.3-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-256-gb-ssd)/ZTo1NzYxNzE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYxNzEtMzQtMQ.jpg " alt="Microsoft Surface Pro 6 1796 (KJT-00015) Laptop (12.3 Inch | Core i5 8th Gen | 8 GB
                | Windows 10 | 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹99500<span> ₹119999</span></h3>
                            <h4>Microsoft Surface Pro 6 1796 (KJT-00015) Laptop ( Core i5 8th Gen | 8 GB | Windows 10 | 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-m1796-(fjr-00015)-laptop-(12.3-inch-|-core-m3-7th-gen-|-4-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzY3MjU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY3MjUtMTgtMQ.jpg " alt="Microsoft Surface Pro M1796 (FJR-00015) Laptop (12.3 Inch | Core M3 7th Gen | 4 GB
                | Windows 10 | 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹135445<span> ₹135445</span></h3>
                            <h4>Microsoft Surface Pro M1796 (FJR-00015) Laptop ( Core M3 7th Gen | 4 GB | Windows 10 | 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-7-m1866-(vdv-00015)-laptop-(12.3-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzU0MTc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU0MTctMzYtMQ.jpg " alt="Microsoft Surface Pro 7 M1866 (VDV-00015) Laptop (12.3 Inch | Core i5 10th Gen | 8
                GB | Windows 10 | 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹77990<span> ₹88999</span></h3>
                            <h4>Microsoft Surface Pro 7 M1866 (VDV-00015) Laptop (Core i5 10th Gen | 8 GB | Windows 10 | 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-(fjx-00015)-laptop-(12.3-inch-|-core-i5-7th-gen-|-8-gb-|-windows-10-|-256-gb-ssd)/ZTo1ODIyNjA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIyNjAtNDAtMQ.jpg " alt="Microsoft Surface Pro (FJX-00015) Laptop (12.3 Inch | Core i5 7th Gen | 8 GB | Windows
                10 | 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹97999<span> ₹254999</span></h3>
                            <h4>Microsoft Surface Pro (FJX-00015) Laptop ( Core i5 7th Gen | 8 GB | Windows 10 | 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-7-m1866-(vdh-00013)-laptop-(12.3-inch-|-core-i3-10th-gen-|-4-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzU0MTY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU0MTYtMjUxLTE.jpg " alt="Microsoft Surface Pro 7 M1866 (VDH-00013) Laptop (12.3 Inch | Core i3 10th Gen | 4
                GB | Windows 10 | 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹74990<span> ₹74990</span></h3>
                            <h4>Microsoft Surface Pro 7 M1866 (VDH-00013) Laptop (Core i3 10th Gen | 4 GB | Windows 10 | 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-book-2-(hnl-00022)-laptop-(13.5-inch-|-core-i7-8th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1NzY4NzE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY4NzEtMzQtMQ.jpg " alt="Microsoft Surface Book 2 (HNL-00022) Laptop (13.5 Inch | Core i7 8th Gen | 16 GB |
                Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹230999<span> ₹230999</span></h3>
                            <h4>Microsoft Surface Book 2 (HNL-00022) Laptop (Core i7 8th Gen | 16 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-book-2-1793-(fux-00021)-laptop-(15-inch-|-core-i7-8th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1NzYwNjI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYwNjItNTMtMQ.jpg " alt="Microsoft Surface Book 2 1793 (FUX-00021) Laptop (15 Inch | Core i7 8th Gen | 16 GB
                | Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹255432<span> ₹258999</span></h3>
                            <h4>Microsoft Surface Book 2 1793 (FUX-00021) Laptop ( Core i7 8th Gen | 16 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/microsoft-laptops/microsoft-surface-pro-x-ultrabook-(13-inch-|-microsoft-sq1-|-8-gb-|-windows-10-|-128-gb-ssd)/ZTo1ODA2MzA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MzAtMTMtMQ.jpg " alt="Microsoft Surface Pro X Ultrabook (13 Inch | Microsoft SQ1 | 8 GB | Windows 10 | 128
                GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹85499<span> ₹91999</span></h3>
                            <h4>Microsoft Surface Pro X Ultrabook (Microsoft SQ1 | 8 GB | Windows 10 | 128 GB SSD)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala0 "><button type="button " value="A0 " class="butA0 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container ">
            <div class="newBrandLogo">
                MSI Laptops<a class="viewAll " href="/laptops/msi-laptops-price-list ">View All</a></div>
            <div class="secondChild ">
                <div id="butbWala1 "><button type="button " value="B1 " class="butB1 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts1 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-pe62-7re-laptop-(15.6-inch-|-core-i7-7th-gen-|-8-gb-|-dos-|-1-tb-hdd-128-gb-ssd)/ZTo1Nzc0OTk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzc0OTktOC0x.jpg " alt="MSI PE62 7RE Laptop ( Core i7 7th Gen | 8 GB | DOS | 1 TB HDD 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹90000<span> ₹92990</span></h3>
                            <h4>MSI PE62 7RE Laptop (Core i7 7th Gen | 8 GB | DOS | 1 TB HDD 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-alpha-15-a3dd-044in-laptop-(15.6-inch-|-amd-quad-core-ryzen-7-|-16-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODAzMjM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAzMjMtMjIyLTE.jpg " alt="MSI Alpha 15 A3DD-044IN Laptop ( AMD Quad Core Ryzen 7 | 16 GB | Windows
                10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹69990<span> ₹94990</span></h3>
                            <h4>MSI Alpha 15 A3DD-044IN Laptop ( AMD Quad Core Ryzen 7 | 16 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-gl62m-7rex-laptop-(15.6-inch-|-core-i7-7th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-128-gb-ssd)/ZTo1Nzc1NDg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzc1NDgtMjM0LTE.jpg " alt="MSI GL62M 7REX Laptop ( Core i7 7th Gen | 8 GB | Windows 10 | 1 TB HDD
                128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹99990<span> ₹99990</span></h3>
                            <h4>MSI GL62M 7REX Laptop (Core i7 7th Gen | 8 GB | Windows 10 | 1 TB HDD 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-gf63-thin-9sc-240in-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1NzYwMzM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYwMzMtNjMtMQ.jpg " alt="MSI GF63 Thin 9SC-240IN Laptop ( Core i5 9th Gen | 8 GB | Windows 10 | 512
                GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹57990<span> ₹94990</span></h3>
                            <h4>MSI GF63 Thin 9SC-240IN Laptop (Core i5 9th Gen | 8 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-gf75-thin-9scsr-456in-laptop-(17.3-inch-|-core-i7-9th-gen-|-16-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODE3NDQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE3NDQtMjA2LTE.jpg " alt="MSI GF75 Thin 9SCSR-456IN Laptop (17.3 Inch | Core i7 9th Gen | 16 GB | Windows 10
                | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹79990<span> ₹100990</span></h3>
                            <h4>MSI GF75 Thin 9SCSR-456IN Laptop (Core i7 9th Gen | 16 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/msi-laptops/msi-gf65-thin-9sd-293in-laptop-(15.6-inch-|-core-i7-9th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODE2Mzg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE2MzgtMjc5LTE.jpg " alt="MSI GF65 Thin 9SD-293IN Laptop ( Core i7 9th Gen | 16 GB | Windows 10 |
                512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹84990<span> ₹104990</span></h3>
                            <h4>MSI GF65 Thin 9SD-293IN Laptop ( Core i7 9th Gen | 16 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala1 "><button type="button " value="A1 " class="butA1 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container ">
            <div class="newBrandLogo">
                Gaming Laptops<a class="viewAll" href="/laptops/gaming-laptops-price-list ">View All</a></div>
            <div class="secondChild ">
                <div id="butbWala2 "><button type="button " value="B2 " class="butB2 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts2 ">
                    <div class="productBox">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0261tx-(2x017pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzUzMTA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzUzMTAtMTAtMQ.jpg " alt="HP Pavilion Gaming 15-dk0261tx (2X017PA) Laptop ( Core i5 9th Gen | 8 GB
                | Windows 10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹68185<span> ₹68185</span></h3>
                            <h4>HP Pavilion Gaming 15-dk0261tx (2X017PA) Laptop ( Core i5 9th Gen | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3-(82ey00l4in)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODMzOTM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMzOTMtOS0x.jpg " alt="Lenovo Ideapad Gaming 3 (82EY00L4IN) Laptop ( AMD Hexa Core Ryzen 5 | 8 GB
                | Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹65980<span> ₹65980</span></h3>
                            <h4>Lenovo Ideapad Gaming 3 (82EY00L4IN) Laptop (AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/asus-asus-vivobook-gaming-f571lh-al252t-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODI3Mzc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI3MzctMTg4LTE.jpg " alt="ASUS Asus VivoBook Gaming F571LH-AL252T Laptop ( Core i5 10th Gen | 8 GB
                | Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹66990<span> ₹66990</span></h3>
                            <h4>ASUS Asus VivoBook Gaming F571LH-AL252T Laptop ( Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3-(82ey0078in)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd-256-ssd)/ZTo1ODIxODU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxODUtMTM4LTE.jpg " alt="Lenovo Ideapad Gaming 3 (82EY0078IN) Laptop ( AMD Hexa Core Ryzen 5 | 8
                GB | Windows 10 | 1 TB HDD 256 SSD) "></div>
                            <h3 class="h4Kafont ">From ₹69088<span> ₹71990</span></h3>
                            <h4>Lenovo Ideapad Gaming 3 (82EY0078IN) Laptop ( AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD 256 SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/asus-asus-tuf-gaming-f15-fx566li-hn025t-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODMxOTc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMxOTctMTQxLTE.jpg " alt="ASUS Asus TUF Gaming F15 FX566LI-HN025T Laptop ( Core i5 10th Gen | 8 GB
                | Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹65990<span> ₹65990</span></h3>
                            <h4>ASUS Asus TUF Gaming F15 FX566LI-HN025T Laptop ( Core i5 10th Gen | 8 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0271tx-(20d75pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODE4MzM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE4MzMtNS0x.jpg " alt="HP Pavilion Gaming 15-dk0271tx (20D75PA) Laptop ( Core i5 9th Gen | 8 GB |
                Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹67990<span> ₹67990</span></h3>
                            <h4>HP Pavilion Gaming 15-dk0271tx (20D75PA) Laptop ( Core i5 9th Gen | 8 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/hp-pavilion-gaming-15-ec0043ax-(8xs82pa)-laptop-(15.6-inch-|-amd-quad-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODEwNzg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEwNzgtMjYwLTE.jpg " alt="HP Pavilion Gaming 15-ec0043ax (8XS82PA) Laptop ( AMD Quad Core Ryzen 5
                | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹71900<span> ₹71900</span></h3>
                            <h4>HP Pavilion Gaming 15-ec0043ax (8XS82PA) Laptop ( AMD Quad Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0263tx-(167w2pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1ODA3NTU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA3NTUtNTktMQ.jpg " alt="HP Pavilion Gaming 15-dk0263TX (167W2PA) Laptop ( Core i5 9th Gen | 8 GB
                | Windows 10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹62990<span> ₹76020</span></h3>
                            <h4>HP Pavilion Gaming 15-dk0263TX (167W2PA) Laptop ( Core i5 9th Gen | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/hp-pavilion-gaming-15-ec1024ax-(183j8pa)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1ODExNDg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODExNDgtMjYzLTE.jpg " alt="HP Pavilion Gaming 15-ec1024AX (183J8PA) Laptop ( AMD Hexa Core Ryzen 5
                | 8 GB | Windows 10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹59990<span> ₹59990</span></h3>
                            <h4>HP Pavilion Gaming 15-ec1024AX (183J8PA) Laptop ( AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/asus-asus-tuf-gaming-a15-fa566iu-hn246t-laptop-(15.6-inch-|-amd-octa-core-ryzen-7-|-8-gb-|-windows-10-|-1-tb-ssd)/ZTo1ODAwOTU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAwOTUtMjA1LTE.jpg " alt="ASUS Asus TUF Gaming A15 FA566IU-HN246T Laptop ( AMD Octa Core Ryzen 7
                | 8 GB | Windows 10 | 1 TB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹115000<span> ₹128990</span></h3>
                            <h4>ASUS Asus TUF Gaming A15 FA566IU-HN246T Laptop ( AMD Octa Core Ryzen 7 | 8 GB | Windows 10 | 1 TB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/asus-asus-tuf-gaming-f15-fx566li-hn028t-laptop-(15.6-inch-|-core-i7-10th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODMxOTU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMxOTUtMjIxLTE.jpg " alt="ASUS Asus TUF Gaming F15 FX566LI-HN028T Laptop ( Core i7 10th Gen | 8 GB
                | Windows 10 | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹69990<span> ₹69990</span></h3>
                            <h4>ASUS Asus TUF Gaming F15 FX566LI-HN028T Laptop ( Core i7 10th Gen | 8 GB | Windows 10 | 512 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-(81y400dxin)-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODExMDY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODExMDYtMjg1LTE.jpg " alt="Lenovo Ideapad Gaming 3i (81Y400DXIN) Laptop ( Core i5 10th Gen | 8 GB
                | Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹103490<span> ₹103490</span></h3>
                            <h4>Lenovo Ideapad Gaming 3i (81Y400DXIN) Laptop ( Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-(81y400bnin)-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODI4OTg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI4OTgtMTEtMQ.jpg " alt="Lenovo Ideapad Gaming 3i (81Y400BNIN) Laptop ( Core i5 10th Gen | 8 GB |
                Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹64990<span> ₹66990</span></h3>
                            <h4>Lenovo Ideapad Gaming 3i (81Y400BNIN) Laptop ( Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-15imh05-(81y400buin)-laptop-(15.-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODE4NTk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE4NTktMTcwLTE.jpg " alt="Lenovo Ideapad Gaming 3i 15IMH05 (81Y400BUIN) Laptop ( Core i5 10th Gen
                | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹69990<span> ₹72790</span></h3>
                            <h4>Lenovo Ideapad Gaming 3i 15IMH05 (81Y400BUIN) Laptop ( Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/gaming-laptops/asus-asus-tuf-gaming-a15-fa506ii-hn153t-laptop-(15.6-inch-|-amd-octa-core-ryzen-7-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODIzMzY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzMzYtNDgtMQ.jpg " alt="ASUS Asus TUF Gaming A15 FA506II-HN153T Laptop ( AMD Octa Core Ryzen 7 |
                8 GB | Windows 10 | 1 TB HDD 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹83990<span> ₹83990</span></h3>
                            <h4>ASUS Asus TUF Gaming A15 FA506II-HN153T Laptop ( AMD Octa Core Ryzen 7 | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala2 "><button type="button " value="A2 " class="butA2 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container ">
            <div class="newBrandLogo ">
                MacBooks and Other laptops
            </div>
            <div class="secondChild ">
                <div id="butbWala3 "><button type="button " value="B3 " class="butB3 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts3 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/apple-laptops/apple-macbook-air-mre92hn/a-ultrabook-(13.3-inch-|-core-i5-8th-gen-|-8-gb-|-macos-mojave-|-256-gb-ssd)/ZTo1NzY0OTc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY0OTctMjQyLTE.jpg " alt="Apple MacBook Air MRE92HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS
                Mojave | 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹127990<span> ₹134900</span></h3>
                            <h4>Apple MacBook Air MRE92HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS Mojave | 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/dell-laptops/dell-vostro-14-3480-(c552106hin9)-laptop-(14-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzU4NDA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU4NDAtMTM3LTE.jpg " alt="Dell Vostro 14 3480 (C552106HIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows
                10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹43920<span> ₹47990</span></h3>
                            <h4>Dell Vostro 14 3480 (C552106HIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/apple-laptops/apple-macbook-air-mwtj2hn/a-ultrabook-(13.3-inch-|-core-i3-10th-gen-|-8-gb-|-macos-catalina-|-256-gb-ssd)/ZTo1ODAzMTQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAzMTQtMjY3LTE.jpg " alt="Apple MacBook Air MWTJ2HN/A Ultrabook ( Core i3 10th Gen | 8 GB | macOS
                Catalina | 256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹80577<span> ₹92990</span></h3>
                            <h4>Apple MacBook Air MWTJ2HN/A Ultrabook ( Core i3 10th Gen | 8 GB | macOS Catalina | 256 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/apple-laptops/apple-macbook-air-mvfh2hn/a-ultrabook-(13.3-inch-|-core-i5-8th-gen-|-8-gb-|-macos-mojave-|-128-gb-ssd)/ZTo1NzU3OTc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU3OTctNTItMQ.jpg " alt="Apple MacBook Air MVFH2HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS Mojave
                | 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹68000<span> ₹99900</span></h3>
                            <h4>Apple MacBook Air MVFH2HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS Mojave | 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/apple-laptops/apple-macbook-pro-mv972hn/a-ultrabook-(13.3-inch-|-core-i5-8th-gen-|-8-gb-|-macos-mojave-|-512-gb-ssd)/ZTo1NzU5NDg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU5NDgtOTctMQ.jpg " alt="Apple MacBook Pro MV972HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS Mojave
                | 512 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹169990<span> ₹179900</span></h3>
                            <h4>Apple MacBook Pro MV972HN/A Ultrabook ( Core i5 8th Gen | 8 GB | macOS Mojave | 512 GB SSD)</h4>
                        </a>
                    </div>

                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/acer-laptops/acer-nitro-5-an515-42-(un.q3rsi.001)-laptop-(15.6-inch-|-amd-quad-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzY3Nzc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY3NzctMjY1LTE.jpg " alt="Acer Nitro 5 AN515-42 (UN.Q3RSI.001) Laptop ( AMD Quad Core Ryzen 5 | 8
                GB | Windows 10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹54990<span> ₹79999</span></h3>
                            <h4>Acer Nitro 5 AN515-42 (UN.Q3RSI.001) Laptop ( AMD Quad Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/dell-laptops/dell-g3-15-3579-(b560107win9)-laptop-(15.6-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-128-gb-ssd)/ZTo1NzY5Nzk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY5NzktMTYyLTE.jpg " alt="Dell G3 15 3579 (B560107WIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows
                10 | 1 TB HDD 128 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹64990<span> ₹81500</span></h3>
                            <h4>Dell G3 15 3579 (B560107WIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD 128 GB SSD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/asus-laptops/asus-asus-x540ya-xo547t-laptop-(15.6-inch-|-amd-dual-core-e1-|-4-gb-|-windows-10-|-500-gb-hdd)/ZTo1NzcyOTI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzcyOTItMTMzLTE.jpg " alt="ASUS Asus X540YA-XO547T Laptop ( AMD Dual Core E1 | 4 GB | Windows 10 |
                500 GB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹22990<span> ₹22990</span></h3>
                            <h4>ASUS Asus X540YA-XO547T Laptop ( AMD Dual Core E1 | 4 GB | Windows 10 | 500 GB HDD)</h4>
                        </a>
                    </div>

                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/dell-laptops/dell-inspiron-15-3576-(b566104win9)-laptop-(15.6-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzY2MTY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY2MTYtMTY2LTE.jpg " alt="Dell Inspiron 15 3576 (B566104WIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows
                10 | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹54490<span> ₹60215</span></h3>
                            <h4>Dell Inspiron 15 3576 (B566104WIN9) Laptop ( Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/hp-laptops/hp-14q-cs0009tu-(5dz92pa)-laptop-(14-inch-|-core-i3-7th-gen-|-4-gb-|-dos-|-1-tb-hdd)/ZTo1NzY2NzQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY2NzQtMjI3LTE.jpg " alt="HP 14q-cs0009TU (5DZ92PA) Laptop ( Core i3 7th Gen | 4 GB | DOS | 1 TB HDD) "></div>
                            <h3 class="h4Kafont ">From ₹31808<span> ₹31808</span></h3>
                            <h4>HP 14q-cs0009TU (5DZ92PA) Laptop ( Core i3 7th Gen | 4 GB | DOS | 1 TB HDD)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/laptops/hp-laptops/hp-14q-cy0006au-(7qg88pa)-laptop-(14-inch-|-amd-dual-core-a9-|-4-gb-|-windows-10-|-256-gb-ssd)/ZTo1NzU4NzY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU4NzYtMjY5LTE.jpg " alt="HP 14q-cy0006au (7QG88PA) Laptop ( AMD Dual Core A9 | 4 GB | Windows 10 |
                256 GB SSD) "></div>
                            <h3 class="h4Kafont ">From ₹28462<span> ₹28462</span></h3>
                            <h4>HP 14q-cy0006au (7QG88PA) Laptop ( AMD Dual Core A9 | 4 GB | Windows 10 | 256 GB SSD)</h4>
                        </a>
                    </div>


                </div>
                <div id="butaWala3 "><button type="button " value="A3 " class="butA3 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>

        <div class="container ">
            <div class="newBrandLogo ">
                Desktop<a class="viewAll " href="/desktop/desktop-price-list ">View All</a></div>
            <div class="secondChild ">
                <div id="butbWala4 "><button type="button " value="B4 " class="butB4 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts4 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-24-qb0077in-(4yr66aa)-(core-i7-16gb-2tb-win10-4gb)-all-in-one-desktop/ZTo1ODA2MDU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDUtNjAtMQ.jpg " alt="HP 24-qb0077in (4YR66AA) (Core i7 16GB 2TB Win10 4GB) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹110000<span> ₹110000</span></h3>
                            <h4>HP 24-qb0077in (4YR66AA) (Core i7 16GB 2TB Win10 4GB) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c422in-(3jv45aa)-(amd-dual-core-e2-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MTA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MTAtMTktMQ.jpg " alt="HP 20-c422in (3JV45AA) (AMD Dual Core E2 4GB 1TB Win10) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹25671<span> ₹27392</span></h3>
                            <h4>HP 20-c422in (3JV45AA) (AMD Dual Core E2 4GB 1TB Win10) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c448in-(7km43aa)-(amd-dual-core-a4-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MDQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDQtNzAtMQ.jpg " alt="HP 20-c448in (7KM43AA) (AMD Dual Core A4 4GB 1TB Win10) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹23000<span> ₹24439</span></h3>
                            <h4>HP 20-c448in (7KM43AA) (AMD Dual Core A4 4GB 1TB Win10) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-24-f0043in-(3jv52aa)-(core-i5-4gb-1tb-win10-2gb)-all-in-one-desktop/ZTo1ODA1ODY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODYtMzYtMQ.jpg " alt="HP 24-f0043in (3JV52AA) (Core i5 4GB 1TB Win10 2GB) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹80000<span> ₹95000</span></h3>
                            <h4>HP 24-f0043in (3JV52AA) (Core i5 4GB 1TB Win10 2GB) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/asus-desktop/asus-gl10cs-in044t-(core-i5-8gb-256gb-win10-6gb)-gaming-tower-desktop/ZTo1ODA5ODI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA5ODItNDAtMQ.jpg " alt="ASUS GL10CS-IN044T (Core i5 8GB 256GB Win10 6GB) Gaming Tower Desktop "></div>
                            <h3 class="h4Kafont ">From ₹69990<span> ₹94990</span></h3>
                            <h4>ASUS GL10CS-IN044T (Core i5 8GB 256GB Win10 6GB) Gaming Tower Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c421il-(3jv44aa)-(amd-dual-core-e2-4gb-1tb-dos)-all-in-one-desktop/ZTo1ODA2MDM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDMtNDUtMQ.jpg " alt="HP 20-c421il (3JV44AA) (AMD Dual Core E2 4GB 1TB DOS) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹22990<span> ₹24990</span></h3>
                            <h4>HP 20-c421il (3JV44AA) (AMD Dual Core E2 4GB 1TB DOS) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-290-p0011il-(4yt05aa)-(pentium-gold-4gb-1tb-dos)-full-tower-desktop/ZTo1ODA1OTE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTEtNjQtMQ.jpg " alt="HP 290-p0011il (4YT05AA) (Pentium Gold 4GB 1TB DOS) Full Tower Desktop "></div>
                            <h3 class="h4Kafont ">From ₹22990<span> ₹22990</span></h3>
                            <h4>HP 290-p0011il (4YT05AA) (Pentium Gold 4GB 1TB DOS) Full Tower Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-24-qb0059-(4yr65aa)-(core-i5-8gb-1tb-win10-2gb)-all-in-one-desktop/ZTo1ODA1ODc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODctMTktMQ.jpg " alt="HP 24-qb0059 (4YR65AA) (Core i5 8GB 1TB Win10 2GB) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹93594<span> ₹93594</span></h3>
                            <h4>HP 24-qb0059 (4YR65AA) (Core i5 8GB 1TB Win10 2GB) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/asus-desktop/asus-d340mc-i38100071d-(core-i3-4gb-1tb-endless)-full-tower-desktop/ZTo1ODA4NDE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA4NDEtNjgtMQ.jpg " alt="ASUS D340MC-I38100071D (Core i3 4GB 1TB Endless) Full Tower Desktop "></div>
                            <h3 class="h4Kafont ">From ₹35990<span> ₹35990</span></h3>
                            <h4>ASUS D340MC-I38100071D (Core i3 4GB 1TB Endless) Full Tower Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/asus-desktop/asus-s340mc-i38100097t-(core-i3-4gb-1tb-win10)-full-tower-desktop/ZTo1ODA4NDU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA4NDUtNS0x.jpg " alt="ASUS S340MC-I38100097T (Core i3 4GB 1TB Win10) Full Tower Desktop "></div>
                            <h3 class="h4Kafont ">From ₹27990<span> ₹36990</span></h3>
                            <h4>ASUS S340MC-I38100097T (Core i3 4GB 1TB Win10) Full Tower Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c406il-(4ma02a)-(celeron-dual-core-4gb-1tb-dos)-all-in-one-desktop/ZTo1ODA2MDg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MDgtNi0x.jpg " alt="HP 20-c406il (4MA02A) (Celeron Dual Core 4GB 1TB DOS) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹25400<span> ₹32500</span></h3>
                            <h4>HP 20-c406il (4MA02A) (Celeron Dual Core 4GB 1TB DOS) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c435in-(4ys41aa)-(core-i3-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA2MTI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MTItNy0x.jpg " alt="HP 20-C435in (4YS41AA) (Core i3 4GB 1TB Win10) All In One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹43584<span> ₹43584</span></h3>
                            <h4>HP 20-C435in (4YS41AA) (Core i3 4GB 1TB Win10) All In One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-24-qb0052in-(4yr87aa)-(core-i5-8gb-1tb-win10-4gb)-all-in-one-desktop/ZTo1ODA1ODg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODgtMjItMQ.jpg " alt="HP 24-qb0052in (4YR87AA) (Core i5 8GB 1TB Win10 4GB) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹93594<span> ₹93594</span></h3>
                            <h4>HP 24-qb0052in (4YR87AA) (Core i5 8GB 1TB Win10 4GB) All in One Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-290-p0058il-(4eb15aa)-(core-i3-4gb-1tb-dos)-full-tower-desktop/ZTo1ODA1OTI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1OTItNTMtMQ.jpg " alt="HP 290-P0058IL (4EB15AA) (Core i3 4GB 1TB DOS) Full Tower Desktop "></div>
                            <h3 class="h4Kafont ">From ₹30990<span> ₹33308</span></h3>
                            <h4>HP 290-P0058IL (4EB15AA) (Core i3 4GB 1TB DOS) Full Tower Desktop</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/desktop/hp-desktop/hp-20-c419in-(entium-quad-core-4gb-1tb-win10)-all-in-one-desktop/ZTo1ODA1ODQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA1ODQtNDUtMQ.jpg " alt="HP 20-c419in (entium Quad Core 4GB 1TB Win10) All in One Desktop "></div>
                            <h3 class="h4Kafont ">From ₹37300<span> ₹45000</span></h3>
                            <h4>HP 20-c419in (entium Quad Core 4GB 1TB Win10) All in One Desktop</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala4 "><button type="button " value="A4 " class="butA4 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container " id="hp ">
            <div class="newBrandLogo ">
                HP Hard Drives/SSDs
            </div>
            <div class="secondChild ">
                <div id="butbWala5 "><button type="button " value="B5 " class="butB5 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts5 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-s600-240gb-2.5-inch-internal-solid-state-drive-(4yh54pa)/ZTo1NTM4NDM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NDMtOTItMQ.jpg " alt="HP S600 240GB 2.5 Inch Internal Solid State Drive (4YH54PA) "></div>
                            <h3 class="h4Kafont ">From ₹3200<span> ₹7500</span></h3>
                            <h4>HP S600 240GB 2.5 Inch Internal Solid State Drive (4YH54PA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-s700-m.2-500gb-internal-solid-state-drive-(4yh60pa)/ZTo1NTM4NDU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NDUtODMtMQ.jpg " alt="HP S700 M.2 500GB Internal Solid State Drive (4YH60PA) "></div>
                            <h3 class="h4Kafont ">From ₹9830<span> ₹15999</span></h3>
                            <h4>HP S700 M.2 500GB Internal Solid State Drive (4YH60PA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-p600-1tb-portable-usb-3.1-external-solid-state-drive-(3xj08aa)/ZTo1NTU1MjM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU1MjMtMTUtMQ.jpg " alt="HP P600 1TB Portable USB 3.1 External Solid State Drive (3XJ08AA) "></div>
                            <h3 class="h4Kafont ">From ₹20500<span> ₹29000</span></h3>
                            <h4>HP P600 1TB Portable USB 3.1 External Solid State Drive (3XJ08AA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-s600-120gb-2.5-inch-internal-solid-state-drive-(4fz32aa)/ZTo1NTM4NDQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NDQtOTgtMQ.jpg " alt="HP S600 120GB 2.5 Inch Internal Solid State Drive (4FZ32AA) "></div>
                            <h3 class="h4Kafont ">From ₹2025<span> ₹3500</span></h3>
                            <h4>HP S600 120GB 2.5 Inch Internal Solid State Drive (4FZ32AA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-(507127-b21)-6g-sas-10k-sff-300gb-dual-port-enterprise-hard-drive/ZToyMDA0MTA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8yMDA0MTAtNzQtMQ.jpg " alt="HP (507127-B21) 6G SAS 10K SFF 300GB Dual Port Enterprise Hard Drive "></div>
                            <h3 class="h4Kafont ">From ₹49481<span> ₹72276</span></h3>
                            <h4>HP (507127-B21) 6G SAS 10K SFF 300GB Dual Port Enterprise Hard Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-458941-b21-500-gb-internal-hard-disk/ZTo1NTU1MjI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU1MjItNzktMQ.jpg " alt="HP 458941-B21 500 GB Internal Hard Disk "></div>
                            <h3 class="h4Kafont ">From ₹11444<span> ₹17503</span></h3>
                            <h4>HP 458941-B21 500 GB Internal Hard Disk</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-s700-m.2-250gb-internal-solid-state-drive-(4yh59pa)/ZTo1NTM4NDI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NDItNzUtMQ.jpg " alt="HP S700 M.2 250GB Internal Solid State Drive (4YH59PA) "></div>
                            <h3 class="h4Kafont ">From ₹4650<span> ₹8483</span></h3>
                            <h4>HP S700 M.2 250GB Internal Solid State Drive (4YH59PA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-s700-250gb-internal-ssd/ZTo1MjIzNDk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MjIzNDktOTUtMQ.jpg " alt="HP S700 250GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹3562<span> ₹10999</span></h3>
                            <h4>HP S700 250GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-ex900-m.2-pcie-nvme-250gb-internal-ssd-(2yy43aa)/ZTo1NTM4NDE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NDEtMS0x.jpg " alt="HP EX900 M.2 PCIe NVMe 250GB Internal SSD (2YY43AA) "></div>
                            <h3 class="h4Kafont ">From ₹4549<span> ₹9999</span></h3>
                            <h4>HP EX900 M.2 PCIe NVMe 250GB Internal SSD (2YY43AA)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/hp-hard drive/hp-ex900-m.2-pcie-nvme-120gb-internal-solid-state-drive-(2yy42aa)/ZTo1NTM4NTE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4NTEtNDQtMQ.jpg " alt="HP EX900 M.2 PCIe NVMe 120GB Internal Solid State Drive (2YY42AA) "></div>
                            <h3 class="h4Kafont ">From ₹2899<span> ₹10999</span></h3>
                            <h4>HP EX900 M.2 PCIe NVMe 120GB Internal Solid State Drive (2YY42AA)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala5 "><button type="button " value="A5 " class="butA5 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container " id="kg ">
            <div class="newBrandLogo ">
                Kingston SSDs
            </div>
            <div class="secondChild ">
                <div id="butbWala6 "><button type="button " value="B6 " class="butB6 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts6 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-a400-(sa400s37/960g)-960gb-internal-ssd/ZTo1NTM4MDU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MDUtNC0x.jpg " alt="Kingston A400 (SA400S37/960G) 960GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹8799<span> ₹36200</span></h3>
                            <h4>Kingston A400 (SA400S37/960G) 960GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-a1000-240-gb-internal-solid-state-drive-(sa1000m8/240g)/ZTo1NTM4MDk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MDktMjQtMQ.jpg " alt="Kingston A1000 240 GB Internal Solid State Drive (SA1000M8/240G) "></div>
                            <h3 class="h4Kafont ">From ₹4449<span> ₹8600</span></h3>
                            <h4>Kingston A1000 240 GB Internal Solid State Drive (SA1000M8/240G)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-(sa400s37/480g)-480gb-internal-ssd/ZTo1MzQ0MjE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MzQ0MjEtMzYtMQ.jpg " alt="Kingston (SA400S37/480G) 480GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹4650<span> ₹10900</span></h3>
                            <h4>Kingston (SA400S37/480G) 480GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-hyperx-(sh100s3b/240g)-240gb-internal-ssd/ZTo0Nzc5MDQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC80Nzc5MDQtNTYtMQ.jpg " alt="Kingston HyperX (SH100S3B/240G) 240GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹10961<span> ₹103771</span></h3>
                            <h4>Kingston HyperX (SH100S3B/240G) 240GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-a1000-960-gb-internal-solid-state-drive-(sa1000m8/960g)/ZTo1NTM4MDQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MDQtOTYtMQ.jpg " alt="Kingston A1000 960 GB Internal Solid State Drive (SA1000M8/960G) "></div>
                            <h3 class="h4Kafont ">From ₹12030<span> ₹12030</span></h3>
                            <h4>Kingston A1000 960 GB Internal Solid State Drive (SA1000M8/960G)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-(sa400s37/120g)-a400-120gb-internal-ssd/ZTo1MzA0OTc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MzA0OTctMTYtMQ.jpg " alt="Kingston (SA400S37/120G) A400 120GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹2000<span> ₹4652</span></h3>
                            <h4>Kingston (SA400S37/120G) A400 120GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-suv500b/1920g-uv500-1.92-tb-internal-solid-state-drive/ZTo1NTU1MDY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU1MDYtOC0x.jpg " alt="Kingston SUV500B/1920G UV500 1.92 TB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹56322<span> ₹67586</span></h3>
                            <h4>Kingston SUV500B/1920G UV500 1.92 TB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-sv200s3d7/128g-128gb-2.5-inch-solid-state-drive/ZTo1NTU1MTA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU1MTAtMi0x.jpg " alt="Kingston SV200S3D7/128G 128GB 2.5 Inch Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹22821<span> ₹27385</span></h3>
                            <h4>Kingston SV200S3D7/128G 128GB 2.5 Inch Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-suv500/960gin-960gb-internal-solid-state-drive/ZTo1NTM4MDM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MDMtNTAtMQ.jpg " alt="Kingston SUV500/960GIN 960GB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹12030<span> ₹12030</span></h3>
                            <h4>Kingston SUV500/960GIN 960GB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-(suv500m8/240gin)-240gb-internal-solid-state-drive/ZTo1NTM4MTA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MTAtMzgtMQ.jpg " alt="Kingston (SUV500M8/240GIN) 240GB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹3689<span> ₹10250</span></h3>
                            <h4>Kingston (SUV500M8/240GIN) 240GB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-uv500-960-gb-2.5-inch-internal-solid-state-drive/ZTo1NTU1MDk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU1MDktMzEtMQ.jpg " alt="Kingston UV500 960 GB 2.5 Inch Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹33689<span> ₹40427</span></h3>
                            <h4>Kingston UV500 960 GB 2.5 Inch Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/kingston-hard-drive/kingston-(sa400s37/240g)-a400-240gb-internal-ssd/ZTo1MzA0OTg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MzA0OTgtMS0x.jpg " alt="Kingston (SA400S37/240G) A400 240GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹2865<span> ₹6400</span></h3>
                            <h4>Kingston (SA400S37/240G) A400 240GB Internal SSD</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala6 "><button type="button " value="A6 " class="butA6 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container ">
            <div class="newBrandLogo ">
                Samsung SSDs
            </div>
            <div class="secondChild ">
                <div id="butbWala7 "><button type="button " value="B7 " class="butB7 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts7 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-pm883-(mz7lh1t9hmlt)-1.92tb-2.5-inch-solid-state-drive/ZTo1NTM5NzU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzUtODMtMQ.jpg " alt="Samsung PM883 (MZ7LH1T9HMLT) 1.92TB 2.5 Inch Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹101463<span> ₹121755</span></h3>
                            <h4>Samsung PM883 (MZ7LH1T9HMLT) 1.92TB 2.5 Inch Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-970-evo-250gb-internal-ssd/ZTo1Mzk5Njg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Mzk5NjgtNTMtMQ.jpg " alt="Samsung 970 EVO 250GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹11249<span> ₹11249</span></h3>
                            <h4>Samsung 970 EVO 250GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-pro-mz-76p2t0e-2.5-inch-2tb-sata-iii-internal-ssd/ZTo1NTM5Njc ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NjctOTYtMQ.jpg " alt="Samsung 860 PRO MZ-76P2T0E 2.5 Inch 2TB SATA III Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹74099<span> ₹88919</span></h3>
                            <h4>Samsung 860 PRO MZ-76P2T0E 2.5 Inch 2TB SATA III Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-970-evo-nvme-m.2-500gb-internal-solid-state-drive/ZTo1NTM4MTU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MTUtMzktMQ.jpg " alt="Samsung 970 evo NVMe M.2 500GB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹12799<span> ₹17899</span></h3>
                            <h4>Samsung 970 evo NVMe M.2 500GB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-evo-(mz-76e2t0b/am)-2tb-internal-ssd/ZTo1MzY0MTU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81MzY0MTUtNS0x.jpg " alt="Samsung 860 EVO (MZ-76E2T0B/AM) 2TB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹22999<span> ₹36199</span></h3>
                            <h4>Samsung 860 EVO (MZ-76E2T0B/AM) 2TB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-970-evo-1tb-internal-solid-state-drive-(mz-v7e1t0bw)/ZTo1NTM3NDU ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM3NDUtNDktMQ.jpg " alt="Samsung 970 Evo 1TB Internal Solid State Drive (MZ-V7E1T0BW) "></div>
                            <h3 class="h4Kafont ">From ₹43599<span> ₹43599</span></h3>
                            <h4>Samsung 970 Evo 1TB Internal Solid State Drive (MZ-V7E1T0BW)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-sm863-(mz-7km1t9hajm)-1.9tb-sata-internal-ssd/ZTo1NTM5NzE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzEtNC0x.jpg " alt="Samsung SM863 (MZ-7KM1T9HAJM) 1.9TB SATA Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹123982<span> ₹148779</span></h3>
                            <h4>Samsung SM863 (MZ-7KM1T9HAJM) 1.9TB SATA Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-qvo-sata-iii-2.5-inch-desktop-1tb-internal-ssd-(mz-76q1t0bw)/ZTo1NTM4MTQ ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MTQtMzItMQ.jpg " alt="Samsung 860 QVO SATA III 2.5 inch Desktop 1TB Internal SSD (MZ-76Q1T0BW) "></div>
                            <h3 class="h4Kafont ">From ₹9999<span> ₹13700</span></h3>
                            <h4>Samsung 860 QVO SATA III 2.5 inch Desktop 1TB Internal SSD (MZ-76Q1T0BW)</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-sm961-(mzvpw256hegl)-256gb-pcie-nvme-m.2-ssd/ZTo1NTM5ODI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5ODItMi0x.jpg " alt="Samsung SM961 (MZVPW256HEGL) 256GB PCIe NVMe M.2 SSD "></div>
                            <h3 class="h4Kafont ">From ₹24086<span> ₹28903</span></h3>
                            <h4>Samsung SM961 (MZVPW256HEGL) 256GB PCIe NVMe M.2 SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-pro-mz-76p2t0b/eu-2tb-sata-iii-internal-ssd/ZTo1NTM5NzI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzItNy0x.jpg " alt="Samsung 860 PRO MZ-76P2T0B/EU 2TB SATA III Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹102037<span> ₹122445</span></h3>
                            <h4>Samsung 860 PRO MZ-76P2T0B/EU 2TB SATA III Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-sm863-(mz7km240hagr-00005)-240gb-internal-ssd/ZTo1NTM5NzA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzAtOTktMQ.jpg " alt="Samsung SM863 (MZ7KM240HAGR-00005) 240GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹22418<span> ₹26902</span></h3>
                            <h4>Samsung SM863 (MZ7KM240HAGR-00005) 240GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-pm830-(mz7pc512hagh)-2.5-inch-512gb-solid-state-drive/ZTo1NTM5NzY ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzYtNS0x.jpg " alt="Samsung PM830 (MZ7PC512HAGH) 2.5 Inch 512GB Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹26651<span> ₹31981</span></h3>
                            <h4>Samsung PM830 (MZ7PC512HAGH) 2.5 Inch 512GB Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-pro-(mz-76p1t0bw)-1tb-internal-ssd/ZTo1NDA2Mjk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NDA2MjktMzItMQ.jpg " alt="Samsung 860 PRO (MZ-76P1T0BW) 1TB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹21999<span> ₹55820</span></h3>
                            <h4>Samsung 860 PRO (MZ-76P1T0BW) 1TB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-860-evo-(mz-m6e1t0bw)-1tb-internal-ssd/ZTo1NTM5Njk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NjktODktMQ.jpg " alt="Samsung 860 EVO (MZ-M6E1T0BW) 1TB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹29984<span> ₹35981</span></h3>
                            <h4>Samsung 860 EVO (MZ-M6E1T0BW) 1TB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/samsung-hard drive/samsung-970-pro-nvme-m.2-1tb-internal-ssd-(mz-v7p1t0e)/ZTo1NTM5NzM ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM5NzMtOTYtMQ.jpg " alt="Samsung 970 Pro NVMe M.2 1TB Internal SSD (MZ-V7P1T0E) "></div>
                            <h3 class="h4Kafont ">From ₹51407<span> ₹61689</span></h3>
                            <h4>Samsung 970 Pro NVMe M.2 1TB Internal SSD (MZ-V7P1T0E)</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala7 "><button type="button " value="A7 " class="butA7 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>
        <div class="container " id="sd ">
            <div class="newBrandLogo ">
                SanDisk SSDs
            </div>
            <div class="secondChild ">
                <div id="butbWala8 "><button type="button " value="B8 " class="butB8 "><i class="fa fa-angle-left " style="font-size:40px "></i></button></div>
                <div class="hereProducts8 ">
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-extreme-pro-m.2-nvme-3d-1tb-desktop-internal-solid-state-drive/ZTo1NTM4MjI ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MjItOTAtMQ.jpg " alt="Sandisk Extreme Pro M.2 NVMe 3D 1TB Desktop Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹29999<span> ₹29999</span></h3>
                            <h4>Sandisk Extreme Pro M.2 NVMe 3D 1TB Desktop Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-(sdssda-240g-g25)-240-gb--internal-ssd/ZToyMjA4NjE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8yMjA4NjEtNDUtMQ.jpg " alt="Sandisk (SDSSDA-240G-G25) 240 GB Internal SSD "></div>
                            <h3 class="h4Kafont ">From ₹9999<span> ₹9999</span></h3>
                            <h4>Sandisk (SDSSDA-240G-G25) 240 GB Internal SSD</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-ultra-3d-sata-iii-250gb-internal-solid-state-drive/ZTo1NTM4MTg ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MTgtNDMtMQ.jpg " alt="Sandisk Ultra 3D SATA III 250GB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹12999<span> ₹12999</span></h3>
                            <h4>Sandisk Ultra 3D SATA III 250GB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-ultra-3d-sata-iii-1tb-internal-solid-state-drive/ZTo1NTM4MjA ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MjAtNjktMQ.jpg " alt="Sandisk Ultra 3D SATA III 1TB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹29999<span> ₹29999</span></h3>
                            <h4>Sandisk Ultra 3D SATA III 1TB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-ultra-3d-sata-iii-2tb-internal-solid-state-drive/ZTo1NTM4MjE ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MjEtNTUtMQ.jpg " alt="Sandisk Ultra 3D SATA III 2TB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹39999<span> ₹39999</span></h3>
                            <h4>Sandisk Ultra 3D SATA III 2TB Internal Solid State Drive</h4>
                        </a>
                    </div>
                    <div class="productBox ">
                        <a class="imageBox " target="_blank " href="/hard-drive/sandisk-hard drive/sandisk-ultra-3d-sata-iii-500gb-internal-solid-state-drive/ZTo1NTM4MTk ">
                            <div class="imageContainer "><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTM4MTktNTItMQ.jpg " alt="Sandisk Ultra 3D SATA III 500GB Internal Solid State Drive "></div>
                            <h3 class="h4Kafont ">From ₹15999<span> ₹15999</span></h3>
                            <h4>Sandisk Ultra 3D SATA III 500GB Internal Solid State Drive</h4>
                        </a>
                    </div>
                </div>
                <div id="butaWala8 "><button type="button " value="A8 " class="butA8 "><i class="fa fa-angle-right " style="font-size:40px "></i></button></div>
            </div>
        </div>

    </div>
    <script>
        $("button").click(function() {
            console.log('click')
                // if statement here
            var cj = this.value;
            console.log(cj)
            var a = cj.includes("A")
            console.log(a)
            if (a == true) {
                var b = cj.replace("A", "");
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(1000);
                document.getElementById(`butbWala${b}`).style.display = "flex";
                $(`.butB${b}`).css({
                    "display": "block"
                })
                var a1 = document.querySelector(`.hereProducts${b}`);
                console.log("scrolling left positive")
                var u1 = a1.scrollWidth;
                var t1 = a1.clientWidth;
                var t2 = a1.scrollLeft;
                console.log(u1, t1, t2)
                a1.scrollLeft += t1;
                var t3 = t1 + t2;
                if (t3 >= u1 - t1) {
                    document.getElementById(`butaWala${b}`).style.display = "none";
                    $(`.butA${b}`).css({
                        "display": "none"
                    });
                }
            } else {
                var b = cj.replace("B", "")
                console.log(b)
                    // $(`.middle_div${b}`).scrollLeft(-10000);
                var a2 = document.querySelector(`.hereProducts${b}`);
                var t1 = a2.clientWidth;
                a2.scrollLeft -= t1;
                console.log("scrolling left negative")
                var tb2 = a2.scrollLeft;
                if (tb2 <= t1) {
                    document.getElementById(`butbWala${b}`).style.display = "none";
                    $(`.butB${b}`).css({
                        "display": "none"
                    });
                }
                document.getElementById(`butaWala${b}`).style.display = "flex";
                $(`.butA${b}`).css({
                    "display": "block"
                });
            }
        });
    </script>
    <!-- </div> -->
    <!-- </div> -->
    <!-- <div ></div> -->
    <div id="footKaBaap">
        <footer id="footer">
            <div id="upFoot">
                <div class="divs1 dob">
                    <!-- <div id="mySpan"></div>  -->
                    <div class="footInfo">
                        <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                        <a href="/"><img class="logo" src="/images/logo.png"></a>
                    </div>
                </div>
                <div class="divs2 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Contact Us</h2>
                        <a target="_blank" href="/advertise-with-us">
                            <p>Advertise with us</p>
                        </a>
                        <a target="_blank" href="/privacy">
                            <p>Privacy</p>
                        </a>
                        <a target="_blank" href="/contact-us">
                            <p>Contact Us</p>
                        </a>
                        <a target="_blank" href="/credits">
                            <p>Credits</p>
                        </a>


                    </div>

                </div>

                <div class="divs3 dob">
                    <!-- <div id="mySpan"></div> -->
                    <div class="footInfo">
                        <h2>Follow Us On</h2>
                        <a target="_blank">
                            <p>Facebook</p>
                        </a>
                        <!-- <a target="_blank"><p>Twitter</p></a> -->
                        <a target="_blank">
                            <p>Instagram</p>
                        </a>

                    </div>
                </div>

                <div class="divs4 dob">
                    <!-- <div id="mySpan"></div> -->

                    <div class="footInfo">
                        <h2>Get To Know Us</h2>
                        <a target="_blank" href="/about-us">
                            <p>About Us</p>
                        </a>
                        <a target="_blank" href="/terms-of-use">
                            <p>Terms of use</p>
                        </a>
                    </div>
                </div>
            </div>
            <div id="downFoot">
                <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
            </div>
        </footer>
    </div>
</body>

<script src="/javascripts/a.js"></script>


</html>