<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Godrej Refrigerators Prices in India, Compare Prices of Godrej Refrigerators in India
    </title>
    <!-- dw -->
    <meta name="description"
        content="Compare Godrej Refrigerators By Prices. Godrej Refrigerators includes single door ,double door ,Inverter and others.Compare Best Deal On Godrej Refrigerators Across all e-Stores">
    <meta name="og_title" property="og:title" content="Godrej Refrigerators Prices in India, Compare Prices of Godrej Refrigerators in India">
    <meta name="og_url" property="og:url" content="http://www.pricescompare.in/refridgerator/godrej-refridgerator-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description"
        content="Compare Godrej Refrigerators Across All e-Stores By Prices, COD, EMI etc. Godrej Refrigerators includes single door ,double door ,Inverter and others">


    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>


    <script type="application/ld+json">{
        "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/appliances\/","name":"Appliances"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth

    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q"
                            id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On
                                    Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/appliances/">Appliances</a>><a href="">
                    Godrej Refrigerators
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Godrej Refrigerators prices in India">
                    Godrej Refrigerators Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-r-d-edge-200-whf-3.2-185-l-3-star-direct-cool-single-door-refrigerator/ZTo1NTgzOTk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgzOTktNjUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej R D EDGE 200 WHF 3.2 185 L 3 Star Direct Cool Single Door Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12500</span><span>₹12500</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">185 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTE4NS1sLWRpcmVjdC1jb29sLXNpbmdsZS1kb29yLTMtc3Rhci0yMDE5LXJlZnJpZ2VyYXRvci9wL2l0bTNiZGIyMDEwMDAwZDY_cGlkPVJGUkZLNFJaVE1ZVk1UR0YmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12500</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgzOTk"><input
                                    onclick="comp(this)" id="ZTo1NTgzOTk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgzOTk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-r-d-epro-205-tdi-5.2-190-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg2MzI">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg2MzItNzQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej R D EPro 205 TDI 5.2 190 L 5 Star Direct Cool Single Door Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19990</span><span>₹21690</span><span>8% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">190 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Q01EMzlEOS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg2MzI"><input
                                    onclick="comp(this)" id="ZTo1NTg2MzI" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg2MzI"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rd-axis-196-wrf-2.2-181-l-3-star-direct-cool-single-door-refrigerator/ZTo1NTg0Nzk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg0NzktNjYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RD AXIS 196 WRF 2.2 181 L 3 Star Direct Cool Single Door Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10490</span><span>₹13200</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">181 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NjE4WVozVy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg0Nzk"><input
                                    onclick="comp(this)" id="ZTo1NTg0Nzk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg0Nzk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-r-d-epro-225-tai-5.2-210-l-5-star-inverter-direct-cool-single-door-refrigerator/ZTo1NTgyNjg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyNjgtNzYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej R D EPRO 225 TAI 5.2 210 L 5 Star Inverter Direct Cool Single Door
                            Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17952</span><span>₹23300</span><span>23% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">210 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3VlZMS0hNWi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17952</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyNjg"><input
                                    onclick="comp(this)" id="ZTo1NTgyNjg" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyNjg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rf-gf-2604-ptri-260-l-4-star-inverter-frost-free-double-door-refrigerator/ZTo1NTgxNzY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxNzYtMTAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RF GF 2604 PTRI 260 L 4 Star Inverter Frost Free Double Door
                            Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20990</span><span>₹34200</span><span>39% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">260 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">4 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/godrej-260l-inverter-4-star-2019-frost-free-double-door-refrigerator-steel-yarn,-rf-gf-2604-ptri/p-mp000000006553456">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Vk5MM0pYMy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹22490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxNzY"><input
                                    onclick="comp(this)" id="ZTo1NTgxNzY" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxNzY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rd-1903-ew-3.2-190-l-3-star-direct-cool-single-door-refrigerator/ZTo1NTgyNjM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyNjMtMjY1LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RD 1903 EW 3.2 190 L 3 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9990</span><span>₹12990</span><span>23% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">190 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3VzhRNFhEUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyNjM"><input
                                    onclick="comp(this)" id="ZTo1NTgyNjM" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyNjM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rt-eon-260-p-2.3-260-l-2-star-double-door-refrigerator/ZTo1NTk4ODM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk4ODMtNjgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RT EON 260 P 2.3 260 L 2 Star Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19890</span><span>₹19890</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">260 Liter Capacity</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTI2MC1sLWZyb3N0LWZyZWUtZG91YmxlLWRvb3ItMi1zdGFyLXJlZnJpZ2VyYXRvci9wL2l0bWV2bWgzbTJybms1dmE_cGlkPVJGUkRZUDNXUEdYSEdNV1EmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19890</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTk4ODM"><input
                                    onclick="comp(this)" id="ZTo1NTk4ODM" type="checkbox" name="refrigerators"
                                    value="ZTo1NTk4ODM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rt-eon-261-p-3.4-261-l-3-star-frost-free-double-door-refrigerator/ZTo1NTk3MjM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk3MjMtMjAwLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RT EON 261 P 3.4 261 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20990</span><span>₹30800</span><span>32% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">261 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3WVlSUjg1Ui8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTI2MS1sLWZyb3N0LWZyZWUtZG91YmxlLWRvb3ItMy1zdGFyLXJlZnJpZ2VyYXRvci9wL2l0bTIxMTQyMjJhOTNjMzQ_cGlkPVJGUkVXV0E0Q05ZN0JBVFImYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTk3MjM"><input
                                    onclick="comp(this)" id="ZTo1NTk3MjM" type="checkbox" name="refrigerators"
                                    value="ZTo1NTk3MjM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rd-1903-pti-33-190-l-3-star-inverter-direct-cool-single-door-refrigerator/ZTo1ODAyMDY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAyMDYtNTYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RD 1903 PTI 33 190 L 3 Star Inverter Direct Cool Single Door
                            Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹12790</span><span>₹17500</span><span>27% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTE5MC1sLWRpcmVjdC1jb29sLXNpbmdsZS1kb29yLTMtc3Rhci0yMDIwLXJlZnJpZ2VyYXRvci1pbnRlbGxpZ2VudC1pbnZlcnRlci1jb21wcmVzc29yL3AvaXRtYjE4ZTM2MWQzMTBiYz9waWQ9UkZSRlpDVzNSN1pISlpCSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹12790</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODAyMDY"><input
                                    onclick="comp(this)" id="ZTo1ODAyMDY" type="checkbox" name="refrigerators"
                                    value="ZTo1ODAyMDY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rf-gf-2552pth-255-l-2-star-frost-free-double-door-refrigerator/ZTo1NTg5NDk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg5NDktMTQtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RF GF 2552PTH 255 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹17990</span><span>₹23040</span><span>22% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">255 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4MTlXTlpCVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹17990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTI1NS1sLWZyb3N0LWZyZWUtZG91YmxlLWRvb3ItMi1zdGFyLTIwMTktcmVmcmlnZXJhdG9yL3AvaXRtZXgyeGR5Y2tmNXFjbT9waWQ9UkZSRVgyWERTQVBITlpBWCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/godrej-255l-inverter-2-star-2020-ff-double-door-refrigerator-royal-dreminrf-eon-255b-25-hi-ry-dr/p-mp000000006501803">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹18990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg5NDk"><input
                                    onclick="comp(this)" id="ZTo1NTg5NDk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg5NDk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-r-d-epro-205-tai-5.2-190-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg1ODk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg1ODktNDAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej R D EPro 205 TAI 5.2 190 L 5 Star Direct Cool Single Door Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹14790</span><span>₹20500</span><span>28% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">190 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTE5MC1sLWRpcmVjdC1jb29sLXNpbmdsZS1kb29yLTUtc3Rhci0yMDE5LXJlZnJpZ2VyYXRvci9wL2l0bTlmNzVmZGRhNDVjNTQ_cGlkPVJGUkZIRVpUREpUQ0VBVTgmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹14790</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Q05SREZLRC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17980</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg1ODk"><input
                                    onclick="comp(this)" id="ZTo1NTg1ODk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg1ODk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rt-eon-231-c-2.4-231-l-2-star-frost-free-double-door-refrigerator/ZTo1NTk2NTk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk2NTktNTEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RT EON 231 C 2.4 231 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18600</span><span>₹20600</span><span>10% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">231 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTIzMS1sLWZyb3N0LWZyZWUtZG91YmxlLWRvb3ItMi1zdGFyLTIwMTctcmVmcmlnZXJhdG9yL3AvaXRtN2U3MDhlYmVlZTRiZj9waWQ9UkZSRVhRNk1WUk5GVFpHUiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18600</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTjAzSlpaOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹20200</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTk2NTk"><input
                                    onclick="comp(this)" id="ZTo1NTk2NTk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTk2NTk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-r-d-epro-225-tdi-5.2-210-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg1ODY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg1ODYtMTcyLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej R D EPro 225 TDI 5.2 210 L 5 Star Direct Cool Single Door Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19970</span><span>₹25400</span><span>21% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">210 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Q05UVFc5Ti8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19970</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg1ODY"><input
                                    onclick="comp(this)" id="ZTo1NTg1ODY" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg1ODY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rf-gf-3302-pth-330-l-2-star-frost-free-double-door-refrigerator/ZTo1NTg0NTk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg0NTktMTU0LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RF GF 3302 PTH 330 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹29990</span><span>₹35200</span><span>15% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">330 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvZ29kcmVqLTMzMC1sLWZyb3N0LWZyZWUtZG91YmxlLWRvb3ItMi1zdGFyLTIwMTktcmVmcmlnZXJhdG9yL3AvaXRtZjg5Nmt6ZWF6ZXJjYz9waWQ9UkZSRjg5NktITktUUEZaWSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹29990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg0NTk"><input
                                    onclick="comp(this)" id="ZTo1NTg0NTk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg0NTk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rd-edge-duo-255-pd-inv-4.2-255-l-4-star-direct-cool-single-door-refrigerator/ZTo1NTg4MjQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg4MjQtOTAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RD EDGE DUO 255 PD INV 4.2 255 L 4 Star Direct Cool Single Door
                            Refrigerator</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25150</span><span>₹25150</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">225 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">4 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3OEc3TkNIWS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25150</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg4MjQ"><input
                                    onclick="comp(this)" id="ZTo1NTg4MjQ" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg4MjQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-gf-2362pth-263-l-2-star-frost-free-double-door-refrigerator/ZTo1NTg5MjU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg5MjUtNzAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej GF 2362PTH 263 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15990</span><span>₹19500</span><span>18% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">263 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3SEZESjM5TS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg5MjU"><input
                                    onclick="comp(this)" id="ZTo1NTg5MjU" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg5MjU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/godrej-refridgerator/godrej-rt-eon-260-p-2.4-260-l-2-star-frost-free-double-door-refrigerator/ZTo1NTk1NTU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk1NTUtMTAyLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Godrej RT EON 260 P 2.4 260 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20829</span><span>₹27800</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">260 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAxTjNMWkxIUS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20829</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/godrej-260-ltr-2-star-frost-free-refrigerator-rt-eon-260-p-2-4-magic-blue-CMPLXLARGODREJ-FROSTGIRI7134091700F711-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹22100</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTk1NTU"><input
                                    onclick="comp(this)" id="ZTo1NTk1NTU" type="checkbox" name="refrigerators"
                                    value="ZTo1NTk1NTU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
            </div>



        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
            console.log(window.bn,window.tw)



        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;"
                        href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>