<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        haier refrigerators Prices in India, Compare Prices of haier Refrigerators in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description"
        content="Compare haier Refrigerators By Prices. haier Refrigerators includes single door ,double door ,Inverter and others.Compare Best Deal On haier Refrigerators Across all e-Stores">
    <meta name="og_title" property="og:title"
        content="haier Refrigerators Prices in India, Compare Prices of haier Refrigerators in India">
    <meta name="og_url" property="og:url"
        content="https://www.pricescompare.in/refridgerator/haier-refridgerator-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description"
        content="Compare haier Refrigerators Across All e-Stores By Prices, COD, EMI etc. haier Refrigerators includes single door ,double door ,Inverter and others">


    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>


    <script type="application/ld+json">{
        "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"https:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"https:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/appliances\/","name":"Appliances"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth

    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q"
                            id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On
                                    Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/appliances/">Appliances</a>><a href="">
                    haier Refrigerators
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="haier Refrigerators prices in India">
                    haier Refrigerators Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">

                <a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-1955pkg-e-195-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg1ODA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg1ODAtMTYtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-1955PKG-E 195 L 5 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25000</span><span>₹25000</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">195 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Sjg0QzQzVy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg1ODA"><input
                                    onclick="comp(this)" id="ZTo1NTg1ODA" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg1ODA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-heb-25tds-258-l-3-star-frost-free-double-door-refrigerator/ZTo1NTg2NTg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg2NTgtODEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HEB-25TDS 258 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹21390</span><span>₹33500</span><span>36% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">258 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU4LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0zLXN0YXItMjAyMC1jb252ZXJ0aWJsZS1yZWZyaWdlcmF0b3IvcC9pdG1hNzdiYWE0MDQ2YWI1P3BpZD1SRlJGTldHV1Q4UDNQTjVHJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹21390</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ5OUhQTi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹22399</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg2NTg"><input
                                    onclick="comp(this)" id="ZTo1NTg2NTg" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg2NTg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hed-19tms-190-l-2-star-direct-cool-single-door-refrigerator/ZTo1Nzk5MTI">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk5MTItMjAwLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HED-19TMS 190 L 2 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10890</span><span>₹10890</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMTkwLWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItMi1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yL3AvaXRtMWIxZTNmOTliNzczMT9waWQ9UkZSRlpYN0ZUSEcyVFo4TiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10890</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk5MTI"><input
                                    onclick="comp(this)" id="ZTo1Nzk5MTI" type="checkbox" name="refrigerators"
                                    value="ZTo1Nzk5MTI"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-1902bmo-e-190-l-2-star-direct-cool-single-door-refrigerator/ZTo1NTgxMzQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxMzQtMjYwLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-1902BMO-E 190 L 2 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10148</span><span>₹17100</span><span>41% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">190 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMTkwLWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItMi1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yL3AvaXRtZjBjMDIxNDc5N2Q2Yj9waWQ9UkZSRlBDSjg1UVVQU0hONyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10148</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ2WjhGUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹11588</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxMzQ"><input
                                    onclick="comp(this)" id="ZTo1NTgxMzQ" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxMzQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-2203prb-e-220-l-3-star-direct-cool-single-door-refrigerator/ZTo1NTgxMjQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxMjQtODMtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-2203PRB-E 220 L 3 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15990</span><span>₹25500</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">220 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjIwLWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItMy1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yLWJhc2UtZHJhd2VyL3AvaXRtOGZhNDIxZTZiODM0Yz9waWQ9UkZSRk5XR1daWURIQ1FQOCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NEhaUDNMOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹17500</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxMjQ"><input
                                    onclick="comp(this)" id="ZTo1NTgxMjQ" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxMjQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-622ks-570-l-inverter-frost-free-side-by-side-door-refrigerator/ZTo1ODAyMzk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAyMzktOTktMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-622KS 570 L Inverter Frost Free Side By Side Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹51799</span><span>₹115000</span><span>55% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Side By Side Door Refrigerator</li>
                                <li class="listItem">570 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4SkxaTkpOSC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹51799</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-570l-inverter-2020-frost-free-side-by-side-refrigerator-shiny-steel-hrf-622ss/p-mp000000007567788">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹56920</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItNTcwLWwtZnJvc3QtZnJlZS1zaWRlLTIwMjAtcmVmcmlnZXJhdG9yL3AvaXRtMjM1NDM1NzM0ZjdjMj9waWQ9UkZSRlJIWlo1TkhBSFlDQSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹57990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODAyMzk"><input
                                    onclick="comp(this)" id="ZTo1ODAyMzk" type="checkbox" name="refrigerators"
                                    value="ZTo1ODAyMzk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrb-2763bs-256-l-3-star-direct-cool-double-door-refrigerator/ZTo1NTg2NDc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg2NDctNzAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRB-2763BS 256 L 3 Star Direct Cool Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹22999</span><span>₹31500</span><span>27% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">256 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU2LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci1ib3R0b20tbW91bnQtMy1zdGFyLTIwMTktcmVmcmlnZXJhdG9yL3AvaXRtZjk0M25uc2F2eGt1dz9waWQ9UkZSRjk0M05LR1ZUSFpFSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹22999</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-256l-3-star-2019-ff-double-door-bottom-mount-refrigerator-brush-line-silver-hrb-2763bs-e/p-mp000000004417877">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹23480</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RE5UMlBZRC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹24830</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg2NDc"><input
                                    onclick="comp(this)" id="ZTo1NTg2NDc" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg2NDc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-2783bs-e-258-l-3-star-frost-free-double-door-refrigerator/ZTo1NTg1Mzk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg1MzktNjctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-2783BS-E 258 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹18990</span><span>₹30000</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">258 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-258l-2-star-2020-double-door-5-in-1-convertible-refrigerator-brushline-silver,-hrf-2783bs-e/p-mp000000003727937">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹18990</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4MjFKQ1dLUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹19000</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU4LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0zLXN0YXItMjAyMC1jb252ZXJ0aWJsZS1yZWZyaWdlcmF0b3IvcC9pdG1mMzZxNm56N3NyendoP3BpZD1SRlJGMzZRNkE3TlJOUFJFJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21700</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-258-litre-3-star-double-door-swift-convertible-refrigerator-hrf-2783bs-e-brushline-silver-CMPLXLARHAIER-258-LIBANG52005C84EB650-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg1Mzk"><input
                                    onclick="comp(this)" id="ZTo1NTg1Mzk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg1Mzk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-1955pmg-195-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg0OTE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg0OTEtMTIwLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-1955PMG 195 L 5 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹16300</span><span>₹23500</span><span>31% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">195 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UTc1RzE2WS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹16300</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg0OTE"><input
                                    onclick="comp(this)" id="ZTo1NTg0OTE" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg0OTE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-1955ckg-e-195-l-5-star-direct-cool-single-door-refrigerator/ZTo1NTg1ODE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg1ODEtMTgxLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-1955CKG-E 195 L 5 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15000</span><span>₹25996</span><span>42% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">195 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">5 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-direct-cool-195l-5-star-refrigerator-hrd-1955ckg-e-black-CMPLXLARHAIER-DIRECTSUPE4393420D700FE-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15000</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg1ODE"><input
                                    onclick="comp(this)" id="ZTo1NTg1ODE" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg1ODE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrd-1954pkg-e-195-l-4-star-direct-cool-single-door-refrigerator/ZTo1NTg3MjI">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg3MjItMy0x.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRD-1954PKG-E 195 L 4 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹15290</span><span>₹23500</span><span>35% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">195 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">4 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMTk1LWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItNC1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yLWJhc2UtZHJhd2VyL3AvaXRtMjFmNzg1Y2NmYmU3Nj9waWQ9UkZSRlpQRFdIWUNRTVBRRCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹15290</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NEhaTERQUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹16090</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-195-l-4-star-direct-cool-refrigerator-hrd-1954pkb-e-black-blossom-CMPLXLARHAIER-DIRECTDUMM202563814A341-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21146</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg3MjI"><input
                                    onclick="comp(this)" id="ZTo1NTg3MjI" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg3MjI"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hed-17tms-170-l-2-star-direct-cool-double-door-refrigerator/ZTo1NTgxMjg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxMjgtNTctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HED-17TMS 170 L 2 Star Direct Cool Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹9790</span><span>₹13000</span><span>25% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">170 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ5MVQ1OS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹9790</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMTcwLWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItMi1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yL3AvaXRtZTI2NmQ1ZWQ5MTZlOD9waWQ9UkZSRlpaOUZGR1BVS1dCTSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹9790</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxMjg"><input
                                    onclick="comp(this)" id="ZTo1NTgxMjg" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxMjg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-619ss-565-l-3-star-inverter-frost-free-side-by-side-door-refrigerator/ZTo1NTgyMjY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyMjYtMTM5LTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-619SS 565 L 3 Star Inverter Frost Free Side By Side Door
                            Refrigerator
                        </h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹56800</span><span>₹103000</span><span>45% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">565 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItNTY1LWwtZnJvc3QtZnJlZS1zaWRlLTMtc3Rhci0yMDE5LXJlZnJpZ2VyYXRvci9wL2l0bWZnZjhkdmhuNXpnYW0_cGlkPVJGUkZHRjhEWlZHWlZGSEomYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹56800</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyMjY"><input
                                    onclick="comp(this)" id="ZTo1NTgyMjY" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyMjY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hed-19tbr-190-l-3-star-direct-cool-single-door-refrigerator/ZTo1NTgxNDA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxNDAtMzUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HED-19TBR 190 L 3 Star Direct Cool Single Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹10490</span><span>₹13700</span><span>23% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Single Door Refrigerator</li>
                                <li class="listItem">190 Liter Capacity</li>
                                <li class="listItem">Direct Cool</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMTkwLWwtZGlyZWN0LWNvb2wtc2luZ2xlLWRvb3ItMi1zdGFyLTIwMjAtcmVmcmlnZXJhdG9yL3AvaXRtZTMzMzM5MDEzOGI5Nz9waWQ9UkZSRk5XR1dOM0NaUEtaSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹10490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ4U1g1Wi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹10890</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxNDA"><input
                                    onclick="comp(this)" id="ZTo1NTgxNDA" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxNDA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-3674bks-e-347-l-2-star-frost-free-double-door-refrigerator/ZTo1NTgxMjM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgxMjMtNzItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-3674BKS-E 347 L 2 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25490</span><span>₹41400</span><span>38% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">34 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">2 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMzQ3LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0yLXN0YXItMjAyMC1yZWZyaWdlcmF0b3IvcC9pdG1kN2E4MmUzMzQ4NTIwP3BpZD1SRlJGTldHV0pWRkdHWkVIJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-347-l-2-star-frost-free-refrigerator-hrf-3674bks-e-black-brushline-LARHAIER-347-L-ADIT1022147C954818D-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26400</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-347l-2-star-2020-frost-free-double-door-refrigerator-black-brushline-hrf-3674bks-e/p-mp000000006912261">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26980</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ4S1lLUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26990</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgxMjM"><input
                                    onclick="comp(this)" id="ZTo1NTgxMjM" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgxMjM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hef-25tgs-258-l-3-star-frost-free-double-door-refrigerator/ZTo1NTgyMzk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyMzktMTEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HEF-25TGS 258 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19490</span><span>₹29700</span><span>34% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">258 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU4LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0yLXN0YXItMjAyMC1jb252ZXJ0aWJsZS1yZWZyaWdlcmF0b3IvcC9pdG0wN2ViOTc4ZTMyMzM0P3BpZD1SRlJGWlgzREJEMlpKNDlEJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19490</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ4VFRKTS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹21390</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyMzk"><input
                                    onclick="comp(this)" id="ZTo1NTgyMzk" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyMzk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hef-25trf-258-l-3-star-frost-free-double-door-refrigerator/ZTo1NTgyNzI">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyNzItMjAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HEF-25TRF 258 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹20490</span><span>₹31800</span><span>36% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">258 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU4LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0zLXN0YXItMjAyMC1jb252ZXJ0aWJsZS1yZWZyaWdlcmF0b3IvcC9pdG1mZXk2MnBqdHpocGhmP3BpZD1SRlJGTldHV1Q4UDNQTjVHJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹20490</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyNzI"><input
                                    onclick="comp(this)" id="ZTo1NTgyNzI" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyNzI"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-2783bms-258-l-4-star-frost-free-double-door-refrigerator/ZTo1NTgyNDA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTgyNDAtNzItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-2783BMS 258 L 4 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹19389</span><span>₹27900</span><span>31% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">258 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">4 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-258l-3-star-2019-2-star-2020-double-door-5-in-1-convertible-refrigerator-silverhrf2783bms-e/p-mp000000004417857">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹19389</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-258-l-3-star-frost-free-refrigerator-hrf2783bms-silver-CMPLXLARHAIER-FROST-DUMM2025677560C28-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹20300</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4MjFINzFITi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹20500</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMjU4LWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0zLXN0YXItMjAxOS1yZWZyaWdlcmF0b3IvcC9pdG1mZ2Y4ZHhqdTNtM2J3P3BpZD1SRlJGR0Y4REJZTlJFU0VTJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹22468</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTgyNDA"><input
                                    onclick="comp(this)" id="ZTo1NTgyNDA" type="checkbox" name="refrigerators"
                                    value="ZTo1NTgyNDA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrb-3404bs-r-320-l-3-star-frost-free-double-door-refrigerator/ZTo1NTk1Mjc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTk1MjctNjAtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRB-3404BS-R 320 L 3 Star Frost Free Double Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹25200</span><span>₹40300</span><span>37% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Double Door Refrigerator</li>
                                <li class="listItem">320 Liter Capacity</li>
                                <li class="listItem">Frost Free</li>
                                <li class="listItem">3 Star Rating</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://paytmmall.com/haier-320-l-double-door-refrigerator-hrb-3404bs-e-CMPLXLARHAIER-320-L-FEST359228EAB4470-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹25200</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaGFpZXItMzIwLWwtZnJvc3QtZnJlZS1kb3VibGUtZG9vci0yLXN0YXItMjAyMC1yZWZyaWdlcmF0b3IvcC9pdG0yYjE2NjI0M2YwNmY4P3BpZD1SRlJGSzVXSENFUEdVU0ZGJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹25449</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDQ4TjRYMy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹26840</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-320l-3-star-2019-frost-free-double-door-refrigerator-brushed-silver-hrb-3404bs-e/p-mp000000002438866">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹27597</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTk1Mjc"><input
                                    onclick="comp(this)" id="ZTo1NTk1Mjc" type="checkbox" name="refrigerators"
                                    value="ZTo1NTk1Mjc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/refridgerator/haier-refridgerator/haier-hrf-619cg-565-l-inverter-side-by-side-door-refrigerator/ZTo1NTg0NDU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTg0NDUtMTktMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Haier HRF-619CG 565 L Inverter Side By Side Door Refrigerator</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹55000</span><span>₹105000</span><span>48% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UldKTVFUWC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹55000</h4>
                                    </a></td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://www.tatacliq.com/haier-565l-inverter-frost-free-side-by-side-refrigerator-black-hrf-619kg/p-mp000000005394473">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹90094</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTg0NDU"><input
                                    onclick="comp(this)" id="ZTo1NTg0NDU" type="checkbox" name="refrigerators"
                                    value="ZTo1NTg0NDU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
            </div>



        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
            console.log(window.bn, window.tw)



        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;"
                        href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>