<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Mixer Juicer Grinder Prices in India, Compare Prices of Mixer Juicer Grinder in India
    </title>
    <!-- dw -->
    <meta name="description"
        content="Compare Mixer Juicer Grinder By Prices. Mixer Juicer Grinder includes Active, Kent, Orient, Maharaja, Pigeon, Prestige, phillips and others.Compare Best Deal On Mixer Juicer Grinder Across all e-Stores">
    <meta name="og_title" property="og:title"
        content="Mixer Juicer Grinder Prices in India, Compare Prices of Mixer Juicer Grinder in India">
    <meta name="og_url" property="og:url"
        content="http://www.pricescompare.in/kitchen-appliances/mixer-juicer-grinder-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description"
        content="Compare Mixer Juicer Grinder Across All e-Stores By Prices, COD, EMI etc. Mixer Juicer Grinder includes Active, Kent, Orient, Maharaja, Pigeon, Prestige, phillips and others">


    <script type="application/ld+json">
        {
        "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "http://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "http://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
    }
    </script>


    <script type="application/ld+json">{
        "@context": "http://schema.org",
            "@type": "Organization",
            "url": "http://www.pricescompare.in",
            "logo": "http://www.pricescompare.in/images/logo.png",
            "sameAs": []
    }</script>
    <!-- dw -->
    <script type="application/ld+json">
        {"@context":"http:\/\/schema.org","@type":"BreadcrumbList","itemListElement":[{"@type":"ListItem","position":1,"item":{"@id":"http:\/\/www.pricescompare.in\/","name":"Home"}},{"@type":"ListItem","position":2,"item":{"@id":"https:\/\/www.pricescompare.in\/kitchen-appliances\/","name":"Kitchen Appliances"}},{"@type":"ListItem","position":3,"item":{"@id":null,"name":""}}]}
        </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth

    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q"
                            id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On
                                    Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/kitchen-appliances/">Kitchen Appliances</a>><a href="">
                    Mixer Juicer Grinder
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Mixer Juicer Grinder prices in India">
                    Mixer Juicer Grinder Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>

            <div class="results">

                <a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/activa-pluto-pro-plus-650w-mixer-grinder-(4-jars)/ZTo1ODIxMDk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxMDktODgtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Activa Pluto Pro Plus 650W Mixer Grinder (4 Jars)</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1699</span><span>₹2990</span><span>43% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWN0aXZhLTQtamFyLXBsdXRvLXByby1wbHVzLTY1MC13LW1peGVyLWdyaW5kZXIvcC9pdG1ldzd3enFzdXB6ejN3P3BpZD1NSVhFVzdRWEsyV0VER0dNJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1699</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIxMDk"><input
                                    onclick="comp(this)" id="ZTo1ODIxMDk" type="checkbox" name="mixers"
                                    value="ZTo1ODIxMDk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/activa-pearl-pro-750w-mixer-grinder-(3-jars)/ZTo1ODIxMDg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxMDgtNzMtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Activa Pearl Pro 750W Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹1499</span><span>₹2990</span><span>50% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYWN0aXZhLTMtamFyLXBlYXJsLXByby03NTAtbWl4ZXItZ3JpbmRlci9wL2l0bTM1YThmNzYzMzZhZjc_cGlkPU1JWEZOQ0RGUEFLSDRKR1UmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1499</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIxMDg"><input
                                    onclick="comp(this)" id="ZTo1ODIxMDg" type="checkbox" name="mixers"
                                    value="ZTo1ODIxMDg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/kent-super-smart-800-w-mixer-grinder-(3-jars)/ZTo1NTU2NDk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NDktOTctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Kent Super Smart 800 W Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>3.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹3499</span><span>₹5250</span><span>33% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwva2VudC0xNjA2MS1zdXBlci1zbWFydC1tZy04MDAtdy1taXhlci1ncmluZGVyL3AvaXRtMGY2M2Y2MjE4OTQxYj9waWQ9TUlYRk5HWVdNWlhWTkhORyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹3499</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU2NDk"><input
                                    onclick="comp(this)" id="ZTo1NTU2NDk" type="checkbox" name="mixers"
                                    value="ZTo1NTU2NDk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/orient-electric-kitchen-kraft-mgkk50b3-500w-mixer-grinder-(3-jars)/ZTo1NTY0MDA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTY0MDAtNjUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Orient Electric Kitchen kraft MGKK50B3 500W Mixer Grinder (3 Jars)</h3>
                        <div class="mrpTag"><span>₹2699</span><span>₹3190</span><span>15% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvb3JpZW50LWVsZWN0cmljLWtpdGNoZW4ta3JhZnQtbWdrazUwYjMtNTAwLW1peGVyLWdyaW5kZXIvcC9pdG1lMTZkMTJjNDRmZTQ2P3BpZD1NSVhGUDg2NUVNWlpIRU5LJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2699</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTY0MDA"><input
                                    onclick="comp(this)" id="ZTo1NTY0MDA" type="checkbox" name="mixers"
                                    value="ZTo1NTY0MDA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-turbo-prime-1000w-mixer-grinder-(3-jars)/ZTo1NTYzOTk">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTYzOTktNTItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Maharaja Whiteline Turbo Prime 1000W Mixer Grinder (3 Jars)</h3>
                        <div class="mrpTag"><span>₹4999</span><span>₹6999</span><span>29% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbWFoYXJhamEtd2hpdGVsaW5lLXR1cmJvLXByaW1lLWhkLW1peGVyLWdyaW5kZXItbXgtMjE3LTEwMDAvcC9pdG1hYTNiYTE3YzEyMWJiP3BpZD1NSVhGWlBLQlhIUVlIS0hQJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹4999</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYzOTk"><input
                                    onclick="comp(this)" id="ZTo1NTYzOTk" type="checkbox" name="mixers"
                                    value="ZTo1NTYzOTk"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/pigeon-glory-550w-mixer-grinder-(3-jars)/ZTo1NTUzNjA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTUzNjAtNjUtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Pigeon Glory 550W Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2299</span><span>₹2995</span><span>23% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvcGlnZW9uLWdsb3J5LTU1MHctNTUwLXctbWl4ZXItZ3JpbmRlci9wL2l0bTdiNDdiOGY1OWM5MGE_cGlkPU1JWEZOWktBQkdIVFdWSlAmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2299</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTUzNjA"><input
                                    onclick="comp(this)" id="ZTo1NTUzNjA" type="checkbox" name="mixers"
                                    value="ZTo1NTUzNjA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-mx-220-1000-w-ultramax-hd-mixer-grinder/ZTo1NTYyNDY">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC9ub2ltYWdlLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Maharaja Whiteline MX-220 1000 W Ultramax HD Mixer Grinder</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹4499</span><span>₹7299</span><span>38% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Mixer Grinder</li>
                                <li class="listItem">1000 W Consumption</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbWFoYXJhamEtd2hpdGVsaW5lLXVsdHJhbWF4LWhkLW14LTIyMC0xMDAwLXctbWl4ZXItZ3JpbmRlci9wL2l0bTQ1MTgyYTExMWJmNGY_cGlkPU1JWEZORUZSQ1ZGSEpaVjYmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹4499</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYyNDY"><input
                                    onclick="comp(this)" id="ZTo1NTYyNDY" type="checkbox" name="mixers"
                                    value="ZTo1NTYyNDY"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/bajaj-ivora-800-watts-mixer-grinder-(3-jars)/ZTo1NTYyNDM">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC9ub2ltYWdlLTE.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Bajaj Ivora 800 watts Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹4425</span><span>₹5999</span><span>26% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Mixer Grinder</li>
                                <li class="listItem">800 W Consumption</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYmFqYWotaXZvcmEtc2lsa3ktY2FyYW1lbC04MDAtdy1taXhlci1ncmluZGVyL3AvaXRtOGEyMzY5NTFmMTQ5Mj9waWQ9TUlYRk1ZWktUVFo5R1dWTiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹4425</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTYyNDM"><input
                                    onclick="comp(this)" id="ZTo1NTYyNDM" type="checkbox" name="mixers"
                                    value="ZTo1NTYyNDM"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-infinimax-dlx-mx-224-750w-mixer-grinder-(3-jars)/ZTo1Nzk4NjU">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzk4NjUtNjEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Maharaja Whiteline Infinimax Dlx MX-224 750W Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹3187</span><span>₹4799</span><span>34% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">Mixer Grinder</li>
                                <li class="listItem">750 W Consumption</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbWFoYXJhamEtd2hpdGVsaW5lLWluZmluaW1heC1kbHgtbXgtMjI0LTc1MC13LW1peGVyLWdyaW5kZXIvcC9pdG1kOGQ2OWFjMWY1NzhiP3BpZD1NSVhGTkVGUlZCWkFSNEFZJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹3187</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzk4NjU"><input
                                    onclick="comp(this)" id="ZTo1Nzk4NjU" type="checkbox" name="mixers"
                                    value="ZTo1Nzk4NjU"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/prestige-express-pex-3.0-350w-blender-(2-jars)/ZTo1NTU4Njg">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU4NjgtMjMtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Prestige Express Pex 3.0 350W Blender (2 Jars)</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2549</span><span>₹3295</span><span>23% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvcHJlc3RpZ2UtZXhwcmVzcy1wZXgtMy0wLTM1MC1taXhlci1ncmluZGVyL3AvaXRtN2Q3MWNkYjQ0ZTNmMj9waWQ9TUlYRlpEM1lNVzNIR1VIQiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2549</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU4Njg"><input
                                    onclick="comp(this)" id="ZTo1NTU4Njg" type="checkbox" name="mixers"
                                    value="ZTo1NTU4Njg"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/sheffield-classic-sh-1057-400w-juicer-mixer-grinder-(2-jars)/ZTo1NTU4Njc">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU4NjctNjItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Sheffield Classic SH-1057 400W Juicer Mixer Grinder (2 Jars)</h3>
                        <div class="mrpTag"><span>₹1811</span><span>₹2899</span><span>38% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvc2hlZmZpZWxkLWNsYXNzaWMtc2gtMTA1Ny10LTQwMC1qdWljZXItbWl4ZXItZ3JpbmRlci9wL2l0bWUzNDBmNTM4MTVkMGY_cGlkPU1JWEZaNkhSWkpLRFMzR0gmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹1811</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU4Njc"><input
                                    onclick="comp(this)" id="ZTo1NTU4Njc" type="checkbox" name="mixers"
                                    value="ZTo1NTU4Njc"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/prestige-pwg-08-200w-wet-grinder/ZTo1NTU2NzQ">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NzQtNjItMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Prestige PWG 08 200W Wet Grinder</h3>
                        <div class="review">
                            <div><span>3.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2799</span><span>₹5195</span><span>46% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvcHJlc3RpZ2UtcHdnLTA4LXdldC1ncmluZGVyL3AvaXRtOTQwNjYwNmI5YzhkYj9waWQ9V1RHRk1FWVo0V1ZHTkpHSiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2799</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU2NzQ"><input
                                    onclick="comp(this)" id="ZTo1NTU2NzQ" type="checkbox" name="mixers"
                                    value="ZTo1NTU2NzQ"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/maharaja-whiteline-turbo-prime-deluxe-750w-mixer-grinder-(3-jars)/ZTo1NTU2NTE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NTEtMjctMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Maharaja Whiteline Turbo prime Deluxe 750W Mixer Grinder (3 Jars)</h3>
                        <div class="mrpTag"><span>₹3249</span><span>₹4799</span><span>32% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbWFoYXJhamEtd2hpdGVsaW5lLXR1cmJvLXByaW1lLWRlbHV4ZS03NTAtbWl4ZXItZ3JpbmRlci9wL2l0bWUyMjAzZjU5ZWFkMzc_cGlkPU1JWEZOWlpaVk5aV1YyQkImYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹3249</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU2NTE"><input
                                    onclick="comp(this)" id="ZTo1NTU2NTE" type="checkbox" name="mixers"
                                    value="ZTo1NTU2NTE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/prestige-clovis-550-watts-mixer-grinder-(3-jars)/ZTo1NTU2NTA">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTU2NTAtODEtMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Prestige Clovis 550 watts Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>3.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2771</span><span>₹3695</span><span>25% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvcHJlc3RpZ2UtY2xvdmlzLTU1MC1taXhlci1ncmluZGVyL3AvaXRtNWMyZTM2ZTI5ZGZhZj9waWQ9TUlYRk5DTkRaUVc2QVBFOSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2771</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTU2NTA"><input
                                    onclick="comp(this)" id="ZTo1NTU2NTA" type="checkbox" name="mixers"
                                    value="ZTo1NTU2NTA"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a><a class="resultsCont"
                    href="/kitchen-appliances/mixer-juicer-grinder/philips-avenger-hl7581-600w-juicer-mixer-grinder-(3-jars)/ZTo1NTY0MDE">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img
                                src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NTY0MDEtNDktMQ.jpg"
                                class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Philips Avenger HL7581 600W Juicer Mixer Grinder (3 Jars)</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹4199</span><span>₹5295</span><span>21% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td><a
                                        href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvcGhpbGlwcy1hdmVuZ2VyLWhsNzU4MS02MDAtanVpY2VyLW1peGVyLWdyaW5kZXIvcC9pdG0yNjlmNDcyYWJiMGUwP3BpZD1NSVhGUDhGOFlOSEZHQ0dHJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹4199</h4>
                                    </a></td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NTY0MDE"><input
                                    onclick="comp(this)" id="ZTo1NTY0MDE" type="checkbox" name="mixers"
                                    value="ZTo1NTY0MDE"><span class="spanOfBox"></span><span
                                    class="spanforCheckBox"></span><span
                                    style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare
                                    Specs</span></label></div>
                    </div>
                </a>
            </div>


        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
            console.log(window.bn, window.tw)



        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;"
                        href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>