<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Latest Laptops Prices in India | Compare Prices of High Power Laptops in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Latest Laptops By Prices. We compare Laptops of different use like Gaming Laptops , High End Laptops , Low End Laptops and more . Compare Best Deal On Latest Laptops Across all e-Stores">
    <meta name="og_title" property="og:title" content="Latest Laptops Prices in India | Compare Prices of High Power Laptops in India">
    <meta name="og_url" property="og:url" content="https://www.pricescompare.in/laptops/laptops-price-list-in-india">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Latest Laptops By Prices. We compare Laptops of different use like Gaming Laptops , High End Laptops , Low End Laptops and more . Compare Best Deal On Latest Laptops Across all e-Stores">


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "https:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/laptops\/",
                    "name": "Laptops"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/laptops/">Laptops</a>><a href="">
                   All Laptops
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Laptops prices in India">
                    Latest Laptops Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/laptops/gaming-laptops/hp-pavilion-gaming-15-ec0043ax-(8xs82pa)-laptop-(15.6-inch-|-amd-quad-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODEwNzg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODEwNzgtMjYwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion Gaming 15-ec0043ax (8XS82PA) Laptop (15.6 Inch | AMD Quad Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h3>
                        <div class="mrpTag"><span>₹71900</span><span>₹71900</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">AMD Quad Core Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4UjkzQzU2VC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹71900</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODEwNzg"><input onclick="comp(this)" id="ZTo1ODEwNzg" type="checkbox" name="laptops" value="ZTo1ODEwNzg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/hp-pavilion-gaming-15-ec1024ax-(183j8pa)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1ODExNDg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODExNDgtMjYzLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion Gaming 15-ec1024AX (183J8PA) Laptop (15.6 Inch | AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹59990</span><span>₹59990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Q1oyS05TNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹59990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODExNDg"><input onclick="comp(this)" id="ZTo1ODExNDg" type="checkbox" name="laptops" value="ZTo1ODExNDg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/hp-laptops/hp-14q-cs0009tu-(5dz92pa)-laptop-(14-inch-|-core-i3-7th-gen-|-4-gb-|-dos-|-1-tb-hdd)/ZTo1NzY2NzQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY2NzQtMjI3LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 14q-cs0009TU (5DZ92PA) Laptop (14 Inch | Core i3 7th Gen | 4 GB | DOS | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹31808</span><span>₹31808</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">14 inch Screen</li>
                                <li class="listItem">Intel Core i3 Processor</li>
                                <li class="listItem">4 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtMTRxLWNvcmUtaTMtN3RoLWdlbi00LWdiLTEtdGItaGRkLWRvcy0xNHEtY3MwMDA5dHUtdGhpbi1saWdodC1sYXB0b3AvcC9pdG02NWVmN2IyMTk4OGU3P3BpZD1DT01GOENDRzZETllERkJDJmFmZmlkPWFydW5iYWJ1bA">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹31808</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY2NzQ"><input onclick="comp(this)" id="ZTo1NzY2NzQ" type="checkbox" name="laptops" value="ZTo1NzY2NzQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/asus-asus-tuf-gaming-a15-fa506ii-hn153t-laptop-(15.6-inch-|-amd-octa-core-ryzen-7-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODIzMzY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzMzYtNDgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS Asus TUF Gaming A15 FA506II-HN153T Laptop (15.6 Inch | AMD Octa Core Ryzen 7 | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹83990</span><span>₹83990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">AMD Ryzen 7 Octa Core Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4ODI1WjhDVy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹83990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIzMzY"><input onclick="comp(this)" id="ZTo1ODIzMzY" type="checkbox" name="laptops" value="ZTo1ODIzMzY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3-(82ey00l4in)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODMzOTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMzOTMtOS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad Gaming 3 (82EY00L4IN) Laptop (15.6 Inch | AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="mrpTag"><span>₹65980</span><span>₹65980</span><span>0% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGVub3ZvLWlkZWFwYWQtZ2FtaW5nLTMtcnl6ZW4tNS1oZXhhLWNvcmUtNDYwMGgtOC1nYi01MTItZ2Itc3NkLXdpbmRvd3MtMTAtaG9tZS00LWdyYXBoaWNzLW52aWRpYS1nZWZvcmNlLWd0eC0xNjUwLXRpLTYwLWh6LTE1YXJoMDUtbGFwdG9wL3AvaXRtODMyNjc2MDIzN2I0ZD9waWQ9Q09NRllGR0hZOVpTUVBENCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹65980</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODMzOTM"><input onclick="comp(this)" id="ZTo1ODMzOTM" type="checkbox" name="laptops" value="ZTo1ODMzOTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/hp-laptops/hp-14q-cy0006au-(7qg88pa)-laptop-(14-inch-|-amd-dual-core-a9-|-4-gb-|-windows-10-|-256-gb-ssd)/ZTo1NzU4NzY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU4NzYtMjY5LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP 14q-cy0006au (7QG88PA) Laptop (14 Inch | AMD Dual Core A9 | 4 GB | Windows 10 | 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹28462</span><span>₹28462</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">14 inch Screen</li>
                                <li class="listItem">AMD Dual Core Processor</li>
                                <li class="listItem">4 GB Memory</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvaHAtMTRxLWFwdS1kdWFsLWNvcmUtYTktYTktOTQyNS00LWdiLTI1Ni1nYi1zc2Qtd2luZG93cy0xMC1ob21lLTE0cS1jeTAwMDZhdS10aGluLWxpZ2h0LWxhcHRvcC9wL2l0bWY3MzgxNjhiMzEwMzA_cGlkPUNPTUZIWjRZNTlHQkZaTkcmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹28462</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzU4NzY"><input onclick="comp(this)" id="ZTo1NzU4NzY" type="checkbox" name="laptops" value="ZTo1NzU4NzY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/msi-laptops/msi-gf65-thin-9sd-293in-laptop-(15.6-inch-|-core-i7-9th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODE2Mzg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE2MzgtMjc5LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">MSI GF65 Thin 9SD-293IN Laptop (15.6 Inch | Core i7 9th Gen | 16 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹84990</span><span>₹104990</span><span>19% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbXNpLWdmNjUtdGhpbi1jb3JlLWk3LTl0aC1nZW4tMTYtZ2ItNTEyLWdiLXNzZC13aW5kb3dzLTEwLWhvbWUtNi1ncmFwaGljcy1udmlkaWEtZ2Vmb3JjZS1ndHgtMTY2MC10aS05c2QtMjkzaW4tOXNkLTEwNDJpbi1nYW1pbmctbGFwdG9wL3AvaXRtMWFkMWRlYzliMjAyMD9waWQ9Q09NRlA2NEZaS0FIVlQzSCZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹84990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODE2Mzg"><input onclick="comp(this)" id="ZTo1ODE2Mzg" type="checkbox" name="laptops" value="ZTo1ODE2Mzg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-x-ultrabook-(13-inch-|-microsoft-sq1-|-8-gb-|-windows-10-|-128-gb-ssd)/ZTo1ODA2MzA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MzAtMTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro X Ultrabook (13 Inch | Microsoft SQ1 | 8 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹85499</span><span>₹91999</span><span>7% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NlpDSDVIVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹85499</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/microsoft-surface-pro-x-arm-610-8-gb-128-gb-ssd-33-02-cm-13-inch-windows-10-1876-matte-black-0-77-kg-CMPLXLAPMICROSOFT-SUDUMM2025680AE6CED-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹91999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MzA"><input onclick="comp(this)" id="ZTo1ODA2MzA" type="checkbox" name="laptops" value="ZTo1ODA2MzA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/asus-asus-vivobook-gaming-f571gt-al877t-laptop-(15.6-inch-|-core-i5-9th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODI3NDc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI3NDctMTA2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS Asus VivoBook Gaming F571GT-AL877T Laptop (15.6 Inch | Core i5 9th Gen | 16 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹68990</span><span>₹68990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4TldCTkZaUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹68990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODI3NDc"><input onclick="comp(this)" id="ZTo1ODI3NDc" type="checkbox" name="laptops" value="ZTo1ODI3NDc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/asus-asus-tuf-gaming-a15-fa506ii-hn152t-laptop-(15.6-inch-|-amd-octa-core-ryzen-7-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODIzMzU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIzMzUtMjExLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS Asus TUF Gaming A15 FA506II-HN152T Laptop (15.6 Inch | AMD Octa Core Ryzen 7 | 8 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.2/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹70990</span><span>₹70990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4ODI1VFJGQi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹70990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIzMzU"><input onclick="comp(this)" id="ZTo1ODIzMzU" type="checkbox" name="laptops" value="ZTo1ODIzMzU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/toshiba-laptops/toshiba-(mq01abd050)-500gb-laptop-internal-hard-drive/ZToxOTE1NjA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xOTE1NjAtOTktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Toshiba (MQ01ABD050) 500GB Laptop Internal Hard Drive</h3>
                        <div class="review">
                            <div><span>3.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹2300</span><span>₹5500</span><span>58% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">HDD</li>
                                <li class="listItem">500 GB Capacity</li>
                                <li class="listItem">For Laptop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdG9zaGliYS1tcTAxYWJkMDUwLTUwMC1nYi1sYXB0b3AtaW50ZXJuYWwtaGFyZC1kcml2ZS1tcTAxYWJkMDUwL3AvaXRtZHYzOHl0MzJzMzZ5cD9waWQ9SUhERFYzOFlRUlpIRVlNUyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹2300</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjAwQ0hXSFhGWS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹2400</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxOTE1NjA"><input onclick="comp(this)" id="ZToxOTE1NjA" type="checkbox" name="internal-hard-disk" value="ZToxOTE1NjA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-m1796-(fjr-00015)-laptop-(12.3-inch-|-core-m3-7th-gen-|-4-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzY3MjU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY3MjUtMTgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro M1796 (FJR-00015) Laptop (12.3 Inch | Core M3 7th Gen | 4 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹135445</span><span>₹135445</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core M3 7Y30 Processor</li>
                                <li class="listItem">4 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Rlc2N05HNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹135445</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY3MjU"><input onclick="comp(this)" id="ZTo1NzY3MjU" type="checkbox" name="laptops" value="ZTo1NzY3MjU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/asus-asus-tuf-gaming-f15-fx566li-hn025t-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODMxOTc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODMxOTctMTQxLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">ASUS Asus TUF Gaming F15 FX566LI-HN025T Laptop (15.6 Inch | Core i5 10th Gen | 8 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹65990</span><span>₹65990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">512 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Q1k3RFFIOC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹65990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODMxOTc"><input onclick="comp(this)" id="ZTo1ODMxOTc" type="checkbox" name="laptops" value="ZTo1ODMxOTc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/acer-laptops/acer-nitro-5-an515-42-(un.q3rsi.001)-laptop-(15.6-inch-|-amd-quad-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzY3Nzc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY3NzctMjY1LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Acer Nitro 5 AN515-42 (UN.Q3RSI.001) Laptop (15.6 Inch | AMD Quad Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹54990</span><span>₹79999</span><span>31% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">AMD Quad Core Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3R1lGMTVMTi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹54990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY3Nzc"><input onclick="comp(this)" id="ZTo1NzY3Nzc" type="checkbox" name="laptops" value="ZTo1NzY3Nzc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/dell-laptops/dell-vostro-14-3480-(c552106hin9)-laptop-(14-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzU4NDA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU4NDAtMTM3LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Dell Vostro 14 3480 (C552106HIN9) Laptop (14 Inch | Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹43920</span><span>₹47990</span><span>8% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">14 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/dell-vostro-3480-laptop-c552106hin9-i5-8th-gen-8-gb-1-tb-hdd-14-inch-win10h-2gb-graphics-black/p-mp000000006602062">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹43920</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NDJaOVY3Vy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹47990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzU4NDA"><input onclick="comp(this)" id="ZTo1NzU4NDA" type="checkbox" name="laptops" value="ZTo1NzU4NDA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-15imh05-(81y400bpin)-laptop-(15.6-inch-|-core-i7-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODAxODQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAxODQtMjQ5LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad Gaming 3i 15IMH05 (81Y400BPIN) Laptop (15.6 Inch | Core i7 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹82990</span><span>₹126290</span><span>34% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGVub3ZvLWlkZWFwYWQtZ2FtaW5nLTNpLWNvcmUtaTctMTB0aC1nZW4tOC1nYi0xLXRiLWhkZC0yNTYtZ2Itc3NkLXdpbmRvd3MtMTAtaG9tZS00LWdyYXBoaWNzLW52aWRpYS1nZWZvcmNlLWd0eC0xNjUwLXRpLTE1aW1oMDUtbGFwdG9wL3AvaXRtMjg0OWVhMmFmNzgxZT9waWQ9Q09NRlNZQ1pRTVpZWFlOViZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹82990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODAxODQ"><input onclick="comp(this)" id="ZTo1ODAxODQ" type="checkbox" name="laptops" value="ZTo1ODAxODQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/toshiba-laptops/toshiba-(mq01abd100)-1tb-laptop-internal-hard-drive/ZToxOTE5MDY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC8xOTE5MDYtOTktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Toshiba (MQ01ABD100) 1TB Laptop Internal Hard Drive</h3>
                        <div class="review">
                            <div><span>3.8/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹3566</span><span>₹8000</span><span>55% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">HDD</li>
                                <li class="listItem">1024 GB Capacity</li>
                                <li class="listItem">For Laptop</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvdG9zaGliYS1tcTAxYWJkLTEtdGItbGFwdG9wLWludGVybmFsLWhhcmQtZGlzay1kcml2ZS1tcTAxYWJkMTAwL3AvaXRtZW1odHB6ZXlzZnRzaj9waWQ9SUhERlo1RTlOVU5TVURDQyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹3566</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZToxOTE5MDY"><input onclick="comp(this)" id="ZToxOTE5MDY" type="checkbox" name="internal-hard-disk" value="ZToxOTE5MDY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/msi-laptops/msi-gl62m-7rex-laptop-(15.6-inch-|-core-i7-7th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-128-gb-ssd)/ZTo1Nzc1NDg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzc1NDgtMjM0LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">MSI GL62M 7REX Laptop (15.6 Inch | Core i7 7th Gen | 8 GB | Windows 10 | 1 TB HDD 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.7/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹99990</span><span>₹99990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i7 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbXNpLWdsLWNvcmUtaTctN3RoLWdlbi04LWdiLTEtdGItaGRkLTEyOC1nYi1zc2Qtd2luZG93cy0xMC1ob21lLTQtZ3JhcGhpY3MtbnZpZGlhLWdlZm9yY2UtMTA1MHRpLWdsNjJtLTdyZXgtZ2FtaW5nLWxhcHRvcC9wL2l0bWZiMjc0YjNjM2RmMTg_cGlkPUNPTUVZVEYzREhXWFpRNlUmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹99990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzc1NDg"><input onclick="comp(this)" id="ZTo1Nzc1NDg" type="checkbox" name="laptops" value="ZTo1Nzc1NDg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/apple-laptops/apple-macbook-air-mvfh2hn/a-ultrabook-(13.3-inch-|-core-i5-8th-gen-|-8-gb-|-macos-mojave-|-128-gb-ssd)/ZTo1NzU3OTc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU3OTctNTItMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple MacBook Air MVFH2HN/A Ultrabook (13.3 Inch | Core i5 8th Gen | 8 GB | macOS Mojave | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹68000</span><span>₹99900</span><span>32% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">13.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/apple-macbook-air-intel-core-i5-8-gb-lpddr3-128-gb-ssd-33-78-cm-13-3-inch-mac-os-mqd32hn-a-silver-1-35-kg-CMPLXLAPAPPLE-MACBOOROSE73954C2878CF1-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹68000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzU3OTc"><input onclick="comp(this)" id="ZTo1NzU3OTc" type="checkbox" name="laptops" value="ZTo1NzU3OTc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/random-laptops/apple-macbook-air-mqd32hn/a-ultrabook-(13.3-inch-|-core-i5-5th-gen-|-8-gb-|-macos-sierra-|-128-gb-ssd)/ZTo1Nzc2OTM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzc2OTMtMjMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple MacBook Air MQD32HN/A Ultrabook (13.3 Inch | Core i5 5th Gen | 8 GB | macOS Sierra | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹67990</span><span>₹84900</span><span>20% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">13.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3M1E1UjZWUi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹67990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtbWFjYm9vay1haXItY29yZS1pNS01dGgtZ2VuLTgtZ2ItMTI4LWdiLXNzZC1tYWMtb3Mtc2llcnJhLW1xZDMyaG4tYS1hMTQ2Ni9wL2l0bTU3NzQ3OTk1NTc3NDY_cGlkPUNPTUVWQ1BRQlhCREZKOEMmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹67990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzc2OTM"><input onclick="comp(this)" id="ZTo1Nzc2OTM" type="checkbox" name="laptops" value="ZTo1Nzc2OTM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-(fjx-00015)-laptop-(12.3-inch-|-core-i5-7th-gen-|-8-gb-|-windows-10-|-256-gb-ssd)/ZTo1ODIyNjA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIyNjAtNDAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro (FJX-00015) Laptop (12.3 Inch | Core i5 7th Gen | 8 GB | Windows 10 | 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹97999</span><span>₹254999</span><span>62% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3SFpOS0dEVi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹97999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIyNjA"><input onclick="comp(this)" id="ZTo1ODIyNjA" type="checkbox" name="laptops" value="ZTo1ODIyNjA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/msi-laptops/msi-pe62-7re-laptop-(15.6-inch-|-core-i7-7th-gen-|-8-gb-|-dos-|-1-tb-hdd-128-gb-ssd)/ZTo1Nzc0OTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81Nzc0OTktOC0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">MSI PE62 7RE Laptop (15.6 Inch | Core i7 7th Gen | 8 GB | DOS | 1 TB HDD 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹90000</span><span>₹92990</span><span>3% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i7 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3QkhZUTJRUC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹90000</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1Nzc0OTk"><input onclick="comp(this)" id="ZTo1Nzc0OTk" type="checkbox" name="laptops" value="ZTo1Nzc0OTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0263tx-(167w2pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1ODA3NTU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA3NTUtNTktMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion Gaming 15-dk0263TX (167W2PA) Laptop (15.6 Inch | Core i5 9th Gen | 8 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹62990</span><span>₹76020</span><span>17% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4Q1laTTRZMS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹62990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA3NTU"><input onclick="comp(this)" id="ZTo1ODA3NTU" type="checkbox" name="laptops" value="ZTo1ODA3NTU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-(81y400bnin)-laptop-(15.6-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODI4OTg" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODI4OTgtMTEtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad Gaming 3i (81Y400BNIN) Laptop (15.6 Inch | Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.3/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹64990</span><span>₹66990</span><span>3% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGVub3ZvLWlkZWFwYWQtZ2FtaW5nLTNpLWNvcmUtaTUtMTB0aC1nZW4tOC1nYi0xLXRiLWhkZC0yNTYtZ2Itc3NkLXdpbmRvd3MtMTAtaG9tZS00LWdyYXBoaWNzLW52aWRpYS1nZWZvcmNlLWd0eC0xNjUwLTYwLWh6LTE1aW1oMDUtbGFwdG9wL3AvaXRtNTQ1MDY2MzM4OGIyOT9waWQ9Q09NRlNZQ1pZUVBaR0tGMiZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹64990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4N0QzU1MzRC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹66990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODI4OTg"><input onclick="comp(this)" id="ZTo1ODI4OTg" type="checkbox" name="laptops" value="ZTo1ODI4OTg"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/lenovo-laptops/lenovo-ideapad-130-(81h7001win)-laptop-(15.6-inch-|-core-i3-7th-gen-|-4-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzYwMDM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYwMDMtMjQ2LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad 130 (81H7001WIN) Laptop (15.6 Inch | Core i3 7th Gen | 4 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹28346</span><span>₹39000</span><span>27% Off!</span></div>
                        <div class="specsKey"></div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/lenovo-ideapad-130-laptop-81h7001win-i3-7th-gen-4gb-1-tb-hdd-15-6-inch-win10-int-graphics-black/p-mp000000004820311">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹28346</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3UUdaVlc3TC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹30990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzYwMDM"><input onclick="comp(this)" id="ZTo1NzYwMDM" type="checkbox" name="laptops" value="ZTo1NzYwMDM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0271tx-(20d75pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-512-gb-ssd)/ZTo1ODE4MzM" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE4MzMtNS0x.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion Gaming 15-dk0271tx (20D75PA) Laptop (15.6 Inch | Core i5 9th Gen | 8 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹67990</span><span>₹67990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4R0Q3MkgxSC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹67990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODE4MzM"><input onclick="comp(this)" id="ZTo1ODE4MzM" type="checkbox" name="laptops" value="ZTo1ODE4MzM"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3-(82ey0078in)-laptop-(15.6-inch-|-amd-hexa-core-ryzen-5-|-8-gb-|-windows-10-|-1-tb-hdd-256-ssd)/ZTo1ODIxODU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIxODUtMTM4LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad Gaming 3 (82EY0078IN) Laptop (15.6 Inch | AMD Hexa Core Ryzen 5 | 8 GB | Windows 10 | 1 TB HDD 256 SSD)</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹69088</span><span>₹71990</span><span>4% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">AMD Hexa-Core Ryzen 5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">256 SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4R0c5N0M0Si8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹69088</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGVub3ZvLWlkZWFwYWQtZ2FtaW5nLTMtcnl6ZW4tNS1oZXhhLWNvcmUtNDYwMGgtOC1nYi0xLXRiLWhkZC0yNTYtZ2Itc3NkLXdpbmRvd3MtMTAtaG9tZS00LWdyYXBoaWNzLW52aWRpYS1nZWZvcmNlLWd0eC0xNjUwLXRpLTE1YXJoMDUtbGFwdG9wL3AvaXRtMGJlYjJkMzNlN2I1Zj9waWQ9Q09NRlVHRjhFSFE0Uk1LNyZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹71990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIxODU"><input onclick="comp(this)" id="ZTo1ODIxODU" type="checkbox" name="laptops" value="ZTo1ODIxODU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/dell-laptops/dell-g3-15-3579-(b560107win9)-laptop-(15.6-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-128-gb-ssd)/ZTo1NzY5Nzk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY5NzktMTYyLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Dell G3 15 3579 (B560107WIN9) Laptop (15.6 Inch | Core i5 8th Gen | 8 GB | Windows 10 | 1 TB HDD 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹64990</span><span>₹81500</span><span>20% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/dell-g3-3579-gaming-b560107win9-i58th-gen8-gb1tbhdd128gbssd15-6inchw10hmso4gb-graphicsblack/p-mp000000006669589">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹64990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY5Nzk"><input onclick="comp(this)" id="ZTo1NzY5Nzk" type="checkbox" name="laptops" value="ZTo1NzY5Nzk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/hp-pavilion-gaming-15-dk0261tx-(2x017pa)-laptop-(15.6-inch-|-core-i5-9th-gen-|-8-gb-|-windows-10-|-1-tb-hdd)/ZTo1NzUzMTA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzUzMTAtMTAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">HP Pavilion Gaming 15-dk0261tx (2X017PA) Laptop (15.6 Inch | Core i5 9th Gen | 8 GB | Windows 10 | 1 TB HDD)</h3>
                        <div class="review">
                            <div><span>4.4/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹68185</span><span>₹68185</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15.6 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NjJWWjNXWS8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹68185</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzUzMTA"><input onclick="comp(this)" id="ZTo1NzUzMTA" type="checkbox" name="laptops" value="ZTo1NzUzMTA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/gaming-laptops/lenovo-ideapad-gaming-3i-15imh05-(81y400buin)-laptop-(15.-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-1-tb-hdd-256-gb-ssd)/ZTo1ODE4NTk" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODE4NTktMTcwLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Lenovo Ideapad Gaming 3i 15IMH05 (81Y400BUIN) Laptop (15. Inch | Core i5 10th Gen | 8 GB | Windows 10 | 1 TB HDD 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹69990</span><span>₹72790</span><span>4% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15. inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">1 TB HDD</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvbGVub3ZvLWlkZWFwYWQtZ2FtaW5nLTNpLWNvcmUtaTUtMTB0aC1nZW4tOC1nYi0xLXRiLWhkZC0yNTYtZ2Itc3NkLXdpbmRvd3MtMTAtaG9tZS00LWdyYXBoaWNzLW52aWRpYS1nZWZvcmNlLWd0eC0xNjUwLXRpLTYwLWh6LTE1aW1oMDUtbGFwdG9wL3AvaXRtMTYxNDU5YWZjODBmOD9waWQ9Q09NRlNZQ1pBR0dFRkJWOSZhZmZpZD1hcnVuYmFidWw">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹69990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4N0Q0SDY1Ri8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹72790</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODE4NTk"><input onclick="comp(this)" id="ZTo1ODE4NTk" type="checkbox" name="laptops" value="ZTo1ODE4NTk"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/apple-laptops/apple-macbook-air-mwtj2hn/a-ultrabook-(13.3-inch-|-core-i3-10th-gen-|-8-gb-|-macos-catalina-|-256-gb-ssd)/ZTo1ODAzMTQ" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODAzMTQtMjY3LTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Apple MacBook Air MWTJ2HN/A Ultrabook (13.3 Inch | Core i3 10th Gen | 8 GB | macOS Catalina | 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹80577</span><span>₹92990</span><span>13% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/dGF0YWNsaXFfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://www.tatacliq.com/apple-macbook-air-mwtj2hn-a-i310th-gen8gb256gbssd13-3inchmacos-catalinaint-graphicsspace-grey/p-mp000000007140631">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹80577</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/ZmxpcGthcnRfc3RvcmUucG5n.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly9kbC5mbGlwa2FydC5jb20vZGwvYXBwbGUtbWFjYm9vay1haXItY29yZS1pMy0xMHRoLWdlbi04LWdiLTI1Ni1nYi1zc2QtbWFjLW9zLWNhdGFsaW5hLW13dGoyaG4tYS9wL2l0bTc4NTZmOTY1NjJjNTU_cGlkPUNPTUZRWEVHU042SlBQVEUmYWZmaWQ9YXJ1bmJhYnVs">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹83990</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/apple-macbook-air-intel-core-i3-10th-gen-8-gb-256-gb-33-02-cm-13-inch-mac-os-mwtj2hn-a-grey-1-29-kg-CMPLXLAPAPPLE-MACBOODUMM202562FF7559E-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹84599</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODAzMTQ"><input onclick="comp(this)" id="ZTo1ODAzMTQ" type="checkbox" name="laptops" value="ZTo1ODAzMTQ"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>


        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>

</html>