<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- dw -->
    <title>
        Microsoft Surface laptops Prices in India | Compare Prices of Microsoft Laptops in India - PricesCompare.in
    </title>
    <!-- dw -->
    <meta name="description" content="Compare Microsoft Laptops By Prices. Microsoft Laptops include Microsoft Surface Book 2 , Microsoft Surface Pro which have intel Core i7 Processor, 16GB RAM ,  500GB SSD and more. Compare Best Deal On Microsoft Surface Laptops Across all e-Stores">
    <meta name="og_title" property="og:title" content="Microsoft Surface laptops Prices in India | Compare Prices of Microsoft Laptops in India">
    <meta name="og_url" property="og:url" content="https://www.pricescompare.in/laptops/microsoft-laptops-price-list">
    <meta name="og_site_name" property="og:site_name" content="PricesCompare.in">
    <meta name="og_description" property="og:description" content="Compare Microsoft Laptops Across All e-Stores By Prices, COD, EMI etc. Microsoft Laptop include Microsoft Surface Book 2 , Microsoft Surface Pro and others">


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "WebSite",
            "name": "PricesCompare",
            "alternateName": "PricesCompare.in",
            "url": "https://www.pricescompare.in",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://www.pricescompare.in/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
    </script>


    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "Organization",
            "url": "https://www.pricescompare.in",
            "logo": "https://www.pricescompare.in/images/logo.png",
            "sameAs": []
        }
    </script>
    <!-- dw -->
    <script type="application/ld+json">
        {
            "@context": "https:\/\/schema.org",
            "@type": "BreadcrumbList",
            "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/",
                    "name": "Home"
                }
            }, {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "https:\/\/www.pricescompare.in\/laptops\/",
                    "name": "Laptops"
                }
            }, {
                "@type": "ListItem",
                "position": 3,
                "item": {
                    "@id": null,
                    "name": ""
                }
            }]
        }
    </script>
    <link href="/stylesheets/nouislider.min.css" rel="stylesheet">
    <script src="/javascripts/nouislider.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/stylesheets/srm.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srd.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/srt.css">
    <script>
        const deviceWidth = window.outerWidth
    </script>

</head>


<body>
    <div class="overlay">
        <div class="messageBox">
            <h4></h4>
            <div>Remove Products</div>
        </div>
    </div>


    <div id="disableBody"></div>
    <div id="animating">
    </div>
    <div id="alertBox">
        <div id="closePopUp"><span>&times;</span></div>
        <div id="relating"></div>
    </div>

    <div id="db2">
        <span></span>
    </div>
    <div id="bd">
        <div id="db"></div>

        <div id="headFixing">
            <div class="lg">
                <a href="/">
                    <img src="/images/logo.png"></img>
                </a>
            </div>
            <header id="headContainer">
                <div class='horizontalBars' data-re="b">
                    <div class="border" data-pos="180">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                    <img src="/images/arrow.png" alt="arrow" style="display:none">
                </div>
                <form method="GET" class="newone" action="/search">
                    <div class="searchBarFlex">
                        <div class="gl">
                            <a href="/">
                                <img src="/images/logo.png"></img>
                            </a>
                        </div>
                        <input required type="text" placeholder="Search For Millions Of Products" name="q" id="searchBar" autocomplete="off">
                        <div id="searchIcon" type="submit"><span class="faFirst">&#x26B2;</span></div>
                        <div id="t">
                            <div class="se">
                                <div id="ye">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </header>
        </div>

        <div id="mainBody">
            <div id="filterBar" class="tr rt">
                <div id="catg">
                    <div class="he">
                        <h4> Categories</h4>
                    </div>
                    <a href="/mobile">Mobiles</a>
                    <a href="/laptops">Laptops</a>
                    <a href="/desktop">Desktops</a>
                    <a href="/appliances">Appliances</a>
                    <a href="/headphones">Headphones</a>
                    <a href="/led-tv">LED</a>
                    <a href="/kitchen-appliances">Kitchen Appliances</a>
                </div>
                <div id="allFilters">
                    <!-- <div class="divFilterHeading">
                        <h3 class="h3Heading">Filters</h3>
                    </div> -->
                    <div Class="divOfPricesFilter">
                        <div class="he">

                            <h4>Price</h4>
                            <button type="button" value="pr">Clear</button>

                        </div>
                        <div class="inputTake">

                            <div>
                                <span>From</span>
                                <span>To</span>
                            </div>
                            <div id="priceApi">
                                <label for="min">&#x20B9;</label>
                                <input type="text" id="min" value="">

                                <label for="max">&#x20B9;</label>
                                <input type="text" id="max" value="">
                            </div>
                            <div id='slider'></div>
                        </div>
                    </div>
                    <div class="divOfPayDelivery">
                        <div class="he">
                            <h4>Delivery</h4>
                            <button type="button" value="pd">Clear</button>
                        </div>
                        <div>
                            <label id="labelOfBrand" for="COD">
                                <input type="checkbox" id="COD" name="delivery" value="COD" onClick="disabling(this)">
                                <span class="spanOfBox"></span>
                                <span class="spanforCheckBox"></span>
                                <span style="display: inline-block; margin-left: 30px;color:black;">Pay On Delivery</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="siteMap">
                <!-- dw -->
                <a href="/">Home</a>><a href="/laptops/">Laptops</a>><a href="">
                   Microsoft Laptops
                </a>
            </div>
            <div class="h1title">
                <!-- dw -->
                <h1 title="Microsoft Laptops prices in India">
                    Microsoft Surface Laptops Prices Across All e-Stores
                </h1>
                <div class="drop" style="padding-bottom: 2px;">
                    <label for="sb">Sort by:</label>
                    <select name="sb" id="sb" value="">
                        <option value="rel" class="styling">Relevance</option>
                        <option value="l">Low to High</option>
                        <option value="p">Hight to Low</option>
                    </select>
                </div>
            </div>
            <div class="results">
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-7-m1866-(vdh-00013)-laptop-(12.3-inch-|-core-i3-10th-gen-|-4-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzU0MTY" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU0MTYtMjUxLTE.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro 7 M1866 (VDH-00013) Laptop (12.3 Inch | Core i3 10th Gen | 4 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹74990</span><span>₹74990</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core i3 Processor</li>
                                <li class="listItem">4 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4MTRLOUpOMy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹74990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzU0MTY"><input onclick="comp(this)" id="ZTo1NzU0MTY" type="checkbox" name="laptops" value="ZTo1NzU0MTY"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-book-2-(hnl-00022)-laptop-(13.5-inch-|-core-i7-8th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1NzY4NzE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY4NzEtMzQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Book 2 (HNL-00022) Laptop (13.5 Inch | Core i7 8th Gen | 16 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹230999</span><span>₹230999</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">13.5 inch Screen</li>
                                <li class="listItem">Intel Core i7 Processor</li>
                                <li class="listItem">16 GB Memory</li>
                                <li class="listItem">512 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3RzFRSkdSUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹230999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY4NzE"><input onclick="comp(this)" id="ZTo1NzY4NzE" type="checkbox" name="laptops" value="ZTo1NzY4NzE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-(fjx-00015)-laptop-(12.3-inch-|-core-i5-7th-gen-|-8-gb-|-windows-10-|-256-gb-ssd)/ZTo1ODIyNjA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODIyNjAtNDAtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro (FJX-00015) Laptop (12.3 Inch | Core i5 7th Gen | 8 GB | Windows 10 | 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.6/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹97999</span><span>₹254999</span><span>62% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3SFpOS0dEVi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹97999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODIyNjA"><input onclick="comp(this)" id="ZTo1ODIyNjA" type="checkbox" name="laptops" value="ZTo1ODIyNjA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-book-2-1793-(fux-00021)-laptop-(15-inch-|-core-i7-8th-gen-|-16-gb-|-windows-10-|-512-gb-ssd)/ZTo1NzYwNjI" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYwNjItNTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Book 2 1793 (FUX-00021) Laptop (15 Inch | Core i7 8th Gen | 16 GB | Windows 10 | 512 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.5/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹255432</span><span>₹258999</span><span>1% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">15 inch Screen</li>
                                <li class="listItem">Intel Core i7 Processor</li>
                                <li class="listItem">16 GB Memory</li>
                                <li class="listItem">512 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3R1NEOFNZMi8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹255432</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzYwNjI"><input onclick="comp(this)" id="ZTo1NzYwNjI" type="checkbox" name="laptops" value="ZTo1NzYwNjI"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-m1796-(fjr-00015)-laptop-(12.3-inch-|-core-m3-7th-gen-|-4-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzY3MjU" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzY3MjUtMTgtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro M1796 (FJR-00015) Laptop (12.3 Inch | Core M3 7th Gen | 4 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹135445</span><span>₹135445</span><span>0% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core M3 7Y30 Processor</li>
                                <li class="listItem">4 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA3Rlc2N05HNC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹135445</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzY3MjU"><input onclick="comp(this)" id="ZTo1NzY3MjU" type="checkbox" name="laptops" value="ZTo1NzY3MjU"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-7-m1866-(vdv-00015)-laptop-(12.3-inch-|-core-i5-10th-gen-|-8-gb-|-windows-10-|-128-gb-ssd)/ZTo1NzU0MTc" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzU0MTctMzYtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro 7 M1866 (VDV-00015) Laptop (12.3 Inch | Core i5 10th Gen | 8 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹77990</span><span>₹88999</span><span>12% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">128 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NEhZVExGUy8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹77990</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzU0MTc"><input onclick="comp(this)" id="ZTo1NzU0MTc" type="checkbox" name="laptops" value="ZTo1NzU0MTc"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-6-1796-(kjt-00015)-laptop-(12.3-inch-|-core-i5-8th-gen-|-8-gb-|-windows-10-|-256-gb-ssd)/ZTo1NzYxNzE" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81NzYxNzEtMzQtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro 6 1796 (KJT-00015) Laptop (12.3 Inch | Core i5 8th Gen | 8 GB | Windows 10 | 256 GB SSD)</h3>
                        <div class="review">
                            <div><span>4.1/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹99500</span><span>₹119999</span><span>17% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList">
                                <li class="listItem">12.3 inch Screen</li>
                                <li class="listItem">Intel Core i5 Processor</li>
                                <li class="listItem">8 GB Memory</li>
                                <li class="listItem">256 GB SSD</li>
                            </ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/microsoft-surface-pro-6-core-i5-8th-gen-8-gb-256-gb-ssd-windows-10-12-3-inch-pixelsense-1796-convertible-laptop-platinum-0-77-kg-CMPLXLAPMICROSOFT-SUDUMM20256AF960330-pdp?">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹99500</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1NzYxNzE"><input onclick="comp(this)" id="ZTo1NzYxNzE" type="checkbox" name="laptops" value="ZTo1NzYxNzE"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
                <a class="resultsCont" href="/laptops/microsoft-laptops/microsoft-surface-pro-x-ultrabook-(13-inch-|-microsoft-sq1-|-8-gb-|-windows-10-|-128-gb-ssd)/ZTo1ODA2MzA" target="_blank">
                    <div class="imagesOuter">
                        <div class="imageChecking"><img src="https://images-api.datayuge.in/image/dHI6dy0xNDAwLGgtMTQwMCxjLWF0X21heC81ODA2MzAtMTMtMQ.jpg" class="imageClass"></div>
                    </div>
                    <div class="titleDiv">
                        <h3 class="title">Microsoft Surface Pro X Ultrabook (13 Inch | Microsoft SQ1 | 8 GB | Windows 10 | 128 GB SSD)</h3>
                        <div class="review">
                            <div><span>3.9/5</span><img src="/images/star.png"></div>
                        </div>
                        <div class="mrpTag"><span>₹85499</span><span>₹91999</span><span>7% Off!</span></div>
                        <div class="specsKey">
                            <ul class="specList"></ul>
                        </div>
                    </div>
                    <div class="pricesDiv">
                        <table class="tableOfLogo">
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/YW1hem9uX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://price-api.datayuge.com/redirect?id=aHR0cHM6Ly93d3cuYW1hem9uLmluL2dwL29mZmVyLWxpc3RpbmcvQjA4NlpDSDVIVC8_JnRhZz1wcmljZXl1Z2UwZC0yMQ">
                                        <h4 style="font-size: 2vw; font-weight: 400;">₹85499</h4>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td><img src="https://images-api.datayuge.in/image/cGF5dG1tYWxsX3N0b3JlLnBuZw.png"></td>
                                <td>
                                    <a href="https://paytmmall.com/microsoft-surface-pro-x-arm-610-8-gb-128-gb-ssd-33-02-cm-13-inch-windows-10-1876-matte-black-0-77-kg-CMPLXLAPMICROSOFT-SUDUMM2025680AE6CED-pdp?">
                                        <h4 style="font-size: 1.3vw; font-weight: 400;">₹91999</h4>
                                    </a>
                                </td>
                            </tr>
                        </table>
                        <div class="compareDivision"><label class="labelOfCompare" for="ZTo1ODA2MzA"><input onclick="comp(this)" id="ZTo1ODA2MzA" type="checkbox" name="laptops" value="ZTo1ODA2MzA"><span class="spanOfBox"></span><span class="spanforCheckBox"></span><span style="display: inline-block; margin-left: 30px; color: rgb(85, 26, 139);">Compare Specs</span></label></div>
                    </div>
                </a>
            </div>
        </div>

        <script>
            window.bn = '<%= data.a %>';
            window.tw = '<%= data.b %>'
        </script>

        <!-- </div> -->


        <div class="stick">
            <div class="divOfPopUp">
                <h4>COMPARE</h4>
            </div>
        </div>


        <!-- ---------------------------------------------------------------------------------------------------------- -->
        <div id="footKaBaap">
            <footer id="footer">
                <div id="upFoot">
                    <div class="divs1 dob">
                        <!-- <div id="mySpan"></div>  -->
                        <div class="footInfo">
                            <div>Made with <span></span> in <img src="/images/if.gif" alt=""></div>
                            <a href="/"><img class="logo" src="/images/logo.png"></a>
                        </div>
                    </div>
                    <div class="divs2 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Contact Us</h2>
                            <a target="_blank" href="/advertise-with-us">
                                <p>Advertise with us</p>
                            </a>
                            <a target="_blank" href="/privacy">
                                <p>Privacy</p>
                            </a>
                            <a target="_blank" href="/contact-us">
                                <p>Contact Us</p>
                            </a>
                            <a target="_blank" href="/credits">
                                <p>Credits</p>
                            </a>


                        </div>

                    </div>

                    <div class="divs3 dob">
                        <!-- <div id="mySpan"></div> -->
                        <div class="footInfo">
                            <h2>Follow Us On</h2>
                            <a target="_blank">
                                <p>Facebook</p>
                            </a>
                            <!-- <a target="_blank"><p>Twitter</p></a> -->
                            <a target="_blank">
                                <p>Instagram</p>
                            </a>

                        </div>
                    </div>

                    <div class="divs4 dob">
                        <!-- <div id="mySpan"></div> -->

                        <div class="footInfo">
                            <h2>Get To Know Us</h2>
                            <a target="_blank" href="/about-us">
                                <p>About Us</p>
                            </a>
                            <a target="_blank" href="/terms-of-use">
                                <p>Terms of use</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="downFoot">
                    <h2>© 2020 Copyright : </h2><a style="color: white;text-decoration: none;" href="/">pricescompare.in</a>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="/javascripts/a.js"></script>
<script src="/javascripts/sc.js"></script>

</html>